Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[query/vds] Reorder LEN field to end of new ref entry struct
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

[query/vds] Reorder LEN field to end of new ref entry struct (#14897)
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

Added tests and delint
  hail/python/hailtop/config/__init__.py
  hail/python/hailtop/config/user_config.py
  hail/python/hailtop/hailctl/config/cli.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
Due: ruff, ruff-format

Removing function call as default argument
  gear/gear/auth_utils.py
Due: ruff, ruff-format, pyright

[query] Cache movie lens data for private use (#14893)
  build.yaml
  hail/python/hail/utils/tutorial.py
Due: ruff, ruff-format

Update ruff to 0.11 series
  ci/test/resources/build.yaml
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  pyproject.toml
Due: none

ruff check --select I --fix
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/hail/docs/tutorials/01-genome-wide-association-study.ipynb
  hail/python/hail/docs/tutorials/04-aggregation.ipynb
  hail/python/hail/docs/tutorials/07-matrixtable.ipynb
  hail/python/hail/docs/tutorials/09-ggplot.ipynb
  hail/python/test/hail/backend/test_spark_backend.py
  hail/python/test/hail/expr/test_ndarrays.py
  hail/python/test/hail/test_context.py
  hail/python/test/hail/test_hail_in_notebook.ipynb
  hail/python/test/hail/test_ir.py
Due: ruff, ruff-format, pyright

ruff check --fix
  hail/python/benchmark/hail/utils.py
  hail/python/hail/experimental/ld_score_regression.py
  hail/python/hail/experimental/ldscsim.py
  hail/python/hail/utils/frozendict.py
Due: ruff, ruff-format, pyright

Last few lints
  hail/python/hail/docs/conf.py
  hail/python/hail/expr/types.py
Due: ruff, ruff-format

noqa PLW1508
  batch/test/test_batch.py
  gear/gear/k8s_cache.py
Due: ruff, ruff-format, pyright

ignores
  hail/python/hail/expr/type_parsing.py
  hail/python/hailtop/aiogoogle/__init__.py
Due: ruff, ruff-format

more import fixes/ignores
  ci/bootstrap_create_accounts.py
  hail/python/test/hail/test_hail_in_notebook.ipynb
Due: ruff, ruff-format, pyright

fix list flattening
  hail/python/test/hail/conftest.py
Due: ruff, ruff-format

update pylint
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  pylintrc
Due: none

format
  hail/python/benchmark/hail/utils.py
  hail/python/hail/experimental/ldscsim.py
  hail/python/hail/expr/expressions/expression_typecheck.py
Due: ruff, ruff-format, pyright

ignore some checks
  auth/auth/__main__.py
  auth/auth/driver/__main__.py
  batch/batch/driver/__main__.py
  batch/batch/front_end/__main__.py
  ci/ci/__main__.py
  hail/python/test/hail/expr/test_expr.py
  monitoring/monitoring/__main__.py
  website/website/__main__.py
  website/website/website.py
Due: ruff, ruff-format, pyright

Project wide ignore PLW1508
  batch/batch/batch_configuration.py
  batch/test/test_batch.py
  gear/gear/k8s_cache.py
  pyproject.toml
  website/website/website.py
Due: ruff, ruff-format, pyright

fix
  ci/test/resources/build.yaml
Due: none

ignore star import lint in hail/python/hail/__init__.py
  hail/python/hail/__init__.py
Due: ruff, ruff-format

globally ignore wrong-import-position from pylint
  auth/auth/__main__.py
  auth/auth/driver/__main__.py
  batch/batch/driver/__main__.py
  batch/batch/front_end/__main__.py
  ci/bootstrap_create_accounts.py
  ci/ci/__main__.py
  hail/python/hailtop/batch/batch_pool_executor.py
  monitoring/monitoring/__main__.py
  pylintrc
  website/website/__main__.py
Due: ruff, ruff-format, pyright

blockmatrix.py
  hail/python/hail/linalg/blockmatrix.py
Due: ruff, ruff-format

don't lint tutorial notebooks
  pyproject.toml
Due: none

update pinned requirements
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

ignore typing lint in batch_configuration
  batch/batch/batch_configuration.py
Due: ruff, ruff-format, pyright

disable import order checking
  auth/auth/__main__.py
  auth/auth/driver/__main__.py
  batch/batch/driver/__main__.py
  batch/batch/front_end/__main__.py
  batch/batch/worker/worker.py
  ci/bootstrap_create_accounts.py
  ci/ci/__main__.py
  monitoring/monitoring/__main__.py
  website/website/__main__.py
Due: ruff, ruff-format, pyright

add unused ggplot imports to __all__
  hail/python/hail/ggplot/__init__.py
Due: ruff, ruff-format

Typing fix, None is fine here
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[batch/auth] Making session timeout duration configurable (#14810)
  auth/auth/auth.py
  auth/deployment.yaml
  gear/gear/auth_utils.py
  gear/gear/session.py
Due: ruff, ruff-format, pyright

[query] Cleanup static pipeline data by removing container classes (#14896)
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
Due: none

[query/vds] Reorder LEN field to end of new ref entry struct (#14897) (#366)
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

Updating the oauth token (#367)
  infra/gcp/populationgenomics/ci_config.enc.json
Due: none

Document how certificate refreshing actually works
  dev-docs/services/letsencrypt.md
Due: none

default region update in docstring
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

set default in QoB to default region
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

[hailtop.batch] remove_tmpdir jobs run in correct region
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

[hailctl] Disable more logging by default
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

address comment
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

[qob] Remove unnecessary serialization in ServiceBackend broadcast
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
