Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Revert "fix db error"
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

Revert "replace ugly check for cancelled with function"
  batch/batch/driver/canceller.py
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/instance_collection/pool.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

simplify a bit using multi-lets
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

callback for job groups
  batch/batch/driver/canceller.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/globals.py
  batch/batch/worker/worker.py
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

add batch callback back
  batch/batch/driver/job.py
Due: ruff, ruff-format, pyright

fix test
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

add new tests
  batch/batch/driver/job.py
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

delint
  batch/batch/driver/canceller.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

missing AND
  batch/batch/driver/job.py
Due: ruff, ruff-format, pyright

fix the test
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

delint
  batch/batch/driver/canceller.py
  batch/batch/driver/job.py
Due: ruff, ruff-format, pyright

debugging
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
Due: none

fix join on ancestor id
  batch/batch/driver/job.py
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

Update auth/auth/auth.py
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

add missing auth endpoint tests
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

add tests for uncommitted update
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

attempt to fix callback query
  batch/batch/driver/job.py
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

lower maximum depth to 2
  batch/batch/constants.py
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[infra] Use https instead of hail-az in service configs
  infra/azure/modules/batch/outputs.tf
  infra/azure/modules/ci/main.tf
Due: none

fix test
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

fix type
  batch/batch/batch.py
Due: ruff, ruff-format, pyright

delint
  batch/batch/batch.py
  batch/batch/driver/canceller.py
Due: ruff, ruff-format, pyright

attempt to fix callback
  batch/batch/driver/job.py
Due: ruff, ruff-format, pyright

revert back to max depth of 5
  batch/batch/constants.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/__init__.py
  batch/batch/front_end/query/query_v2.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[batch] Remove GOOGLE_APPLICATION_CREDENTIALS from the batch docs
  hail/python/hailtop/batch/docs/service.rst
Due: none

[auth|monitoring] Push exit stack callbacks on initialization (#14279)
  auth/auth/auth.py
  monitoring/monitoring/monitoring.py
Due: ruff, ruff-format, pyright

fix tests
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

maybe fix all tests
  batch/test/test_batch.py
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

delint
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

last fixes
  batch/batch/front_end/query/query_v1.py
Due: ruff, ruff-format, pyright

[infra] Use https instead of hail-az in service configs (#14290)
  infra/azure/modules/batch/outputs.tf
  infra/azure/modules/ci/main.tf
Due: none

[fs] Drop support for the deprecated hail-az scheme
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/config/user_config.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
Due: ruff, ruff-format

fix missing field in group by
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[fs] Drop support for the deprecated hail-az scheme (#14293)
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/config/user_config.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
Due: ruff, ruff-format

[ci] Use the public networks where possible
  Makefile
  build.yaml
  ci/ci/build.py
  ci/test/resources/build.yaml
Due: ruff, ruff-format, pyright

[infra] Apply same CI admin role as gcp-broad in normal gcp terraform
  infra/gcp/main.tf
Due: none

[test-dataproc] use regional buckets instead of soon-to-be-deleted multi-regional buckets (#14270)
  hail/scripts/test-dataproc.sh
Due: none

[release] 0.2.128
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
Due: none
