Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

test improvements
  build.yaml
Due: none

Add uv_build to top-level requirements
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
Due: none

[query] Use scalac-options library
  .gitignore
  Makefile
  build.yaml
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/macros/src/is/hail/macros.scala
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
  hail/hail/src/is/hail/asm4s/package.scala
  hail/hail/src/is/hail/expr/ir/ArraySorter.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/expr/package.scala
  hail/hail/src/is/hail/io/tabix/TabixReader.scala
  hail/hail/src/is/hail/package.scala
  hail/hail/src/is/hail/utils/EitherIsAMonad.scala
  hail/hail/src/is/hail/utils/NumericImplicits.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/src/is/hail/utils/prettyPrint/package.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/package.scala
  hail/mill-build/build.mill
  hail/python/hail/docs/install/other-cluster.rst
Due: none

add network policy support in gcp and gcp-broad infra
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

more fixes
  build.yaml
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Add VM metadata for OS Login and Block project-wide SSH
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

fixes
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

experiment: try using mill to run ci java tests
  build.yaml
  hail/build.mill
Due: none

fixes
  build.yaml
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[build] Fix deploy key error (#15038)
  build.yaml
Due: none

fix parameterize on the test
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Revert to setuptools and install packages during devserver
  Makefile
  batch/pyproject.toml
  gear/pyproject.toml
  web_common/pyproject.toml
Due: none

[query] update versions of apache commons libraries
  hail/build.mill
Due: none

[compiler] remove types from ComparisonOp (#14996)
  hail/hail/src/is/hail/expr/ir/ComparisonOp.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/DictFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/SetFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/orderings/StructOrdering.scala
  hail/hail/test/src/is/hail/expr/ir/DistinctlyKeyedSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ExtractIntervalFiltersSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

fix args
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Whitespace fixes
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

[batch] Host our own static js content (#15039)
  web_common/web_common/static/lib/alpinejs/cdn.min.js
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/templates/layout.html
  web_common/web_common/templates/swagger.html
Due: none

Revert "Revert to setuptools and install packages during devserver"
  Makefile
  batch/pyproject.toml
  gear/pyproject.toml
  web_common/pyproject.toml
Due: none

Update references to setuptools in docker files
  auth/Dockerfile
  batch/Dockerfile
  batch/Dockerfile.worker
  ci/Dockerfile
  ci/Dockerfile.ci-utils
  monitoring/Dockerfile
  website/Dockerfile
Due: none

[query] update versions of apache commons libraries (#15026)
  hail/build.mill
Due: none

remove incorrect comment
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[compiler] refactor extract aggregators
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

[compiler] refactor extract aggregators (#14922)
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

[auth] Role refactor part 1 (#14945)
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  auth/auth/templates/roles.html
  auth/sql/010-refactor-roles.sql
  build.yaml
  gear/gear/__init__.py
  gear/gear/auth.py
  gear/gear/csrf.py
  gear/gear/system_permissions.py
  web_common/web_common/templates/swagger.html
Due: ruff, ruff-format, pyright

[compiler] update versions of asm libraries (#15025)
  hail/build.mill
Due: none

kill AggSignature
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Exists.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ExtractIntervalFiltersSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TestUtils.scala
Due: none

[query] Fix division by zero in summarize_variants
  hail/python/hail/methods/qc.py
Due: ruff, ruff-format

[query] Use scalac-options library
  .gitignore
  Makefile
  build.yaml
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/macros/src/is/hail/macros.scala
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
  hail/hail/src/is/hail/asm4s/package.scala
  hail/hail/src/is/hail/expr/ir/ArraySorter.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/expr/package.scala
  hail/hail/src/is/hail/io/tabix/TabixReader.scala
  hail/hail/src/is/hail/package.scala
  hail/hail/src/is/hail/utils/EitherIsAMonad.scala
  hail/hail/src/is/hail/utils/NumericImplicits.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/src/is/hail/utils/prettyPrint/package.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/package.scala
  hail/mill-build/build.mill
  hail/python/hail/docs/install/other-cluster.rst
Due: none

[compiler] remove AggSignature (#15001)
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Exists.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ExtractIntervalFiltersSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TestUtils.scala
Due: none

test_batch_submit debug
  build.yaml
Due: none

lint
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

fix?
  build.yaml
Due: none

Rename batch details page route
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
