Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

add sanity tests against the real build.yaml
  build.yaml
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

[ci] allow `after` (without `depends`) relations in build yaml (#15691)
  build.yaml
  ci/ci/build.py
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

remove unnecessary dependsOns that are now afters
  build.yaml
Due: none

fix test auto-success if ci batch submission fails
  ci/ci/build.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[ci] remove unnecessary `dependsOn`s in build.yaml that are now `after`s (#15749)
  build.yaml
Due: none

react PR details page
  Makefile
  ci/ci/ci.py
  ci/ci/templates/pr_react.html
  dev-docs/services/ui/README.md
  devbin/dev_proxy.py
  services/ui/package.json
  services/ui/src/batch_driver/DriverDashboard.tsx
  services/ui/src/ci/pr.tsx
  services/ui/src/shared/BatchStateIcon.tsx
  services/ui/src/shared/SegmentedBar.tsx
  services/ui/src/shared/hailApiFetch.ts
  services/ui/src/shared/useTip.tsx
Due: ruff, ruff-format, pyright

make status for in progress PR runs a spinner
  services/ui/src/ci/pr.tsx
Due: none

revert dev docs
  dev-docs/services/ui/README.md
Due: none

show failed jobs in every test run
  batch/batch/front_end/templates/openapi.yaml
  services/ui/src/ci/pr.tsx
Due: none

[compiler] delete unused eigSymR
  hail/hail/src/is/hail/stats/eigSymD.scala
  hail/hail/test/src/is/hail/stats/eigSymDSuite.scala
Due: none

make api instant scheduling retries. Make UI/devserver resilient in the meantime
  ci/ci/ci.py
  devbin/dev_proxy.py
  services/ui/src/ci/pr.tsx
Due: ruff, ruff-format, pyright

[compiler] release `TailLoop` regions on every evaluation
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/agg/NDArrayMultiplyAddAggregator.scala
  hail/hail/src/is/hail/expr/ir/agg/NDArraySumAggregator.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

be safe with void returns from APIs
  services/ui/src/ci/pr.tsx
  services/ui/src/shared/hailApiFetch.ts
Due: none

[compiler] delete unused eigSymR (#15753)
  hail/hail/src/is/hail/stats/eigSymD.scala
  hail/hail/test/src/is/hail/stats/eigSymDSuite.scala
Due: none

isolate and add more time for timeout prone vep tests
  build.yaml
  hail/python/pytest.ini
  hail/python/test/hail/methods/test_qc.py
Due: ruff, ruff-format

fix csp and codacy issues
  devbin/dev_proxy.py
  services/ui/src/ci/pr.tsx
Due: ruff, ruff-format, pyright

also bump vitest
  services/ui/package-lock.json
  services/ui/package.json
Due: none

[monitoring] Billing cross analysis dashboard (#15736)
  .codacy.yaml
  dev-docs/services/ui/README.md
  devbin/dev_proxy.py
  gear/gear/auth.py
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/cost_analysis.html
  services/ui/src/batch_driver/DriverDashboard.tsx
  services/ui/src/monitoring/components/ChartTooltip.tsx
  services/ui/src/monitoring/components/CostRow.tsx
  services/ui/src/monitoring/components/StatsDisplay.tsx
  services/ui/src/monitoring/components/format.test.ts
  services/ui/src/monitoring/components/format.ts
  services/ui/src/monitoring/components/hailApi.ts
  services/ui/src/monitoring/components/statsUtils.test.ts
  services/ui/src/monitoring/components/statsUtils.ts
  services/ui/src/monitoring/cost_analysis.tsx
  services/ui/src/monitoring/index.tsx
  services/ui/src/shared/DataRow.tsx
  services/ui/src/shared/MiniPieChart.tsx
  services/ui/src/shared/Panel.tsx
  services/ui/src/shared/PresetChips.tsx
  services/ui/src/shared/RatioRow.tsx
  services/ui/src/shared/StatLabel.tsx
  services/ui/src/shared/ToggleSwitch.tsx
  services/ui/src/shared/hailApiFetch.ts
  services/ui/src/shared/useLegendToggle.ts
  web_common/tailwind.config.js
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
Due: ruff, ruff-format, pyright

[ci] restore release dependence on dataproc tests
  build.yaml
Due: none

add tailwind style compilation in monitoring
  monitoring/Dockerfile
Due: none

[batch] Support for N4 machine type `job-private` instances (#15683)
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/driver/zones.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/driver/exceptions.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[monitoring] add tailwind style compilation in monitoring (#15758)
  monitoring/Dockerfile
Due: none

fixes and tests around scoping
  ci/ci/build.py
  ci/ci/build_selection.py
  ci/ci/github.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

fix up comments
  ci/ci/build.py
  ci/ci/build_selection.py
Due: ruff, ruff-format, pyright

[services] update worker docker ubuntu to noble-20260905
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

allow cross service comms and compile monitoring styles
  hail/python/hailtop/config/deploy_config.py
  web_common/tailwind.config.js
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[services] update ubuntu docker base to noble-20260905 (#15760)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

fix origin calculation
  hail/python/hailtop/config/deploy_config.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

allow cross-(sub)-domain traffic
  batch/batch/front_end/front_end.py
  gear/gear/__init__.py
  gear/gear/cors.py
  services/ui/src/shared/hailApiFetch.ts
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

fix forceIfLabeled handling
  ci/ci/build.py
  ci/unit-test/test_build_configuration.py
Due: ruff, ruff-format, pyright

[compiler] invalidate `TailLoop` regions after every evaluation (#15752)
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/agg/NDArrayMultiplyAddAggregator.scala
  hail/hail/src/is/hail/expr/ir/agg/NDArraySumAggregator.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

[ci] isolate and add more time for timeout prone vep tests (#15754)
  build.yaml
  hail/python/pytest.ini
  hail/python/test/hail/methods/test_qc.py
Due: ruff, ruff-format

[compiler] generalise `Bindings.get` over an `Algebra` of type-like values
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/ComputeUsesAndDefs.scala
  hail/hail/src/is/hail/expr/ir/Env.scala
  hail/hail/src/is/hail/expr/ir/FreeVariables.scala
  hail/hail/src/is/hail/expr/ir/MapIR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Subst.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/src/is/hail/types/virtual/MatrixType.scala
  hail/hail/src/is/hail/types/virtual/TableType.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
Due: none

[ci] fix bugs in test/dev batch graph construction (#15759)
  ci/ci/build.py
  ci/ci/build_selection.py
  ci/ci/github.py
  ci/unit-test/test_build_configuration.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

[terraform] remove unused gcr-push user (#15735)
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[batch] bump ubuntu disk image to v20260904
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/globals.py
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
Due: ruff, ruff-format, pyright

[ci] more specific inputs to certain build.yaml jobs
  build.yaml
Due: none

revert dev only step change
  build.yaml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
