Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

properly hide the new web page from users who lack permissions to use the apis
  gear/gear/auth.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
Due: ruff, ruff-format, pyright

fix fetch behavior to avoid race conditions, accidental loads
  services/ui/src/monitoring/cost_analysis.tsx
Due: none

pre-codacy check
  services/ui/src/monitoring/cost_analysis.tsx
Due: none

thanks copilot
  .github/workflows/static-and-unit-tests.yml
Due: none

[query] convert remaining testng stragglers to junit
  hail/hail/package.mill
  hail/hail/test/src/is/hail/LogTestListener.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/backend/driver/BatchQueryDriverSpec.scala
  hail/hail/test/src/is/hail/collection/BinaryHeapSuite.scala
  hail/hail/test/src/is/hail/utils/GraphSuite.scala
  hail/hail/test/src/is/hail/utils/TreeTraversalSuite.scala
Due: none

[compiler] `LiftAvailableExprs`
  dev-docs/compiler-team/lift-available-exprs.md
  hail/hail/bench/src/is/hail/expr/ir/lowering/LiftAvailableExprsBenchmark.scala
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/Exists.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/IsPure.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/LiftAvailableExprs.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/Optimize.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/LiftAvailableExprsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/SimplifySuite.scala
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

[batch] Resolve `_create_job_groups` vs `cancel_job_group_in_db` deadlock (try 2) (#15723)
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[dev-docs] Add combiner guide/sop
  dev-docs/hail-query/combiner-sop.md
Due: none

fixes
  dev-docs/hail-query/combiner-sop.md
Due: none

edits
  dev-docs/hail-query/combiner-sop.md
Due: none

quick ansi color parser for logs
  services/ui/src/batch/components/LogViewer.tsx
  services/ui/src/shared/ansi.test.tsx
  services/ui/src/shared/ansi.tsx
Due: none

switch to anser
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/batch/components/LogViewer.tsx
  services/ui/src/shared/ansi.test.tsx
  services/ui/src/shared/ansi.tsx
Due: none

test our code AND not the library
  services/ui/src/shared/ansi.test.tsx
Due: none

[query] purge vestigial testng references
  build.yaml
  hail/Makefile
  hail/generate_splits.py
  hail/hail/package.mill
  hail/hail/src/is/hail/io/fs/README
  hail/hail/src/is/hail/services/README
  hail/mill-build/mill-build/src/MvnCoordinate.scala
  hail/scripts/test-gcp.sh
  hail/testng-build.xml
  hail/testng-fs.xml
  hail/testng-services.xml
  hail/testng.xml
Due: ruff, ruff-format, pyright

[hailctl] update dataproc to 3.0.x images
  build.yaml
  hail/python/hail/backend/spark_backend.py
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/connect.py
  hail/python/hailtop/hailctl/dataproc/gcloud.py
  hail/python/hailtop/hailctl/dataproc/modify.py
  hail/python/hailtop/hailctl/dataproc/resources/init_notebook.py
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/test/hailtop/hailctl/dataproc/conftest.py
  hail/python/test/hailtop/hailctl/dataproc/test_connect.py
  hail/python/test/hailtop/hailctl/dataproc/test_modify.py
  hail/python/test/hailtop/hailctl/dataproc/test_start.py
Due: ruff, ruff-format

fix underline and strikethrough together
  services/ui/src/shared/ansi.test.tsx
  services/ui/src/shared/ansi.tsx
Due: none

add color to test logs
  Makefile
  build.yaml
Due: none

[compiler] deepCopy does not return this.type
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
Due: none

more intervals, better signal catching
  batch/batch/worker/worker.py
  batch/log-sync.sh
Due: ruff, ruff-format, pyright

add migration
  build.yaml
Due: none

docs
  dev-docs/services/batch/persistent-preempted-logs.md
Due: none

use protected directory for log instructions
  batch/Dockerfile.worker
  batch/batch/worker/worker.py
  dev-docs/services/batch/persistent-preempted-logs.md
Due: ruff, ruff-format, pyright

log copying
  batch/log-sync.sh
Due: none

continuous log sync for jobs
  batch/Dockerfile.worker
  batch/batch/worker/worker.py
  batch/log-sync.sh
  dev-docs/services/batch/persistent-preempted-logs.md
Due: ruff, ruff-format, pyright

better running attempt distinction
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

oops sql
  batch/sql/121-add-continuous-log-sync-flag.sql
Due: none

add tiny tier too
  batch/batch/worker/worker.py
  batch/log-sync.sh
Due: ruff, ruff-format, pyright

feedback and race condition catching
  batch/log-sync.sh
Due: none

forward logging and install gcloud cli
  batch/Dockerfile.worker
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

add continuous upload behind feature flag
  batch/batch/driver/main.py
  batch/batch/driver/templates/index.html
  batch/batch/front_end/front_end.py
  batch/batch/worker/worker.py
  batch/sql/estimated-current.sql
Due: ruff, ruff-format, pyright

always write empty file even with no output yet
  batch/log-sync.sh
Due: none

remove a bunch of noise around migrations/flags and doc spam
  batch/batch/driver/main.py
  batch/batch/driver/templates/index.html
  batch/batch/driver/templates/openapi.yaml
  batch/batch/front_end/front_end.py
  batch/batch/worker/worker.py
  batch/log-sync.sh
  batch/sql/121-add-continuous-log-sync-flag.sql
  batch/sql/estimated-current.sql
  dev-docs/services/batch/persistent-preempted-logs.md
Due: ruff, ruff-format, pyright

feedback
  batch/batch/driver/main.py
  batch/batch/driver/templates/openapi.yaml
  batch/batch/front_end/front_end.py
  batch/log-sync.sh
  dev-docs/services/batch/persistent-preempted-logs.md
Due: ruff, ruff-format, pyright

simpler doccing too
  batch/log-sync.sh
  dev-docs/services/batch/persistent-preempted-logs.md
Due: none

more feedback
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

swap source for read
  batch/log-sync.sh
Due: none

manual review tidy up
  batch/batch/worker/log_syncer.py
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

require actual live logs to appear in test_job_running_logs
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

replace tiers with target bytes/s
  batch/batch/worker/log_syncer.py
  batch/log-sync.sh
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
