Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[batch] eliminate unused imports in hailtop.batch tests (#14315)
  hail/python/test/hailtop/batch/test_batch_service_backend.py
  hail/python/test/hailtop/batch/test_python_job_in_service.py
Due: ruff, ruff-format

[query] Don't error on VCF export when haploid call is unphased (#14375)
  hail/python/test/hail/methods/test_impex.py
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
Due: ruff, ruff-format

[dependencies] unpin protobuf, relax google-cloud-profiler
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[dependencies] unpin protobuf, relax google-cloud-profiler
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: none

add assertion about total size and also fix lint about unused variable
  hail/python/hailtop/aiotools/sync.py
Due: ruff, ruff-format

[gear] simplify database retry logic (#14369)
  gear/gear/database.py
Due: ruff, ruff-format, pyright

shell quote everything
  batch/batch/cloud/terra/azure/driver/driver.py
Due: ruff, ruff-format, pyright

[ci] switch to a new personal access token
  infra/gcp-broad/hail-is/ci_config.enc.json
  infra/gcp/README.md
Due: none

[infra] Update Azure provider 3.93.0
  infra/azure/main.tf
  infra/azure/modules/batch/main.tf
  infra/azure/modules/ci/main.tf
  infra/azure/modules/vdc/main.tf
Due: none

[batch] Dont grab an X lock on the batches table in attempts after update (#14379)
  batch/sql/estimated-current.sql
  batch/sql/fix-mark-job-complete-deadlocks.sql
  build.yaml
Due: none

rip out the extra disk
  batch/batch/cloud/terra/azure/driver/driver.py
  batch/batch/cloud/terra/azure/instance_config.py
Due: ruff, ruff-format, pyright

handle other states
  batch/batch/cloud/terra/azure/driver/driver.py
Due: ruff, ruff-format, pyright

Revert "[internal-gateway] Greatly reduce rate limit for batch-driver request…"
  ci/ci/envoy.py
Due: ruff, ruff-format, pyright

remove AggLet
  hail/build.sc
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Children.scala
  hail/src/main/scala/is/hail/expr/ir/Copy.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/Exists.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/InferType.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/LowerMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/Scope.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/test/scala/is/hail/expr/ir/AggregatorsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
Due: none

more shq and heredoc fix
  batch/batch/cloud/terra/azure/driver/driver.py
Due: ruff, ruff-format, pyright

Revert "[internal-gateway] Greatly reduce rate limit for batch-driver requests from workers" (#14387)
  ci/ci/envoy.py
Due: ruff, ruff-format, pyright

[docs] parting docs
  dev-docs/algolia.md
  dev-docs/development-process.md
  dev-docs/gvs.md
  dev-docs/hail-for-new-engineers.md
  dev-docs/hail-overview.md
  dev-docs/hail-query/query-on-batch.md
  hail/Makefile
Due: none

[batch] also check hailtop.batch tests (#14316)
  Makefile
Due: none

[query] deprecate `MatrixTable.make_table` (#14386)
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

run scalafix
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
Due: none

[ci] switch to a new personal access token (#14384)
  infra/gcp-broad/hail-is/ci_config.enc.json
  infra/gcp/README.md
Due: none

fix Interpretable
  hail/src/main/scala/is/hail/expr/ir/Interpretable.scala
Due: none

[release] Use consistent directory naming for azure wheel (#14325)
  build.yaml
  hail/Makefile
  hail/scripts/release.sh
Due: none

Prevent iteration of Job and ResourceGroup objects
  hail/python/hailtop/batch/job.py
  hail/python/hailtop/batch/resource.py
Due: ruff, ruff-format

Prevent iteration of Job and ResourceGroup objects (#14390)
  hail/python/hailtop/batch/job.py
  hail/python/hailtop/batch/resource.py
Due: ruff, ruff-format

[batch] 400 on bad job group specs instead of 500
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[infra] Update Azure provider 3.93.0 (#14385)
  infra/azure/main.tf
  infra/azure/modules/batch/main.tf
  infra/azure/modules/ci/main.tf
  infra/azure/modules/vdc/main.tf
Due: none

[pip] Move protobuf pin from query to gear
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: none

Apply linting + review feedback
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[dev-docs] add releasing.md (#14322)
  dev-docs/releasing.md
  hail/scripts/release.sh
Due: none

[query] Add AlleleType Enum (#14360)
  hail/.gitignore
  hail/python/hail/docs/functions/genetics.rst
  hail/python/hail/docs/genetics/index.rst
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/hail/genetics/__init__.py
  hail/python/hail/genetics/allele_type.py
  hail/python/hail/methods/qc.py
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/sample_qc.py
Due: ruff, ruff-format

[pip] Move protobuf pin from query to gear (#14393)
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: none

Split `IEmitCodeGen.get` to reflect different use cases: `getOrFatal` - user-supplied data is dodgy `getOrAssert` - shut up i know what im doing i dont write bugs
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitCodeBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/EmitStreamDistribute.scala
  hail/src/main/scala/is/hail/expr/ir/GenericTableValue.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/StringTableReader.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableWriter.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DownsampleAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/LinearRegressionAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/GenotypeFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/IntervalFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/LocusFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/NDArrayFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/RandomSeededFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/ndarrays/EmitNDArray.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/main/scala/is/hail/expr/ir/streams/StagedMinHeap.scala
  hail/src/main/scala/is/hail/io/avro/AvroPartitionReader.scala
  hail/src/main/scala/is/hail/io/bgen/LoadBgen.scala
  hail/src/main/scala/is/hail/io/bgen/StagedBGENReader.scala
  hail/src/main/scala/is/hail/io/index/InternalNodeBuilder.scala
  hail/src/main/scala/is/hail/io/index/StagedIndexReader.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalNDArray.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalCall.scala
Due: none

reformat
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitStreamDistribute.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableWriter.scala
  hail/src/main/scala/is/hail/expr/ir/agg/LinearRegressionAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/GenotypeFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/IntervalFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/LocusFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/RandomSeededFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/ndarrays/EmitNDArray.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/main/scala/is/hail/io/avro/AvroPartitionReader.scala
  hail/src/main/scala/is/hail/io/bgen/LoadBgen.scala
  hail/src/main/scala/is/hail/io/index/StagedIndexReader.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalNDArray.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalCall.scala
Due: none

[query] Include traceback in code-generated asserts in debug builds (#14372)
  hail/build.sc
  hail/src/main/scala/is/hail/asm4s/CodeBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitCodeBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/EmitStreamDistribute.scala
  hail/src/main/scala/is/hail/expr/ir/GenericTableValue.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/StringTableReader.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableWriter.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DownsampleAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/LinearRegressionAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/GenotypeFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/IntervalFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/LocusFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/NDArrayFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/RandomSeededFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/ndarrays/EmitNDArray.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/main/scala/is/hail/expr/ir/streams/StagedMinHeap.scala
  hail/src/main/scala/is/hail/io/avro/AvroPartitionReader.scala
  hail/src/main/scala/is/hail/io/bgen/LoadBgen.scala
  hail/src/main/scala/is/hail/io/bgen/StagedBGENReader.scala
  hail/src/main/scala/is/hail/io/index/InternalNodeBuilder.scala
  hail/src/main/scala/is/hail/io/index/StagedIndexReader.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/package.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalNDArray.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalCall.scala
Due: none

EType.fromTypeAndAnalysis takes execute context now
  hail/src/main/scala/is/hail/annotations/BroadcastValue.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitClassBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableWriter.scala
  hail/src/main/scala/is/hail/expr/ir/agg/AggregatorState.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CallStatsAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CollectAsSetAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DensifyAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DownsampleAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/GroupedAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/StagedArrayBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/agg/StagedBlockLinkedList.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/main/scala/is/hail/io/TypedCodecSpec.scala
  hail/src/main/scala/is/hail/io/bgen/StagedBGENReader.scala
  hail/src/main/scala/is/hail/io/index/InternalNodeBuilder.scala
  hail/src/main/scala/is/hail/io/index/LeafNodeBuilder.scala
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/types/encoded/EType.scala
  hail/src/test/scala/is/hail/annotations/UnsafeSuite.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/RequirednessSuite.scala
  hail/src/test/scala/is/hail/io/IndexSuite.scala
Due: none

(mostly) sort flags by name in files
  hail/python/hail/backend/backend.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
Due: ruff, ruff-format

wip
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

add use_unstable_encodings flag
  hail/python/hail/backend/backend.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
