Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Encode loci as integers under use_unstable_encodings
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/src/is/hail/types/encoded/EVarint.scala
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

Support packed loci in codec plumbing
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/agg/StagedBlockLinkedList.scala
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

nits/lint
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

DO NOT MERGE: unstable encodings in tests
  build.yaml
Due: none

[query] Force writing BGEN indexes with the hard coded expected encoding
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
  hail/hail/src/is/hail/io/index/InternalNodeBuilder.scala
  hail/hail/src/is/hail/io/index/LeafNodeBuilder.scala
  hail/hail/test/src/is/hail/io/bgen/BgenIndexSuite.scala
Due: none

[batch] add DB test framework: real-migration db fixture and smoke test
  batch/test/conftest.py
  batch/test/test_db_framework.py
  build.yaml
Due: ruff, ruff-format, pyright

make test_billing CI step self-contained and keep conftest importable without DB deps
  batch/test/conftest.py
  batch/test/test_db_framework.py
  build.yaml
Due: ruff, ruff-format, pyright

[batch] refactor: extract billing query functions into billing_reporting module
  batch/batch/billing_reporting.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/utils.py
Due: ruff, ruff-format, pyright

keep billing project users as member names and add user_roles for the role view
  batch/batch/billing_reporting.py
  batch/test/test_accounts.py
Due: ruff, ruff-format, pyright

return 400 for billing rule violations and 404 for unknown quotes
  batch/batch/billing_project_management.py
  batch/batch/exceptions.py
Due: ruff, ruff-format, pyright

add permission tests: add-user and add-manager are global_bm only
  batch/test/test_billing_project_management.py
Due: ruff, ruff-format, pyright

add tests for create/edit event audits
  batch/test/test_billing_project_management.py
Due: ruff, ruff-format, pyright

more auditing
  batch/batch/billing_project_management.py
Due: ruff, ruff-format, pyright

updated test cases wrt removing unlimited quotes
  batch/test/test_billing_invariant_triggers.py
  batch/test/test_billing_project_management.py
  batch/test/test_billing_reporting.py
  batch/test/test_quote_management.py
  build.yaml
Due: ruff, ruff-format, pyright

test status codes for billing rule, unknown quote, and permission errors
  batch/test/test_billing_project_management.py
Due: ruff, ruff-format, pyright

[batch] add DB-layer tests for billing project management and reporting
  batch/test/test_billing_project_management.py
  batch/test/test_billing_reporting.py
  batch/test/test_db_framework.py
  build.yaml
Due: ruff, ruff-format, pyright

add ADD_BP_MEMBER and ADD_MANAGER permissions to BillingPermission enum
  batch/batch/billing_auth.py
Due: ruff, ruff-format, pyright

enforce quote/billing project invariants with DB triggers; only INTERNAL may be unlimited
  batch/batch/billing_project_management.py
  batch/batch/front_end/front_end.py
  batch/sql/122-billing-quotes.sql
Due: ruff, ruff-format, pyright

test users and user_roles fields separately
  batch/test/test_billing_reporting.py
Due: ruff, ruff-format, pyright

test member removal and quote amount permissions
  batch/test/test_billing_project_management.py
Due: ruff, ruff-format, pyright

[batch] add billing quotes DB schema, migrations, and DB-layer functions
  auth/sql/012-add-create-quotes-permission.sql
  batch/batch/billing_auth.py
  batch/batch/billing_project_management.py
  batch/batch/billing_reporting.py
  batch/sql/122-billing-quotes.sql
  build.yaml
  gear/gear/system_permissions.py
Due: ruff, ruff-format, pyright

split into billing project and quote management db tests
  batch/test/test_billing_project_management.py
  batch/test/test_quote_management.py
  build.yaml
Due: ruff, ruff-format, pyright

retry billing writes on transient errors, owners-only quote amount edits, global-BM-only member removal, wider comments
  batch/batch/billing_auth.py
  batch/batch/billing_project_management.py
  batch/sql/122-billing-quotes.sql
  batch/test/test_accounts.py
  build.yaml
Due: ruff, ruff-format, pyright

[batch] add hailctl CLI and async client support for billing quotes
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/cli.py
  hail/python/hailtop/hailctl/batch/billing/projects/__init__.py
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
  hail/python/hailtop/hailctl/batch/billing/quotes/__init__.py
  hail/python/hailtop/hailctl/batch/billing/quotes/cli.py
Due: ruff, ruff-format

update API wrt non-unlimited quotes
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/test/test_accounts.py
Due: ruff, ruff-format, pyright

restrict add-user and add-manager to global billing managers only
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

owners-only quote amount edits, self-service leave, text limits, legacy page and job CSP fixes, test and openapi updates
  auth/test/test_system_permissions.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/test/test_accounts.py
Due: ruff, ruff-format, pyright

[batch] add billing quotes API routes and openapi spec
  batch/batch/billing_reporting.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
Due: ruff, ruff-format, pyright

document 400 for billing rule violations on billing project create
  batch/batch/front_end/templates/openapi.yaml
Due: none

allow setting description via cli
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
Due: ruff, ruff-format

update CLI to require non-unlimited quotes
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
  hail/python/hailtop/hailctl/batch/billing/quotes/cli.py
Due: ruff, ruff-format

wire non-unlimitedness of quotes into api
  batch/batch/billing_project_management.py
  batch/batch/exceptions.py
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

require proper permissions for initial bp create with users
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
Due: ruff, ruff-format, pyright

fix typing import and expect 400 for billing rule violations in account tests
  batch/batch/exceptions.py
  batch/test/test_accounts.py
Due: ruff, ruff-format, pyright

drop legacy page users workaround and document user_roles
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
Due: ruff, ruff-format, pyright

fold create_billing_project_v2 into create_billing_project with optional quote
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
Due: ruff, ruff-format

restrict add-member and add-manager UI to global billing managers only
  services/ui/src/batch/billing/BillingProjectPage.tsx
  services/ui/src/batch/billing/QuotePage.tsx
  services/ui/src/batch/billing/permissions.ts
Due: none

leave billing projects, owner-only amount edits and member removal in UI, aggregate quote/BP billing, validate dates, drop dead legacy routes, ship billing.js in batch-image
  Makefile
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/billing_project_react.html
  batch/batch/front_end/templates/openapi.yaml
  hail/python/hailtop/batch/docs/billing_management.rst
  services/ui/src/batch/billing.tsx
  services/ui/src/batch/billing/BillingPage.tsx
  services/ui/src/batch/billing/BillingProjectPage.tsx
  services/ui/src/batch/billing/QuotePage.tsx
  services/ui/src/batch/billing/permissions.ts
  services/ui/src/batch/billing/shared.tsx
Due: ruff, ruff-format, pyright

standardize project edit cli
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
Due: ruff, ruff-format

require quote amounts and explicit quotes in billing UI, add BP description, show clean API errors
  services/ui/src/batch/billing/BillingPage.tsx
  services/ui/src/batch/billing/BillingProjectPage.tsx
  services/ui/src/batch/billing/BillingProjectsPage.tsx
  services/ui/src/batch/billing/QuotePage.tsx
  services/ui/src/batch/billing/QuotesPage.tsx
  services/ui/src/batch/billing/api.ts
  services/ui/src/batch/billing/shared.tsx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
