Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[batch] Address PR review comments for N2 machine type upgrade
  batch/batch/cloud/gcp/resource_utils.py
  batch/test/test_utils.py
  batch/test/utils.py
Due: ruff, ruff-format, pyright

[batch] Fix N2 local SSD minimums from GCP docs
  batch/batch/cloud/gcp/resource_utils.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[batch] Fix local SSD count for N2 machines: attach minimum required partitions and RAID0 when >1
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[batch] Fix ruff I001 import sorting in test_utils.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

accept none check conclusions
  ci/ci/utils.py
Due: ruff, ruff-format, pyright

bundle CI PR status polls
  ci/ci/github.py
  ci/unit-test/conftest.py
  ci/unit-test/pytest.ini
  ci/unit-test/test_github_unit.py
Due: ruff, ruff-format, pyright

fix mock leak risk
  ci/unit-test/conftest.py
Due: ruff, ruff-format, pyright

fix none management in broken github hook handler
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

chunk PR fetch and allow 30s per 100-pr chunk (up from 5s per PR)
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[batch] add billing export to csv (#15409)
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/billing.js
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/openapi.yaml
Due: ruff, ruff-format, pyright

move request timeout change to the right place
  ci/ci/ci.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[services] pip and npm updates 2026-05-29 (#15516)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  web_common/pinned-requirements.txt
Due: none

allow CI to merge PRs that update github actions
  dev-docs/services/rotating-github-oauth-token.md
Due: none

reduce logging noise, metrics and one log for graphql fetch
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[docs] allow CI to merge PRs that update github actions (#15521)
  dev-docs/services/rotating-github-oauth-token.md
Due: none

more CI loop timing logs and metrics
  ci/ci/github.py
Due: ruff, ruff-format, pyright

log reviewer assignment timing
  ci/ci/github.py
Due: ruff, ruff-format, pyright

dont make review assignee calls with no new assignees
  ci/ci/github.py
Due: ruff, ruff-format, pyright

simplify logging and metrics into a single value
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[query] no-sharing in extract
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
Due: none

api completion
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/openapi.yaml
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/batch/utils.py
  ci/ci/ci.py
  ci/ci/templates/openapi.yaml
  gear/gear/__init__.py
  gear/gear/http_server_utils.py
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/openapi.yaml
Due: ruff, ruff-format, pyright

remove redundant mock data generator
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

refactor devserver into a combined service model
  Makefile
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

fix / link
  web_common/web_common/templates/header.html
Due: none

fix trailing / behavior and remove unnecessary repeat rebuilds
  Makefile
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

[gear] add version_response helper to http_server_utils
  gear/gear/__init__.py
  gear/gear/http_server_utils.py
Due: ruff, ruff-format, pyright

[batch] add billing breakdown API endpoint and OpenAPI docs
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/batch/utils.py
Due: ruff, ruff-format, pyright

[ci] Add rebuild reason to build history (#15504)
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

regression tests
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[query] no-sharing in `Extract` (#15500)
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
Due: none

[query] no-sharing in various utils
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/python/hail/expr/expressions/typed_expressions.py
Due: ruff, ruff-format

[query] update list of interpretable IRs
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Interpretable.scala
Due: none

[query] run all pytests w/ batch backend
  build.yaml
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/python/test/hail/conftest.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/python/test/hail/experimental/test_experimental.py
  hail/python/test/hail/expr/test_expr.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/python/test/hail/matrixtable/test_file_formats.py
  hail/python/test/hail/matrixtable/test_matrix_table.py
  hail/python/test/hail/table/test_table.py
  hail/python/test/hail/utils/test_utils.py
Due: ruff, ruff-format

[query] update list of interpretable IRs (#15524)
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Interpretable.scala
Due: none

[query] get pytests to work w/ batch backend (#15467)
  build.yaml
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/python/test/hail/conftest.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/python/test/hail/experimental/test_experimental.py
  hail/python/test/hail/expr/test_expr.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/python/test/hail/matrixtable/test_file_formats.py
  hail/python/test/hail/matrixtable/test_matrix_table.py
  hail/python/test/hail/table/test_table.py
  hail/python/test/hail/utils/test_utils.py
Due: ruff, ruff-format

[batch] Add /api/ implementations of remaining html-only queries (#15523)
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/batch/utils.py
  batch/test/test_batch.py
  gear/gear/__init__.py
  gear/gear/http_server_utils.py
Due: ruff, ruff-format, pyright

loosen version regex in ubuntu updater
  Makefile
  update-hail-ubuntu.py
Due: ruff, ruff-format, pyright

fix copy command
  Makefile
Due: none

ubuntu base bump to noble-20260509.1
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

[devbin] Helper script to trigger trivy scans (#15515)
  devbin/trivy-scan-trigger.py
Due: ruff, ruff-format, pyright
