Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[copy] Expandvars in file path names
  hail/python/hailtop/aiotools/copy.py
Due: ruff, ruff-format

fix merge fails
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[uvloopx] consolidate uvloop initialization code to one place
  auth/auth/auth.py
  batch/batch/driver/main.py
  batch/batch/worker/worker.py
  ci/ci/ci.py
  ci/wait-for.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/diff.py
  hail/python/hailtop/uvloopx.py
Due: ruff, ruff-format, pyright

also front_end.py
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

fix test
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[lint] add trailing newlines
  hail/.mill-version
  hail/src/main/java/is/hail/io/compress/BGzipConstants.java
Due: none

[batch] extract service backend test fixtures to separate file (#14313)
  hail/python/test/hailtop/batch/conftest.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
  hail/python/test/hailtop/batch/utils.py
Due: ruff, ruff-format

fix: ci/pinned-requirements.txt to reduce vulnerabilities
  ci/pinned-requirements.txt
Due: none

fix: hail/python/hailtop/pinned-requirements.txt to reduce vulnerabilities
  hail/python/hailtop/pinned-requirements.txt
Due: none

[hailtop] ensure delete also deletes single files
  hail/python/hailtop/aiotools/delete.py
  hail/python/test/hailtop/inter_cloud/conftest.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
  hail/python/test/hailtop/inter_cloud/test_delete.py
  hail/python/test/hailtop/inter_cloud/test_diff.py
  hail/python/test/hailtop/inter_cloud/utils.py
Due: ruff, ruff-format

[aiotools.fs] tighter type on AsyncFS.__aenter__
  hail/python/hailtop/aiotools/fs/fs.py
Due: ruff, ruff-format

actually expose env vars
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

delint
  hail/python/hailtop/aiotools/copy.py
Due: ruff, ruff-format

[aiogoogle] clean up storage client Task management
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[rich_progress_bar] show two sigfigs when rate <1
  hail/python/hailtop/utils/rich_progress_bar.py
Due: ruff, ruff-format

[hailtop] in WithoutSemaphore, optionally do not acquire the semaphore when raising
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

revert change
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

[uvloopx] consolidate uvloop initialization code to one place (#14341)
  auth/auth/auth.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/worker/worker.py
  ci/ci/ci.py
  ci/wait-for.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/diff.py
  hail/python/hailtop/uvloopx.py
Due: ruff, ruff-format, pyright

[lint] add trailing newlines (#14342)
  hail/.mill-version
  hail/src/main/java/is/hail/io/compress/BGzipConstants.java
Due: none

[hailtop] ensure delete also deletes single files (#14345)
  hail/python/hailtop/aiotools/delete.py
  hail/python/test/hailtop/inter_cloud/conftest.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
  hail/python/test/hailtop/inter_cloud/test_delete.py
  hail/python/test/hailtop/inter_cloud/test_diff.py
  hail/python/test/hailtop/inter_cloud/utils.py
Due: ruff, ruff-format

[rich_progress_bar] show two sigfigs when rate <1 (#14348)
  hail/python/hailtop/utils/rich_progress_bar.py
Due: ruff, ruff-format

[hailtop] in WithoutSemaphore, optionally do not acquire the semaphore when raising (#14349)
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

get rid of temp_dir
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

error when mounting dir to root dir
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

error when mounting dir to root dir
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

actually retrieve every exception
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[hailtop.batch] Restructure and use better types for resources
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/job.py
  hail/python/hailtop/batch/resource.py
Due: ruff, ruff-format

fix the docs
  hail/python/hailtop/batch/docs/api.rst
  hail/python/hailtop/batch/resource.py
Due: ruff, ruff-format

fix lints and docs
  hail/python/hailtop/batch/resource.py
Due: ruff, ruff-format

remove pass
  hail/python/hailtop/batch/resource.py
Due: ruff, ruff-format

[batch] extract service backend test fixtures to separate file
  hail/python/test/hailtop/batch/service_backend_fixtures.py
Due: ruff, ruff-format

conftest.py
  hail/python/test/hailtop/batch/service_backend_fixtures.py
Due: ruff, ruff-format

[batch] extract python job specific tests to separate file
  hail/python/test/hailtop/batch/test_batch_service_backend.py
  hail/python/test/hailtop/batch/test_python_job_in_service.py
Due: ruff, ruff-format

[infra] Remove unused registry-push-credentials secret (#14320)
  devbin/rotate_keys.py
  infra/azure/modules/batch/main.tf
  infra/gcp/main.tf
Due: ruff, ruff-format, pyright

[hailtop.batch] write resource group files not used in command
  hail/python/hailtop/batch/job.py
  hail/python/test/hailtop/batch/test_batch_local_backend.py
Due: ruff, ruff-format

[ci] Retry more for auth copy paste logins
  build.yaml
Due: none

[pip] Bulk update dependencies (#14336)
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  build.yaml
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  generate_pip_lockfile.sh
  hail-pip-compile.sh
  hail/Makefile
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

get rid of transaction in migration
  batch/sql/finalize-job-groups.sql
Due: none

fixes
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

wip
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
