Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

delint
  hail/python/hailtop/hailctl/batch/initialize.py
Due: ruff, ruff-format

[query/docs] Documentation changes in preparation for python upgrade (#14860)
  hail/.gitignore
  hail/python/hail/docs/_templates/_autosummary/class.rst
  hail/python/hail/docs/api.rst
  hail/python/hail/docs/functions/core.rst
  hail/python/hail/expr/builders.py
  hail/python/hail/matrixtable.py
  hail/python/hail/table.py
Due: ruff, ruff-format

Update default python to 3.11
  build.yaml
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
  hail/python/hailtop/batch/hail_genetics_images.py
Due: ruff, ruff-format

update layout for sphinx upgrade
  hail/python/hail/docs/_templates/layout.html
Due: none

regenerage ar cleanup policy
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

disable __aiter__ and __anext__ pylint checks
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/batch/batch_pool_executor.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

Only install python3-dev in hail-ubuntu
  docker/hail-ubuntu/Dockerfile
Due: none

update sphinx?
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hail/docs/conf.py
  hail/python/hailtop/batch/docs/conf.py
Due: ruff, ruff-format

3.9 -> 3.11 (again)
  batch/Dockerfile.worker
  build.yaml
  check_pip_requirements.sh
  hail/Dockerfile.hail-run
  hail/python/hail/docs/install/linux.rst
Due: none

remove removed shuffle parameter
  hail/generate_splits.py
Due: ruff, ruff-format, pyright

updated google-cloud-profiler version and lockfiles
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  generate-pip-lockfile.sh
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

missed another one
  build.yaml
Due: none

missed some version bumps
  build.yaml
  hail/python/hail/__init__.py
Due: ruff, ruff-format

regenerate lockfiles
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

allow configure_logging to set levels
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

DEBUG: set auth logging to debug/trace
  auth/auth/__main__.py
Due: ruff, ruff-format, pyright

DEBUG: faulthandler
  auth/auth/__main__.py
Due: ruff, ruff-format, pyright

[blog] blog in the bog
  blog/Dockerfile.nginx
  blog/deployment.yaml
  blog/nginx.conf
  build.yaml
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
  web_common/web_common/web_common.py
  website/website/templates/nav-top.html
Due: ruff, ruff-format, pyright

[blog|compliance] retire `blog.hail.is` (#14861)
  blog/Dockerfile.nginx
  blog/deployment.yaml
  blog/nginx.conf
  build.yaml
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
  web_common/web_common/web_common.py
  website/website/templates/nav-top.html
Due: ruff, ruff-format, pyright

use job groups to wait
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

`Batch` is required, test attaching to current batch
  hail/python/hail/backend/service_backend.py
  hail/python/test/hail/backend/test_service_backend.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[qob] Add ability to attach to existing batch
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

[release] Create Release PR GitHub action to automate releasing
  .github/workflows/create-release-pr.yml
Due: none

[release] Create Release PR GitHub action to automate releasing (#14858)
  .github/workflows/create-release-pr.yml
Due: none

[github] fIx WoRkFlOw I pUsHeD uP wRoNg
  .github/workflows/create-release-pr.yml
Due: none

[github] fIx WoRkFlOw I pUsHeD uP wRoNg (#14866)
  .github/workflows/create-release-pr.yml
Due: none

[compiler] fix overeager cast simplification
  hail/hail/src/is/hail/expr/ir/Casts.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
Due: none

[qob] Add ability to attach to existing batch (#14829)
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_service_backend.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[guide-analysis] Remove guide-analysis configuration from hail repo
  guide/Makefile
  guide/deployment.yaml
  letsencrypt/subdomains.txt
  tls/config.yaml
Due: none

[github] Add Feature Request Issue Template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new-feature-request.yml
Due: none

tmp
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

[query] Add read_dense_mt, a function to read a VDS densely
  hail/python/hail/table.py
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

[compiler] fix overeager cast simplification (#14869)
  hail/hail/src/is/hail/expr/ir/Casts.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
Due: none

codegen all value ir node classes
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Children.scala
  hail/hail/src/is/hail/expr/ir/Copy.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/test/src/is/hail/expr/ir/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/defs/EncodedLiteralSuite.scala
  hail/python/install-editable
Due: none

[tests] prevent genVal for PInterval exceeding num retries
  hail/hail/test/src/is/hail/annotations/UnsafeSuite.scala
  hail/hail/test/src/is/hail/scalacheck/ArbitraryPTypeInstances.scala
  hail/hail/test/src/is/hail/scalacheck/GenVal.scala
Due: none

[github] update release action to fetch last tag + set git config
  .github/workflows/create-release-pr.yml
Due: none

[tests] prevent genVal for PInterval exceeding num retries (#14873)
  hail/hail/test/src/is/hail/annotations/UnsafeSuite.scala
  hail/hail/test/src/is/hail/scalacheck/ArbitraryPTypeInstances.scala
  hail/hail/test/src/is/hail/scalacheck/GenVal.scala
Due: none

[compiler] move TableIR execute methods out of class
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/types/virtual/Type.scala
  hail/hail/test/src/is/hail/expr/ir/LiftLiteralsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

[qob,batch] Add cost to BatchProgressBar
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/utils/rich_progress_bar.py
Due: ruff, ruff-format

fixes, tests
  hail/python/hail/vds/__init__.py
  hail/python/hail/vds/impex.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format
