Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[services] be more selective about unsafe-inline styles (#15554)
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

Recognize AWS as a valid cloud
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/deployment.yaml
  batch/Dockerfile.worker
  batch/batch/cloud/driver.py
  build.yaml
  ci/bootstrap_create_accounts.py
  ci/ci/environment.py
  ci/deployment.yaml
  gear/gear/cloud_config.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format, pyright

Fix Makefile typo
  infra/bootstrap_utils.sh
Due: none

[services] pytest update (#15517)
  Makefile
  hail/python/pinned-requirements-py310.txt
  hail/python/requirements.txt
Due: none

Initial commit of AWS infrastructure
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/aws-broad/README.md
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Replace GCP region secret values with AWS ones
  infra/aws/main.yaml
Due: none

Initial commit of AWS infrastructure
  infra/aws-broad/README.md
  infra/aws-broad/main.yml
  infra/aws-broad/parameters.json
Due: none

Remove bad rebase
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Fixing parameterization and adding stack role
  infra/aws-broad/README.md
  infra/aws/README.md
  infra/aws/hail-is/parameters.json
  infra/aws/main.yaml
Due: none

resolve a few batch driver error cases
  batch/batch/driver/instance_collection/base.py
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

rescope two bad-not-error conditions
  batch/batch/driver/instance_collection/base.py
Due: ruff, ruff-format, pyright

fix non-self-closing hadoop streams
  hail/python/hail/utils/hadoop_utils.py
Due: ruff, ruff-format

[query] fix illegal tree-agg scan lowering fixes #15700
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

remove unworking logging
  hail/python/hailtop/aiocloud/aiogoogle/credentials.py
Due: ruff, ruff-format

note new version constraint
  hail/python/hailtop/requirements.txt
Due: none

copilot suggestions
  build.yaml
  hail/python/hail/utils/hadoop_utils.py
Due: ruff, ruff-format

[ci] improve tactical retry button layout (#15688)
  ci/ci/templates/pr.html
Due: none

allow specifying after without implying depends on
  build.yaml
  ci/ci/build.py
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

add sanity tests against the real build.yaml
  build.yaml
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

[query] interrupt in-flight queries when python is interrupted
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/test/src/is/hail/utils/SerialExecutorSuite.scala
  hail/hail/utils/src/is/hail/utils/SerialExecutor.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/test/hail/backend/test_py4j_backend.py
Due: ruff, ruff-format

restore depends of delete_test_billing_projects on test_batch to unblock build. Fix going forward
  build.yaml
  ci/ci/build.py
Due: ruff, ruff-format, pyright

[batch] idempotent, order-independent create_job_groups (#15690)
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

fix how tactical retries work when build.yaml is changed
  ci/ci/github.py
Due: ruff, ruff-format, pyright

fix regex parsing of new machine names
  batch/batch/driver/instance_collection/base.py
  batch/batch/driver/naming.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[ci] restore prompt ssl shutdown timing out after aiohttp update (#15694)
  build.yaml
  hail/python/hail/utils/hadoop_utils.py
  hail/python/hailtop/httpx.py
  hail/python/hailtop/requirements.txt
Due: ruff, ruff-format

[query] interrupt in-flight queries when python is interrupted (#15695)
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/test/src/is/hail/utils/SerialExecutorSuite.scala
  hail/hail/utils/src/is/hail/utils/SerialExecutor.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/test/hail/backend/test_py4j_backend.py
Due: ruff, ruff-format

[query] fix illegal tree-agg scan lowering (#15704)
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

batch driver dashboard react
  batch/batch/driver/main.py
  batch/batch/driver/templates/hello_react.html
  batch/batch/driver/templates/index.html
  batch/batch/driver/templates/index_react.html
  batch/batch/front_end/static/js/job.js
  devbin/dev_proxy.py
  services/ui/src/batch/components/JobStatusPanel.tsx
  services/ui/src/batch_driver/DriverDashboard.tsx
  services/ui/src/batch_driver/index.tsx
  services/ui/src/shared/AutoRefreshBar.tsx
Due: ruff, ruff-format, pyright

restore cookie setting in devserver
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

bump ubuntu docker base to noble-20260810
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

instance table fixes
  services/ui/src/batch_driver/DriverDashboard.tsx
Due: none

claude review
  batch/batch/driver/main.py
  batch/batch/driver/static/js/react_toggle.js
  batch/batch/driver/templates/index.html
  batch/batch/driver/templates/index_react.html
  services/ui/src/batch/components/RelativeTime.tsx
  services/ui/src/batch/components/StateIcon.tsx
  services/ui/src/batch_driver/DriverDashboard.tsx
  services/ui/src/shared/AutoRefreshBar.tsx
  services/ui/src/shared/SpinnerIcon.tsx
  services/ui/src/shared/timeUtils.ts
Due: ruff, ruff-format, pyright

copilot feedback
  batch/batch/driver/templates/index_react.html
  services/ui/src/batch_driver/DriverDashboard.tsx
  services/ui/src/batch_driver/index.tsx
  services/ui/src/shared/authUtils.ts
  web_common/web_common/templates/layout.html
Due: none

explicit types to satisfy codacy
  services/ui/src/batch_driver/DriverDashboard.tsx
Due: none

fix permissions block and table sorting
  devbin/dev_proxy.py
  services/ui/src/batch_driver/DriverDashboard.tsx
  web_common/web_common/templates/layout.html
Due: ruff, ruff-format, pyright

fix the long instance name problem
  batch/batch/driver/naming.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

use max instances not max live instances
  services/ui/src/batch_driver/DriverDashboard.tsx
Due: none

satisfy codacy
  services/ui/src/shared/authUtils.ts
Due: none

ci to control release tasks, not internal gates
  build.yaml
  ci/ci/build.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

fix ci/python version calculation, and double check against what makefile is doing
  build.yaml
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
