Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Add check for local file dest
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/test/hailtop/inter_cloud/conftest.py
Due: ruff, ruff-format

Defer to GCS copier from within copier flow
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
Due: ruff, ruff-format

Fix directory expansion bug
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/weighted_semaphore.py
Due: ruff, ruff-format

Defer to GCS copier from within copier flow
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/__init__.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/aiotools/weighted_semaphore.py
Due: ruff, ruff-format

Fix type assertions for old path
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
Due: ruff, ruff-format

Fix empty dest path copy
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: ruff, ruff-format

allow dev proxying of static js, openapi, labels
  batch/batch/front_end/static/js/billing.js
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/openapi.yaml
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

remove object sink findings
  batch/batch/front_end/static/js/billing.js
Due: none

replace var with let
  batch/batch/front_end/static/js/billing.js
Due: none

LEB: Add item too long asseriton, future proof loops
  hail/hail/src/is/hail/io/InputBuffers.scala
  hail/hail/src/is/hail/io/OutputBuffers.scala
Due: none

Parametrize EArray/EBinary on length encoding
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EArray2.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
  hail/hail/src/is/hail/types/encoded/EBinary2.scala
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

raw identifier for bgensettings switch
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
Due: none

scalafmt
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
Due: none

scalafix
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
Due: none

address comments
  hail/hail/src/is/hail/io/InputBuffers.scala
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
  hail/hail/src/is/hail/types/encoded/EInt32.scala
  hail/hail/src/is/hail/types/encoded/EInt64.scala
  hail/hail/src/is/hail/types/encoded/EIntegral.scala
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/src/is/hail/types/encoded/EVarint.scala
  hail/python/hail/utils/byte_reader.py
Due: ruff, ruff-format

add test descriptions to help audit
  build.yaml
Due: none

pr comments, refactor to full-retest-allowlist
  build.yaml
  ci/ci/build_selection.py
  ci/unit-test/test_build.py
Due: ruff, ruff-format, pyright

[release] match quarterly planning, spanning 3 milestones (#15396)
  .github/workflows/create-patch-release.yml
Due: none

switch to role based auth
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/auth/exceptions.py
  auth/auth/templates/openapi.yaml
  auth/auth/templates/roles.html
  auth/auth/templates/users.html
  auth/sql/011-refactor-system-permissions.sql
  auth/sql/estimated-current.sql
  auth/test/test_system_permissions.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/index.html
  batch/batch/driver/templates/job_private.html
  batch/batch/driver/templates/pool.html
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/billing_projects.html
  build.yaml
  ci/bootstrap_create_accounts.py
  ci/ci/ci.py
  ci/ci/templates/index.html
  ci/ci/templates/pr.html
  ci/ci/templates/user.html
  devbin/dev_proxy.py
  gateway/envoy.yaml
  gear/gear/auth.py
  gear/gear/system_permissions.py
  grafana/deployment.yaml
  hail/python/hailtop/auth/__init__.py
  hail/python/hailtop/auth/auth.py
  hail/python/hailtop/hail_logging.py
  hail/python/hailtop/hailctl/auth/cli.py
  hail/python/hailtop/hailctl/auth/create_user.py
  monitoring/monitoring/monitoring.py
  prometheus/prometheus.yaml
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[ci] remove wait on spec validation test (#15393)
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[compiler] fix check-hail target, bump scala minor versions
  Makefile
  hail/build.mill
  hail/hail/test/src/is/hail/io/IndexSuite.scala
Due: none

bikeshed
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
  hail/hail/src/is/hail/types/encoded/EDictAsUnsortedArrayOfPairs.scala
  hail/hail/src/is/hail/types/encoded/EStructOfArrays.scala
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/src/is/hail/types/encoded/EUnsortedSet.scala
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

[ci] Add names and batch_types for CI jobs (#15379)
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[compiler] fix check-hail target, bump scala minor versions (#15401)
  Makefile
  hail/build.mill
  hail/hail/test/src/is/hail/io/IndexSuite.scala
Due: none

fix
  hail/hail/src/is/hail/io/InputBuffers.scala
Due: none

Revert "[query] use new enableBsp feature in mill (#15175)"
  Makefile
  batch/jvm-entryway/build.mill
  hail/Makefile
  hail/build.mill
  hail/hail/package.mill
  hail/hail/utils/package.mill
  hail/mill
  hail/mill-build/build.mill
  hail/mill-build/mill-build/src/package.scala
Due: none

[services] bump base ubuntu to noble-20260324 (#15383)
  dev-docs/services/updating-third-party-images.md
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

Comments for why the versions/names are the way they are
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
Due: none

chris l preaudit audit
  build.yaml
  devbin/show-watched-paths.py
Due: ruff, ruff-format, pyright

chris l preaudit audit
  build.yaml
Due: none

remove duplicate client = none
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

better client error on inactive
  hail/python/hail/context.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

fix test expectation
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

missed some legacy types
  hail/hail/src/is/hail/compatibility/LegacyEncodedTypeParser.scala
  hail/hail/src/is/hail/compatibility/LegacyRVDSpecs.scala
Due: none

Revert "[query] use new enableBsp feature in mill (#15175)" (#15439)
  Makefile
  batch/jvm-entryway/build.mill
  hail/Makefile
  hail/build.mill
  hail/hail/package.mill
  hail/hail/utils/package.mill
  hail/mill
  hail/mill-build/build.mill
  hail/mill-build/mill-build/src/package.scala
Due: none

Use test step inputs and files changed to determine which tests to run
  build.yaml
  ci/ci/build.py
  ci/ci/build_selection.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

simplify changeset
  ci/ci/build.py
  ci/ci/build_selection.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

simpler again
  ci/ci/build_selection.py
Due: ruff, ruff-format, pyright

unit tests
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
