Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query] don't lower inside CompileAndEvaluate
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/expr/ir/RequirednessSuite.scala
  hail/hail/test/src/is/hail/linalg/BlockMatrixSuite.scala
Due: none

[compiler] refactor typecheck/infertype
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/ComputeTypeFromChildren.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IntervalSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[compiler] refactor extract aggregators
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

[github] Update new-developer.yml (#14972)
  .github/ISSUE_TEMPLATE/new-developer.yml
Due: none

[query] don't lower inside CompileAndEvaluate (#14969)
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/expr/ir/RequirednessSuite.scala
  hail/hail/test/src/is/hail/linalg/BlockMatrixSuite.scala
Due: none

Update development_tools.md
  dev-docs/compiler-team/development_tools.md
Due: none

Add kchandra to AUTHORIZED_USERS
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[query] make local and remote tmp settable on backend
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] run `ServiceBackend` in `Py4jQueryDriver`
  batch/batch/front_end/front_end.py
  build.yaml
  hail/hail/src/is/hail/backend/driver/BackendRpc.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/io/fs/AzureStorageFS.scala
  hail/hail/src/is/hail/io/fs/GoogleStorageFS.scala
  hail/hail/src/is/hail/io/fs/RouterFS.scala
  hail/hail/src/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/DeployConfig.scala
  hail/hail/src/is/hail/services/oauth2.scala
  hail/hail/src/is/hail/services/package.scala
  hail/hail/src/is/hail/utils/StringSocketAppender.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/test/src/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/hail/test/src/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/__init__.py
  hail/python/hail/experimental/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/conftest.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format, pyright

Edited docstring
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

Better use of environment variables for uv's config
  batch/Dockerfile.worker
  docker/hail-ubuntu/Dockerfile
  hail/Dockerfile.hail-run
Due: none

pure python version checks in ci
  build.yaml
Due: none

update change logs for release
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

[query] Configure Optimiser via Flags, not HailContext
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/LowerOrInterpretNonCompilable.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LoweringPipelineSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MemoryLeakSuite.scala
  hail/hail/test/src/is/hail/expr/ir/RequirednessSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/linalg/BlockMatrixSuite.scala
  hail/hail/test/src/is/hail/methods/LocalLDPruneSuite.scala
  hail/hail/test/src/is/hail/variant/vsm/PartitioningSuite.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] remove unnecessary references to `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/methods/LinearRegression.scala
  hail/hail/src/is/hail/methods/LogisticRegression.scala
  hail/hail/src/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/hail/src/is/hail/methods/PCA.scala
  hail/hail/src/is/hail/methods/PoissonRegression.scala
  hail/hail/src/is/hail/methods/Skat.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[query] remove branchingFactor` from `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/expr/ir/agg/package.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[release] script-ify change log generation (#14931)
  .github/workflows/create-release-pr.yml
  hail/scripts/update-changelog
Due: none

Generate dhconfig.pem if missing
  letsencrypt/letsencrypt.sh
Due: none

remove ssl-dhconfig from letsencryt altogether
  letsencrypt/letsencrypt.sh
Due: none

add request data to log metadata
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

ruff
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

remove rebase duplication
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

request data logging
  gear/gear/http_server_utils.py
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format, pyright

Add kchandra to AUTHORIZED_USERS (#14991)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

less diff
  build.yaml
  ci/create_database.py
Due: ruff, ruff-format, pyright

always refresh sql user configs
  ci/create_database.py
Due: ruff, ruff-format, pyright

Fixup logging
  tls/create_test_db_config.sh
Due: none

patch not replace if users exist
  ci/create_database.py
Due: ruff, ruff-format, pyright

No password logging and yes kubectl applying
  build.yaml
  tls/create_test_db_config.sh
Due: none

reusable secret metadata
  build.yaml
Due: none

Regenerate test db certificate after 1y
  build.yaml
  tls/create_test_db_config.sh
Due: none

whitespace
  ci/create_database.py
Due: ruff, ruff-format, pyright

simpler keep-password handling
  build.yaml
  tls/create_test_db_config.sh
Due: none

Only patch user config secret if db config secret has changed
  ci/create_database.py
Due: ruff, ruff-format, pyright

syntax error
  build.yaml
Due: none

REVERTME: force certificate regen for testing
  build.yaml
Due: none

better escaping again
  build.yaml
Due: none

REVERTing: force certificate regen for testing
  build.yaml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
