Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Minifix
  dev-docs/services/ci/README.md
Due: none

add rand_hyper and rand_multi_hyper methods
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/test/hail/expr/test_expr.py
  hail/src/main/scala/is/hail/expr/ir/functions/RandomSeededFunctions.scala
Due: ruff, ruff-format

Clarify DAGiness and png=>svg
  dev-docs/services/ci/README.md
  dev-docs/services/ci/ci-deploy.png
  dev-docs/services/ci/ci-deploy.svg
  dev-docs/services/ci/ci-test.png
  dev-docs/services/ci/ci-tests.svg
Due: none

SVG=>Mermaid?
  dev-docs/services/ci/README.md
Due: none

More SVG=>Mermaid
  dev-docs/services/ci/README.md
  dev-docs/services/ci/ci-deploy.svg
  dev-docs/services/ci/ci-tests.svg
Due: none

More fixup
  dev-docs/services/ci/README.md
Due: none

Correct deployment flow
  dev-docs/services/ci/README.md
Due: none

implement fast fisher exact test pvalue
  hail/python/hail/expr/functions.py
  hail/src/main/scala/is/hail/expr/ir/functions/MathFunctions.scala
  hail/src/main/scala/is/hail/stats/package.scala
  hail/src/test/scala/is/hail/stats/FisherExactTestSuite.scala
Due: ruff, ruff-format

Update loop diagram
  dev-docs/services/ci/README.md
Due: none

Correct the comments about state flags
  dev-docs/services/ci/README.md
Due: none

Small corrections
  dev-docs/services/ci/README.md
Due: none

Divide flowcharts into sub-diagrams in a reference section
  dev-docs/services/ci/README.md
Due: none

Copy/pasta
  dev-docs/services/ci/README.md
Due: none

Passes `--public-ip-address` to `hailctl dataproc start` (#14653)
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

[UI] Batches UI Improvements (#14640)
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  web_common/input.css
  web_common/web_common/templates/utils.html
Due: none

Update CI review expectations to 2
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Naming fixup
  ci/ci/github.py
Due: ruff, ruff-format, pyright

wip
  discourse-export-script/.gitignore
  discourse-export-script/discourse_download.py
  discourse-export-script/github_upload.py
  hail/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: ruff, ruff-format, pyright

Remove the open questions and issues
  dev-docs/services/ci/README.md
Due: none

Update development-process.md
  dev-docs/development-process.md
Due: none

Security impact field in templates
  .github/ISSUE_TEMPLATE/change-request.yml
  .github/pull_request_template.md
Due: none

Remove issue requirement action
  .github/workflows/require-linked-issue.yaml
Due: none

Oops, didn't finish
  .github/pull_request_template.md
Due: none

Added a cert renewal bash script
  cert_renewal.sh
Due: none

Add Iris as a hail team review group member
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[Github] Remove issue requirement action (#14665)
  .github/workflows/require-linked-issue.yaml
Due: none

Use github's graphQL to query review state directly
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Remove PR number from query
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Add log line to make sure it's working and in analogy to update check state
  ci/ci/github.py
Due: ruff, ruff-format, pyright

More standard context prefix in log message
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Standardize on single quotes
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[CI] Use github's graphQL to query review state directly (#14661)
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[CI] Add Iris as a hail team review group member (#14668)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

Optimising SQL for API get_completed_batches_ordered_by_completed_time. (#348)
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

Remove redundant f-strings and validate ints
  batch/sql/add_resource_ids.py
  batch/sql/insert_attempt_resources_format_version_lt_3.py
  batch/sql/populate_agg_billing_by_date.py
  batch/sql/populate_batch_updates.py
  batch/sql/populate_job_groups.py
Due: ruff, ruff-format, pyright

[Docs, Batch] Document need for copying keys in developer namespaces (#14664)
  dev-docs/development-process.md
Due: none

[services/ukbb-rg] fixes routing
  ci/ci/envoy.py
Due: ruff, ruff-format, pyright

[services/ukbb-rg] fixes routing (#14670)
  ci/ci/envoy.py
Due: ruff, ruff-format, pyright

Document how preemption works
  dev-docs/services/batch/design.rst
Due: none

Oops
  dev-docs/services/batch/design.rst
Due: none
