Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Revert "[batch] Use gcloud storage to download input files from GCP (#15273)" (#15310)
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: ruff, ruff-format

typographical adjustments
  ci/ci/templates/pr.html
Due: none

[hailctl] fix erroneous `--files` switch in batch submit doc (#15308)
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

lower TableKeyByAndAggregate before LowerAndExecuteShuffles
  hail/hail/src/is/hail/expr/ir/DistinctlyKeyed.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/CanLowerEfficiently.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/python/hail/ir/table_ir.py
Due: ruff, ruff-format

Update swagger to 5.32.0
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle-core.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/static/lib/swagger/swagger-ui.js
Due: none

Add form-action directive to CSP
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[benchmark] notebook for interactively computing benchmark config (#14757)
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
  hail/python/notebooks/mds/.gitignore
  hail/python/notebooks/mds/__init__.py
  hail/python/notebooks/mds/minimal-detectable-slowdown.ipynb
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

Updating create_test_database_server_config script to retrieve correct db secret creation timestamp
  build.yaml
Due: none

Temporary modification to build.yam to regenerate secret
  build.yaml
Due: none

[batch] Remove lingering unsafe-eval CSP overrides (#15304)
  batch/batch/driver/main.py
  batch/batch/driver/static/js/quotas.js
  batch/batch/driver/templates/quotas.html
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/job.js
  batch/batch/front_end/templates/job.html
  web_common/web_common/__init__.py
  web_common/web_common/static/lib/alpinejs/cdn.min.js
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[compiler] `Trap` no more (#15303)
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TrapNodeSuite.scala
Due: none

[auth] Fix update to user's last active time
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[query] simplify `ControlX` target access patterns (#15302)
  hail/hail/src/is/hail/lir/CFG.scala
  hail/hail/src/is/hail/lir/SimplifyControl.scala
  hail/hail/src/is/hail/lir/SplitMethod.scala
  hail/hail/src/is/hail/lir/X.scala
Due: none

[query] benchmark in batch configurations
  hail/python/benchmark/hail/batch-config.yaml
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

Bump ubuntu base to noble-20260210.1 (#15294)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

[query] add `Compiled` alias for compiled functions (#15290)
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendUtils.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/implicits/CompiledOps.scala
  hail/hail/src/is/hail/expr/ir/implicits/package.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/utils/Graph.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/annotations/StagedConstructorSuite.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

Changing certificate expiration check to rely on actual expiration date rather than secret age
  build.yaml
Due: none

Arrange debug output suppression to encompass everything relating to
  build.yaml
Due: none

removed 2>/dev/null to allow for informative error outputting; formatting and comments
  build.yaml
Due: none

avoid jackson-databind version conflict
  hail/build.mill
  hail/hail/package.mill
Due: none

[query] Lower BlockMatrixSlice
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

Refactoring to use temp certification file for openssl commands
  build.yaml
Due: none

Add form-action directive to CSP (#15313)
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[services] update swagger to 5.32.0 (#15312)
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle-core.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/static/lib/swagger/swagger-ui.js
Due: none

[compiler] add `HailClassLoader` to `ContextRDD` elem type
  hail/hail/src/is/hail/asm4s/package.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/backend/spark/package.scala
  hail/hail/src/is/hail/expr/ir/MatrixValue.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/io/CodecSpec.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
  hail/hail/src/is/hail/methods/IBD.scala
  hail/hail/src/is/hail/methods/LinearRegression.scala
  hail/hail/src/is/hail/methods/LogisticRegression.scala
  hail/hail/src/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/hail/src/is/hail/methods/Nirvana.scala
  hail/hail/src/is/hail/methods/PCA.scala
  hail/hail/src/is/hail/methods/PoissonRegression.scala
  hail/hail/src/is/hail/methods/Skat.scala
  hail/hail/src/is/hail/methods/VEP.scala
  hail/hail/src/is/hail/rvd/AbstractRVDSpec.scala
  hail/hail/src/is/hail/rvd/KeyedRVD.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/hail/src/is/hail/sparkextras/ContextRDD.scala
  hail/hail/src/is/hail/sparkextras/RepartitionedOrderedRDD2.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDD.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDDRegionValue.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDDRow.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichRDD.scala
Due: none

[query|batch] collect partition results as they complete
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/requests.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hailtop/batch_client/types.py
  hail/python/hailtop/utils/time.py
  hail/python/test/hailtop/utils/test_time.py
Due: ruff, ruff-format, pyright

[qob] configurable max read parallelism
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/context.py
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
Due: ruff, ruff-format

add login redirects to form-action directive
  auth/auth/auth.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

add login redirects to form-action directive (#15323)
  auth/auth/auth.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[ci] Add PR state reporting (#15307)
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

Add unauthorized commit as another reason for builds not starting
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

a little more context messaging
  ci/ci/templates/pr.html
Due: none

[ci] Add unauthorized commit as another reason for builds not starting (#15324)
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

Add deploy batch link on PR details pages, for merged PRs
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

rebase fixup
  ci/ci/templates/pr.html
Due: none

Updated set -x/+x placement
  build.yaml
Due: none

start tracking retried tests
  build.yaml
  ci/ci/ci.py
  ci/sql/007-retried-tests.sql
  ci/sql/estimated-current.sql
Due: ruff, ruff-format, pyright

couple more easy fields
  ci/ci/ci.py
  ci/sql/007-retried-tests.sql
  ci/sql/estimated-current.sql
Due: ruff, ruff-format, pyright

[ci] Add deploy batch link for merged PRs (#15325)
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
