Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Making session timeout duration configurable
  auth/deployment.yaml
  gear/gear/auth_utils.py
Due: ruff, ruff-format, pyright

[query] Remove BlockMatrix persist from Backend interface
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBlockMatrixCache.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/hail/src/is/hail/utils/ErrorHandling.scala
  hail/hail/src/is/hail/utils/ImmutableMap.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

Added ability to check job status of individual job, made associated tests
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/utils/ErrorHandling.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
Due: none

[query] Remove BlockMatrix persist from Backend interface (#14690)
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBlockMatrixCache.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/hail/src/is/hail/utils/ErrorHandling.scala
  hail/hail/src/is/hail/utils/ImmutableMap.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

[query] StagedIndexReader now requires an index spec
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/io/bgen/BgenRDDPartitions.scala
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
  hail/hail/src/is/hail/io/bgen/LoadBgen.scala
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/io/index/StagedIndexReader.scala
Due: none

[query/test] Parametrize query_table tests
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

Consistency
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

[query] StagedIndexReader now requires an index spec (#14811)
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/io/bgen/BgenRDDPartitions.scala
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
  hail/hail/src/is/hail/io/bgen/LoadBgen.scala
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/io/index/StagedIndexReader.scala
Due: none

remove broken
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

sabotage batch units to see how they get called
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

auth test attempt
  build.yaml
Due: none

unit test token name validation regex
  auth/auth/auth.py
  auth/auth/auth_utils.py
  auth/test/__init__.py
  auth/test/pytest.ini
  auth/test/test_auth_utils.py
Due: ruff, ruff-format, pyright

unused client in broken test
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

remove batch copypaste
  build.yaml
Due: none

[query] Remove `persistedIr` from `Backend` interface
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendServer.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/io/bgen/LoadBgen.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

[query] Remove `lookupOrCompileCachedFunction` from `Backend` interface
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/utils/Cache.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

[query] Move LoweredTableReaderCoercer into ExecuteContext
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/GenericTableValue.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
Due: none

[query] Lowering + Optimisation with implict timing context
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Compilable.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/NestingDepth.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/IRState.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rule.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rules.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/src/is/hail/utils/richUtils/RichPredicate.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

[query] make local and remote tmp settable on backend
  hail/hail/src/is/hail/backend/api/Py4JBackendApi.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Benchmark configurations
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
Due: ruff, ruff-format, pyright

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

previous timeouts
  build.yaml
Due: none

[auth] Secret credentials name validation tests (#14812)
  auth/auth/auth.py
  auth/auth/auth_utils.py
  auth/test/__init__.py
  auth/test/pytest.ini
  auth/test/test_auth_utils.py
  build.yaml
Due: ruff, ruff-format, pyright

[query] Refactor query_table endpoint validation
  hail/python/hail/expr/functions.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

Review
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

add unpkg for swagger
  batch/batch/front_end/front_end.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

fixup indentation
  batch/batch/front_end/templates/openapi.yaml
Due: none

errant dashes
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[query] query_table: Refactor parameter validation and parametrize tests (#14813)
  hail/python/hail/expr/functions.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

rename
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

debug
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

use new refactored validation function
  hail/python/hail/expr/functions.py
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

test fixes
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

parametrize tests
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

[query] Add query_matrix_table an analogue to query_table
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/hail/ir/__init__.py
  hail/python/hail/ir/ir.py
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

more tests
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

fix test fixtures
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format
