Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[query] make local and remote tmp settable on backend
  hail/hail/src/is/hail/backend/api/Py4JBackendApi.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

update docker root image version to latest
  docker/hail-ubuntu/Dockerfile
Due: none

[query] Remove `persistedIr` from `Backend` interface (#14692)
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendServer.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/io/bgen/LoadBgen.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

Okay I won't update to the latest Ubuntu version
  docker/hail-ubuntu/Dockerfile
Due: none

[query] Move LoweredTableReaderCoercer into ExecuteContext
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/GenericTableValue.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
Due: none

[query] Lowering + Optimisation with implict timing context
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Compilable.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/NestingDepth.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/IRState.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rule.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rules.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/src/is/hail/utils/richUtils/RichPredicate.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[query] Benchmark configurations
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
Due: ruff, ruff-format, pyright

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

randomness tests
  hail/python/test/hail/matrixtable/test_matrix_table.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

fix
  hail/python/test/hail/matrixtable/test_matrix_table.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

[qob] Add ability to attach to existing batch
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

fix
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

latest Ubuntu version
  docker/hail-ubuntu/Dockerfile
Due: none

[query] Add query_matrix_table an analogue to query_table (#14806)
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/hail/ir/__init__.py
  hail/python/hail/ir/ir.py
  hail/python/test/hail/matrixtable/test_matrix_table.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

extra changelog bit
  hail/python/hail/docs/change_log.md
Due: none

layout fixup?
  auth/auth/templates/users.html
Due: none

fix layout
  auth/auth/templates/users.html
  dev-docs/services/services-development-faq.md
Due: none

change ubuntu image version in create worker image script
  batch/gcp-create-worker-image.sh
  docker/hail-ubuntu/Dockerfile
Due: none

Release Version 0.2.134 (#14826)
  hail/Makefile
  hail/build.mill
  hail/python/hail/docs/change_log.md
Due: none

fixup swagger spec
  batch/batch/front_end/templates/openapi.yaml
Due: none

batch response types documented
  batch/batch/front_end/templates/openapi.yaml
Due: none

Document POST responses
  batch/batch/front_end/templates/openapi.yaml
Due: none

remaining response types
  batch/batch/front_end/templates/openapi.yaml
Due: none

[auth] Invalidate sessions hook (#14822)
  auth/auth/auth.py
  auth/auth/templates/users.html
  dev-docs/services/services-development-faq.md
Due: ruff, ruff-format, pyright

Document auth and monitoring APIs
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  batch/batch/front_end/templates/openapi.yaml
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/openapi.yaml
Due: ruff, ruff-format, pyright

version number
  batch/gcp-create-worker-image.sh
Due: none

Add CI service documentation
  auth/auth/templates/openapi.yaml
  batch/batch/front_end/templates/openapi.yaml
  ci/ci/ci.py
  ci/ci/templates/openapi.yaml
  monitoring/monitoring/templates/openapi.yaml
Due: ruff, ruff-format, pyright

More additions
  auth/auth/templates/openapi.yaml
  batch/batch/front_end/templates/openapi.yaml
  ci/ci/ci.py
  ci/ci/templates/openapi.yaml
Due: ruff, ruff-format, pyright

Trivy scanning and upload action
  .github/workflows/README.md
  .github/workflows/trivy-scan.yml
Due: none

trigger once
  .github/workflows/trivy-scan.yml
Due: none

[ci] Upload hailctl artifacts after building the release mode jar/wheel
  build.yaml
  hail/Makefile
Due: none

[ci] Upload hailctl artifacts after building the release mode jar/wheel (#14832)
  build.yaml
  hail/Makefile
Due: none

action fixup
  .github/workflows/README.md
  .github/workflows/trivy-scan.yml
Due: none

action permissions
  .github/workflows/trivy-scan.yml
Due: none

use sa key for fork testing
  .github/workflows/trivy-scan.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
