Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

allow failure getting secret
  build.yaml
Due: none

[batch/auth] Set accounts to "inactive" after extended inactivity (#14789)
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/auth/exceptions.py
  auth/auth/templates/users.html
  auth/deployment.yaml
  auth/sql/009-add-users-last-active.sql
  auth/sql/estimated-current.sql
  build.yaml
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

[compiler] fix testBinarySearchOnSet
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
Due: none

[compiler] fix testBinarySearchOnSet (#14994)
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
Due: none

reorder locking to avoid deadlocks?
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

Support non-dict request_data
  gear/gear/http_server_utils.py
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format, pyright

[compiler] fix testBinarySearchOnDict
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
Due: none

Update development_tools.md to recommend `uv` instead of conda (#14974)
  dev-docs/compiler-team/development_tools.md
Due: none

[compiler] remove types from ComparisonOp
  hail/hail/src/is/hail/expr/ir/ComparisonOp.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/DictFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/SetFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/orderings/StructOrdering.scala
  hail/hail/test/src/is/hail/expr/ir/DistinctlyKeyedSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ExtractIntervalFiltersSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

[compiler] refactor extract aggregators
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

more logging for debugging failures
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

[docker] Use uv managed python in docker images (#14962)
  batch/Dockerfile.worker
  batch/batch/worker/worker.py
  build.yaml
  ci/bootstrap.py
  dev-docs/development-process.md
  docker/Dockerfile.base
  docker/hail-ubuntu/Dockerfile
  docker/hail-ubuntu/uv.toml
  docker/third-party/images.txt
  hail/Dockerfile.hail-run
Due: ruff, ruff-format, pyright

[docker] Publish python 3.12 and 3.13 hailgenetics/hail images
  build.yaml
  hail/python/hailtop/batch/hail_genetics_images.py
Due: ruff, ruff-format

was that really what stopped the failures?
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

apparently no, it was just noise
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

Revert "[docker] Use uv managed python in docker images (#14962)"
  batch/Dockerfile.worker
  batch/batch/worker/worker.py
  build.yaml
  ci/bootstrap.py
  dev-docs/development-process.md
  docker/Dockerfile.base
  docker/hail-ubuntu/Dockerfile
  docker/hail-ubuntu/uv.toml
  docker/third-party/images.txt
  hail/Dockerfile.hail-run
Due: ruff, ruff-format, pyright

regenerate ar cleanup policy
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

[query] Fix AssertionError signature.
  hail/hail/src/is/hail/asm4s/CodeBuilder.scala
Due: none

[query] Check for None/empty paths in vds combiner
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[query] Fix AssertionError signature (#14999)
  hail/hail/src/is/hail/asm4s/CodeBuilder.scala
Due: none

[query] Check for None/empty paths in vds combiner (#15000)
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[hailctl] Downgrade notebook in dataproc init_notebook.py (#14987)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/constraints.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/hailctl/dataproc/resources/init_notebook.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: ruff, ruff-format

kill AggSignature
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Exists.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ExtractIntervalFiltersSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TestUtils.scala
Due: none

[compiler] fix testBinarySearchOnDict (#14995)
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
Due: none

[query/vds] Actually use _assert_type in `read_vds`
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

[query] upgrade to Mill 1.0.2
  hail/.mill-version
  hail/build.mill
  hail/mill
Due: none

[query] upgrade to Mill 1.0.3 (#15003)
  hail/.mill-version
  hail/build.mill
  hail/mill
Due: none

[dev] Regenerage test DB certificates after their 1 year expiration (#14983)
  build.yaml
  ci/create_database.py
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

[services] Add request data to logs (#14955)
  gear/gear/http_server_utils.py
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format, pyright

[qob] Use getOrCreate to ensure HailContext initialization
  hail/hail/src/is/hail/backend/service/Worker.scala
Due: none

[tls] Generate dhconfig.pem if missing (#14947)
  letsencrypt/letsencrypt.sh
Due: none

revert test changes, 100x all looked good
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

attempt to add tests
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Update change_log.rst
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

[batch] Redirect batch cancel button to page for current batch
  batch/batch/front_end/front_end.py
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

[query] Remove duplicate constants from python ServiceBackend
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

delint
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format
