Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

add trivy install and scan
  .github/workflows/trivy-scan.yml
Due: none

upload artifacts
  .github/workflows/trivy-scan.yml
Due: none

Add image name property
  .github/workflows/trivy-scan.yml
Due: none

Use official action
  .github/workflows/trivy-scan.yml
Due: none

Remove sarif upload for now
  .github/workflows/trivy-scan.yml
Due: none

Fixup input processing
  .github/workflows/trivy-scan.yml
Due: none

fixup artifact naming
  .github/workflows/trivy-scan.yml
Due: none

sarif upload
  .github/workflows/trivy-scan.yml
Due: none

embed image name attempt 2
  .github/workflows/trivy-scan.yml
Due: none

some small tidying up
  .github/workflows/trivy-scan.yml
Due: none

combine sarif before upload
  .github/workflows/trivy-scan.yml
Due: none

sarif uploader fixup
  .github/workflows/trivy-scan.yml
Due: none

sanity check
  .github/workflows/trivy-scan.yml
Due: none

files not dirs
  .github/workflows/trivy-scan.yml
Due: none

Fix docs, remove unused permission
  .github/workflows/README.md
  .github/workflows/trivy-scan.yml
Due: none

Redundant doc
  .github/workflows/README.md
Due: none

safer handling of input data
  .github/workflows/trivy-scan.yml
Due: none

images not branch
  .github/workflows/trivy-scan.yml
Due: none

[query] Fix randomness handling in StreamAgg
  hail/python/hail/ir/ir.py
Due: ruff, ruff-format

remove unnecessary steps
  .github/workflows/trivy-scan.yml
Due: none

[query] Fix randomness handling in StreamAgg (#14838)
  hail/python/hail/ir/ir.py
Due: ruff, ruff-format

[query] Add StreamAggScan to python
  hail/python/hail/ir/ir.py
Due: ruff, ruff-format

add to docs and cleanup
  hail/Makefile
  hail/python/hailtop/batch/docs/api.rst
Due: none

changing default batch worker image
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/gcp-create-worker-image.sh
Due: ruff, ruff-format, pyright

_aggregate_scan method on StreamExpression
  hail/python/hail/expr/expressions/typed_expressions.py
  hail/python/hail/ir/__init__.py
Due: ruff, ruff-format

_handle_randomness for StreamAggScan
  hail/python/hail/ir/ir.py
Due: ruff, ruff-format

Update wheel input path to account for upstream change (#361)
  build.yaml
Due: none

temporarily revert username validation, as new rule disallows dashes (#362)
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

randomness test
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

add debug commands
  batch/Dockerfile.worker
  batch/build-batch-worker-image-startup-gcp.sh
Due: none

add debug flag to nvidia_runtime_hook
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

add additional poststart hook
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

add additional error logging
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

address review comments
  hail/python/hail/ir/ir.py
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

add even more error logging
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright
