Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[query] unify backend rpc
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/GenericLines.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableValue.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/linalg/BlockMatrix.scala
  hail/src/main/scala/is/hail/linalg/RowMatrix.scala
  hail/src/main/scala/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/sparkextras/ContextRDD.scala
  hail/src/main/scala/is/hail/sparkextras/IndexReadRDD.scala
  hail/src/main/scala/is/hail/types/virtual/package.scala
  hail/src/main/scala/is/hail/utils/SpillingCollectIterator.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

checkpoint
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
Due: none

prevent python modifying py4jbackend while executing a query
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/utils/richUtils/Implicits.scala
Due: none

fix typecast error from missing type arguments
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
Due: none

billing_project is not a member of servicebackendrpcconfig
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

prefix methods called in python with `py`
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/ir/ir.py
  hail/python/hail/ir/table_ir.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
Due: ruff, ruff-format

extract references from `Backend` implementations
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/reference/LiftOver.scala
  hail/src/main/scala/is/hail/io/reference/package.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/annotations/UnsafeSuite.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/RequirednessSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

update python rpc methods
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/test/hail/test_ir.py
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/io/plink/LoadPlink.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: ruff, ruff-format

add `ImmutableMap` to prevent BM persist where unsupported
  hail/src/main/scala/is/hail/backend/caching/BlockMatrixCache.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/utils/ImmutableMap.scala
  hail/src/main/scala/is/hail/utils/richUtils/RichMap.scala
Due: none

store constants in searchable fields
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

format
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
Due: none

[query] Remove `lookupOrCompileCachedFunction` from `Backend` interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/utils/Cache.scala
Due: none

[query] Move LoweredTableReaderCoercer into ExecuteContext
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/caching/package.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/GenericTableValue.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
Due: none

reduce code duplication
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/main/scala/is/hail/utils/Cache.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/expr/ir/Aggregators2Suite.scala
  hail/src/test/scala/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

[query/vds] Teach sparse_split_multi how to handle haploid genotypes
  hail/python/hail/experimental/sparse_mt/sparse_split_multi.py
  hail/python/test/hail/experimental/test_experimental.py
Due: ruff, ruff-format

doc fixes
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[query] make local and remote tmp settable on backend
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

fixes for running benchmarks with no arguments
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

no need for another tmpfilemanager impl
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/utils/richUtils/Implicits.scala
Due: none

[query] Lowering + Optimisation with implict timing context
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/IRState.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[query] Benchmark configurations
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
Due: ruff, ruff-format, pyright

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

Limited retries of all 400 errors (#353)
  hail/src/main/scala/is/hail/services/package.scala
Due: none

[query/vds] Teach sparse_split_multi how to handle haploid genotypes (#14758)
  hail/python/hail/experimental/sparse_mt/sparse_split_multi.py
  hail/python/test/hail/experimental/test_experimental.py
Due: ruff, ruff-format

Update Homebrew Java installation docs for OSX (#14729)
  hail/python/hail/docs/install/macosx.rst
Due: none

[query] Exclude `benchmark/` from hail wheel
  hail/Makefile
Due: none

[query] Exclude `benchmark/` from hail wheel (#14764)
  hail/Makefile
Due: none

ApproxCDF bugfix
  hail/python/test/hail/expr/test_expr.py
  hail/src/main/scala/is/hail/expr/ir/agg/ApproxCDFStateManager.scala
Due: ruff, ruff-format

Update test_expr.py
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

[query] Run benchmarks after wheel is published to PyPI
  build.yaml
Due: none

store constants in searchable fields
  hail/src/main/scala/is/hail/backend/service/Main.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

ApproxCDF bugfix (#14765)
  hail/python/test/hail/expr/test_expr.py
  hail/src/main/scala/is/hail/expr/ir/agg/ApproxCDFStateManager.scala
Due: ruff, ruff-format

Set StreamReadConstraints maxStringLength as early as possible (#355)
  hail/python/test/hail/test_ir.py
  hail/src/main/scala/is/hail/backend/service/Main.scala
Due: ruff, ruff-format

[query] Unify CloudCredentials and Simplify BatchClient (#14684)
  build.yaml
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
  hail/python/hailtop/config/user_config.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/Main.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/Requester.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: ruff, ruff-format

[query] Run benchmarks after wheel is published to PyPI (#14766)
  build.yaml
Due: none

refresh ci config (#356)
  infra/gcp/populationgenomics/ci_config.enc.json
Due: none

Allow os.PathLike paths for Batch.write_output()
  hail/python/hailtop/batch/batch.py
  hail/python/hailtop/utils/__init__.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

ir gen mvp
  hail/build.mill
  hail/modules/ir-gen/src/Main.scala
  hail/modules/src/main/scala/is/hail/expr/ir/IR.scala
Due: none
