Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[query] no-sharing in `LowerDistributedSort` (#15454)
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/CanLowerEfficiently.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
  hail/hail/utils/src/is/hail/collection/FastSeq.scala
Due: none

happy lint
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

serverless unit tests for hailctl jobs queries
  .claude/skills/hail-batch/SKILL.md
  build.yaml
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/test/hailtop/hailctl/batch/test_jobs_unit.py
Due: ruff, ruff-format

remove client-only changes from codeowners
  CODEOWNERS
Due: none

add billing export to spreadsheet
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/billing.js
  batch/batch/front_end/templates/billing.html
Due: ruff, ruff-format, pyright

streamline status ux; correct start date in filename
  batch/batch/front_end/static/js/billing.js
Due: none

constant vigilance
  batch/batch/front_end/static/js/billing.js
Due: none

remove object sink findings
  batch/batch/front_end/static/js/billing.js
Due: none

disable button during fetch op
  batch/batch/front_end/templates/billing.html
Due: none

replace var with let
  batch/batch/front_end/static/js/billing.js
Due: none

unneeded comment
  batch/batch/front_end/static/js/billing.js
Due: none

copy to clipboard too
  batch/batch/front_end/static/js/billing.js
  batch/batch/front_end/templates/billing.html
Due: none

get grouping upfront
  batch/batch/front_end/static/js/billing.js
Due: none

allow dev proxying of static js, openapi, labels
  batch/batch/front_end/static/js/billing.js
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/openapi.yaml
Due: none

fix old references to is_developer
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/billing.html
Due: ruff, ruff-format, pyright

fix yaml indent issue
  .github/workflows/pip-npm-bump.yml
Due: none

[github] remove client-only changes from codeowners (#15501)
  CODEOWNERS
Due: none

Add rebuild reason in CI build history
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

add unknown reason recovery for CI restarts
  ci/ci/github.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

[query] no-sharing in blockmatrix lowering
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/IRBuilder.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/types/virtual/BlockMatrixType.scala
Due: none

add initial build reason when we spot a new PR and havent just restarted
  ci/ci/github.py
Due: ruff, ruff-format, pyright

reset user permissions before starting - in case previous attempts got preempted
  auth/test/test_system_permissions.py
Due: ruff, ruff-format, pyright

materialize only most recent during _determine_build_reason
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[query] no-sharing in blockmatrix lowering (#15499)
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/IRBuilder.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/types/virtual/BlockMatrixType.scala
Due: none

[services] better logging of system permission requirements (#15481)
  auth/test/test_system_permissions.py
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format, pyright

[hailctl] Fix container and add attempt when log fetching (#15494)
  .claude/skills/hail-batch/SKILL.md
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

[hailctl] batch jobs query CLI (#15498)
  .claude/skills/hail-batch/SKILL.md
  build.yaml
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/test/hailtop/hailctl/batch/test_jobs_unit.py
Due: ruff, ruff-format

helper script to trigger trivy scans
  devbin/trivy-scan-trigger.py
Due: ruff, ruff-format, pyright

filter completed batches directly
  devbin/trivy-scan-trigger.py
Due: ruff, ruff-format, pyright

main method
  devbin/trivy-scan-trigger.py
Due: ruff, ruff-format, pyright

pip and npm updates 2026-05-29
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  web_common/pinned-requirements.txt
Due: none

handle no results case
  devbin/trivy-scan-trigger.py
Due: ruff, ruff-format, pyright

[github] Fix yaml indent issue and add github action linter (#15502)
  .github/workflows/pip-npm-bump.yml
Due: none

fix preexisting lint errors
  .github/workflows/create-patch-release.yml
  .github/workflows/trivy-scan.yml
Due: none

add action linter to validate github actions
  .github/workflows/actionlint.yml
Due: none

fix lint action reference
  .github/workflows/actionlint.yml
Due: none

[github] Add action linter and fix preexisting linting errors (#15503)
  .github/workflows/actionlint.yml
  .github/workflows/create-patch-release.yml
  .github/workflows/trivy-scan.yml
Due: none

[batch] Upgrade pooled VM machine family from N1 to N2
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/test/test_utils.py
  batch/test/utils.py
Due: ruff, ruff-format, pyright

[batch] Fix ruff format long assert line in resource_manager.py
  batch/batch/cloud/gcp/driver/resource_manager.py
Due: ruff, ruff-format, pyright

[batch] Fix ruff I001 import sorting for ruff 0.11.13
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
