Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

add jackson as compile time dependency to fix hdinsight build
  hail/build.sc
Due: none

fix
  hail/python/hailtop/aiocloud/aioazure/fs.py
Due: ruff, ruff-format

[release] Release 0.2.132
  hail/build.sc
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
  hail/version.mk
Due: none

[batch] Fix incomplete API responses in idempotency-handling branches
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

changes
  Makefile
  batch/Dockerfile.worker
  batch/batch/cloud/azure/driver/driver.py
  batch/batch/cloud/gcp/driver/driver.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/batch/cloud/terra/azure/driver/driver.py
  batch/batch/driver/instance_collection/base.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/index.html
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/deployment.yaml
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/gear/clients.py
  web_common/pinned-requirements.txt
Due: ruff, ruff-format, pyright

[query] Chunk spark backend execution
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: none

Correct the index in the results buffer
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: none

consolidate implementations of IR function regisration
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/functions/Functions.scala
Due: ruff, ruff-format

add QoB test for a registered IR function
  hail/python/test/hail/experimental/test_experimental.py
Due: ruff, ruff-format

Add spark_max_stage_parallelism feature flag
  hail/python/hail/backend/backend.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: ruff, ruff-format

clean up
  hail/python/test/hail/helpers.py
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: ruff, ruff-format

fmt
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: none

[benchmark] fix benchmark duplication in batch
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

Update hail/scripts/benchmark_in_batch.py
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

lambda resource manager
  batch/batch/cloud/gcp/driver/driver.py
  batch/batch/cloud/gcp/driver/resouce_manager_lambda.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/utils.py
  batch/batch/driver/instance_collection/base.py
Due: ruff, ruff-format, pyright

dont touch qobtest in this PR
  hail/python/test/hail/experimental/test_experimental.py
  hail/python/test/hail/helpers.py
Due: ruff, ruff-format

[benchmark] fix benchmark duplication in batch (#14591)
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[batch] Stream job logs in the batch front-end
  batch/batch/file_store.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/job.html
  hail/python/hailtop/aiotools/fs/stream.py
Due: ruff, ruff-format, pyright

add test with big log
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[batch] Stream job logs from the worker to cloud storage
  batch/batch/file_store.py
  batch/batch/worker/worker.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[query] Remove string length restriction in jackson (#14567)
  hail/build.sc
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

[query] add sparse bm agg tests (#14582)
  hail/python/test/hail/linalg/test_linalg.py
Due: ruff, ruff-format

[batch] Adjust Batch UI to have less dead space (#14587)
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/billing_limits.html
  batch/batch/front_end/templates/job.html
Due: none

[query] Chunk spark backend execution (#14590)
  hail/python/hail/backend/backend.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: ruff, ruff-format

[batch] Fix number cancelled jobs reporting on the batches UI
  batch/batch/front_end/templates/batches.html
Due: none

[batch] Fix number cancelled jobs reporting on the batches UI (#14592)
  batch/batch/front_end/templates/batches.html
Due: none

[vds/combiner] Update docs to specify that `save_path` should be a file
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[batch] Fix incomplete API responses in idempotency-handling branches (#14589)
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[query] Fix deserialization of IR function parameter names in QoB (#14579)
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/expr/ir/functions/Functions.scala
Due: ruff, ruff-format

update
  hail/python/hail/docs/change_log.md
Due: none

start vm updates
  batch/batch/cloud/gcp/driver/driver.py
  batch/batch/cloud/gcp/driver/resouce_manager_lambda.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/utils.py
Due: ruff, ruff-format, pyright

address comments on users page
  auth/auth/templates/users.html
Due: none

[batch] Remove unused batch driver nginx dockerfile
  batch/Dockerfile.driver-nginx
Due: none

[batch] Expose job group structure in the UI
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/batch.html
Due: ruff, ruff-format, pyright

[fs] Teach GoogleStorageClient the rewrite endpoint
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[fs] Teach GoogleStorageAsyncFS to use rewrite
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

add test
  hail/python/test/hailtop/test_aiogoogle.py
Due: ruff, ruff-format

[vds/combiner] Update docs to specify that `save_path` should be a file (#14593)
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[pip] Update dependencies
  Makefile
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

clarify documentation
  dev-docs/pip-dependencies.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
