Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

docs(cloud/databricks): replace unavailable Project Glow image with image-free setup
  hail/python/hail/docs/cloud/databricks.rst
Due: none

docs(cloud/databricks): specify where/how to set GOOGLE_APPLICATION_CREDENTIALS
  hail/python/hail/docs/cloud/databricks.rst
Due: none

[query] no sharing in utilities (#15520)
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/python/hail/expr/expressions/typed_expressions.py
Due: ruff, ruff-format

small remediation of gcp terraform
  devbin/migrate-gsa-permissions.sh
  infra/gcp/main.tf
Due: none

docs(cloud/databricks): pin Hail version across init script and %pip; clarify %pip scope
  hail/python/hail/docs/cloud/databricks.rst
Due: none

[make] Fix ubuntu updater (#15528)
  Makefile
  update-hail-ubuntu.py
Due: ruff, ruff-format, pyright

Migrate utils/IntervalSuite, create initial infrastructure
  hail/hail/package.mill
  hail/hail/test/resources/junit-platform.properties
  hail/hail/test/src/is/hail/HailExtension.scala
  hail/hail/test/src/is/hail/JUnitTestUtils.scala
  hail/hail/test/src/is/hail/utils/IntervalSuite.scala
Due: none

write HailExtensionSuite
  hail/hail/test/src/is/hail/HailExtension.scala
  hail/hail/test/src/is/hail/HailExtensionSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/utils/IntervalSuite.scala
Due: none

first few migrations
  hail/.gitignore
  hail/hail/package.mill
  hail/hail/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  hail/hail/test/resources/junit-platform.properties
  hail/hail/test/src/is/hail/HailExtension.scala
  hail/hail/test/src/is/hail/HailMethodArgumentsProvider.java
  hail/hail/test/src/is/hail/JUnitTestUtils.scala
  hail/hail/test/src/is/hail/ParameterizedTest.java
  hail/hail/test/src/is/hail/expr/ir/MathFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/utils/IntervalSuite.scala
Due: none

add testing dev-doc
  dev-docs/hail-query/testing.md
Due: none

[services] Update ubuntu base to noble-20260509.1 (#15527)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

clean up old deploy images
  devbin/generate_gcp_ar_cleanup_policy.py
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: ruff, ruff-format, pyright

save 10 hail_benchmark deploy-tagged images too
  devbin/generate_gcp_ar_cleanup_policy.py
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: ruff, ruff-format, pyright

[services] clean up old deploy images (#15531)
  devbin/generate_gcp_ar_cleanup_policy.py
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: ruff, ruff-format, pyright

[batch] TEMP: point at batch-worker-grohlice-21 image for CI debug
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

[dev] refactor devserver into a combined service model (#15518)
  Makefile
  devbin/dev_proxy.py
  web_common/web_common/templates/header.html
Due: ruff, ruff-format, pyright

[terraform] Add batch2agent permissions to gcp terraform, plus migration script fixup (#15530)
  devbin/migrate-gsa-permissions.sh
  infra/gcp/main.tf
Due: none

allow admin user creation with no system permissions
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[batch] Fix region_from_location to handle region inputs
  batch/batch/cloud/gcp/instance_config.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[query] no-sharing in `MatrixWriter`
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
Due: none

[query] no-sharing in `MatrixReader` lowering
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

[query] `DeprecatedIRBuilder` uses `BindingEnv`
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
Due: none

[query] no-sharing in matrix ir lowering
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
Due: none

Bump worker version; updating ubuntu version, installing mdadm
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/globals.py
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
Due: ruff, ruff-format, pyright

[query] LowerMatrixIR without Symbol
  hail/hail/bench/src/is/hail/expr/ir/IRBuilderAlternatives.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/IRBuilder.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

[query] no-sharing in `MatrixIR` lowering (#15513)
  hail/hail/bench/src/is/hail/expr/ir/IRBuilderAlternatives.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/IRBuilder.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

[query] add AGENTS.md with instructions for running scala tests
  hail/AGENTS.md
  hail/CLAUDE.md
Due: none

[query] push `MatrixFilterCols` through `Matrix{Filter|Map}Entries`
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
Due: none

[query] add AGENTS.md with instructions for running scala tests (#15542)
  hail/AGENTS.md
  hail/CLAUDE.md
Due: none

[query] push `MatrixFilterCols` through `Matrix{Filter|Map}Entries` (#15543)
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
Due: none

[auth] allow admin user creation with no system permissions (#15535)
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

feedback
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/openapi.yaml
Due: ruff, ruff-format, pyright

[monitoring] add OpenAPI spec and complete monitoring/version/billing APIs
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/openapi.yaml
Due: ruff, ruff-format, pyright

[query] Remove 'partitionByteSize' from PartitionNativeWriter
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
Due: none

[ci] Resolve slow github polling and hook handling errors (#15493)
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/utils.py
  ci/unit-test/conftest.py
  ci/unit-test/pytest.ini
  ci/unit-test/test_github_unit.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
