Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Proper jammy version distinction between Dockerfile and create-worker-image script
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/gcp-create-worker-image.sh
  docker/hail-ubuntu/Dockerfile
Due: ruff, ruff-format, pyright

Dockerfile version
  docker/hail-ubuntu/Dockerfile
Due: none

third party images update
  docker/third-party/images.txt
Due: none

[query] make local and remote tmp settable on backend
  hail/hail/src/is/hail/backend/api/Py4JBackendApi.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Lowering + Optimisation with implict timing context
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Compilable.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/NestingDepth.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/IRState.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rule.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rules.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/src/is/hail/utils/richUtils/RichPredicate.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query] Benchmark configurations
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
Due: ruff, ruff-format, pyright

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

Update docker/third-party/images.txt
  docker/third-party/images.txt
Due: none

Docker version
  docker/hail-ubuntu/Dockerfile
Due: none

add new role
  hail/python/hailtop/hailctl/batch/initialize.py
Due: ruff, ruff-format

cleanup
  hail/python/hailtop/hailctl/batch/initialize.py
Due: ruff, ruff-format

refactor ApplyIR
  hail/hail/src/is/hail/expr/ir/Copy.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/expr/ir/functions/ReferenceGenomeFunctions.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/FunctionSuite.scala
Due: none

[compiler] refactor ApplyIR (#14845)
  hail/hail/src/is/hail/expr/ir/Copy.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/expr/ir/functions/ReferenceGenomeFunctions.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/FunctionSuite.scala
Due: none

[deps] Upgrade to Numpy 2.x series
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hail/expr/types.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  web_common/pinned-requirements.txt
Due: ruff, ruff-format

[query] Add `uninitialized` pytest marker to initialisation tests
  build.yaml
  hail/python/hail/backend/py4j_backend.py
  hail/python/pytest.ini
  hail/python/test/hail/backend/test_spark_backend.py
  hail/python/test/hail/conftest.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/python/test/hail/helpers.py
  hail/python/test/hail/test_context.py
Due: ruff, ruff-format

Upgrade scipy to support numpy 2.x
  gear/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: none

test update
  hail/python/test/hail/expr/test_functions.py
Due: ruff, ruff-format

fix python version in check_pip_requirements
  check_pip_requirements.sh
Due: none

[batch, auth, monitoring, ci] API documentation additions and fixes (#14833)
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  batch/batch/front_end/templates/openapi.yaml
  ci/ci/ci.py
  ci/ci/templates/openapi.yaml
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/openapi.yaml
Due: ruff, ruff-format, pyright

fix name clash betwee NormalizeNames and freshName
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/package.scala
Due: none

[batch] Add support for n1 machines with T4 GPUs in GCP (#14844)
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/worker/worker.py
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: ruff, ruff-format, pyright

codegen all value ir node classes
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Children.scala
  hail/hail/src/is/hail/expr/ir/Copy.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/test/src/is/hail/expr/ir/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/defs/EncodedLiteralSuite.scala
  hail/python/install-editable
Due: none

[compiler] fix a bug in NormalizeNames (#14857)
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/package.scala
Due: none

[query] Add `unitialized` pytest marker to initialisation tests (#14846)
  build.yaml
  hail/python/hail/backend/py4j_backend.py
  hail/python/pytest.ini
  hail/python/test/hail/backend/test_spark_backend.py
  hail/python/test/hail/conftest.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/python/test/hail/helpers.py
  hail/python/test/hail/test_context.py
Due: ruff, ruff-format

[qob] Add ability to attach to existing batch
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

use job groups to wait
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

`Batch` is required, test attaching to current batch
  hail/python/hail/backend/service_backend.py
  hail/python/test/hail/backend/test_service_backend.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[release] Create Release PR GitHub action to automate releasing
  .github/workflows/create-release-pr.yml
Due: none

[deps] Upgrade to Numpy 2.x series (#14855)
  batch/pinned-requirements.txt
  check_pip_requirements.sh
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hail/expr/types.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  hail/python/test/hail/expr/test_functions.py
  web_common/pinned-requirements.txt
Due: ruff, ruff-format

Name/Documentation changes in preparation for python upgrade
  hail/.gitignore
  hail/python/hail/docs/_templates/_autosummary/class.rst
  hail/python/hail/docs/api.rst
  hail/python/hail/docs/functions/core.rst
  hail/python/hail/expr/builders.py
  hail/python/hail/matrixtable.py
  hail/python/hail/table.py
Due: ruff, ruff-format

facepalm
  hail/python/hail/expr/builders.py
Due: ruff, ruff-format

Remove amundsen/, image-fetcher/ etc vestiges
  amundsen/Makefile
  amundsen/deployment.yaml
  image-fetcher/Dockerfile
  image-fetcher/Makefile
  image-fetcher/fetch-image.sh
  query/query/query.py
  router-resolver/Makefile
  router/Makefile
Due: ruff, ruff-format, pyright

delint
  hail/python/hailtop/hailctl/batch/initialize.py
Due: ruff, ruff-format
