Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

start writing test suite
  hail/python/hailtop/saige/__init__.py
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/saige.py
  hail/python/test/hailtop/saige/__init__.py
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

stuff
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

wip
  docker/hailgenetics/saige/Dockerfile
Due: none

[monitoring] Use aiohttp.AppKey to add static typing to Application storage (#14173)
  devbin/dev_proxy.py
  monitoring/monitoring/monitoring.py
Due: ruff, ruff-format, pyright

actually run the tests
  build.yaml
Due: none

cleanup and fixes
  hail/build.sc
Due: none

fix broken test
  hail/python/test/hail/matrixtable/test_file_formats.py
Due: ruff, ruff-format

merge main part 1
  hail/python/hail/expr/type_parsing.py
  hail/python/hailtop/hailctl/dev/config.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
Due: ruff, ruff-format

lints after merge
  hail/python/hail/expr/type_parsing.py
  hail/python/hailtop/hailctl/dev/config.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
  hail/python/test/hailtop/hailctl/dev/conftest.py
Due: ruff, ruff-format

[hailtop] remove dead code in test
  hail/python/test/hailtop/inter_cloud/test_copy.py
Due: ruff, ruff-format

fixes for pyright and pylint
  hail/python/hailtop/hailctl/batch/initialize.py
Due: ruff, ruff-format

delete most uses of begin node
  hail/src/main/scala/is/hail/expr/ir/Children.scala
  hail/src/main/scala/is/hail/expr/ir/Copy.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/InferType.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
Due: none

fix import
  hail/python/test/hail/methods/test_qc.py
Due: ruff, ruff-format

Correct the dates of recent releases (#14161)
  hail/python/hail/docs/change_log.md
Due: none

dockerifle
  docker/hailgenetics/saige/Dockerfile
Due: none

fix?
  build.yaml
Due: none

do a site per job
  batch/batch/cloud/azure/worker/worker_api.py
  batch/batch/cloud/gcp/worker/worker_api.py
  batch/batch/globals.py
  batch/batch/worker/worker.py
  batch/batch/worker/worker_api.py
  hail/python/hailtop/aiocloud/aiogoogle/client/metadata_server_client.py
Due: ruff, ruff-format, pyright

add metadata server file
  batch/batch/cloud/gcp/worker/metadata_server.py
Due: ruff, ruff-format, pyright

[hailtop.utils] Add address not available as a retryable error
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

clean up now redundant test
  batch/batch/worker/worker.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

split java and scala compilation
  hail/build.sc
  hail/src/main/java/is/hail/io/compress/BGzipCodec.java
  hail/src/main/java/is/hail/io/compress/BGzipConstants.java
  hail/src/main/java/is/hail/io/compress/BGzipOutputStream.java
  hail/src/main/java/is/hail/io/compress/ComposableBGzipOutputStream.java
  hail/src/main/java/is/hail/io/fs/Positioned.java
  hail/src/main/java/is/hail/io/fs/Seekable.java
  hail/src/main/scala/is/hail/io/compress/BGzipOutputStream.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
Due: none

[hailctl] fix hailctl batch submit and restore tests
  build.yaml
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/__init__.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[hailtop] remove dead code in test (#14181)
  hail/python/test/hailtop/inter_cloud/test_copy.py
Due: ruff, ruff-format

revert module structure
  hail/build.sc
Due: none

[batch] Add json parsing and severity to GCP Ops Agent config
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

[hailtop.utils] Add address not available as a retryable error (#14185)
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

[batch] Stop writing to v2 billing tables
  batch/sql/estimated-current.sql
  batch/sql/remove-v2-billing-writes.sql
  build.yaml
Due: none

remove reference to deduped resource id
  batch/sql/estimated-current.sql
  batch/sql/remove-v2-billing-writes.sql
Due: none

Revert "remove reference to deduped resource id"
  batch/sql/estimated-current.sql
  batch/sql/remove-v2-billing-writes.sql
Due: none

get rid of unused variables
  batch/sql/estimated-current.sql
  batch/sql/remove-v2-billing-writes.sql
Due: none

[batch] Add json parsing and severity to GCP Ops Agent config (#14187)
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

[compiler] Emit `Let` Bindings Iteratively (#14163)
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitCodeBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

Explictly instantiate a RouterFS in hailctl fs ls
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

Add du command
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

Move imports into methods for faster startup
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

human readable ls output
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

Add long listing
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

fmt
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

[hailctl] Add hailctl fs as an env agnostic filesystem tool
  hail/python/hailtop/hailctl/__main__.py
  hail/python/hailtop/hailctl/fs/__init__.py
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
