Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

don't lint tutorial notebooks
  pyproject.toml
Due: none

more import fixes/ignores
  ci/bootstrap_create_accounts.py
  hail/python/test/hail/test_hail_in_notebook.ipynb
Due: ruff, ruff-format, pyright

update pinned requirements
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

update pylint
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  pylintrc
Due: none

Typing fix, None is fine here
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

ignores
  hail/python/hail/expr/type_parsing.py
  hail/python/hailtop/aiogoogle/__init__.py
Due: ruff, ruff-format

ignore star import lint in hail/python/hail/__init__.py
  hail/python/hail/__init__.py
Due: ruff, ruff-format

ignore typing lint in batch_configuration
  batch/batch/batch_configuration.py
Due: ruff, ruff-format, pyright

Project wide ignore PLW1508
  batch/batch/batch_configuration.py
  batch/test/test_batch.py
  gear/gear/k8s_cache.py
  pyproject.toml
  website/website/website.py
Due: ruff, ruff-format, pyright

blockmatrix.py
  hail/python/hail/linalg/blockmatrix.py
Due: ruff, ruff-format

Simple action to require appsec approval on batch changes
  .github/workflows/appsec-approval.yml
Due: none

Request review automatically if required
  .github/workflows/appsec-approval.yml
Due: none

Dont query the team, just request the review
  .github/workflows/appsec-approval.yml
Due: none

fix list flattening
  hail/python/test/hail/conftest.py
Due: ruff, ruff-format

[query] codegen all value ir node classes (#14771)
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Children.scala
  hail/hail/src/is/hail/expr/ir/Copy.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/test/src/is/hail/expr/ir/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/defs/EncodedLiteralSuite.scala
Due: none

[github] Require appsec for all batch changes, but only batch changes (#14885)
  .github/pull_request_template.md
Due: none

[batch] Compact And Drop Records from `job_group_inst_coll_cancellable_resources` Resolves: #14623
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

Use github app for auth
  .github/workflows/appsec-approval.yml
Due: none

Use oktokit
  .github/workflows/appsec-approval.yml
Due: none

Check secrets exist before continuing
  .github/workflows/appsec-approval.yml
Due: none

Use org level secret references
  .github/workflows/appsec-approval.yml
Due: none

use pull-request-target
  .github/workflows/appsec-approval.yml
Due: none

Create appsec-approval.yml
  .github/workflows/appsec-approval.yml
Due: none

Update appsec-approval.yml
  .github/workflows/appsec-approval.yml
Due: none

disable import order checking
  auth/auth/__main__.py
  auth/auth/driver/__main__.py
  batch/batch/driver/__main__.py
  batch/batch/front_end/__main__.py
  batch/batch/worker/worker.py
  ci/bootstrap_create_accounts.py
  ci/ci/__main__.py
  monitoring/monitoring/__main__.py
  website/website/__main__.py
Due: ruff, ruff-format, pyright

debug help
  .github/workflows/appsec-approval.yml
Due: none

Remove some unnecessary debug lines; move review request to end
  .github/workflows/appsec-approval.yml
Due: none

globally ignore wrong-import-position from pylint
  auth/auth/__main__.py
  auth/auth/driver/__main__.py
  batch/batch/driver/__main__.py
  batch/batch/front_end/__main__.py
  ci/bootstrap_create_accounts.py
  ci/ci/__main__.py
  hail/python/hailtop/batch/batch_pool_executor.py
  monitoring/monitoring/__main__.py
  pylintrc
  website/website/__main__.py
Due: ruff, ruff-format, pyright

fix review request hook, trigger on review changes
  .github/workflows/appsec-approval.yml
Due: none

Allow label changes to trigger re-scan
  .github/workflows/appsec-approval.yml
Due: none

Use token to remove label
  .github/workflows/appsec-approval.yml
Due: none

Add label when review check is needed
  .github/workflows/appsec-approval.yml
  .github/workflows/trigger-appsec-review-check.yml
Due: none

Create trigger-appsec-review-check.yml
  .github/workflows/trigger-appsec-review-check.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
