Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

roll back unexpected diffs on legacy path
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

remove more migration cruft
  batch/batch/driver/main.py
  build.yaml
Due: ruff, ruff-format, pyright

fix small race between script startup and job completion
  batch/batch/front_end/front_end.py
  batch/batch/worker/worker.py
  batch/log-sync.sh
Due: ruff, ruff-format, pyright

rollback unnecessary changes
  batch/batch/globals.py
  batch/sql/estimated-current.sql
Due: ruff, ruff-format, pyright

make sure log copier has started before running job
  batch/batch/worker/log_syncer.py
  batch/log-sync.sh
Due: ruff, ruff-format, pyright

tiny fixup
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

bump instance version again
  batch/batch/globals.py
Due: ruff, ruff-format, pyright

[compiler] generalise `Bindings.get` over an `Algebra` of type-like values
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/ComputeUsesAndDefs.scala
  hail/hail/src/is/hail/expr/ir/Env.scala
  hail/hail/src/is/hail/expr/ir/FreeVariables.scala
  hail/hail/src/is/hail/expr/ir/MapIR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Subst.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/src/is/hail/types/virtual/MatrixType.scala
  hail/hail/src/is/hail/types/virtual/TableType.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
Due: none

await started main container
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

better ux for started but not logging yet jobs
  batch/batch/front_end/front_end.py
  services/ui/src/batch/components/jobModels.ts
  services/ui/src/batch/hooks/useJobDetails.ts
Due: ruff, ruff-format, pyright

fix improved ux on old attempts
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

fix GOIS
  services/ui/src/batch/hooks/useJobDetails.ts
Due: none

feat(emr): Add Spark 4.1 private support
  hail/Makefile
  hail/hail/src/is/hail/io/fs/RouterFS.scala
  hail/hail/test/src/is/hail/io/fs/CloudStorageConfigSuite.scala
  hail/python/hail/docs/cloud/amazon_web_services.rst
  hail/python/hailtop/__init__.py
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/__main__.py
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/python/hailtop/hailctl/emr/__init__.py
  hail/python/hailtop/hailctl/emr/artifact.py
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/hailtop/hailctl/emr/submit.py
  hail/python/setup.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
  hail/python/test/hailtop/hailctl/emr/__init__.py
  hail/python/test/hailtop/hailctl/emr/cli/__init__.py
  hail/python/test/hailtop/hailctl/emr/cli/conftest.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
  hail/python/test/hailtop/hailctl/emr/test_artifact.py
  hail/python/test/hailtop/hailctl/emr/test_emr.py
  hail/python/test/hailtop/hailctl/emr/test_registration.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
  hail/python/test/hailtop/hailctl/emr/test_submit.py
  hail/scripts/test-emr.sh
Due: ruff, ruff-format, pyright

fix(emr): Harden private cluster launch
  hail/python/hail/docs/cloud/amazon_web_services.rst
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
  hail/python/test/hailtop/hailctl/emr/test_emr.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
  hail/scripts/test-emr.sh
Due: ruff, ruff-format

fix(emr): Tag resources for V2 policy
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
Due: ruff, ruff-format

fix(emr): Preserve artifact wheel filename
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/test/hailtop/hailctl/emr/test_bootstrap.py
Due: ruff, ruff-format

fix(emr): Add S3A launcher classpath
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
Due: ruff, ruff-format

fix(emr): Configure S3A MagicV2
  hail/python/hail/docs/cloud/amazon_web_services.rst
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
Due: ruff, ruff-format

[batch] quick ansi color parser for logs (#15738)
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/batch/components/LogViewer.tsx
  services/ui/src/shared/ansi.test.tsx
  services/ui/src/shared/ansi.tsx
Due: none

copilot feedback
  batch/batch/worker/log_syncer.py
  batch/log-sync.sh
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

copilot bug
  services/ui/src/monitoring/cost_analysis.tsx
Due: none

fix footgun
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

nit
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

fix Other for overheads in trends
  services/ui/src/monitoring/cost_analysis.tsx
Due: none

[ci] add color to test logs (#15742)
  Makefile
  build.yaml
Due: none

resolve flake risks in rare instances test
  batch/test/test_batch_rare_instances.py
  build.yaml
Due: ruff, ruff-format, pyright

better comment
  batch/test/test_batch_rare_instances.py
Due: ruff, ruff-format, pyright

treat both test timeout calculations the same
  batch/test/test_batch_rare_instances.py
Due: ruff, ruff-format, pyright

added explicit hyperdisk/ssd error handling for n4 VMs
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/driver/exceptions.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[ci] resolve flake risks in rare instances test (#15747)
  batch/test/test_batch_rare_instances.py
  build.yaml
Due: ruff, ruff-format, pyright

[query] purge vestigial testng references (#15739)
  build.yaml
  hail/Makefile
  hail/generate_splits.py
  hail/hail/package.mill
  hail/hail/src/is/hail/io/fs/README
  hail/hail/src/is/hail/services/README
  hail/mill-build/mill-build/src/MvnCoordinate.scala
  hail/scripts/test-gcp.sh
  hail/testng-build.xml
  hail/testng-fs.xml
  hail/testng-services.xml
  hail/testng.xml
Due: ruff, ruff-format, pyright

[hailctl] update dataproc to 3.0.x images (#15692)
  build.yaml
  hail/python/hail/backend/spark_backend.py
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/connect.py
  hail/python/hailtop/hailctl/dataproc/gcloud.py
  hail/python/hailtop/hailctl/dataproc/modify.py
  hail/python/hailtop/hailctl/dataproc/resources/init_notebook.py
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/test/hailtop/hailctl/dataproc/conftest.py
  hail/python/test/hailtop/hailctl/dataproc/test_connect.py
  hail/python/test/hailtop/hailctl/dataproc/test_modify.py
  hail/python/test/hailtop/hailctl/dataproc/test_start.py
Due: ruff, ruff-format

[compiler] deepCopy does not return this.type (#15743)
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
Due: none

additional error checking; associated tests
  batch/batch/cloud/gcp/instance_config.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

revised comment blocks for clarity
  batch/batch/cloud/gcp/driver/zones.py
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

[query] convert remaining testng stragglers to junit (#15737)
  hail/hail/package.mill
  hail/hail/test/src/is/hail/LogTestListener.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/backend/driver/BatchQueryDriverSpec.scala
  hail/hail/test/src/is/hail/collection/BinaryHeapSuite.scala
  hail/hail/test/src/is/hail/utils/GraphSuite.scala
  hail/hail/test/src/is/hail/utils/TreeTraversalSuite.scala
Due: none

allow specifying after without implying depends on
  build.yaml
  ci/ci/build.py
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

restore depends of delete_test_billing_projects on test_batch to unblock build. Fix going forward
  build.yaml
  ci/ci/build.py
Due: ruff, ruff-format, pyright

temporarily re-depend to allow ci to install new py code before updating build.yaml
  build.yaml
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

supply build.yaml to the ci unit tests that need it
  build.yaml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
