Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

minor bookkeeping issues
  auth/auth/templates/openapi.yaml
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

hailtop, hailctl commands and test cases
  auth/test/test_system_permissions.py
  build.yaml
  hail/python/hailtop/auth/__init__.py
  hail/python/hailtop/auth/auth.py
  hail/python/hailtop/hailctl/auth/cli.py
Due: ruff, ruff-format, pyright

do not redirect apis
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  build.yaml
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

lint ci
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

catch up with history
  auth/auth/driver/driver.py
  auth/sql/011-refactor-system-permissions.sql
  ci/bootstrap_create_accounts.py
  ci/ci/ci.py
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

fix auth list permissions endpoint and correct api spec
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
Due: ruff, ruff-format, pyright

lint
  auth/test/test_system_permissions.py
Due: ruff, ruff-format, pyright

fix test errors
  build.yaml
  monitoring/monitoring/monitoring.py
Due: ruff, ruff-format, pyright

named test cases
  auth/test/test_system_permissions.py
Due: ruff, ruff-format, pyright

[dataproc] ensure spark-defaults.conf is used (#15404)
  hail/python/hail/backend/spark_backend.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

[query] normalize names before lowering (#15370)
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/IRTraversal.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/NestingDepth.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/RefEquality.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
  hail/hail/test/src/is/hail/expr/ir/implicits/forTesting.scala
  hail/python/hail/backend/backend.py
  hail/python/test/hail/helpers.py
Due: ruff, ruff-format

[auth] Fix update to user's last active time (#15318)
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[query] Fix haploid sparse_split_multi when len(LA) >= 3
  hail/python/hail/experimental/sparse_mt/sparse_split_multi.py
  hail/python/test/hail/experimental/test_experimental.py
Due: ruff, ruff-format

[query] Implement an order preserving prefix free encoding for hail values
  hail/hail/src/is/hail/asm4s/implicits/RichCodePrefixCoder.scala
  hail/hail/src/is/hail/asm4s/implicits/package.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/io/PrefixCoder.scala
  hail/hail/src/is/hail/types/physical/stypes/SCode.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBinary.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SCall.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SContainer.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SInterval.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SLocus.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SString.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SPrimitive.scala
  hail/hail/src/is/hail/types/virtual/TBinary.scala
  hail/hail/test/resources/log4j2-test.properties
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
  hail/hail/test/src/is/hail/io/PrefixCoderSuite.scala
Due: none

[query] Implement an order preserving prefix free encoding for hail v… (#15373)
  hail/hail/src/is/hail/asm4s/implicits/RichCodePrefixCoder.scala
  hail/hail/src/is/hail/asm4s/implicits/package.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/io/PrefixCoder.scala
  hail/hail/src/is/hail/types/physical/stypes/SCode.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBinary.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SCall.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SContainer.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SInterval.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SLocus.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SString.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SPrimitive.scala
  hail/hail/src/is/hail/types/virtual/TBinary.scala
  hail/hail/test/resources/log4j2-test.properties
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
  hail/hail/test/src/is/hail/io/PrefixCoderSuite.scala
Due: none

run tests via mill in ci
  build.yaml
  hail/hail/package.mill
  hail/hail/test/resources/log4j2-test.properties
  hail/hail/test/src/is/hail/asm4s/ASM4SSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/io/fs/FSSuite.scala
  hail/hail/test/src/is/hail/methods/LocalLDPruneSuite.scala
  hail/hail/test/src/is/hail/variant/ReferenceGenomeSuite.scala
  hail/hail/utils/src/is/hail/utils/package.scala
Due: none

[query] Fix haploid sparse_split_multi when len(LA) >= 3 (#15374)
  hail/python/hail/experimental/sparse_mt/sparse_split_multi.py
  hail/python/test/hail/experimental/test_experimental.py
Due: ruff, ruff-format

restore hail/hail as a watchpath for hailgenetics image tests (for #15408)
  build.yaml
Due: none

move LEB128 buffers to compatibility, flip defaults
  hail/hail/src/is/hail/compatibility/LegacyBufferSpecs.scala
  hail/hail/src/is/hail/io/BufferSpecs.scala
  hail/hail/src/is/hail/io/InputBuffers.scala
  hail/hail/src/is/hail/io/OutputBuffers.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
Due: none

bump index version to 1.3.0 for v2 wire format
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

Extract common earray/ebinary functionality
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EArray2.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
  hail/hail/src/is/hail/types/encoded/EBinary2.scala
Due: none

update file format version
  hail/hail/src/is/hail/expr/ir/AbstractMatrixTableSpec.scala
Due: none

add EArray2/EBinary2 to always use varint lengths
  hail/hail/src/is/hail/types/encoded/EArray2.scala
  hail/hail/src/is/hail/types/encoded/EBinary2.scala
  hail/hail/src/is/hail/types/encoded/EDictAsUnsortedArrayOfPairs.scala
  hail/hail/src/is/hail/types/encoded/EStructOfArrays.scala
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/src/is/hail/types/encoded/EUnsortedSet.scala
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

add varint(LEB) methods to InputBuffer/OutputBuffer traits
  hail/hail/src/is/hail/asm4s/implicits/RichCodeInputBuffer.scala
  hail/hail/src/is/hail/asm4s/implicits/RichCodeOutputBuffer.scala
  hail/hail/src/is/hail/io/InputBuffers.scala
  hail/hail/src/is/hail/io/OutputBuffers.scala
Due: none

add StreamBlockBufferSpec2 with varint block-length prefix
  hail/hail/src/is/hail/io/BufferSpecs.scala
  hail/hail/src/is/hail/io/InputBuffers.scala
  hail/hail/src/is/hail/io/OutputBuffers.scala
Due: none

update FAST_CODEC_SPEC to v2 wire format
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

read/write varint lengths in Python value codec
  hail/python/hail/expr/types.py
  hail/python/hail/utils/byte_reader.py
Due: ruff, ruff-format

add EVarint and tests
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/src/is/hail/types/encoded/EVarint.scala
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

various fixes
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
Due: none

format
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/io/BufferSpecs.scala
  hail/hail/src/is/hail/types/encoded/EArray.scala
  hail/hail/src/is/hail/types/encoded/EArray2.scala
  hail/hail/src/is/hail/types/encoded/EBinary.scala
  hail/hail/src/is/hail/types/encoded/EBinary2.scala
  hail/hail/src/is/hail/types/encoded/EType.scala
  hail/hail/src/is/hail/types/encoded/EVarint.scala
Due: none

new etype tests
  hail/hail/test/src/is/hail/types/encoded/ETypeSuite.scala
Due: none

revert block matrix default spec
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
Due: none

add billing export to spreadsheet
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/billing.js
  batch/batch/front_end/templates/billing.html
Due: ruff, ruff-format, pyright

[services] pip/npm update 4-10-26 (#15382)
  .gitattributes
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  services/ui/package-lock.json
  services/ui/package.json
Due: none

[batch] Use gcloud storage to download input files from GCP (#15273)
  gear/pinned-requirements.txt
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: ruff, ruff-format

Handle normal/large GCP -> local transfers separately
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
Due: ruff, ruff-format

Bound copy processes with WeightedSemaphore
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/__init__.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/weighted_semaphore.py
  hail/python/hailtop/fs/router_fs.py
Due: ruff, ruff-format

Update copy tests to use WeightedSemaphore
  hail/python/test/hailtop/inter_cloud/generate_copy_test_specs.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
