Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

fix rebase fallout
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/backend/api/ServiceBackendApi.scala
  hail/src/test/scala/is/hail/HailSuite.scala
Due: none

wire up spark, local and py4j backends
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/backend/api/ServiceBackendApi.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/scala/is/hail/HailSuite.scala
Due: ruff, ruff-format

Add new web_common function to __init__.py
  web_common/web_common/__init__.py
  web_common/web_common/templates/swagger.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[query] Use `SourcePos` for implicit timing context
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/IRState.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/utils/ExecutionTimer.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

[query] Lowering + Optimisation with implict timing context
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/IRState.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[dev-docs] Update letsencrypt cert rotation instructions (#14730)
  dev-docs/services/letsencrypt.md
Due: none

rollback batch_static idea
  batch/batch/front_end/front_end.py
  web_common/web_common/__init__.py
Due: ruff, ruff-format, pyright

Serve openapi.yaml from service template
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  web_common/web_common/templates/swagger.html
Due: ruff, ruff-format, pyright

tag juggling
  batch/batch/front_end/templates/openapi.yaml
  web_common/web_common/batch_static/openapi.yaml
  web_common/web_common/static/batch_openapi.yaml
Due: none

auth options
  batch/batch/front_end/templates/openapi.yaml
Due: none

hmm
  batch/batch/front_end/templates/openapi.yaml
Due: none

TUrning teams argument into proper List[str] form.
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[dev-docs] More detailed certificate rotation instructions
  dev-docs/services/letsencrypt.md
Due: none

Update Github username; re-fix alphabetization
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

Fixup gsa-key copying instructions, add debug line to rotate_keys.py
  dev-docs/development-process.md
  devbin/rotate_keys.py
Due: ruff, ruff-format, pyright

Re-recommend Temurin; refer generically to Apple M-series silicon
  hail/python/hail/docs/install/macosx.rst
Due: none

[hailctl] Use shell for gcloud commands on windows
  hail/python/hailtop/hailctl/dataproc/gcloud.py
Due: ruff, ruff-format

Add ksittig to AUTHORIZED_USERS (#14727)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

Add instructions for first time setup of Hail on Dataproc
  hail/python/hail/docs/install/dataproc.rst
Due: none

Update phrasing
  hail/python/hail/docs/install/dataproc.rst
Due: none

Remove deprecated Hail on AWS link
  hail/python/hail/docs/cloud/amazon_web_services.rst
Due: none

Add clean rule for '*-image' files produced by image build/push steps
  Makefile
  dev-docs/services/letsencrypt.md
Due: none

Update Hail on AWS documentation (#14738)
  hail/python/hail/docs/cloud/amazon_web_services.rst
Due: none

Lengthen too-short underlines
  hail/python/hail/docs/install/dataproc.rst
Due: none

Adding grohli to AUTHORIZED_USERS in constants.py (#14717)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

login helpers
  batch/batch/front_end/templates/openapi.yaml
Due: none

`stop` in python, closable only in scala
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Unify CloudCredentials and Modernise BatchService API
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/Requester.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: none

fix gcs oauth2 scopes
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

reformat
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

make backend closable + fix mocked test
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
  hail/python/hailtop/config/user_config.py
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: ruff, ruff-format

[Config] Appsec sandbox config and files (#14726)
  infra/gcp/hail-is/appsec/auth_oauth2_client_secret.enc.json
  infra/gcp/hail-is/appsec/global.tfvars
  infra/gcp/hail-is/appsec/hailctl_client_secret.enc.json
  infra/gcp/hail-is/appsec/terraform_sa_key.enc.json
Due: none

[github] include granting iam roles for new developers in issue template
  .github/ISSUE_TEMPLATE/new-developer.yml
Due: none

credentials are scoped
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

[query] code cleanup
  hail/python/hail/vds/functions.py
  hail/src/main/scala/is/hail/expr/ir/functions/CallFunctions.scala
Due: ruff, ruff-format

Turning teams argument into proper List[str] form
  dev-docs/development-process.md
Due: none

[query] code cleanup (#14740)
  hail/python/hail/vds/functions.py
  hail/src/main/scala/is/hail/expr/ir/functions/CallFunctions.scala
Due: ruff, ruff-format

Cert Renewal Script fixes (#350)
  cert_renewal.sh
Due: none

Improve documentation for Hail on Dataproc (#14737)
  hail/python/hail/docs/install/dataproc.rst
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
