Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

use bash
  build.yaml
Due: none

pyright
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

Switch GKE node pools to non default SAs
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[terraform] Add VM metadata for OS Login and Block project-wide SSH (#15042)
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Add static path to devserver for live reload
  Makefile
Due: none

[query] Fix division by zero in summarize_variants (#15045)
  hail/python/hail/methods/qc.py
Due: ruff, ruff-format

[qob] Don't set hail off heap memory limits in QoB (#14978)
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[query] Register hl.stop to be run at exit
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Use scalac-options library (#15027)
  .gitignore
  Makefile
  build.yaml
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/macros/src/is/hail/macros.scala
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
  hail/hail/src/is/hail/asm4s/package.scala
  hail/hail/src/is/hail/expr/ir/ArraySorter.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/expr/package.scala
  hail/hail/src/is/hail/io/tabix/TabixReader.scala
  hail/hail/src/is/hail/package.scala
  hail/hail/src/is/hail/utils/EitherIsAMonad.scala
  hail/hail/src/is/hail/utils/NumericImplicits.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/src/is/hail/utils/prettyPrint/package.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/package.scala
  hail/mill-build/build.mill
  hail/python/hail/docs/install/other-cluster.rst
Due: none

Apply global security headers via a standard middleware
  auth/auth/auth.py
  batch/batch/cloud/gcp/worker/metadata_server.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  gear/gear/__init__.py
  gear/gear/global_security_headers.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/web_common.py
  website/website/website.py
Due: ruff, ruff-format, pyright

add web security headers to batch driver pages
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

remove redundant api security header annotation
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

unsafe eval on batch-driver quotas page
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

remove redundant definitions of security headers
  batch/batch/front_end/front_end.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

remove api_security_header from new endpoints
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[terraform] Add network policy support to k8s in gcp and gcp-broad infra (#15041)
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[query] Daemonize Py4JQueryDriver http server
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
Due: none

new approach with hailtop.batch and copying files individually
  hail/python/hailtop/aiotools/validators.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

simplify
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
Due: none

Add master authorized network config
  infra/gcp-broad/main.tf
  infra/gcp/README.md
  infra/gcp/main.tf
Due: none

[query] Daemonize Py4JQueryDriver http server (#15050)
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
Due: none

[release] Fix build.yaml release step
  build.yaml
Due: none

tests with debugging
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[release] Fix build.yaml release step (#15052)
  build.yaml
Due: none

get rid of logging that messes up tests
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

more fixes
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

getting closer plus some docs
  hail/python/hailtop/aiotools/validators.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

last test fixes and delint
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

replace excess auth admin roles with custom role
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Addition of sub-diagrams and simplified diagram
  batch/sql/estimated-current-diagrams/batches-estimated-current.md
  batch/sql/estimated-current-diagrams/billing-projects-estimated-current.md
  batch/sql/estimated-current-diagrams/estimated-current-simplified.md
  batch/sql/estimated-current-diagrams/estimated-current.md
  batch/sql/estimated-current-diagrams/instances-estimated-current.md
  batch/sql/estimated-current-diagrams/job-groups-estimated-current.md
  batch/sql/estimated-current-diagrams/jobs-estimated-current.md
Due: none

Updated headers
  batch/sql/estimated-current-diagrams/batches-estimated-current.md
  batch/sql/estimated-current-diagrams/billing-projects-estimated-current.md
  batch/sql/estimated-current-diagrams/instances-estimated-current.md
  batch/sql/estimated-current-diagrams/job-groups-estimated-current.md
  batch/sql/estimated-current-diagrams/jobs-estimated-current.md
Due: none

replace instanceAdmin role use with more specific grants
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

added list of excluded tables; cleaned up original diagram
  batch/sql/estimated-current-diagrams/estimated-current.md
Due: none

Shielded boot for worker vms
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

Update pinned requirements for uv-build
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
Due: none

[batch] Global security headers (#15037)
  auth/auth/auth.py
  batch/batch/cloud/gcp/worker/metadata_server.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  gear/gear/__init__.py
  gear/gear/global_security_headers.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
  website/website/website.py
Due: ruff, ruff-format, pyright

[compiler] update versions of asm libraries (#15025)
  hail/build.mill
Due: none

[auth] Role refactor part 1 (#14945)
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  auth/auth/templates/roles.html
  auth/sql/010-refactor-roles.sql
  build.yaml
  gear/gear/__init__.py
  gear/gear/auth.py
  gear/gear/csrf.py
  gear/gear/system_permissions.py
  web_common/web_common/templates/swagger.html
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
