Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

fix nvidia and docker repos, remove add-key
  batch/build-batch-worker-image-startup-gcp.sh
Due: none

[query] Update init_notebook versions
  hail/python/hailtop/hailctl/dataproc/resources/init_notebook.py
Due: ruff, ruff-format

[benchmark] fix missing env/ in build.yaml
  build.yaml
Due: none

Add verbose logging to network allocation logic (#378)
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[docs] Direct users to build with optimisation for cluster install (#14933)
  hail/python/hail/docs/install/other-cluster.rst
Due: none

Refactor system roles in db
  auth/sql/009-refactor-roles.sql
Due: none

update image version in create_instance.py
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

fix tmpdir bug
  batch/test/test_dag.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch_pool_executor.py
Due: ruff, ruff-format, pyright

revert stowaway change
  hail/python/hailtop/batch/batch_pool_executor.py
Due: ruff, ruff-format

auth check API
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  auth/sql/009-refactor-roles.sql
  build.yaml
  web_common/web_common/__init__.py
  web_common/web_common/role_permissions.py
Due: ruff, ruff-format, pyright

[query] Update init_notebook dependency versions (#14934)
  hail/python/hailtop/hailctl/dataproc/resources/init_notebook.py
Due: ruff, ruff-format

add list permissions
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
Due: ruff, ruff-format, pyright

test_new_role_check_on_old_roles_api
  auth/auth/auth.py
  gear/gear/auth.py
  web_common/web_common/role_permissions.py
Due: ruff, ruff-format, pyright

refactor to enums
  auth/auth/auth.py
  gear/gear/__init__.py
  gear/gear/auth.py
  gear/gear/role_permissions.py
  web_common/web_common/__init__.py
Due: ruff, ruff-format, pyright

fixup
  auth/auth/auth.py
  gear/gear/auth.py
  gear/gear/role_permissions.py
Due: ruff, ruff-format, pyright

implement missing localauthenticator method in auth
  auth/auth/auth.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

qob error state fix
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
Due: none

non-existant role
  auth/auth/auth.py
  gear/gear/role_permissions.py
Due: ruff, ruff-format, pyright

add role permissions to developer role
  auth/auth/auth.py
  gear/gear/role_permissions.py
Due: ruff, ruff-format, pyright

Changed 'deleted' to new 'inactive' state; made placeholder for 'inactive' table in case we want to avoid changing the users table schema.
  auth/sql/estimated-current.sql
Due: none

rename placeholder table
  auth/sql/estimated-current.sql
Due: none

Initial additional SQL for tracking user activity.
  auth/sql/estimated-current.sql
Due: none

Added update for active users; added HTTP errror for inactive users.
  auth/auth/auth.py
  auth/sql/estimated-current.sql
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

Changed inactivity timeout period to be 60 days
  auth/sql/estimated-current.sql
Due: none

Fixed SQL even to actually check for active users in WHERE
  auth/sql/estimated-current.sql
Due: none

Removed redundant if statement check
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

Added SQL, build.yaml modification for database migration
  batch/sql/add-users-last-active.sql
Due: none

changed NOW() to UTC_TIMESTAMP(3) for precision and region agnosticism.
  auth/auth/auth.py
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: ruff, ruff-format, pyright

Refactor in auth/auth.py
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

Change last_active data type to DATETIME
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: none

Changed loop to update inactive users to be Python-side rather than in SQL; renamed last_active to last_activated; updated associated DB migration SQL.
  auth/sql/estimated-current.sql
  batch/batch/driver/main.py
  batch/sql/add-users-last-active.sql
Due: ruff, ruff-format, pyright

Type change for default last_activated field
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: none

fix bug?
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

Added descriptive error message for inactive user case in auth.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

added developer reactivation functionality
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

correct placement of add-users-last-active.sql
  auth/sql/add-users-last-active.sql
Due: none

added appropriate security headers
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

Fixing DATETIME default values
  auth/auth/auth.py
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: ruff, ruff-format, pyright

DATETIME millisecond precision
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: none

correct placement of migration in build.yaml
  build.yaml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
