Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

ruff
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[services] bump ubuntu docker base to noble-20260810 (#15707)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

run on stack base too
  .github/workflows/static-and-unit-tests.yml
Due: none

newline safety in exception message check
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

apply dataproc label to pip bump PRs
  .github/workflows/pip-npm-bump.yml
Due: none

[ci] use subprocess CLI invocation to deflake test_hailtop_python_1 (#15714)
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Replace GCP region secret values with AWS ones
  infra/aws/main.yaml
Due: none

Add stack and commands to create instance for running bootstrap script
  infra/aws/README.md
Due: none

Fix Makefile typo
  Makefile
Due: none

Add stack and commands to create instance for running bootstrap script
  bootstrap-gateway/deployment.yaml
  bootstrap-gateway/service.yaml
  gateway/service.yaml
  infra/aws/README.md
  infra/aws/bootstrap-vm.yaml
  infra/aws/bootstrap.sh
  infra/aws/install_bootstrap_dependencies.sh
  infra/aws/main.yaml
  internal-gateway/service.yaml
Due: none

Ruff fixes
  auth/auth/auth.py
  ci/bootstrap.py
  ci/ci/environment.py
  gear/gear/cloud_config.py
Due: ruff, ruff-format, pyright

Populate dockerhub proxy with images expected by initial build
  infra/aws/README.md
Due: none

Recognize AWS as a valid cloud
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/deployment.yaml
  batch/Dockerfile.worker
  batch/batch/cloud/driver.py
  build.yaml
  ci/bootstrap_create_accounts.py
  ci/ci/environment.py
  ci/deployment.yaml
  gear/gear/cloud_config.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format, pyright

Get AWS creds for Docker from env during initial deployment
  build.yaml
  ci/bootstrap.py
  ci/buildkit/convert-cloud-credentials-to-docker-auth-config
Due: ruff, ruff-format, pyright

Remove bad rebase
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Initial commit of AWS infrastructure
  Makefile
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/aws-broad/README.md
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Fixing parameterization and adding stack role
  infra/aws-broad/README.md
  infra/aws-broad/main.yml
  infra/aws-broad/parameters.json
  infra/aws/README.md
  infra/aws/main.yaml
Due: none

Initial commit of AWS infrastructure
  infra/aws-broad/README.md
  infra/aws-broad/main.yml
  infra/aws-broad/parameters.json
Due: none

Add access entry for admin role
  infra/aws/README.md
Due: none

Populate dockerhub proxy with images expected by initial build
  Makefile
  docker/third-party/Makefile
  docker/third-party/copy_images.sh
  infra/aws/README.md
  infra/aws/bootstrap-vm.yaml
  infra/aws/main.yaml
  infra/bootstrap_utils.sh
Due: none

Fixing debug message
  ci/buildkit/convert-cloud-credentials-to-docker-auth-config
Due: none

Initial commit of AWS infrastructure
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/aws-broad/README.md
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Fix error message signal escaping
  infra/aws/bootstrap-vm.yaml
Due: none

Installation virtual env Python version bump
  infra/aws/install_bootstrap_dependencies.sh
Due: none

Fix external secrets race condition
  infra/aws/bootstrap-vm.yaml
  infra/aws/bootstrap.sh
  infra/aws/main.yaml
Due: none

Fix error signal
  infra/aws/bootstrap-vm.yaml
  infra/aws/bootstrap.sh
Due: none

Fixing parameterization and adding stack role
  infra/aws-broad/README.md
  infra/aws/README.md
  infra/aws/hail-is/parameters.json
  infra/aws/main.yaml
Due: none

Remove extra export from rebase
  infra/aws/bootstrap-vm.yaml
Due: none

Fixing parameterization and adding stack role
  infra/aws-broad/README.md
  infra/aws-broad/main.yml
  infra/aws-broad/parameters.json
  infra/aws/main.yaml
Due: none

Fix Makefile typo
  infra/bootstrap_utils.sh
Due: none

Replace hard-coded region with global config value
  batch/aws-create-worker-image.sh
Due: none

Create AWS worker VM image
  batch/aws-create-worker-image.sh
  batch/build-batch-worker-image-startup-aws.sh
Due: none

Set up RDS database
  infra/aws/bootstrap-vm.yaml
  infra/aws/bootstrap.sh
  infra/aws/main.yaml
Due: none

fix deadlock by removing locked-then-committed batch lock
  batch/batch/batch.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
