Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

copypasta
  build.yaml
Due: none

[query/vds] Add ref_block_max_length check to VariantDataset.validate (#14405)
  hail/python/hail/vds/variant_dataset.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

allow specifying benchmark billing project
  benchmark/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

Remove `auth` from `check-pip-requirements` make target `requirements.txt` was removed in #30d69b6f2.
  Makefile
Due: none

[query] Use RouterFS With LocalBackend A long-standing fixme in the LocalBackend was to not rely on HadoopFS, which we use with the SparkBackend for compatibility with dataproc and hdfs urls.
  hail/python/hail/backend/local_backend.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
Due: ruff, ruff-format

use extracted message
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
Due: none

dumb
  build.yaml
Due: none

should now pass local backend
  hail/python/test/hail/fs/test_worker_driver_fs.py
Due: ruff, ruff-format

dumber
  build.yaml
Due: none

pass requester pays info to py routerfs
  hail/python/hail/backend/local_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

format python
  hail/python/hail/backend/local_backend.py
Due: ruff, ruff-format

read app default credentials from env
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
Due: none

add az credentials to local backend tests
  build.yaml
Due: none

configure new gcs connector
  docker/core-site.xml
Due: none

Update core-site.xml
  docker/core-site.xml
Due: none

[hailctl] update to dataproc 2.2
  batch/Dockerfile.worker
  batch/jvm-entryway/build.gradle
  docker/Dockerfile.base
  docker/hailgenetics/hail/Dockerfile
  hail/Dockerfile.hail-run
  hail/Makefile
  hail/build.sc
  hail/python/dataproc-pre-installed-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hail/backend/local_backend.py
  hail/python/hail/docs/getting_started_developing.rst
  hail/python/hail/docs/install/linux.rst
  hail/python/hail/docs/install/macosx.rst
  hail/python/hail/docs/install/other-cluster.rst
  hail/python/hail/expr/expressions/typed_expressions.py
  hail/python/hail/expr/functions.py
  hail/python/hail/methods/impex.py
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  hail/python/test/hail/test_exceptions_from_workers_have_stack_traces.py
  hail/scripts/install-gcs-connector.sh
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/version.mk
  infra/install_bootstrap_dependencies.sh
  tls/Dockerfile
  website/website/pages/index.html
Due: ruff, ruff-format

format
  hail/python/hail/backend/local_backend.py
Due: ruff, ruff-format

submit -> start
  build.yaml
Due: none

Remove `auth` from `check-pip-requirements` make target (#14421)
  Makefile
Due: none

re-raise
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

maybe thatll make it run?
  benchmark/scripts/benchmark_in_batch.py
  build.yaml
Due: ruff, ruff-format, pyright

'Redesign'
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: none

dont clobber dev deploy results from different users
  build.yaml
Due: none

[lint] ignores import linting for blame (#14152)
  .git-blame-ignore-revs
Due: none

re-raise part 3
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

avoid caching in test
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

reverse order of error prop
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

write results in unique locations
  benchmark/scripts/benchmark_in_batch.py
  build.yaml
Due: ruff, ruff-format, pyright

restore dependence on tests
  build.yaml
Due: none

cleanup
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

deletes unnecessary variables in query tests
  hail/python/test/hail/experimental/test_experimental.py
  hail/python/test/hail/expr/test_expr.py
  hail/python/test/hail/expr/test_ndarrays.py
  hail/python/test/hail/methods/test_impex.py
  hail/python/test/hail/methods/test_pca.py
  hail/python/test/hail/methods/test_qc.py
  hail/python/test/hail/methods/test_statgen.py
  hail/python/test/hail/table/test_table.py
  hail/python/test/hail/test_ir.py
  hail/python/test/hail/vds/test_vds_functions.py
Due: ruff, ruff-format

clarify code
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
Due: none

fix
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
Due: none

tidy up code
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
Due: none

rewrite to not use repartitionNoShuffle
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
Due: none

fix bug
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
Due: none

wip
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/ComputeUsesAndDefs.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Subst.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/types/MatrixType.scala
  hail/src/main/scala/is/hail/types/TableType.scala
Due: none

make GenericBindingEnv trait
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/ComputeUsesAndDefs.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Subst.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
