Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

update date and add new changelog entry
  hail/python/hail/docs/change_log.md
Due: none

[release] 0.2.128 (#14287)
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

address comments
  batch/batch/batch.py
  batch/batch/constants.py
  batch/batch/driver/instance_collection/pool.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

address more comments
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix join query
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[query] remove unneeded deps from memory module
  hail/build.sc
Due: none

[query] avoid orjson-caused segfault in py4j_backend.py
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: none

start docs
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

[batch] Remove all v2 billing tables (#13893)
  batch/sql/estimated-current.sql
  batch/sql/remove-v2-billing-tables.sql
  build.yaml
Due: none

fix query
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[query] remove unneeded deps from memory module (#14298)
  hail/build.sc
Due: none

get docs working
  hail/python/hailtop/batch/docs/api.rst
  hail/python/hailtop/batch/docs/index.rst
  hail/python/hailtop/batch/docs/saige.rst
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/io.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

dont update nonexistant v2 tables
  batch/sql/finalize-job-groups.sql
Due: none

wip
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

fix
  hail/build.sc
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
Due: none

wip
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
Due: none

wip
  hail/python/hailtop/batch/docs/api.rst
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

[query] avoid orjson-caused segfault in py4j_backend.py (#14300)
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[ci] Use CI's credentials for image pushing instead of gcr-push
  build.yaml
  ci/ci/build.py
Due: ruff, ruff-format, pyright

wip
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

fix tests for new max depth
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[ci] Use the public networks where possible (#14294)
  Makefile
  build.yaml
  ci/ci/build.py
  ci/test/resources/build.yaml
Due: ruff, ruff-format, pyright

[batch][website][docs] eliminate fontawesome
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/table_search.html
  hail/python/hail/docs/_templates/layout.html
  web_common/web_common/styles/main.scss
  web_common/web_common/templates/layout.html
  website/website/styles/navbar.scss
  website/website/templates/nav-top.html
Due: none

[infra] Apply same CI admin role as gcp-broad in normal gcp terraform (#14295)
  infra/gcp/main.tf
Due: none

[release] Release 0.2.128
  hail/version.mk
Due: none

update changelog
  hail/python/hail/docs/change_log.md
Due: none

wip
  hail/python/hailtop/saige/phenotype.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

update patch version in mill too
  hail/build.sc
Due: none

[release] Release 0.2.128 (#14304)
  hail/build.sc
  hail/python/hail/docs/change_log.md
  hail/version.mk
Due: none

[query] make mill print debug/release mode
  hail/build.sc
Due: none

[ci] Remove unused arguments to release script
  build.yaml
  hail/python/hail/docs/change_log.md
Due: none

give test ci repo admin
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[ci] Remove unnecessary GSA activation for GAR policy step
  build.yaml
Due: none

[ci] Use CI's credentials for image pushing instead of gcr-push (#14301)
  build.yaml
  ci/ci/build.py
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: ruff, ruff-format, pyright

[gear] Retry transient errors on database pool creation
  gear/gear/database.py
Due: ruff, ruff-format, pyright

[ci] Remove unused arguments to release script (#14307)
  build.yaml
  hail/python/hail/docs/change_log.md
Due: none

spa2
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format
