Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

start structofarrays mvp
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalArray.scala
Due: none

lint
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

'finish' EStructOfArrays
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

CodeBuilder _assert takes Code[String]*
  hail/src/main/scala/is/hail/asm4s/CodeBuilder.scala
Due: none

fix
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

write simple test, fix assertion errors found by it
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/main/scala/is/hail/types/physical/PContainer.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: none

reorganize
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

[query] Allow every Input/OutputBuffer to read/write LEB128 numbers
  hail/src/main/scala/is/hail/io/InputBuffers.scala
  hail/src/main/scala/is/hail/io/OutputBuffers.scala
Due: none

move spec syntactic validation up to route handlers
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

missed more spots...
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[batch] 400 on bad job group specs instead of 500 (#14389)
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[docs] parting docs (#14388)
  dev-docs/algolia.md
  dev-docs/development-process.md
  dev-docs/gvs.md
  dev-docs/hail-for-new-engineers.md
  dev-docs/hail-overview.md
  dev-docs/hail-query/query-on-batch.md
  hail/Makefile
Due: none

[query/vds] Don't error if combiner is finished and output exists
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[dev-docs] Update batch operation docs
  dev-docs/services/batch/operation.md
Due: none

rename Let -> Block, keep Let.apply
  hail/python/hail/ir/ir.py
  hail/python/hail/ir/renderer.py
  hail/python/test/hail/test_ir.py
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Children.scala
  hail/src/main/scala/is/hail/expr/ir/Copy.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Exists.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/InTailPosition.scala
  hail/src/main/scala/is/hail/expr/ir/InferType.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/Interpretable.scala
  hail/src/main/scala/is/hail/expr/ir/LowerMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/Scope.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/test/scala/is/hail/expr/ir/AggregatorsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
Due: ruff, ruff-format

[query] Remove read/writeUTF from Input/OutputBuffer
  hail/src/main/scala/is/hail/io/InputBuffers.scala
  hail/src/main/scala/is/hail/io/OutputBuffers.scala
  hail/src/main/scala/is/hail/utils/richUtils/RichCodeInputBuffer.scala
Due: none

[query] Remove read/writeUTF from Input/OutputBuffer (#14401)
  hail/src/main/scala/is/hail/io/InputBuffers.scala
  hail/src/main/scala/is/hail/io/OutputBuffers.scala
  hail/src/main/scala/is/hail/utils/richUtils/RichCodeInputBuffer.scala
Due: none

start refactoring extract aggregators
  hail/src/main/scala/is/hail/expr/ir/AggOp.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
Due: none

formatting
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
Due: none

remove AggLet
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Children.scala
  hail/src/main/scala/is/hail/expr/ir/Copy.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/Exists.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/InferType.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/Interpretable.scala
  hail/src/main/scala/is/hail/expr/ir/LowerMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/Scope.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/test/scala/is/hail/expr/ir/AggregatorsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
Due: none

add nestedAgg test
  hail/src/test/scala/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

[RFC] order-preserving key encoding
  dev-docs/hail-query/key-encoding.md
Due: none

[query/vds] Don't error if combiner is finished and output exists (#14397)
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

dead code
  hail/src/main/scala/is/hail/types/encoded/EInt32.scala
Due: none

[query] Add EVarInt, an always LEB128 encoded integer
  hail/src/main/scala/is/hail/io/InputBuffers.scala
  hail/src/main/scala/is/hail/types/encoded/EType.scala
  hail/src/main/scala/is/hail/types/encoded/EVarInt.scala
  hail/src/main/scala/is/hail/utils/richUtils/RichCodeInputBuffer.scala
  hail/src/main/scala/is/hail/utils/richUtils/RichCodeOutputBuffer.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: none

Explicitly use hail functions
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

Add example using matrix table
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

Use explicit array expression in unit test
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

Fix docstring error
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

Add Cochran Mantel Haenszel statistical test for association
  hail/python/hail/docs/functions/index.rst
  hail/python/hail/docs/functions/stats.rst
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

Matrix table show new implementation
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Refactor matrix table show
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Update MatrixTable.show docstring
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Refactor table show
  hail/python/hail/table.py
Due: ruff, ruff-format

Add type annotations to MatrixTable.show signature
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Add matrix table show unit tests
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

Address pull request comments
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Add unit test
  hail/python/test/hail/methods/test_misc.py
Due: ruff, ruff-format
