Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ci, check-batch, check-auth, check-web_common, check-gear, check-hailtop

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: check-ci
        name: check-ci
        entry: bash pre-commit-make-shim ci
        files: ci/
        language: system
        types: [python]
        require_serial: true
      - id: check-batch
        name: check-batch
        entry: bash pre-commit-make-shim batch
        files: batch/
        language: system
        types: [python]
        require_serial: true
      - id: check-auth
        name: check-auth
        entry: bash pre-commit-make-shim auth
        files: auth/
        language: system
        types: [python]
        require_serial: true
      - id: check-web_common
        name: check-web_common
        entry: bash pre-commit-make-shim web_common
        files: web_common/
        language: system
        types: [python]
        require_serial: true
      - id: check-gear
        name: check-gear
        entry: bash pre-commit-make-shim gear
        files: gear/
        language: system
        types: [python]
        require_serial: true
      - id: check-hailtop
        name: check-hailtop
        entry: bash pre-commit-make-shim hailtop
        files: hail/python/hailtop
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[batch] Search area fixes (#13501)
  batch/batch/front_end/templates/table_search.html
Due: none

[hailctl] Dont copy the user's config file into submit jobs
  hail/python/hailtop/config/__init__.py
  hail/python/hailtop/config/user_config.py
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/batch/submit.py
Due: check-batch, check-hailtop

[query] improve type hinting for tables (#13468)
  hail/python/hail/__init__.py
  hail/python/hail/experimental/function.py
  hail/python/hail/expr/expressions/base_expression.py
  hail/python/hail/ir/ir.py
  hail/python/hail/table.py
  hail/python/hail/typecheck/check.py
  hail/python/hailtop/hail_decorator.py
  hail/python/test/hail/helpers.py
Due: check-hailtop

[batch] Favor configuration_of and get_remote_tmpdir over get_user_config (#13503)
  batch/test/conftest.py
  batch/test/test_batch.py
  batch/test/test_dag.py
  hail/python/test/hailtop/batch/test_batch.py
  hail/python/test/hailtop/batch/test_batch_pool_executor.py
Due: check-batch

wip
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/test/scala/is/hail/expr/ir/ExtractIntervalFiltersSuite.scala
Due: none

[query] MT.tail should prefer `n_rows` to `n`.
  hail/python/hail/matrixtable.py
Due: none

remove types
  hail/python/hailtop/batch/job.py
Due: check-batch, check-hailtop

[batch] Dont swallow exception in container run
  batch/batch/worker/worker.py
Due: check-batch

[batch] More debugging information for network namespace errors
  batch/batch/worker/worker.py
Due: check-batch

[batch] Drop unused SQL functions
  batch/sql/cleanup-deprecated-functions.sql
  batch/sql/estimated-current.sql
Due: none

[batch] Drop unused SQL functions (#13510)
  batch/sql/cleanup-deprecated-functions.sql
  batch/sql/estimated-current.sql
Due: none

[batch] Actually do the cleanup unused functions migration
  build.yaml
Due: none

undo the change to the aiodocker monkeypatch
  batch/batch/worker/worker.py
Due: check-batch

[batch] Actually do the cleanup unused functions migration (#13514)
  build.yaml
Due: none

remove xfs
  batch/batch/cloud/azure/driver/create_instance.py
Due: check-batch

[auth] Fix the auth rest API for developers
  auth/auth/auth.py
Due: check-auth

[auth] Fix the auth rest API for developers (#13515)
  auth/auth/auth.py
Due: check-auth

fix: hail/python/dev/requirements.txt to reduce vulnerabilities
  hail/python/dev/requirements.txt
Due: none

fix: hail/python/dev/pinned-requirements.txt to reduce vulnerabilities
  hail/python/dev/pinned-requirements.txt
Due: none

[lint] Add pre-commit to dev requirements
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  web_common/pinned-requirements.txt
Due: none

fix
  build.yaml
Due: none

check for specific third party tags and ci/test
  devbin/generate_gcp_ar_cleanup_policy.py
Due: none

add build.yaml step
  build.yaml
Due: none

[devbin] Generate cleanup policies for GCP artifact registry
  devbin/generate_gcp_ar_cleanup_policy.py
Due: none

add checked in policy
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

get rid of untagged third party image
  devbin/generate_gcp_ar_cleanup_policy.py
  docker/third-party/images.txt
Due: none

fix duplicate name
  devbin/generate_gcp_ar_cleanup_policy.py
Due: none

get rid of third party tags
  devbin/generate_gcp_ar_cleanup_policy.py
Due: none

add new linting image
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

[batch] Tokenize batches_n_complete_states
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  batch/sql/estimated-current.sql
  batch/sql/tokenize-job-complete-states.sql
Due: check-batch

fix query?
  batch/batch/front_end/query/query_v1.py
  build.yaml
Due: check-batch

[devbin] Generate cleanup policies for GCP artifact registry (#13489)
  build.yaml
  devbin/generate_gcp_ar_cleanup_policy.py
  docker/third-party/images.txt
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

add back syslog
  batch/batch/cloud/gcp/driver/create_instance.py
Due: check-batch

timeout error
  batch/batch/worker/worker.py
Due: check-batch

fix
  batch/batch/cloud/gcp/driver/create_instance.py
Due: check-batch

add container name
  batch/batch/worker/worker.py
Due: check-batch
