Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

dest is directory when x:y/ but not when x/:y/
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

error handling mechanism, actually ensure the backend is closed, ignore missing config.ini file, user friendly error messages when script file or --files files do not exists
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

[hailctl] fix hailctl batch submit and restore tests
  build.yaml
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/__init__.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

ruff formatting
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

reorganize for clarity
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

prevent interpolation in heredoc
  build.yaml
Due: none

--image-name instead of --image
  build.yaml
Due: none

fix build.ymal test
  build.yaml
Due: none

better names, fix bugs
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

envvars for test_hail_python
  build.yaml
Due: none

format
  hail/.mill-version
  hail/src/main/java/is/hail/io/compress/BGzipConstants.java
Due: none

[query] add `SType.isIsomorphicTo`
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/types/physical/stypes/SType.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SBaseStructPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SBinaryPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalCall.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalLocusPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SIndexablePointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SInsertFieldsStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SIntervalPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SJavaArray.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SJavaBytes.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SJavaString.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SNDArrayPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SNDArraySlice.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SRNGState.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackInterval.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStringPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SUnreachable.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SStream.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SVoid.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SBoolean.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SFloat32.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SFloat64.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SInt32.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SInt64.scala
  hail/src/test/scala/is/hail/methods/ExprSuite.scala
Due: none

fix build.yaml
  build.yaml
Due: none

rename `TBaseStruct.isIsomorphicTo` -> `isJoinableWith`
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/functions/IntervalFunctions.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/expr/ir/orderings/CodeOrdering.scala
  hail/src/main/scala/is/hail/rvd/KeyedRVD.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/rvd/RVDPartitioner.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/src/main/scala/is/hail/types/virtual/TBaseStruct.scala
Due: none

modify commit_batch_update
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

`Type.canCastTo` -> `isIsomorphicTo`
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SUnreachable.scala
  hail/src/main/scala/is/hail/types/virtual/TArray.scala
  hail/src/main/scala/is/hail/types/virtual/TBaseStruct.scala
  hail/src/main/scala/is/hail/types/virtual/TBinary.scala
  hail/src/main/scala/is/hail/types/virtual/TBoolean.scala
  hail/src/main/scala/is/hail/types/virtual/TCall.scala
  hail/src/main/scala/is/hail/types/virtual/TDict.scala
  hail/src/main/scala/is/hail/types/virtual/TFloat32.scala
  hail/src/main/scala/is/hail/types/virtual/TFloat64.scala
  hail/src/main/scala/is/hail/types/virtual/TInt32.scala
  hail/src/main/scala/is/hail/types/virtual/TInt64.scala
  hail/src/main/scala/is/hail/types/virtual/TInterval.scala
  hail/src/main/scala/is/hail/types/virtual/TLocus.scala
  hail/src/main/scala/is/hail/types/virtual/TNDArray.scala
  hail/src/main/scala/is/hail/types/virtual/TRNGState.scala
  hail/src/main/scala/is/hail/types/virtual/TSet.scala
  hail/src/main/scala/is/hail/types/virtual/TStream.scala
  hail/src/main/scala/is/hail/types/virtual/TString.scala
  hail/src/main/scala/is/hail/types/virtual/TUnion.scala
  hail/src/main/scala/is/hail/types/virtual/TVariable.scala
  hail/src/main/scala/is/hail/types/virtual/TVoid.scala
  hail/src/main/scala/is/hail/types/virtual/Type.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
  hail/src/test/scala/is/hail/types/physical/PTypeSuite.scala
  hail/src/test/scala/is/hail/types/virtual/TStructSuite.scala
Due: none

tidy up
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SBaseStructPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SBinaryPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalLocusPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SIndexablePointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SIntervalPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SJavaArray.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SNDArrayPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SNDArraySlice.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SRNGState.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackInterval.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStringPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SStream.scala
  hail/src/main/scala/is/hail/types/virtual/TDict.scala
  hail/src/main/scala/is/hail/types/virtual/Type.scala
Due: none

tidy umore
  hail/src/main/scala/is/hail/types/virtual/TBaseStruct.scala
Due: none

[infra] Make CI an admin of the artifact registry
  infra/gcp-broad/main.tf
Due: none

[infra] use PDB versions supported by our k8s cluster
  infra/gcp-broad/main.tf
Due: none

[infra] make all buckets created by TF uniform access
  infra/gcp-broad/ci/main.tf
  infra/gcp-broad/gcs_bucket/main.tf
Due: none

[test-dataproc] use regional buckets instead of soon-to-be-deleted multi-regional buckets
  hail/scripts/test-dataproc.sh
Due: none

[terraform] restore CI access to ci bucket after UBLA is applied
  infra/gcp-broad/ci/main.tf
Due: none

[batch] Drop redunant port mapping on worker container run (#14252)
  batch/batch/cloud/azure/driver/create_instance.py
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

update test-gcp.sh to be closer to modern use
  hail/scripts/test-gcp.sh
Due: none

[release] remove unused old stuff
  hail/scripts/release.sh
Due: none

recursive job group state n_jobs and no migration transaction
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix cancel_job_group
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

more fixes
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix python front end icr
  batch/batch/front_end/front_end.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

fix bad global var collision
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

format
  hail/src/main/scala/is/hail/types/virtual/TDict.scala
Due: none

[query] update jvm deps
  hail/.mill-version
  hail/build.sc
Due: none

bump breeze to 1.2, since that was forced by spark
  hail/build.sc
Due: none

[query] add scalafix check to check-hail
  Makefile
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

fix cancel
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

appease testng
  hail/build.sc
  hail/generate_splits.py
  hail/testng-build.xml
  hail/testng-fs.xml
  hail/testng-services.xml
  hail/testng.xml
Due: ruff, ruff-format, pyright

CI needs to be admin of artifacts and the repo itself
  infra/gcp-broad/main.tf
Due: none

dont need both
  infra/gcp-broad/main.tf
Due: none
