Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

frontend validation
  batch/batch/front_end/validate.py
Due: ruff, ruff-format, pyright

static analysis
  hail/python/hailtop/batch/job.py
Due: ruff, ruff-format

fix while loop
  ci/ci/github.py
Due: ruff, ruff-format, pyright

remove debugging code
  batch/batch/front_end/front_end.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

use ci_image for test_ci step
  build.yaml
Due: none

more ci_test fixing
  build.yaml
Due: none

fix missing early return
  hail/src/main/scala/is/hail/backend/BackendServer.scala
Due: none

extract common toByteArray encoding
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/CodecSpec.scala
Due: none

[query] Use `sourcecode.Enclosing` to handle timed blocks implicitly
  hail/build.sc
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitClassBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/utils/ExecutionTimer.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/expr/ir/EmitStreamSuite.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/MemoryLeakSuite.scala
  hail/src/test/scala/is/hail/expr/ir/TableIRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
  hail/src/test/scala/is/hail/expr/ir/table/TableGenSuite.scala
Due: none

fill npe in semantichashsuite
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

do a better job at timing serialisation
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/expr/expressions/expression_utils.py
  hail/python/hailtop/utils/utils.py
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/src/main/scala/is/hail/utils/ExecutionTimer.scala
Due: ruff, ruff-format

[query] Unify CloudCredentials and Modernise BatchService API
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/Requester.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: none

review
  ci/ci/github.py
Due: ruff, ruff-format, pyright

fix gcs oauth2 scopes
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

False is not a number
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

20 is not a bool
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

review
  build.yaml
  ci/ci/github.py
Due: ruff, ruff-format, pyright

initializes global config for ci_test
  build.yaml
Due: none

[query] delete stale `Py4JBackend/index_bgen`
  hail/python/hail/backend/py4j_backend.py
Due: ruff, ruff-format

devserver documentation
  dev-docs/services/services-development-faq.md
Due: none

Previous page button
  batch/batch/front_end/templates/batch.html
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

[query] delete stale `Py4JBackend/index_bgen` (#14685)
  hail/python/hail/backend/py4j_backend.py
Due: ruff, ruff-format

Remove debug print
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

Standardize default
  batch/batch/front_end/front_end.py
  batch/sql/jobs-add-n-max-attempts.sql
Due: ruff, ruff-format, pyright

[UI] Batch UI: Previous page button (#14688)
  batch/batch/front_end/templates/batch.html
Due: none

[vds] Unify GT/LGT after split_multi for reference data
  hail/python/hail/vds/methods.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

apply suggestions
  hail/python/hail/vds/methods.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[query, bugfix] TableAggregate interpret supports globals in init op (#14673)
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
Due: none

lint
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[vds] Unify GT/LGT after split_multi for reference data (#14695)
  hail/python/hail/vds/methods.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[query] Set QUAL to missing when it's "."
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
Due: none

update docs
  hail/python/hail/methods/impex.py
Due: ruff, ruff-format

[query/vds] Fix removal of ref GT in `from_merged_representation`
  hail/python/hail/vds/variant_dataset.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[query/vds] Add LEN field to VDS
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

Updates after review
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

More fixes in the combiner
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

No need to check for END if it is dropped
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format
