Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

remove unapplicable feature flag
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

remove unused arg
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[batch] make batches query go brrrrrrr (#14629)
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

Revert "[batch] make batches query go brrrrrrr (#14629)"
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

Revert "[batch] make batches query go brrrrrrr (#14629)" (#14648)
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

[batch] make batches query go brrrrrrr (take 2)
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

Add support for public-ip-address in dataproc (#346)
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

set internal-ip-address to true by default and lint
  hail/python/hailtop/hailctl/dataproc/cli.py
Due: ruff, ruff-format

[query] Remove jackson string length restriction in Spark/Local backends
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: none

query for non-cancelled job groups
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

wip
  hail/python/hail/docs/tutorials/10-ggplot2.ipynb
  hail/python/hail/ggplot2/__init__.py
  hail/python/hail/ggplot2/altair_wrapper.py
  hail/python/hail/ggplot2/ggplot2.py
  hail/python/hail/ggplot2/utils.py
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: ruff, ruff-format

no option, just add the flag to the command
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

dont aggregate across job groups
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

Add log out option on User page
  auth/auth/templates/user.html
Due: none

Button formatting
  auth/auth/templates/user.html
Due: none

Remove unreliable logout button from header
  web_common/web_common/templates/new_header.html
Due: none

Remove menu spacer from logged-in view; add to logged-out view
  auth/auth/templates/user.html
  web_common/web_common/templates/new_header.html
Due: none

Adjust batches table from user feedback
  batch/batch/front_end/templates/batches.html
  web_common/web_common/templates/utils.html
Due: none

Fixed table widths, reliable truncating
  batch/batch/front_end/templates/batches.html
  web_common/input.css
  web_common/web_common/templates/utils.html
Due: none

More tidying
  batch/batch/front_end/templates/batches.html
Due: none

Rename Pending column from user feedback
  batch/batch/front_end/templates/batch.html
Due: none

Simplify links
  batch/batch/front_end/templates/batches.html
  web_common/web_common/templates/utils.html
Due: none

`STRAIGHT_JOIN` only required on job group tables
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

`STRAIGHT_JOIN` not required on derived tables
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

[admin-pod] Fix admin-pod Makefile to push pod image (#14627)
  admin-pod/Makefile
Due: none

[UI] Remove broken Log out; provide another option (#14639)
  auth/auth/templates/user.html
  web_common/web_common/templates/new_header.html
Due: none

Single call to overrideDefaultStreamReadConstraints
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: none

[query] Remove jackson string length restriction in Spark/Local backends (#14651)
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

lint fixes
  hail/python/hailtop/aiotools/plan.py
  hail/python/hailtop/aiotools/sync.py
  hail/python/hailtop/hailctl/__main__.py
  hail/python/hailtop/hailctl/fs/cli.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
  hail/python/test/hailtop/inter_cloud/test_hailctl_fs_sync.py
Due: ruff, ruff-format

test fixes
  hail/python/test/hailtop/inter_cloud/conftest.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
  hail/python/test/hailtop/inter_cloud/test_hailctl_fs_sync.py
Due: ruff, ruff-format

skip irrelevant test that can't stop timing out
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

Release 0.2.130.post1
  hail/build.sc
  hail/version.mk
Due: none

Initial attempt at writing up how CI works
  dev-docs/services/ci/README.md
Due: none

[batch] make batches query go brrrrrrr (for realsies) (#14649)
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

Add timeline diagrams to CI docs
  dev-docs/services/ci/README.md
  dev-docs/services/ci/ci-deploy.png
  dev-docs/services/ci/ci-test.png
Due: none

Fix link to architecture diagram
  dev-docs/services/ci/README.md
Due: none

fix?
  hail/python/test/hailtop/inter_cloud/test_hailctl_fs_sync.py
Due: ruff, ruff-format

lint
  hail/python/test/hailtop/inter_cloud/test_hailctl_fs_sync.py
Due: ruff, ruff-format

More content
  dev-docs/services/ci/README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
