Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[fs] Teach GoogleStorageAsyncFS to use the rewrite API (#14603)
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/test/hailtop/test_aiogoogle.py
Due: ruff, ruff-format

update date
  hail/python/hail/docs/change_log.md
Due: none

[batch/qob] propagates errors from failed QoB worker jobs without result files
  batch/batch/worker/worker.py
  batch/jvm-entryway/src/main/java/is/hail/JVMEntryway.java
  hail/Makefile
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
Due: ruff, ruff-format, pyright

[hailtop] Don't log rate limit errors
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

[pip] Remove make targets for pinned requirements files (#14604)
  Makefile
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  dev-docs/pip-dependencies.md
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

[hailtop] Don't log rate limit errors (#14605)
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

[dev-docs] Create overview of identity management
  dev-docs/services/auth/identity-management.md
Due: none

[release] Release 0.2.132 (#14588)
  hail/build.sc
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
  hail/version.mk
Due: none

Update to this month's base Ubuntu image
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
Due: none

Use CI's credentials instead of removed upstream registry-push-credentials
  build.yaml
Due: none

[lint] ignores black->ruff formatting commit (#14133)
  .git-blame-ignore-revs
Due: none

run worker image
  batch/Dockerfile
  batch/batch/cloud/gcp/driver/driver.py
  batch/batch/cloud/gcp/driver/resouce_manager_lambda.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/utils.py
  batch/batch/driver/main.py
  batch/deployment.yaml
Due: ruff, ruff-format, pyright

[vds] add haploid to_dense_mt test
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[vds] add haploid to_dense_mt test (#14608)
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[ci] Add operator knob to adjust rate limits
  build.yaml
  ci/ci/ci.py
  ci/ci/envoy.py
  ci/ci/templates/namespaces.html
  ci/sql/add-service-rate-limits.sql
  ci/sql/estimated-current.sql
  ci/test/envoy/test_gateway_rds_response.yaml
  ci/test/envoy/test_internal_gateway_rds_response.yaml
  ci/test/test_envoy.py
Due: ruff, ruff-format, pyright

add config endpoints to docs on gateways
  dev-docs/services/gateways.md
Due: none

[dev-docs] Create overview of identity management (#14606)
  dev-docs/services/auth/identity-management.md
Due: none

[query] Don't error on VCF export when haploid call is unphased (#14375)
  hail/python/test/hail/methods/test_impex.py
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
Due: ruff, ruff-format

[vds/combiner] Stop dropping GT in reference data during gvcf import (#14560)
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/hail/vds/methods.py
  hail/python/test/hail/vds/test_combiner.py
Due: ruff, ruff-format

fix warning from merging backports
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

[batch] Remove blob storage read inside Worker job creation endpoint
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[batch] Async _compile should use async read_input
  hail/python/hailtop/batch/job.py
Due: ruff, ruff-format

[batch] Async _compile should use async read_input (#14612)
  hail/python/hailtop/batch/job.py
Due: ruff, ruff-format

[auth] Make UI consistent with new Batch design (#14586)
  auth/auth/templates/index.html
  auth/auth/templates/roles.html
  auth/auth/templates/user.html
  auth/auth/templates/users.html
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/billing_projects.html
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/table_search.html
  web_common/input.css
  web_common/tailwind.config.js
  web_common/web_common/templates/utils.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[batch] Fix accidental mutation in GoogleComputeClient.list that broke disk cleanup
  batch/batch/cloud/gcp/driver/disks.py
  batch/batch/cloud/gcp/driver/zones.py
  hail/python/hailtop/aiocloud/aiogoogle/client/compute_client.py
Due: ruff, ruff-format, pyright

Add FakeJob placeholder object
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

fix lint
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[batch] Fix accidental mutation in GoogleComputeClient.list that broke disk cleanup (#14614)
  batch/batch/cloud/gcp/driver/disks.py
  batch/batch/cloud/gcp/driver/zones.py
  hail/python/hailtop/aiocloud/aiogoogle/client/compute_client.py
Due: ruff, ruff-format, pyright

[batch] Remove unused batch driver nginx dockerfile (#14596)
  batch/Dockerfile.driver-nginx
Due: none

[auth] Add compiled tailwind css to docker image
  auth/Dockerfile
Due: none

Abbriviate release script
  hail/scripts/release.sh
Due: none

Add necessary secrets for release
  build.yaml
Due: none

[auth] Add compiled tailwind css to docker image (#14615)
  auth/Dockerfile
Due: none

[docker] Fix pip pin (#14535)
  docker/hail-ubuntu/Dockerfile
Due: none

[annotationdb][datasets] regional buckets (#14286)
  hail/python/cluster-tests/cluster-vep-check-GRCh37.py
  hail/python/cluster-tests/cluster-vep-check-GRCh38.py
  hail/python/hail/docs/_static/annotationdb/annotationdb.html
  hail/python/hail/docs/_static/annotationdb/annotationdb.js
  hail/python/hail/docs/annotation_database_ui.rst
  hail/python/hail/docs/cloud/azure.rst
  hail/python/hail/docs/datasets.rst
  hail/python/hail/experimental/datasets.json
  hail/python/hail/experimental/datasets.py
  hail/python/hail/experimental/db.py
  hail/python/hail/methods/qc.py
  hail/python/hailtop/hailctl/dataproc/resources/vep-GRCh37.sh
  hail/python/hailtop/hailctl/dataproc/resources/vep-GRCh38.sh
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/scripts/test-dataproc.sh
Due: ruff, ruff-format, pyright

add azure key vault
  infra/azure/main.tf
  infra/azure/modules/batch/main.tf
  infra/azure/modules/batch/outputs.tf
  infra/azure/modules/ci/main.tf
  infra/azure/modules/ci/variables.tf
Due: none
