Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[emr] install Hail into Python 3.11 and point PySpark at it (EMR system python3 is 3.9)
  hail/python/hail/docs/cloud/amazon_web_services.rst
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
Due: ruff, ruff-format

[fs] route HAIL_CLOUD=aws to HadoopFS-only RouterFS for EMR
  hail/hail/src/is/hail/io/fs/RouterFS.scala
Due: none

[emr] add run_job_flow request builder and Spark compatibility table
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
Due: ruff, ruff-format

[emr] add submit: upload script to S3, add step, wait for completion
  hail/python/hailtop/hailctl/emr/submit.py
  hail/python/test/hailtop/hailctl/emr/test_submit.py
Due: ruff, ruff-format

[emr] deliver HAIL_CLOUD to client-mode drivers via spark-env classification
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
  hail/scripts/test-emr.sh
Due: ruff, ruff-format

[emr] add EMR bootstrap script and package it in the wheel
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/setup.py
Due: ruff, ruff-format, pyright

[emr] add manual EMR integration smoke test script
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/hailtop/hailctl/emr/submit.py
  hail/scripts/test-emr.sh
Due: ruff, ruff-format

[emr] fix driver HAIL_CLOUD env, guard step-failure reporting, validate JSON overlay
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/hailtop/hailctl/emr/submit.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
  hail/python/test/hailtop/hailctl/emr/test_submit.py
Due: ruff, ruff-format

[emr] keep hailctl lazy-import convention; lint with pinned ruff
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/hailtop/hailctl/emr/submit.py
Due: ruff, ruff-format

[emr] preflight-check default IAM roles with a clear message
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/test/hailtop/hailctl/emr/test_emr.py
Due: ruff, ruff-format

[config] add emr/region and emr/remote_tmpdir config variables
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
Due: ruff, ruff-format

reinstate python 3.11 for EMR
  build.yaml
  docker/hailgenetics/mirror_images.sh
  docker/hailgenetics/python-dill/push.sh
  hail/python/hailtop/batch/hail_genetics_images.py
  hail/python/setup-hailtop.py
  hail/python/setup.py
  hail/scripts/release.sh
Due: ruff, ruff-format, pyright

quick help doc for next time we need to do this, with lessons learned
  dev-docs/python-version-bump.md
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

update the floor check
  dev-docs/python-version-bump.md
  hail/python/hailtop/batch/docker.py
  hail/python/hailtop/batch/hail_genetics_images.py
Due: ruff, ruff-format

allow role patching for inactive users
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

remove namespaces too
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

prevent role addition when inactive
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

another floor check updated
  dev-docs/python-version-bump.md
  hail/python/hail/__init__.py
Due: ruff, ruff-format

[compiler] fix new_combiner compilation error with batch size > 2
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

[query] Fix `transform_gvcf` docs. (#15602)
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

[query] improve optimiser for gnomad v5
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/IRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

[compiler] `LiftAvailableExprs`
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/Exists.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/IsPure.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/LiftAvailableExprs.scala
  hail/hail/src/is/hail/expr/ir/lowering/Optimize.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/LiftAvailableExprsSuite.scala
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

[query] Implement table writing as an aggregator (#15455)
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/io/BufferSpecs.scala
  hail/hail/src/is/hail/io/OutputBuffers.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
Due: none

[query] Avoid Materialising Arrays + Structs (#15587)
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/IRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

factor common aggregations for meta info into a helper method
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
Due: none

[query] Implement matrix writing as an aggregator
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamSplitWriterAggregator.scala
Due: none

Have split aggregator take rows and entries separately
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamSplitWriterAggregator.scala
Due: none

rebase and fix
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
Due: none

[compiler] fix new_combiner compilation error with batch size > 2 (#15611)
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

[auth] allow role patching for inactive users (#15609)
  auth/auth/auth.py
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

Initial commit of AWS infrastructure
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/aws-broad/README.md
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

data validity check: cannot limit a quote that has unlimited bps
  batch/batch/billing_dao.py
  batch/test/test_billing_dao.py
Due: ruff, ruff-format, pyright

[batch-driver] Add /api/ implementations of remaining html-only queries (#15574)
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/openapi.yaml
  batch/batch/inst_coll_config.py
Due: ruff, ruff-format, pyright

Fixing parameterization and adding stack role
  infra/aws-broad/README.md
  infra/aws/README.md
  infra/aws/hail-is/parameters.json
  infra/aws/main.yaml
Due: none

add event details for quote updates
  batch/batch/billing_dao.py
Due: ruff, ruff-format, pyright

set detail to json, add description fields
  batch/batch/billing_dao.py
  batch/batch/front_end/front_end.py
  batch/batch/utils.py
  batch/sql/121-billing-quotes.sql
Due: ruff, ruff-format, pyright

fix dao tests
  batch/test/billing_dao_schema.sql
  batch/test/test_billing_dao.py
Due: ruff, ruff-format, pyright

closeable quotes
  batch/batch/billing_auth.py
  batch/batch/billing_dao.py
  batch/batch/front_end/front_end.py
  batch/sql/121-billing-quotes.sql
  batch/test/billing_dao_schema.sql
  batch/test/test_billing_dao.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/quotes/cli.py
Due: ruff, ruff-format, pyright

add quote number
  batch/batch/billing_dao.py
  batch/batch/front_end/front_end.py
  batch/sql/121-billing-quotes.sql
  batch/test/billing_dao_schema.sql
  batch/test/test_billing_dao.py
Due: ruff, ruff-format, pyright

Remove bad rebase
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
