Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[ci] Create terra prs in separate release step (#14715)
  build.yaml
  hail/scripts/make-terra-prs.sh
  hail/scripts/release.sh
Due: none

Adding grohli to AUTHORIZED_USERS in constants.py
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[ci] preserve mill + python build area between ci stages (#14709)
  build.yaml
  hail/Makefile
Due: none

extract common toByteArray encoding
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/CodecSpec.scala
Due: none

fill npe in semantichashsuite
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

review feedback from cvittal
  hail/python/hail/expr/expressions/expression_utils.py
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
Due: ruff, ruff-format

[query] Use `sourcecode.Enclosing` to handle timed blocks implicitly
  hail/build.sc
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitClassBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/utils/ExecutionTimer.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/expr/ir/EmitStreamSuite.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/MemoryLeakSuite.scala
  hail/src/test/scala/is/hail/expr/ir/TableIRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
  hail/src/test/scala/is/hail/expr/ir/table/TableGenSuite.scala
Due: none

fix missing early return
  hail/src/main/scala/is/hail/backend/BackendServer.scala
Due: none

Update service_backend.py
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

do a better job at timing serialisation
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/expr/expressions/expression_utils.py
  hail/python/hailtop/utils/utils.py
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/src/main/scala/is/hail/utils/ExecutionTimer.scala
Due: ruff, ruff-format

review feedback from @patrick-schultz
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

fix global config fetcher
  infra/gcp/README.md
Due: none

Issue template for creating new developers
  .github/ISSUE_TEMPLATE/new-developer.yml
  dev-docs/services/creating-a-developer-account.md
Due: none

copypasta
  .github/ISSUE_TEMPLATE/new-developer.yml
Due: none

reformat
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

fix gcs oauth2 scopes
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

assert isRealizable in `executeLiteral`, not `execute`
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: none

`stop` in python, closable only in scala
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

make backend closable + fix mocked test
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
  hail/python/hailtop/config/user_config.py
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: ruff, ruff-format

[query] Unify CloudCredentials and Modernise BatchService API
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/Requester.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: none

[query] Expose references via `ExecuteContext`
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
Due: none

extract references from `Backend` implementations
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/reference/LiftOver.scala
  hail/src/main/scala/is/hail/io/reference/package.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/annotations/UnsafeSuite.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/RequirednessSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

reduce code duplication
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/expr/ir/Aggregators2Suite.scala
  hail/src/test/scala/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

[query] Remove BlockMatrix persist from Backend interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/caching/BlockMatrixCache.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBlockMatrixCache.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/utils/ErrorHandling.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

fix old squiggly lines
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
Due: none

[query] Remove `lookupOrCompileCachedFunction` from `Backend` interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/utils/Cache.scala
Due: none

fix ReferenceGenome serialisation
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
Due: none

prefix methods called in python with `py`
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/ir/ir.py
  hail/python/hail/ir/table_ir.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
Due: ruff, ruff-format

add `ImmutableMap` to prevent BM persist where unsupported
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/utils/ImmutableMap.scala
  hail/src/main/scala/is/hail/utils/richUtils/RichMap.scala
Due: none

[query] Move LoweredTableReaderCoercer into ExecuteContext
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/caching/package.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/GenericTableValue.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
Due: none

[query] unify backend rpc
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/GenericLines.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableValue.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/linalg/BlockMatrix.scala
  hail/src/main/scala/is/hail/linalg/RowMatrix.scala
  hail/src/main/scala/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/sparkextras/ContextRDD.scala
  hail/src/main/scala/is/hail/sparkextras/IndexReadRDD.scala
  hail/src/main/scala/is/hail/types/virtual/package.scala
  hail/src/main/scala/is/hail/utils/SpillingCollectIterator.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

update python rpc methods
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/test/hail/test_ir.py
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/io/plink/LoadPlink.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: ruff, ruff-format

fix typecast error from missing type arguments
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
Due: none

[query] Remove `persistedIr` from `Backend` interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/functions/Functions.scala
  hail/src/main/scala/is/hail/io/bgen/LoadBgen.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

i miss hm type system
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
Due: none

fix rebase fallout
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/backend/api/ServiceBackendApi.scala
  hail/src/test/scala/is/hail/HailSuite.scala
Due: none

fix warnigns - now builds in "Release Mode"
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

wire up spark, local and py4j backends
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/backend/api/ServiceBackendApi.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/scala/is/hail/HailSuite.scala
Due: ruff, ruff-format

checkpoint
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
Due: none
