Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

fix ci unit test expectations
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

revert dev docs
  dev-docs/services/ui/README.md
Due: none

be safe with void returns from APIs
  services/ui/src/ci/pr.tsx
  services/ui/src/shared/hailApiFetch.ts
Due: none

show failed jobs in every test run
  batch/batch/front_end/templates/openapi.yaml
  services/ui/src/ci/pr.tsx
Due: none

react PR details page
  Makefile
  ci/ci/ci.py
  ci/ci/templates/pr_react.html
  dev-docs/services/ui/README.md
  devbin/dev_proxy.py
  services/ui/package.json
  services/ui/src/batch_driver/DriverDashboard.tsx
  services/ui/src/ci/pr.tsx
  services/ui/src/shared/BatchStateIcon.tsx
  services/ui/src/shared/SegmentedBar.tsx
  services/ui/src/shared/useTip.tsx
Due: ruff, ruff-format, pyright

make status for in progress PR runs a spinner
  services/ui/src/ci/pr.tsx
Due: none

make api instant scheduling retries. Make UI/devserver resilient in the meantime
  ci/ci/ci.py
  devbin/dev_proxy.py
  services/ui/src/ci/pr.tsx
Due: ruff, ruff-format, pyright

fix csp and codacy issues
  devbin/dev_proxy.py
  services/ui/src/ci/pr.tsx
Due: ruff, ruff-format, pyright

[ci] restore release dependence on dataproc tests (#15757)
  build.yaml
Due: none

restore a couple of input files for check-pip-requirements
  build.yaml
Due: none

[compiler] design docs for explicit scope structure in the IR
  hail/CONTEXT.md
  hail/docs/adr/0001-explicit-scope-structure.md
  hail/docs/rfc/0001-explicit-scope-structure.md
Due: none

job group POC on ci details page
  batch/batch/batch.py
  ci/ci/build.py
  ci/unit-test/test_build_configuration.py
  dev-docs/services/ui/README.md
  services/ui/src/batch/components/CollapsibleItem.tsx
  services/ui/src/batch/components/useBatchData.ts
  services/ui/src/ci/components/JobGroupTree.tsx
  services/ui/src/ci/components/JobList.tsx
  services/ui/src/ci/pr.tsx
Due: ruff, ruff-format, pyright

[batch] add APIs in support of batch timing and structure analysis
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

rename pagination object, drop useless comments
  batch/batch/front_end/front_end.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

add job groups to test batches
  ci/ci/build.py
  ci/unit-test/test_build_configuration.py
Due: ruff, ruff-format, pyright

less commentary
  ci/ci/build.py
Due: ruff, ruff-format, pyright

copilot feedback
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[query] Add MatrixNativePartitionedColumnsWriter
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
Due: none

promote image to default and add --promote to helper script
  batch/batch/cloud/gcp/driver/create_instance.py
  devbin/update-worker-disk-base-ubuntu-image.py
Due: ruff, ruff-format, pyright

[ci] add job groups to test batches (#15769)
  ci/ci/build.py
  ci/unit-test/test_build_configuration.py
Due: ruff, ruff-format, pyright

Initial commit. Extend condition VM failure start time reset to include does_not_exist statuses
  batch/sql/033-fix-provisioning-bug.sql
Due: none

I forgot we can't modify migration files after they're written
  batch/sql/121-fix-provisioning-availability-bug.sql
Due: none

[batch] add APIs in support of batch timing and structure analysis (#15768)
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

added migration to build.yaml; fixed accidental activation_timeout regression
  batch/sql/121-fix-provisioning-availability-bug.sql
  build.yaml
Due: none

fixed migration to be consistent with past migrations; added guard against improper does_not_exist statuses
  batch/sql/121-fix-provisioning-availability-bug.sql
Due: none

bump base docker image to noble-20260911
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

[monitoring] style and CORS fixes for billing cross analysis (#15761)
  batch/batch/front_end/front_end.py
  gear/gear/__init__.py
  gear/gear/cors.py
  hail/python/hailtop/config/deploy_config.py
  services/ui/src/shared/hailApiFetch.ts
  web_common/tailwind.config.js
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[services] bump base docker image to noble-20260911 (#15781)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

[batch] batch details UI new layout
  Makefile
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batch_react.html
  dev-docs/services/ui/README.md
  devbin/dev_proxy.py
  services/ui/package.json
  services/ui/src/batch/batch.tsx
  services/ui/src/batch/components/BatchDetailsPage.tsx
  services/ui/src/batch/components/CollapsibleItem.tsx
  services/ui/src/batch/components/CostDisplay.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
  services/ui/src/batch/components/StateIcon.tsx
  services/ui/src/batch/components/batchModels.ts
  services/ui/src/batch/hooks/useBatchDetails.ts
  services/ui/src/shared/AutoRefreshBar.tsx
  services/ui/src/shared/QueryBuilder.tsx
  services/ui/src/shared/batchApi.ts
  services/ui/src/shared/hailApiFetch.ts
  services/ui/src/shared/queryFields.ts
  services/ui/src/shared/timeUtils.ts
Due: ruff, ruff-format, pyright

[query] raise on insufficient degrees of freedom in _linear_regression_rows_nd
  hail/python/hail/methods/statgen.py
  hail/python/test/hail/methods/test_statgen.py
Due: ruff, ruff-format

codacy fixes
  services/ui/src/batch/components/BatchDetailsPage.tsx
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/batchModels.ts
  services/ui/src/batch/hooks/useBatchDetails.ts
  services/ui/src/shared/QueryBuilder.tsx
  services/ui/src/shared/batchApi.ts
  services/ui/src/shared/reactUiCookie.ts
Due: none

[ci] react pr details page (#15748)
  Makefile
  batch/batch/front_end/templates/openapi.yaml
  ci/ci/ci.py
  ci/ci/templates/pr_react.html
  devbin/dev_proxy.py
  services/ui/package.json
  services/ui/src/batch_driver/DriverDashboard.tsx
  services/ui/src/ci/pr.tsx
  services/ui/src/shared/BatchStateIcon.tsx
  services/ui/src/shared/SegmentedBar.tsx
  services/ui/src/shared/hailApiFetch.ts
  services/ui/src/shared/useTip.tsx
Due: ruff, ruff-format, pyright

[batch] remove and prerender inline cloak style
  dev-docs/services/ui/README.md
  devbin/dev_proxy.py
  web_common/input.css
  web_common/web_common/templates/layout.html
Due: ruff, ruff-format, pyright

[batch] remove and prerender inline cloak style (#15784)
  dev-docs/services/ui/README.md
  devbin/dev_proxy.py
  web_common/input.css
  web_common/web_common/templates/layout.html
Due: ruff, ruff-format, pyright

unblock CORS and allow cookie setter
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  ci/ci/static/js/react_toggle.js
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

document cors in conventions
  dev-docs/services/ui/README.md
Due: none

[batch] bump ubuntu disk image to v20260904 (#15762)
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/globals.py
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
  devbin/update-worker-disk-base-ubuntu-image.py
Due: ruff, ruff-format, pyright

fixed bug in trigger related to exeuciton order of checks in the migration
  batch/sql/121-fix-provisioning-availability-bug.sql
Due: none

restore config.mk, .git to reduce errors
  build.yaml
Due: none

pre-installed-requirements too
  build.yaml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
