Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Persist should use a temporary directory
  hail/python/hail/backend/backend.py
Due: ruff, ruff-format

[query] remove tunion (#15232)
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/types/TypeWithRequiredness.scala
  hail/hail/src/is/hail/types/virtual/TUnion.scala
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/expressions/expression_typecheck.py
  hail/python/hail/expr/type_parsing.py
  hail/python/hail/expr/types.py
  hail/python/test/hail/expr/test_types.py
Due: ruff, ruff-format

[query] remove `RichRegex`
  hail/hail/src/is/hail/io/bgen/LoadBgen.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/src/is/hail/utils/richUtils/RichRegex.scala
Due: none

[compiler] refactor typecheck/infertype
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/ComputeTypeFromChildren.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IntervalSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

gen equals method
  hail/hail/ir-gen/src/Main.scala
Due: none

wip fixing test failures; need to gen equals method
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/test/src/is/hail/expr/ir/RequirednessSuite.scala
Due: none

Match error message regardless of single/double quote marks
  batch/batch/worker/worker.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format, pyright

update base ubuntu image to noble 20260113
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

WIP
  batch/batch/cloud/azure/driver/create_instance.py
  batch/batch/cloud/gcp/driver/create_instance.py
  docker-registry-cache/Makefile
  docker-registry-cache/README.md
  docker-registry-cache/deployment.yaml
  docker-registry-cache/service.yaml
Due: ruff, ruff-format, pyright

[query] printer/parser rules for StreamBufferedAggregate
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

[query] fix StreamZipJoinProducers blockargs
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

[query] fix Trap blockargs
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

Try mirror.gcr.io
  batch/batch/cloud/gcp/driver/create_instance.py
  docker-registry-cache/Makefile
  docker-registry-cache/README.md
  docker-registry-cache/deployment.yaml
  docker-registry-cache/service.yaml
Due: ruff, ruff-format, pyright

revert azure changes
  batch/batch/cloud/azure/driver/create_instance.py
Due: ruff, ruff-format, pyright

[query] fix ConsoleLog blockargs
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

[query] fix LiftMeOut blockargs
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

[compiler] add 'untyped' IR
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/ComputeTypeFromChildren.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/DistinctlyKeyedSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IntervalSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

use customizable dockerhub proxy
  batch/batch/batch_configuration.py
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  ci/Dockerfile.ci-utils
  infra/gcp/main.tf
Due: ruff, ruff-format, pyright

[Services] Bump python deps (#15218)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

[query] Remove ENumpyBinaryNDArray (#15219)
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/ValueReader.scala
  hail/hail/src/is/hail/expr/ir/ValueWriter.scala
  hail/hail/src/is/hail/types/encoded/ENumpyBinaryNDArray.scala
Due: none

[query] Fix BlockMatrix persist (#15233)
  hail/python/hail/backend/backend.py
  hail/python/hail/linalg/blockmatrix.py
  hail/python/test/hail/linalg/test_linalg.py
Due: ruff, ruff-format

[query] remove `RichRegex` (#15236)
  hail/hail/src/is/hail/io/bgen/LoadBgen.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/src/is/hail/utils/richUtils/RichRegex.scala
Due: none

[query] ApplyAggOp blockargs
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

[query] ApplyScanOp blockargs
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

fixup! Match error message regardless of single/double quote marks
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[query] fix LiftMeOut blockargs (#15245)
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

[query] sort blockArgs matches
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

[query] sort block args matching (#15247)
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

Match error message regardless of single/double quote marks (#15237)
  batch/batch/worker/worker.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format, pyright

[query] printer/parser rules for StreamBufferedAggregate (#15241)
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

[query] AggFilter blockargs
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none

[compiler] delete EmitRegion
  hail/hail/src/is/hail/expr/ir/ArraySorter.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/agg/AppendOnlyBTree.scala
  hail/hail/src/is/hail/expr/ir/agg/CollectAsSetAggregator.scala
  hail/hail/src/is/hail/expr/ir/agg/DownsampleAggregator.scala
  hail/hail/src/is/hail/expr/ir/agg/GroupedAggregator.scala
  hail/hail/src/is/hail/expr/ir/functions/ApproxCDFFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/expr/ir/functions/LocusFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/MathFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/NDArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/RandomSeededFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/ReferenceGenomeFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/StringFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/types/encoded/EDictAsUnsortedArrayOfPairs.scala
  hail/hail/src/is/hail/types/encoded/EUnsortedSet.scala
  hail/hail/test/src/is/hail/expr/ir/StagedBTreeSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TakeByAggregatorSuite.scala
Due: none

[query] AggFilter blockargs (#15250)
  hail/hail/src/is/hail/expr/ir/Pretty.scala
Due: none
