Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

lints
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

Table._generate can take a rowfn returning a stream
  hail/python/hail/table.py
Due: ruff, ruff-format

use literal for _densify n_cols
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

Add TOS and privacy statement endpoints
  .gitignore
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/privacy.html
  batch/batch/front_end/templates/tos.html
Due: ruff, ruff-format, pyright

Add TOS and privacy statement endpoints
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

store 'ref_block_max_length' for test data
  hail/hail/test/resources/vds/1kg_2samples_starts.vds/extra_reference_globals.json
Due: none

Require TOS acceptance
  auth/auth/templates/user.html
Due: none

add submit button with attributes
  auth/auth/templates/user.html
  web_common/web_common/templates/utils.html
Due: none

wire in attrs properly
  auth/auth/templates/user.html
  web_common/web_common/templates/utils.html
Due: none

[auth] Login UI requires ToS acceptance (#14878)
  .gitignore
  auth/auth/templates/user.html
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/privacy.html
  batch/batch/front_end/templates/tos.html
  web_common/web_common/templates/utils.html
Due: ruff, ruff-format, pyright

fix for updated version of rich
  hail/python/hailtop/utils/rich_progress_bar.py
Due: ruff, ruff-format

fmt
  hail/python/hail/table.py
Due: ruff, ruff-format

[github] update release action to fetch last tag + set git config (#14874)
  .github/workflows/create-release-pr.yml
Due: none

[github] fetch tag and history in release action
  .github/workflows/create-release-pr.yml
Due: none

Truncate job name when used as a directory name under /io
  hail/python/hailtop/batch/job.py
Due: ruff, ruff-format

delint
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

[compiler] move TableIR execute methods out of class (#14872)
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/types/virtual/Type.scala
  hail/hail/test/src/is/hail/expr/ir/LiftLiteralsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

[batch/auth] Making session timeout duration configurable
  auth/auth/auth.py
  auth/deployment.yaml
  gear/gear/auth_utils.py
  gear/gear/session.py
Due: ruff, ruff-format, pyright

Fixing environment variable fetching logic
  gear/gear/auth_utils.py
  gear/gear/session.py
Due: ruff, ruff-format, pyright

[github] Add Feature Request Issue Template (#14871)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new-feature-request.yml
Due: none

[tests] increase `VCFTests::test_combiner_works` timeout
  hail/python/test/hail/methods/test_impex.py
Due: ruff, ruff-format

[tests] increase `VCFTests::test_combiner_works` timeout (#14881)
  hail/python/test/hail/methods/test_impex.py
Due: ruff, ruff-format

[github] fetch tag and history in release action (#14879)
  .github/workflows/create-release-pr.yml
Due: none

[release] 0.2.135
  hail/Makefile
  hail/build.mill
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

Update change_log.rst
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

Make sign up less prominent
  auth/auth/templates/user.html
Due: none

Remove weird line
  auth/auth/templates/user.html
Due: none

Updated CLI login with ToS and privacy policy links
  hail/python/hailtop/hailctl/auth/cli.py
Due: ruff, ruff-format

Require appsec for all batch changes, but only batch changes
  .github/pull_request_template.md
Due: none

codegen all value ir node classes
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Children.scala
  hail/hail/src/is/hail/expr/ir/Copy.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/test/src/is/hail/expr/ir/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/defs/EncodedLiteralSuite.scala
Due: none

[github] tweak release action
  .github/workflows/create-release-pr.yml
Due: none

Update ruff to 0.11 series
  ci/test/resources/build.yaml
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  pyproject.toml
Due: none

ruff check --select I --fix
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/hail/docs/tutorials/01-genome-wide-association-study.ipynb
  hail/python/hail/docs/tutorials/04-aggregation.ipynb
  hail/python/hail/docs/tutorials/07-matrixtable.ipynb
  hail/python/hail/docs/tutorials/09-ggplot.ipynb
  hail/python/test/hail/backend/test_spark_backend.py
  hail/python/test/hail/expr/test_ndarrays.py
  hail/python/test/hail/test_context.py
  hail/python/test/hail/test_hail_in_notebook.ipynb
  hail/python/test/hail/test_ir.py
Due: ruff, ruff-format, pyright

Last few lints
  hail/python/hail/docs/conf.py
  hail/python/hail/expr/types.py
Due: ruff, ruff-format

noqa PLW1508
  batch/test/test_batch.py
  gear/gear/k8s_cache.py
Due: ruff, ruff-format, pyright

format
  hail/python/benchmark/hail/utils.py
  hail/python/hail/experimental/ldscsim.py
  hail/python/hail/expr/expressions/expression_typecheck.py
Due: ruff, ruff-format, pyright

add unused ggplot imports to __all__
  hail/python/hail/ggplot/__init__.py
Due: ruff, ruff-format

ignore some checks
  auth/auth/__main__.py
  auth/auth/driver/__main__.py
  batch/batch/driver/__main__.py
  batch/batch/front_end/__main__.py
  ci/ci/__main__.py
  hail/python/test/hail/expr/test_expr.py
  monitoring/monitoring/__main__.py
  website/website/__main__.py
  website/website/website.py
Due: ruff, ruff-format, pyright

ruff check --fix
  hail/python/benchmark/hail/utils.py
  hail/python/hail/experimental/ld_score_regression.py
  hail/python/hail/experimental/ldscsim.py
  hail/python/hail/utils/frozendict.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
