Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

try to release today
  hail/python/hail/docs/change_log.md
Due: none

[batch] Remove remaining locks in read-only billing project queries
  batch/batch/utils.py
Due: ruff, ruff-format, pyright

[release] build release wheel with correct `deploy.yaml` (#14453)
  build.yaml
Due: none

[release] 0.2.130 (#14454)
  hail/build.sc
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
  hail/version.mk
Due: none

start documenting release process
  dev-docs/releasing.md
Due: none

[dev-docs] Update batch operation docs (#14400)
  dev-docs/services/batch/operation.md
Due: none

[query] Use RouterFS With LocalBackend (#14407)
  build.yaml
  hail/python/hail/backend/local_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
Due: ruff, ruff-format

[compiler] rewrite FreeVariables to not duplicate binding structure (#14451)
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/expr/ir/MapIR.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

[hailctl] update to dataproc 2.2
  batch/Dockerfile.worker
  batch/jvm-entryway/build.gradle
  docker/Dockerfile.base
  docker/hailgenetics/hail/Dockerfile
  hail/Dockerfile.hail-run
  hail/Makefile
  hail/build.sc
  hail/python/dataproc-pre-installed-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hail/backend/local_backend.py
  hail/python/hail/docs/getting_started_developing.rst
  hail/python/hail/docs/install/linux.rst
  hail/python/hail/docs/install/macosx.rst
  hail/python/hail/docs/install/other-cluster.rst
  hail/python/hail/expr/expressions/typed_expressions.py
  hail/python/hail/expr/functions.py
  hail/python/hail/methods/impex.py
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  hail/python/test/hail/test_exceptions_from_workers_have_stack_traces.py
  hail/scripts/install-gcs-connector.sh
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/version.mk
  infra/install_bootstrap_dependencies.sh
  tls/Dockerfile
  website/website/pages/index.html
Due: ruff, ruff-format

Update core-site.xml
  docker/core-site.xml
Due: none

configure new gcs connector
  docker/core-site.xml
Due: none

format
  hail/python/hail/backend/local_backend.py
Due: ruff, ruff-format

[ci] Poll for batch and github changes every 1 minute instead of 5
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[python] Use `importlib.resources` instead of `pkg_resources` (#14449)
  hail/python/hail/__init__.py
  hail/python/hail/backend/backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/datasets.py
  hail/python/hail/experimental/datasets_metadata.py
  hail/python/hail/experimental/db.py
  hail/python/hailtop/__init__.py
  hail/python/hailtop/hailctl/dataproc/deploy_metadata.py
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

[ci] Poll for batch and github changes every 1 minute instead of 5 (#14461)
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

remove gradle artifact cleaning
  hail/Makefile
Due: none

[batch] Remove remaining locks in read-only billing project queries (#14458)
  batch/batch/utils.py
Due: ruff, ruff-format, pyright

[hailctl] update to dataproc 2.2 and Spark 3.5.0 (#14158)
  batch/Dockerfile.worker
  batch/jvm-entryway/build.gradle
  docker/Dockerfile.base
  docker/core-site.xml
  docker/hailgenetics/hail/Dockerfile
  hail/Dockerfile.hail-run
  hail/Makefile
  hail/build.sc
  hail/python/dataproc-pre-installed-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hail/backend/local_backend.py
  hail/python/hail/docs/getting_started_developing.rst
  hail/python/hail/docs/install/linux.rst
  hail/python/hail/docs/install/macosx.rst
  hail/python/hail/docs/install/other-cluster.rst
  hail/python/hail/expr/expressions/typed_expressions.py
  hail/python/hail/expr/functions.py
  hail/python/hail/methods/impex.py
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  hail/python/test/hail/test_exceptions_from_workers_have_stack_traces.py
  hail/scripts/install-gcs-connector.sh
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/version.mk
  infra/install_bootstrap_dependencies.sh
  tls/Dockerfile
  website/website/pages/index.html
Due: ruff, ruff-format

[query] Update testng and scalatest versions for IDEA support
  hail/.mill-version
  hail/build.sc
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/annotations/ApproxCDFAggregatorSuite.scala
  hail/src/test/scala/is/hail/annotations/RegionSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/MissingArrayBuilderSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/expr/ir/table/TableGenSuite.scala
  hail/src/test/scala/is/hail/io/ByteArrayReaderSuite.scala
  hail/src/test/scala/is/hail/io/fs/FSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/linalg/GridPartitionerSuite.scala
  hail/src/test/scala/is/hail/linalg/RowPartitionerSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
  hail/src/test/scala/is/hail/stats/LeveneHaldaneSuite.scala
  hail/src/test/scala/is/hail/utils/ArrayBuilderSuite.scala
  hail/src/test/scala/is/hail/utils/ArrayStackSuite.scala
  hail/src/test/scala/is/hail/utils/BinaryHeapSuite.scala
  hail/src/test/scala/is/hail/utils/BitVectorSuite.scala
  hail/src/test/scala/is/hail/utils/BufferedAggregatorIteratorSuite.scala
  hail/src/test/scala/is/hail/utils/GraphSuite.scala
  hail/src/test/scala/is/hail/utils/PartitionCountsSuite.scala
  hail/src/test/scala/is/hail/utils/SemanticVersionSuite.scala
  hail/src/test/scala/is/hail/utils/UnionFindSuite.scala
  hail/src/test/scala/is/hail/utils/prettyPrint/PrettyPrintWriterSuite.scala
  hail/src/test/scala/is/hail/variant/GenotypeSuite.scala
Due: none

fix imports
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
Due: none

[query] Update testng and scalatest versions for IDEA support (#14277)
  hail/.mill-version
  hail/build.sc
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/annotations/ApproxCDFAggregatorSuite.scala
  hail/src/test/scala/is/hail/annotations/RegionSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/MissingArrayBuilderSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/expr/ir/table/TableGenSuite.scala
  hail/src/test/scala/is/hail/io/ByteArrayReaderSuite.scala
  hail/src/test/scala/is/hail/io/fs/FSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/linalg/GridPartitionerSuite.scala
  hail/src/test/scala/is/hail/linalg/RowPartitionerSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
  hail/src/test/scala/is/hail/stats/LeveneHaldaneSuite.scala
  hail/src/test/scala/is/hail/utils/ArrayBuilderSuite.scala
  hail/src/test/scala/is/hail/utils/ArrayStackSuite.scala
  hail/src/test/scala/is/hail/utils/BinaryHeapSuite.scala
  hail/src/test/scala/is/hail/utils/BitVectorSuite.scala
  hail/src/test/scala/is/hail/utils/BufferedAggregatorIteratorSuite.scala
  hail/src/test/scala/is/hail/utils/GraphSuite.scala
  hail/src/test/scala/is/hail/utils/PartitionCountsSuite.scala
  hail/src/test/scala/is/hail/utils/SemanticVersionSuite.scala
  hail/src/test/scala/is/hail/utils/UnionFindSuite.scala
  hail/src/test/scala/is/hail/utils/prettyPrint/PrettyPrintWriterSuite.scala
  hail/src/test/scala/is/hail/variant/GenotypeSuite.scala
Due: none

adding more gpus
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/gcp/resources.py
  batch/batch/instance_config.py
  batch/batch/resources.py
  batch_test.py
Due: ruff, ruff-format, pyright

use declarative encoding in Binds
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/utils/FastSeq.scala
Due: none

[pip] Update orjson and transitive dependencies
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

review
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

update again
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

fix lints
  batch/batch/cloud/terra/azure/worker/worker_api.py
  hail/python/hailtop/aiocloud/aiogoogle/client/bigquery_client.py
  hail/python/hailtop/auth/flow.py
Due: ruff, ruff-format, pyright

review
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

Revert "[ci] Poll for batch and github changes every 1 minute instead of 5 (#…"
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

add test asserting the structure and naming of qob job groups and jobs
  hail/python/hail/backend/service_backend.py
  hail/python/hailtop/batch_client/client.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

Revert "[ci] Poll for batch and github changes every 1 minute instead of 5" (#14476)
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[query] Thread `idempotent` flag to `init_spark` Fixes: #14462 Restores ability to reuse spark contexts acrosss different hail sessions, eg using multiple databricks notebook sessions.
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

expose `init_spark`
  hail/python/hail/__init__.py
Due: ruff, ruff-format

thank you @daniel-goldstein
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

[query] Thread `idempotent` flag to `init_spark` (#14463)
  hail/python/hail/__init__.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

type fix
  batch/batch/cloud/gcp/resources.py
  batch_test.py
Due: ruff, ruff-format, pyright

PruneDeadFields simplification
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
Due: none

[qob] Use job groups for driver job and worker stages (#14432)
  batch/batch/globals.py
  batch/batch/worker/worker.py
  hail/python/hail/backend/service_backend.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/test/hail/backend/test_service_backend.py
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
Due: ruff, ruff-format, pyright
