Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Add Full G2 Machine Family into Batch (#14519)
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/gcp/resources.py
  batch/batch/instance_config.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

add a2 info
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

simplify NormalizeNames
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[query] PArray implements PArrayBackedContainer (#14521)
  hail/src/main/scala/is/hail/types/physical/PArray.scala
  hail/src/main/scala/is/hail/types/physical/PArrayBackedContainer.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalArray.scala
Due: none

[ci] Add tests for generating envoy xds configs
  build.yaml
  ci/ci/ci.py
  ci/test/envoy/test_gateway_cds_response.yaml
  ci/test/envoy/test_gateway_rds_response.yaml
  ci/test/envoy/test_internal_gateway_cds_response.yaml
  ci/test/envoy/test_internal_gateway_rds_response.yaml
  ci/test/test_ci.py
  ci/test/test_envoy.py
Due: ruff, ruff-format, pyright

remove logging
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

fix data disk name
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

[ci] Remove past members
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[pip] Update jinja to avoid 3.1.3 vulnerability
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

explicitly pass domain to rds response function
  build.yaml
  ci/ci/ci.py
  ci/ci/envoy.py
  ci/deployment.yaml
  ci/test/test_envoy.py
  gateway/Makefile
Due: ruff, ruff-format, pyright

'Redesign'
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: none

fix
  hail/src/main/scala/is/hail/io/Encoder.scala
Due: none

fix
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

Fix region pool being unset in CompiledEncoder
  hail/src/main/scala/is/hail/annotations/BroadcastValue.scala
  hail/src/main/scala/is/hail/annotations/RegionValue.scala
  hail/src/main/scala/is/hail/expr/ir/EmitClassBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/main/scala/is/hail/io/CodecSpec.scala
  hail/src/main/scala/is/hail/io/Encoder.scala
  hail/src/main/scala/is/hail/io/RichContextRDDRegionValue.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/types/encoded/EType.scala
  hail/src/test/scala/is/hail/annotations/UnsafeSuite.scala
Due: none

Parsing, analysis rule, parsing test
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/main/scala/is/hail/types/encoded/EType.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: none

lint
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

fix test data provider
  hail/src/test/scala/is/hail/expr/ir/RequirednessSuite.scala
Due: none

rename for clarity
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

write simple test, fix assertion errors found by it
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/main/scala/is/hail/types/physical/PContainer.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: none

Add unstable encodings flag
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/types/encoded/EType.scala
Due: none

wip
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

integration test
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

add use_unstable_encodings flag
  hail/python/hail/backend/backend.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
Due: ruff, ruff-format

EType.fromTypeAndAnalysis takes execute context now
  hail/src/main/scala/is/hail/annotations/BroadcastValue.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitClassBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableWriter.scala
  hail/src/main/scala/is/hail/expr/ir/agg/AggregatorState.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CallStatsAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CollectAsSetAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DensifyAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DownsampleAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/GroupedAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/StagedArrayBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/agg/StagedBlockLinkedList.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/main/scala/is/hail/io/TypedCodecSpec.scala
  hail/src/main/scala/is/hail/io/bgen/StagedBGENReader.scala
  hail/src/main/scala/is/hail/io/index/InternalNodeBuilder.scala
  hail/src/main/scala/is/hail/io/index/LeafNodeBuilder.scala
  hail/src/main/scala/is/hail/rvd/AbstractRVDSpec.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/types/encoded/EType.scala
  hail/src/test/scala/is/hail/annotations/UnsafeSuite.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/RequirednessSuite.scala
  hail/src/test/scala/is/hail/io/IndexSuite.scala
Due: none

fix test
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

start structofarrays mvp
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

(mostly) sort flags by name in files
  hail/python/hail/backend/backend.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
Due: ruff, ruff-format

CodeBuilder _assert takes Code[String]*
  hail/src/main/scala/is/hail/asm4s/CodeBuilder.scala
Due: none

minor fixes
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

simplify array construction during encoding
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

'finish' EStructOfArrays
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

handle optional struct with missing elements properly
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

lint
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

reorganize
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
Due: none

fixes
  batch/batch/cloud/azure/resource_utils.py
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[query] Ensure Table group_by + aggregate can't clobber global fields
  hail/python/hail/table.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

[docker] Fix pip pin
  docker/hail-ubuntu/Dockerfile
Due: none

fix
  docker/hail-ubuntu/Dockerfile
Due: none

[docker] Fix pip pin (#14535)
  docker/hail-ubuntu/Dockerfile
Due: none
