Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Update hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/fs/fs.py
Due: ruff, ruff-format

[ci] Use appkeys instead of strings for application storage.
  ci/ci/ci.py
  ci/ci/github.py
  gear/gear/__init__.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

[batch] Add job group in client and capability to list and get job groups
  batch/batch/batch.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/__init__.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/batch_client/globals.py
Due: ruff, ruff-format, pyright

wip
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

fix
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format

delint
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format

delint
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

do not catch exceptions
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

ruff format
  hail/python/hailtop/aiotools/fs/fs.py
Due: ruff, ruff-format

timeout is not required
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
Due: ruff, ruff-format

[ruff] use --diff instead of --check
  Makefile
Due: none

[aiotools] add basename to FileStatus; rename name in FileListEntry (#14139)
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/local_fs.py
  hail/python/test/hailtop/inter_cloud/test_fs.py
Due: ruff, ruff-format

[batch] provide sufficient information to debug transient errors (#14151)
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[compiler] enforce scala formatting in ci (#14143)
  Makefile
  build.yaml
Due: none

lint config changes
  Makefile
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  pyproject.toml
Due: none

ignore all manual fixes
  pyproject.toml
Due: none

F811 delete duplicate tests
  hail/python/test/hail/methods/test_impex.py
  hail/python/test/hail/plot/test_plot.py
  hail/python/test/hail/utils/test_struct_repr_pprint.py
  pyproject.toml
Due: ruff, ruff-format

F601 delete duplicate dict keys
  hail/python/test/hail/expr/test_expr.py
  pyproject.toml
Due: ruff, ruff-format

ignore PLR0124 due to custom __eq__
  hail/python/test/hail/expr/test_expr.py
  pyproject.toml
Due: ruff, ruff-format

PLW0127 remove self-assignment of variable
  hail/python/hail/methods/impex.py
  pyproject.toml
Due: ruff, ruff-format

PLE0307 raise notimplemented from abstract methods
  hail/python/hail/expr/types.py
  pyproject.toml
Due: ruff, ruff-format

PLC0132 make typevar names match
  hail/python/hail/expr/functions.py
  pyproject.toml
Due: ruff, ruff-format

RUF002 use normal single quote character
  hail/python/hail/experimental/filtering_allele_frequency.py
  pyproject.toml
Due: ruff, ruff-format

PLW0602 remove unnecessary global kw
  hail/python/hail/backend/py4j_backend.py
  pyproject.toml
Due: ruff, ruff-format

PLC0414 remove unnecessary import alias
  hail/python/hail/linalg/__init__.py
  pyproject.toml
Due: ruff, ruff-format

fix client_session elsewhere
  batch/batch/driver/instance.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  monitoring/monitoring/monitoring.py
  website/website/website.py
Due: ruff, ruff-format, pyright

RUF015 replaces list(x)[0] with next(iter(x))
  hail/python/hail/experimental/sparse_mt/densify.py
  hail/python/hail/ggplot/geoms.py
  hail/python/hail/methods/misc.py
  hail/python/hail/methods/qc.py
  hail/python/hail/methods/relatedness/mating_simulation.py
  hail/python/hail/vds/methods.py
  pyproject.toml
Due: ruff, ruff-format

[query] add many more examples to the Table docs (#14113)
  build.yaml
  hail/Makefile
  hail/python/hail/conftest.py
  hail/python/hail/table.py
  hail/python/hailtop/batch/Makefile
Due: ruff, ruff-format

correct import for with_local_temp_file
  hail/python/test/hail/utils/test_utils.py
Due: ruff, ruff-format

E402 moves or ignores non-top-of-file imports
  hail/python/cluster-tests/cluster-avro-read.py
  hail/python/hail/__init__.py
  pyproject.toml
Due: ruff, ruff-format, pyright

RUF100 remove unused noqas
  hail/python/hail/__init__.py
  hail/python/hailtop/aiogoogle/__init__.py
  pyproject.toml
Due: ruff, ruff-format

[lint] ignores black->ruff formatting commit (#14133)
  .git-blame-ignore-revs
Due: none

PLR5501 flatten indentation using elif instead of else
  hail/python/hail/experimental/db.py
  hail/python/hail/experimental/ldscsim.py
  hail/python/hail/expr/expressions/base_expression.py
  hail/python/hail/expr/expressions/expression_utils.py
  hail/python/hail/expr/expressions/indices.py
  hail/python/hail/expr/expressions/typed_expressions.py
  hail/python/hail/ggplot/ggplot.py
  hail/python/hail/ir/renderer.py
  hail/python/hail/linalg/blockmatrix.py
  hail/python/hail/methods/impex.py
  hail/python/hail/methods/statgen.py
  hail/python/hail/utils/misc.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  pyproject.toml
Due: ruff, ruff-format

RUF013 adds optional to implicitly optional typings
  hail/python/hail/expr/functions.py
  hail/python/hail/ggplot/facets.py
  hail/python/hail/table.py
  pyproject.toml
Due: ruff, ruff-format

RUF012 annotates mutable class attrs with classvar
  hail/python/hail/backend/backend.py
  hail/python/hail/experimental/db.py
  hail/python/hail/expr/types.py
  hail/python/hail/ggplot/facets.py
  hail/python/hail/ggplot/geoms.py
  hail/python/hail/ir/base_ir.py
  hail/python/hail/table.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/test/hail/matrixtable/test_matrix_table_from_parts.py
  pyproject.toml
Due: ruff, ruff-format

PLW3301 flattens nested max calls
  hail/python/hail/ir/renderer.py
  pyproject.toml
Due: ruff, ruff-format

[ruff] use --diff instead of --check (#14157)
  Makefile
Due: none
