Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[auth] Add /api/ implementations of remaining html-only queries (#15572)
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
Due: ruff, ruff-format, pyright

[ui] Handle free text in new search ux (#15590)
  batch/batch/front_end/static/js/table_search.js
  batch/batch/front_end/templates/table_search.html
Due: none

[docs] Document the purpose of, and how to update, the worker VM base image (#15272)
  dev-docs/services/batch/worker-vm-image.md
Due: none

[batch-driver] Add /api/ implementations of remaining html-only queries (#15574)
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/openapi.yaml
  batch/batch/inst_coll_config.py
Due: ruff, ruff-format, pyright

[compiler] StreamAgg{Scan} drops opposite scan/agg env (#15621)
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/Env.scala
Due: none

[scripts] script and docs for manifold platform setup (#15557)
  user-scripts/manifold/README.md
  user-scripts/manifold/install_hail_kernel.sh
Due: none

[query] Factor Simplify rule methods to stay under the JIT's huge-method limit (#15553)
  hail/hail/src/is/hail/expr/ir/IsConstant.scala
  hail/hail/src/is/hail/expr/ir/IsPure.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/SimplifySuite.scala
Due: none

[query] Implement matrix writing as an aggregator (#15592)
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

[compiler] only check `UniquelyNamed` when `StrictInvariants` is defined (#15598)
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/invariant/InvariantSuite.scala
Due: none

[claude] claude skill for creating release changelogs (#15655)
  .claude/skills/release-changelog/SKILL.md
Due: none

[ci] add label to force dataproc tests (#15664)
  build.yaml
  ci/ci/build.py
  ci/ci/github.py
  dev-docs/services/ci/README.md
Due: ruff, ruff-format, pyright

[appsec] Exclude devbin directory from Codacy analysis (#15681)
  .codacy.yaml
Due: none

[auth, ui] fix add user to role button (#15618)
  auth/auth/static/js/roles.js
Due: none

[query] delete unused bgzipblocks (#15556)
  hail/hail/src/is/hail/misc/BGZipBlocks.scala
Due: none

[services] Migrate swagger UI to react component (#15601)
  .gitattributes
  .github/workflows/pip-npm-bump.yml
  .github/workflows/static-and-unit-tests.yml
  Makefile
  auth/auth/auth.py
  batch/batch/driver/main.py
  build.yaml
  devbin/dev_proxy.py
  monitoring/monitoring/monitoring.py
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/shared/swagger.tsx
  web_common/web_common/static/js/swagger/index.js
  web_common/web_common/static/lib/swagger/favicon-16x16.png
  web_common/web_common/static/lib/swagger/favicon-32x32.png
  web_common/web_common/static/lib/swagger/index.css
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle-core.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/static/lib/swagger/swagger-ui.js
  web_common/web_common/templates/swagger/index.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[services] be more selective about unsafe-inline styles (#15554)
  auth/auth/auth.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/table_search.html
  ci/ci/ci.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[ci] Allow PR retries to skip already-previously-passed tests (#15676)
  ci/ci/build.py
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

[query] Factor valueIR `Simplify` rules and `ForwardLets` of type `TStream` (#15550)
  hail/hail/src/is/hail/asm4s/Code.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/SimplifySuite.scala
Due: none

[ci] skip already-run ci tests in deploy batches (#15661)
  build.yaml
Due: none

[query] Implement table writing as an aggregator (#15455)
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/io/BufferSpecs.scala
  hail/hail/src/is/hail/io/OutputBuffers.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
Due: none

[make] exit the updater early if envoy is up to date (#15570)
  update-envoy.py
Due: ruff, ruff-format, pyright

[query] Avoid Materialising Arrays + Structs (#15587)
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/IRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

[query] log instruction count as debug (#15585)
  hail/hail/src/is/hail/lir/Emit.scala
Due: none

[claude] flamegraph skill: fix recursion inflation, name corruption, and cross-run noise in profile comparisons (#15596)
  .claude/skills/flamegraph/SKILL.md
  .claude/skills/flamegraph/scripts/parse_flamegraph.py
Due: ruff, ruff-format, pyright

[query] make Py4JBackend resilient to interrupts and dead JVMs (#15689)
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_py4j_backend.py
  hail/python/test/hail/conftest.py
Due: ruff, ruff-format

[batch] support multiple spark versions for jvm jobs
  Makefile
  batch/Dockerfile.worker
  batch/batch/cloud/azure/driver/create_instance.py
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/terra/azure/driver/driver.py
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/validate.py
  batch/batch/globals.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/jvm-entryway/.scalafix.conf
  batch/jvm-entryway/.scalafmt.conf
  batch/jvm-entryway/build.mill
  batch/jvm-entryway/src/is/hail/JVMEntryway.java
  batch/jvm-entryway/src/is/hail/QoBAppender.java
  batch/jvm-entryway/src/is/hail/QoBAppender.scala
  batch/jvm-entryway/src/is/hail/QoBOutputStreamManager.java
  batch/terra-chart/templates/app.yaml
  build.yaml
  hail/Makefile
  hail/scripts/upload-qob-jar.sh
  hail/scripts/upload-spark-jars.sh
  hail/scripts/upload_qob_jar.sh
  infra/install_bootstrap_dependencies.sh
  tls/Dockerfile
Due: ruff, ruff-format, pyright

[hailctl] update dataproc to 3.0.x images
  build.yaml
  hail/python/hail/backend/spark_backend.py
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/connect.py
  hail/python/hailtop/hailctl/dataproc/gcloud.py
  hail/python/hailtop/hailctl/dataproc/modify.py
  hail/python/hailtop/hailctl/dataproc/resources/init_notebook.py
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/test/hailtop/hailctl/dataproc/conftest.py
  hail/python/test/hailtop/hailctl/dataproc/test_connect.py
  hail/python/test/hailtop/hailctl/dataproc/test_modify.py
  hail/python/test/hailtop/hailctl/dataproc/test_start.py
Due: ruff, ruff-format

separate and group the python_service_backend_gcp fs tests
  build.yaml
Due: none

resolve abrupt ssl timeouts?
  hail/python/hailtop/aiocloud/aiogoogle/credentials.py
  hail/python/hailtop/httpx.py
Due: ruff, ruff-format

fix lint
  hail/python/hailtop/aiocloud/aiogoogle/credentials.py
Due: ruff, ruff-format

local import again, with ignore
  hail/python/hailtop/aiocloud/aiogoogle/credentials.py
Due: ruff, ruff-format

Initial commit of AWS infrastructure
  infra/aws-broad/README.md
  infra/aws-broad/main.yml
  infra/aws-broad/parameters.json
Due: none

Replace GCP region secret values with AWS ones
  infra/aws/main.yaml
Due: none

Populate dockerhub proxy with images expected by initial build
  Makefile
  docker/third-party/Makefile
  docker/third-party/copy_images.sh
  infra/aws/README.md
  infra/aws/bootstrap-vm.yaml
  infra/aws/main.yaml
  infra/bootstrap_utils.sh
Due: none

Add access entry for admin role
  infra/aws/README.md
Due: none

Add stack and commands to create instance for running bootstrap script
  bootstrap-gateway/deployment.yaml
  bootstrap-gateway/service.yaml
  gateway/service.yaml
  infra/aws/README.md
  infra/aws/bootstrap-vm.yaml
  infra/aws/bootstrap.sh
  infra/aws/install_bootstrap_dependencies.sh
  infra/aws/main.yaml
  internal-gateway/service.yaml
Due: none
