Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

fix parser
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

Update change_log.md
  hail/python/hail/docs/change_log.md
Due: none

[query] Use scalac-options library
  Makefile
  build.yaml
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/macros/src/is/hail/macros.scala
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
  hail/hail/src/is/hail/asm4s/package.scala
  hail/hail/src/is/hail/expr/ir/ArraySorter.scala
  hail/hail/src/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/expr/package.scala
  hail/hail/src/is/hail/io/tabix/TabixReader.scala
  hail/hail/src/is/hail/package.scala
  hail/hail/src/is/hail/utils/EitherIsAMonad.scala
  hail/hail/src/is/hail/utils/NumericImplicits.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/src/is/hail/utils/prettyPrint/package.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/package.scala
  hail/python/hail/docs/install/other-cluster.rst
Due: none

fix
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

[deps] Update uv pin to >=0.8.6
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

allow roles lookup by username as well as ID
  auth/auth/auth.py
  gear/gear/__init__.py
  gear/gear/auth.py
  gear/gear/csrf.py
Due: ruff, ruff-format, pyright

[batch/auth] Updated CLI login with ToS and privacy policy links (#14883)
  hail/python/hailtop/hailctl/auth/cli.py
Due: ruff, ruff-format

[qob] Use getOrCreate to ensure HailContext initialization (#15008)
  hail/hail/src/is/hail/backend/service/Worker.scala
Due: none

legacy bindings
  hail/build.mill
  hail/hail/src/is/hail/annotations/ExtendedOrdering.scala
  hail/hail/src/is/hail/annotations/OrderedRVIterator.scala
  hail/hail/src/is/hail/asm4s/Code.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/rvd/RVD.scala
Due: none

export
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/io/ElasticsearchConnector.scala
  hail/hail/src/is/hail/linalg/RowMatrix.scala
  hail/hail/src/is/hail/types/virtual/Type.scala
  hail/hail/test/src/is/hail/linalg/RowMatrixSuite.scala
Due: none

warn dead code
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/types/encoded/EStructOfArrays.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/types/physical/PhysicalTestUtils.scala
Due: none

implicit types
  hail/build.mill
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/expr/ir/functions/RelationalFunctions.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ArrayDeforestationSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ArrayFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/CallFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/DictFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/FunctionSuite.scala
  hail/hail/test/src/is/hail/expr/ir/GenotypeFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IntervalSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LiftLiteralsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LocusFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MathFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SetFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringLengthSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringSliceSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TrapNodeSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
Due: none

match analysis
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
Due: none

lazyzip
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/asm4s/CodeBuilder.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitCodeBuilder.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixValue.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIRHelpers.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/io/bgen/BgenRDDPartitions.scala
  hail/hail/src/is/hail/rvd/RVDType.scala
  hail/hail/src/is/hail/stats/RegressionUtils.scala
  hail/hail/src/is/hail/types/TypeWithRequiredness.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/physical/PCanonicalTuple.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SInsertFieldsStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SNDArrayPointer.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SNDArraySlice.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SRNGState.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SNDArray.scala
  hail/hail/src/is/hail/types/virtual/TBaseStruct.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/types/virtual/TTuple.scala
  hail/hail/src/is/hail/types/virtual/TUnion.scala
  hail/hail/src/is/hail/utils/richUtils/RichOrderedSeq.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/ArbitraryGenomicInstances.scala
  hail/hail/test/src/is/hail/scalacheck/GenVal.scala
Due: none

[query] Remove duplicate constants from python ServiceBackend (#15023)
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

[deps] Update uv pin to >=0.8.6 (#15030)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

fix again for abspath
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

regenerate ar cleanup policy
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

Update release script
  build.yaml
  hail/scripts/release.sh
Due: none

[docker] Publish python 3.12 and 3.13 hailgenetics/hail images
  build.yaml
  hail/python/hailtop/batch/hail_genetics_images.py
Due: ruff, ruff-format

more fixes
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

Rename migration file 009 to 010 and remove number from build yaml name
  auth/sql/010-refactor-roles.sql
  build.yaml
Due: none

await default region
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

fix src basename
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

satisfy pylint
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[docker] Publish python 3.12 and 3.13 hailgenetics/hail images (#14997)
  build.yaml
  hail/python/hailtop/batch/hail_genetics_images.py
  hail/scripts/release.sh
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: ruff, ruff-format

[build] Fix deploy key error
  build.yaml
Due: none

more fixes with lots of tests passing
  build.yaml
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

host our own static js content
  web_common/web_common/static/lib/alpinejs/cdn.min.js
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/templates/layout.html
  web_common/web_common/templates/swagger.html
Due: none

fixes
  build.yaml
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[batch] Host our own static js content (#15039)
  web_common/web_common/static/lib/alpinejs/cdn.min.js
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/templates/layout.html
  web_common/web_common/templates/swagger.html
Due: none

more fixes
  build.yaml
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

initial commit
  batch/sql/estimated-current.md
Due: none

Build web server packages with uv
  batch/pyproject.toml
  batch/setup.py
  gear/pyproject.toml
  gear/setup.py
  web_common/pyproject.toml
  web_common/setup.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
