Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

pythonic
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

[query] don't hardcode paths to test resources, cont'd (#14779)
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/MatrixIRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/TableIRSuite.scala
  hail/src/test/scala/is/hail/io/compress/BGzipCodecSuite.scala
  hail/src/test/scala/is/hail/methods/LocalLDPruneSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

remove *.out from .gitignore
  .gitignore
Due: none

Redirect logins to /user for tos
  auth/auth/auth.py
  auth/auth/templates/user.html
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

facepalm
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[query] Extract Backend Methods called from Python into `Py4JBackendExtensions`
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/ir/ir.py
  hail/python/hail/ir/table_ir.py
  hail/python/test/hail/genetics/test_reference_genome.py
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/Main.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
Due: ruff, ruff-format

userdata
  auth/auth/templates/user.html
Due: none

[query] remove *.out from .gitignore (#14780)
  .gitignore
Due: none

progress
  auth/auth/auth.py
  auth/auth/templates/user.html
Due: ruff, ruff-format, pyright

fix http method
  auth/auth/templates/user.html
Due: none

Log mysterious QoB 400 client errors in detail (#358)
  hail/src/main/scala/is/hail/services/package.scala
Due: none

allow ci and monitoring as next_urls
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[vds/docs] Fix erroneous gvcf_batch_size description
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

reintroduce unsafe_eval
  batch/batch/front_end/front_end.py
  web_common/web_common/__init__.py
Due: ruff, ruff-format, pyright

funky decorators
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

fixup unsafe_eval implications
  batch/batch/front_end/front_end.py
  web_common/web_common/__init__.py
Due: ruff, ruff-format, pyright

facepalm
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

decorator order
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

font-src
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

tweak CSP
  batch/batch/front_end/front_end.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

more unsafe-eval
  batch/batch/front_end/front_end.py
  monitoring/monitoring/monitoring.py
Due: ruff, ruff-format, pyright

facepalm2
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

facepalm 3
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

ruff
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[query] Extract Backend Methods called from Python into `Py4JBackendExtensions` (#14767)
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/ir/ir.py
  hail/python/hail/ir/table_ir.py
  hail/python/test/hail/genetics/test_reference_genome.py
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/Main.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
Due: ruff, ruff-format

[web/api] Fix plotting and billing project functionality (CSP edit) (#14792)
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

hidden input for next param
  auth/auth/auth.py
  auth/auth/templates/user.html
Due: ruff, ruff-format, pyright

Changed loop to update inactive users to be Python-side rather than in SQL; renamed last_active to last_activated; updated associated DB migration SQL.
  auth/sql/estimated-current.sql
  batch/batch/driver/main.py
  batch/sql/add-users-last-active.sql
Due: ruff, ruff-format, pyright

Refactor in auth/auth.py
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

changed NOW() to UTC_TIMESTAMP(3) for precision and region agnosticism.
  auth/auth/auth.py
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: ruff, ruff-format, pyright

[ci] download more ram for check_hail The check_hail CI job is failing routinely. Resource usage plots show that the jobs are hitting their 4G memory limit. Downloading more ram should help.
  build.yaml
Due: none

remove header links and add signup to user page
  auth/auth/templates/user.html
  web_common/web_common/templates/header.html
Due: none

fi
  auth/auth/templates/user.html
Due: none

put buttons side by side; reconsile old and new header htmls
  auth/auth/templates/user.html
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
Due: none

Reword and style fix
  auth/auth/templates/user.html
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
Due: none

Lots of logging for debugging JVM connection issues (#359)
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

test
  auth/auth/templates/user.html
Due: none

inline
  auth/auth/templates/user.html
Due: none

hmm
  auth/auth/templates/user.html
Due: none
