Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[ci] types and fixes
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[ci] types and fixes (#14165)
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

dont rely on forward-lets being run
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/EmitCodeBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/agg/FoldAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

make it an instance method
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

[ruff] update to ruff 0.1.13
  batch/batch/driver/billing_manager.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/resource_usage.py
  batch/batch/worker/worker.py
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/utils.py
  ci/create_database.py
  devbin/rotate_keys.py
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hail/experimental/ld_score_regression.py
  hail/python/hail/experimental/ldscore.py
  hail/python/hail/expr/type_parsing.py
  hail/python/hail/methods/impex.py
  hail/python/hail/table.py
  hail/python/hailtop/aiotools/validators.py
  hail/python/hailtop/batch/batch_pool_executor.py
  hail/python/hailtop/batch/docker.py
  hail/python/hailtop/batch/docs/cookbook/files/batch_clumping.py
  hail/python/hailtop/hailctl/hdinsight/start.py
  hail/python/hailtop/utils/utils.py
  hail/python/test/hail/utils/test_placement_tree.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
  hail/scripts/update-terra-image.py
Due: ruff, ruff-format, pyright

i has the dumb
  hail/src/main/scala/is/hail/expr/ir/EmitCodeBuilder.scala
Due: none

i has much dumb dumb
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

i hate emit
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

wip
  hail/python/hail/docs/tutorials/ggplot.ipynb
  hail/python/hail/ggplot/__init__.py
  hail/python/hail/ggplot/aes.py
  hail/python/hail/ggplot/coord_cartesian.py
  hail/python/hail/ggplot/facets.py
  hail/python/hail/ggplot/geoms.py
  hail/python/hail/ggplot/ggplot.py
  hail/python/hail/ggplot/labels.py
  hail/python/hail/ggplot/scale.py
  hail/python/hail/ggplot/stats.py
  hail/python/hail/ggplot/utils.py
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: ruff, ruff-format

[hailctl] Dev config set should only change one property
  hail/python/hailtop/hailctl/dev/config.py
  hail/python/test/hailtop/hailctl/dev/conftest.py
  hail/python/test/hailtop/hailctl/dev/test_config.py
Due: ruff, ruff-format

[ci] Push cleanup methods in on_startup to ensure proper execution order
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[monitoring] Use aiohttp.AppKey to add static typing to Application storage
  devbin/dev_proxy.py
  monitoring/monitoring/monitoring.py
Due: ruff, ruff-format, pyright

[ci] Push cleanup methods in on_startup to ensure proper execution order (#14172)
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[services] Fix domain configuration in dev namespaces (#14164)
  auth/deployment.yaml
  batch/deployment.yaml
  ci/ci/envoy.py
  ci/deployment.yaml
  ci/test/resources/deployment.yaml
  ci/test/resources/statefulset.yaml
  gateway/Makefile
  gear/gear/session.py
  monitoring/deployment.yaml
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

reformat ci
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

Correct the dates of recent releases
  hail/python/hail/docs/change_log.md
Due: none

[hailctl] Use correct image in hailctl test_batch_submit
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

fix numeric project id
  hail/python/hailtop/aiocloud/aiogoogle/client/metadata_server_client.py
Due: ruff, ruff-format

fix numeric project id
  batch/batch/cloud/gcp/worker/worker_api.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

fix circular imports
  hail/python/hail/experimental/datasets.py
  hail/python/hail/experimental/export_entries_by_col.py
  hail/python/hail/experimental/full_outer_join_mt.py
  hail/python/hail/experimental/import_gtf.py
  hail/python/hail/experimental/ld_score_regression.py
  hail/python/hail/experimental/ldscore.py
  hail/python/hail/experimental/phase_by_transmission.py
  hail/python/hail/experimental/tidyr.py
  hail/python/hail/experimental/write_multiple.py
  hail/python/hail/genetics/call.py
  hail/python/hail/ggplot/aes.py
  hail/python/hail/ggplot/facets.py
  hail/python/hail/ggplot/scale.py
  hail/python/hail/methods/impex.py
  hail/python/hail/methods/import_lines_helpers.py
  hail/python/hail/methods/qc.py
  hail/python/hail/methods/relatedness/mating_simulation.py
  hail/python/hail/methods/statgen.py
  hail/python/hail/nd/nd.py
  hail/python/hail/plot/plots.py
  hail/python/hail/table.py
  hail/python/hail/utils/hadoop_utils.py
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/hail/vds/methods.py
Due: ruff, ruff-format

[fs] support hfs.ls on a bucket
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/__init__.py
  hail/python/hailtop/aiotools/fs/__init__.py
  hail/python/hailtop/aiotools/fs/exceptions.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/fs/router_fs.py
  hail/python/test/hailtop/inter_cloud/test_fs.py
Due: ruff, ruff-format

[batch] Add ability to create job groups at top level only
  batch/batch/exceptions.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/__init__.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/validate.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

minor fixes
  batch/batch/front_end/front_end.py
  batch/batch/front_end/validate.py
Due: ruff, ruff-format, pyright

minor fixes
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[ruff] update to ruff 0.1.13 (#14153)
  batch/batch/driver/billing_manager.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/resource_usage.py
  batch/batch/worker/worker.py
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/utils.py
  ci/create_database.py
  devbin/rotate_keys.py
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hail/experimental/ld_score_regression.py
  hail/python/hail/experimental/ldscore.py
  hail/python/hail/expr/type_parsing.py
  hail/python/hail/methods/impex.py
  hail/python/hail/table.py
  hail/python/hailtop/aiotools/validators.py
  hail/python/hailtop/batch/batch_pool_executor.py
  hail/python/hailtop/batch/docker.py
  hail/python/hailtop/batch/docs/cookbook/files/batch_clumping.py
  hail/python/hailtop/hailctl/hdinsight/start.py
  hail/python/hailtop/utils/utils.py
  hail/python/test/hail/utils/test_placement_tree.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
  hail/scripts/update-terra-image.py
Due: ruff, ruff-format, pyright

[vds/combiner] Better calculation of ref_block_max_length
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

[hailctl] Dev config set should only change one property (#14169)
  hail/python/hailtop/hailctl/dev/config.py
  hail/python/test/hailtop/hailctl/dev/conftest.py
  hail/python/test/hailtop/hailctl/dev/test_config.py
Due: ruff, ruff-format

[tests] yank hailctl batch submit tests
  hail/python/test/hailtop/hailctl/batch/__init__.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

fix build.yaml
  build.yaml
Due: none

[tests] yank hailctl batch submit tests (#14175)
  build.yaml
  hail/python/test/hailtop/hailctl/batch/__init__.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

fix
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

[gear] Make csrf cookie samesite=strict
  devbin/dev_proxy.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[tests] Add tests for hailctl batch submit to build.yaml step
  build.yaml
Due: none

[hailtop.saige] Implement SAIGE in QoB
  hail/python/hail/backend/__init__.py
  hail/python/hailtop/batch/__init__.py
  hail/python/hailtop/saige/__init__.py
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/constants.py
  hail/python/hailtop/saige/io.py
  hail/python/hailtop/saige/phenotype.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/hailtop/saige/utils.py
  hail/python/hailtop/saige/variant_chunk.py
Due: ruff, ruff-format

address comments
  hail/python/hail/backend/__init__.py
  hail/python/hailtop/batch/__init__.py
  hail/python/hailtop/saige/__init__.py
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/io.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/hailtop/saige/utils.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

add saige image
  build.yaml
  docker/hailgenetics/saige/Dockerfile
Due: none

addressed some comments
  hail/python/hailtop/saige/io.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format
