Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Update completed endpoint with new job group format (#328)
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

don’t dump classpath to terminal in install-editable
  .gitignore
  hail/Makefile
  hail/build.sc
Due: none

[qob] Update scala deploy config to use new base_path field (#14195)
  hail/src/main/scala/is/hail/services/DeployConfig.scala
Due: none

fixing bad rebase
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

finish fixing rebase
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

[batch] Update IP Fee pricing for February 2024 price increase (#14190)
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resources.py
  batch/sql/update-ip-fee-resource.py
  build.yaml
  hail/python/hailtop/batch/docs/service.rst
Due: ruff, ruff-format, pyright

fix: ci/pinned-requirements.txt to reduce vulnerabilities
  ci/pinned-requirements.txt
Due: none

addressed most of front end comments
  batch/batch/batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

Fix an error in the MatrixTable tutorial
  hail/python/hail/docs/tutorials/07-matrixtable.ipynb
Due: none

fix: hail/python/hailtop/pinned-requirements.txt to reduce vulnerabilities
  hail/python/hailtop/pinned-requirements.txt
Due: none

async gen
  hail/python/hailtop/batch/batch_pool_executor.py
Due: ruff, ruff-format

[batch] Remove all v2 billing tables
  batch/sql/estimated-current.sql
  batch/sql/remove-v2-billing-tables.sql
  build.yaml
Due: none

fix rename conflicts
  batch/sql/remove-v2-billing-tables.sql
Due: none

[query] avoid code explosion for trivial upcasts (#14232)
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
Due: none

refactored bunching
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

cannot use :: with multi-line blocks
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

Update the docstring example for Table.head
  hail/python/hail/table.py
Due: ruff, ruff-format

fix test issues
  hail/python/hailtop/batch/backend.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

gcs_bucket_allow_list is a parameter of the backend not the batch
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

fixes
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch.py
Due: ruff, ruff-format

lint
  hail/python/hailtop/batch/batch_pool_executor.py
  hail/python/hailtop/utils/__init__.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

add tests
  hail/src/test/scala/is/hail/methods/ExprSuite.scala
Due: none

failures
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SSubsetStruct.scala
  hail/src/main/scala/is/hail/types/virtual/TStruct.scala
Due: none

cock
  hail/src/main/scala/is/hail/types/virtual/TStruct.scala
Due: none

fix let chunking
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

fix lint
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

spotless
  hail/src/test/scala/is/hail/methods/ExprSuite.scala
Due: none

[query] also prevent *reading* from cold storage
  hail/python/hail/methods/impex.py
Due: ruff, ruff-format

push
  hail/python/hail/methods/impex.py
Due: ruff, ruff-format

path is an expression, not a string; path => paths
  hail/python/hail/docs/data/example.mt/README.txt
  hail/python/hail/docs/data/example.mt/cols/README.txt
  hail/python/hail/docs/data/example.mt/entries/README.txt
  hail/python/hail/docs/data/example.mt/globals/README.txt
  hail/python/hail/docs/data/example.mt/rows/README.txt
  hail/python/hail/docs/data/example_burden.mt/README.txt
  hail/python/hail/docs/data/example_burden.mt/cols/README.txt
  hail/python/hail/docs/data/example_burden.mt/entries/README.txt
  hail/python/hail/docs/data/example_burden.mt/globals/README.txt
  hail/python/hail/docs/data/example_burden.mt/rows/README.txt
  hail/python/hail/docs/data/explode_example.ht/README.txt
  hail/python/hail/docs/data/kt_example1.ht/README.txt
  hail/python/hail/docs/data/kt_example2.ht/README.txt
  hail/python/hail/docs/data/kt_example4.ht/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/cols/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/entries/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/globals/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/rows/README.txt
  hail/python/hail/docs/data/ld_score_regression.one_pheno.sumstats.ht/README.txt
  hail/python/hail/docs/data/small.mt/README.txt
  hail/python/hail/docs/data/small.mt/cols/README.txt
  hail/python/hail/docs/data/small.mt/entries/README.txt
  hail/python/hail/docs/data/small.mt/globals/README.txt
  hail/python/hail/docs/data/small.mt/rows/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/cols/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/entries/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/globals/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/rows/README.txt
  hail/python/hail/methods/impex.py
  hail/src/main/scala/is/hail/expr/ir/add-ir-checklist.txt
Due: ruff, ruff-format

Revert "path is an expression, not a string; path => paths"
  hail/python/hail/docs/data/example.mt/README.txt
  hail/python/hail/docs/data/example.mt/cols/README.txt
  hail/python/hail/docs/data/example.mt/entries/README.txt
  hail/python/hail/docs/data/example.mt/globals/README.txt
  hail/python/hail/docs/data/example.mt/rows/README.txt
  hail/python/hail/docs/data/example_burden.mt/README.txt
  hail/python/hail/docs/data/example_burden.mt/cols/README.txt
  hail/python/hail/docs/data/example_burden.mt/entries/README.txt
  hail/python/hail/docs/data/example_burden.mt/globals/README.txt
  hail/python/hail/docs/data/example_burden.mt/rows/README.txt
  hail/python/hail/docs/data/explode_example.ht/README.txt
  hail/python/hail/docs/data/kt_example1.ht/README.txt
  hail/python/hail/docs/data/kt_example2.ht/README.txt
  hail/python/hail/docs/data/kt_example4.ht/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/cols/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/entries/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/globals/README.txt
  hail/python/hail/docs/data/ld_score_regression.all_phenos.sumstats.mt/rows/README.txt
  hail/python/hail/docs/data/ld_score_regression.one_pheno.sumstats.ht/README.txt
  hail/python/hail/docs/data/small.mt/README.txt
  hail/python/hail/docs/data/small.mt/cols/README.txt
  hail/python/hail/docs/data/small.mt/entries/README.txt
  hail/python/hail/docs/data/small.mt/globals/README.txt
  hail/python/hail/docs/data/small.mt/rows/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/cols/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/entries/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/globals/README.txt
  hail/python/hail/docs/data/tdt_tiny.mt/rows/README.txt
  hail/python/hail/methods/impex.py
  hail/src/main/scala/is/hail/expr/ir/add-ir-checklist.txt
Due: ruff, ruff-format

fix
  hail/python/hail/methods/impex.py
Due: ruff, ruff-format

spelling & grammar
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/docs/service.rst
Due: ruff, ruff-format

Update Table.head docstring example
  hail/python/hail/table.py
Due: ruff, ruff-format

Update Table.semi_join docstring example
  hail/python/hail/table.py
Due: ruff, ruff-format

Update Table.sample docstring example
  hail/python/hail/table.py
Due: ruff, ruff-format

Improve Table.sample unit test
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

[hailtop.batch] add default_regions to hb.Batch, improve docs (#14224)
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch.py
  hail/python/hailtop/batch/docs/service.rst
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

add update id default to 1
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

[batch] silence instance logs
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
