Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

serve js files locally
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

restore old plot generators
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/job.js
Due: ruff, ruff-format, pyright

[query] normalize names before lowering
  hail/hail/package.mill
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
  hail/hail/test/src/is/hail/expr/ir/implicits/RichBaseIR.scala
  hail/hail/test/src/is/hail/expr/ir/implicits/forTesting.scala
Due: none

add test
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

fix copy-paste bug
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

fmt
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

Fix new to old mapping in SparseContexts.grouped
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

[query] Lower BlockMatrixSlice
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

Prevent large intermidiate materialization
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

Better dependent block calculation
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

[query] Lower BlockMatrixSlice (#15319)
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

[compiler] eliminate hasStreamParam branching by reusing produceIterator
  hail/Makefile
  hail/hail/package.mill
  hail/hail/src/is/hail/asm4s/AsmFunction.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/expr/ir/streams/EmitStream.scala
  hail/hail/src/is/hail/types/physical/stypes/SingleCodeSCode.scala
  hail/hail/test/resources/log4j2-test.properties
Due: none

attempted fix
  hail/hail/src/is/hail/expr/ir/streams/EmitStream.scala
Due: none

revert produceIterator to earlier version
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/streams/EmitStream.scala
Due: none

[query] Implement an order preserving prefix free encoding for hail values
  hail/hail/src/is/hail/asm4s/implicits/RichCodePrefixCoder.scala
  hail/hail/src/is/hail/asm4s/implicits/package.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/io/PrefixCoder.scala
  hail/hail/src/is/hail/types/physical/stypes/SCode.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBinary.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SCall.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SContainer.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SInterval.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SLocus.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SNDArray.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SString.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SPrimitive.scala
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
Due: none

fmt
  hail/hail/src/is/hail/asm4s/implicits/RichCodePrefixCoder.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/io/PrefixCoder.scala
  hail/hail/src/is/hail/types/physical/stypes/SCode.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SBinary.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SCall.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SContainer.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SInterval.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SLocus.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SNDArray.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SString.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SPrimitive.scala
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
Due: none

Fix directory expansion bug
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/weighted_semaphore.py
Due: ruff, ruff-format

Defer to GCS copier from within copier flow
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
Due: ruff, ruff-format

[query] Fix haploid sparse_split_multi when len(LA) >= 3
  hail/python/hail/experimental/sparse_mt/sparse_split_multi.py
Due: ruff, ruff-format

fix
  hail/hail/src/is/hail/asm4s/implicits/RichCodePrefixCoder.scala
Due: none

pip security bumps
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

Remove extra check if user is active
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

test
  hail/python/test/hail/experimental/test_experimental.py
Due: ruff, ruff-format

fix assertion failure
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
Due: none

fix
  hail/python/test/hail/experimental/test_experimental.py
Due: ruff, ruff-format

reduce changeset impact on previous pages
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/job_react.html
  gear/gear/__init__.py
  gear/gear/http_server_utils.py
  services/ui/src/batch/job.tsx
Due: ruff, ruff-format, pyright

simplify override_attempt_id addition
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

Add direct prefix coder test suite
  hail/hail/src/is/hail/io/PrefixCoder.scala
  hail/hail/test/resources/log4j2-test.properties
  hail/hail/test/src/is/hail/io/PrefixCoderSuite.scala
Due: none

fix TBinary Extended ordering
  hail/hail/src/is/hail/types/virtual/TBinary.scala
Due: none

encoder string test
  hail/hail/test/src/is/hail/io/PrefixCoderSuite.scala
Due: none

scratch unneded
  hail/hail/src/is/hail/io/PrefixCoder.scala
Due: none

lint
  hail/hail/src/is/hail/io/PrefixCoder.scala
  hail/hail/test/src/is/hail/io/PrefixCoderSuite.scala
Due: none

Emit parameter encoding via ParamType.codeTypes
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/Param.scala
Due: none

Fix naming bugs in FunctionWith* traits
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
Due: none

Reuse Code.void for hand-rolled VCode patterns
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
  hail/hail/src/is/hail/asm4s/Code.scala
Due: none

Clean up EmitClassBuilder FS I/O helpers and dead code
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
Due: none

Deduplicate ClassBuilder newMethod/newStaticMethod
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
