Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[compiler] PruneDeadFields simplification (#14455)
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
Due: none

review
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[ci] hail_ubuntu_image is redundant. kill it.
  build.yaml
Due: none

[terra] Fix terra on azure helm chart and make targets (#14450)
  .dockerignore
  Makefile
  batch/terra-chart/Chart.yaml.tmpl
  batch/terra-chart/Dockerfile.batch
  batch/terra-chart/Dockerfile.worker
  batch/terra-chart/Makefile
  batch/terra-chart/templates/app.yaml
  batch/terra-chart/templates/config.yaml
  batch/terra-chart/templates/identity.yaml
  batch/terra-chart/values.yaml.tmpl
Due: none

review
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

review
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[query] Correct python encoding/decoding of diploid calls
  hail/python/hail/expr/types.py
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

[query] Correct python encoding/decoding of diploid calls (#14494)
  hail/python/hail/expr/types.py
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

regenerate cleanup policy
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

[ci] hail_curl_image is redundant. kill it. (#14490)
  build.yaml
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

dont update bokeh to incompatible version
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: none

[pip] Update orjson and transitive dependencies (#14471)
  batch/batch/cloud/terra/azure/worker/worker_api.py
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/aiocloud/aiogoogle/client/bigquery_client.py
  hail/python/hailtop/auth/flow.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  web_common/pinned-requirements.txt
Due: ruff, ruff-format, pyright

`Dockerfile.base` needs `build` now.
  docker/Dockerfile.base
Due: none

lockfiles sigh
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

update Makefile now we are not using bdist wheel
  hail/Makefile
Due: none

[dependabot] Remove dependabot automatic PRs
  .github/dependabot.yml
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[query] Build Hail Wheel With Python build (#14474)
  docker/Dockerfile.base
  hail/Makefile
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

simplify PruneDeadFields
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/test/scala/is/hail/expr/ir/FakeTableReader.scala
  hail/src/test/scala/is/hail/expr/ir/MatrixIRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/TableIRSuite.scala
Due: none

[pip] Use `uv` for generating lockfiles
  Makefile
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  build.yaml
  check_pip_requirements.sh
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  generate-linux-pip-lockfile.sh
  generate-pip-lockfile.sh
  hail-pip-compile.sh
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

[docs] Change input/output bucket warning to recommend regional buckets
  hail/python/hailtop/batch/batch.py
Due: ruff, ruff-format

[pip] Use `uv` for generating lockfiles (#14503)
  Makefile
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  build.yaml
  check_pip_requirements.sh
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  generate-linux-pip-lockfile.sh
  generate-pip-lockfile.sh
  hail-pip-compile.sh
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

[devdocs] Add dev doc describing gateways configuration
  dev-docs/services/Hail Batch Architectural Diagram.png
  dev-docs/services/gateways.md
Due: none

[batch] Remove unused cost_from_msec_mcpu code
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
Due: ruff, ruff-format, pyright

throw the failure in importVCF
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/scala/is/hail/utils/UtilsSuite.scala
Due: none

clobber `failure`
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
Due: none

[query] Cleanup Code-Duplication around `parallelizeAndComputeWithIndex`
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendUtils.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/scala/is/hail/utils/UtilsSuite.scala
Due: none

make the linters happy
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

unpack `ExecutionException`s
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

make sure we throw that error
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

add a2 machines
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

[batch] Get rid of machine_type_to_worker_type_cores
  batch/batch/cloud/azure/driver/create_instance.py
  batch/batch/cloud/azure/driver/resource_manager.py
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/azure/resource_utils.py
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/batch/cloud/terra/azure/driver/driver.py
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/resource_manager.py
  batch/batch/inst_coll_config.py
Due: ruff, ruff-format, pyright

[batch] fix g2 machine memory calculation
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/instance_config.py
  batch/batch/worker/worker.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

resolved front jp instance manager
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/inst_coll_config.py
  batch/batch/instance_config.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright
