Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[batch] During rate refresh, update SKU if it is NULL
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

[Batch Driver] Stop importing reserved resource prices (#14755)
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

[QoB] Set StreamReadConstraints maxStringLength as early as possible (#14750)
  hail/python/test/hail/test_ir.py
  hail/src/main/scala/is/hail/backend/service/Main.scala
Due: ruff, ruff-format

[Batch] Add n_max_attempts against infinite retries/preemptions (#14682)
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/instance_collection/pool.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/validate.py
  batch/sql/jobs-add-n-max-attempts.sql
  build.yaml
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/job.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

[batch] Check that batch jobs is nonempty in Previous Page button (#14754)
  batch/batch/front_end/templates/batch.html
Due: none

[batch] During resource rate refresh, update SKU if it is NULL (#14756)
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

batches API
  batch/batch/front_end/templates/openapi.yaml
Due: none

placeholders for all get routes
  batch/batch/front_end/templates/openapi.yaml
Due: none

add base_url server back
  batch/batch/front_end/templates/openapi.yaml
Due: none

fix reference typo
  batch/batch/front_end/templates/openapi.yaml
Due: none

post and patch
  batch/batch/front_end/templates/openapi.yaml
Due: none

mark deprecated
  batch/batch/front_end/templates/openapi.yaml
Due: none

comments
  batch/batch/front_end/templates/openapi.yaml
Due: none

log request after the fact
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

fix scalatests
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

credentials are scoped
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

depend on uploaded qob jar
  build.yaml
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

rewrite, simplify and test BatchClient
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

preserve old, broken behaviour
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

jar location is a url, not a json spec
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
Due: none

`stop` in python, closable only in scala
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

fix gcs oauth2 scopes
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

job ids are 1-based
  hail/src/main/scala/is/hail/backend/service/Main.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

refrsh azure tokens if they expire in 5 mins?
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

make backend closable + fix mocked test
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
  hail/python/hailtop/config/user_config.py
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: ruff, ruff-format

[query] Unify CloudCredentials and Modernise BatchService API
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/Requester.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: none

reformat
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

use rstrip
  hail/python/hail/context.py
  hail/python/hailtop/config/user_config.py
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

feedback from @chrisvittal
  hail/python/hail/context.py
  hail/src/main/scala/is/hail/backend/Backend.scala
Due: ruff, ruff-format

scala fucking format at 1am
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

dont throw in parallelizeAndComputeWithIndex
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

fix ReferenceGenome serialisation
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
Due: none

fix old squiggly lines
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
Due: none

[query] Remove BlockMatrix persist from Backend interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/caching/BlockMatrixCache.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBlockMatrixCache.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/utils/ErrorHandling.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

fix warnigns - now builds in "Release Mode"
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

[query] Remove `persistedIr` from `Backend` interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/functions/Functions.scala
  hail/src/main/scala/is/hail/io/bgen/LoadBgen.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

i miss hm type system
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
Due: none

wire up spark, local and py4j backends
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/scala/is/hail/HailSuite.scala
Due: ruff, ruff-format

[query] Expose references via `ExecuteContext`
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
Due: none

only remove ir functions registered in that execute request
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
  hail/src/main/scala/is/hail/expr/ir/functions/Functions.scala
Due: none
