Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[query] Factor valueIR `Simplify` rules and `ForwardLets` of type `TStream` (#15550)
  hail/hail/src/is/hail/asm4s/Code.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/SimplifySuite.scala
Due: none

safe handling of unlimited quotes and bps
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[compiler] only check `UniquelyNamed` when `StrictInvariants` is defined
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/invariant/InvariantSuite.scala
Due: none

allow comments
  batch/batch/front_end/front_end.py
  batch/batch/utils.py
  batch/sql/121-billing-quotes.sql
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
  hail/python/hailtop/hailctl/batch/billing/quotes/cli.py
Due: ruff, ruff-format, pyright

more static sql structure
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

small fixups
  batch/batch/driver/main.py
  batch/batch/driver/templates/openapi.yaml
Due: ruff, ruff-format, pyright

[batch] add batch-driver OpenAPI spec and complete driver APIs
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/openapi.yaml
Due: ruff, ruff-format, pyright

request jsonify safety
  batch/batch/driver/main.py
  batch/batch/driver/templates/openapi.yaml
Due: ruff, ruff-format, pyright

fix bool casting
  batch/batch/inst_coll_config.py
Due: ruff, ruff-format, pyright

update again
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements-py310.txt
  hail/python/pinned-requirements.txt
Due: none

[compiler] only check `UniquelyNamed` when `StrictInvariants` is defined (#15598)
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/invariant/InvariantSuite.scala
Due: none

[claude] flamegraph skill: fix recursion inflation, name corruption, and cross-run noise in profile comparisons (#15596)
  .claude/skills/flamegraph/SKILL.md
  .claude/skills/flamegraph/scripts/parse_flamegraph.py
Due: ruff, ruff-format, pyright

add missing system permission via migration. add openapi docs
  batch/batch/front_end/templates/openapi.yaml
  build.yaml
Due: none

[docs] Document the purpose of, and how to update, the worker VM base image (#15272)
  dev-docs/services/batch/worker-vm-image.md
Due: none

add missing system permission via migration. add openapi docs
  auth/sql/012-add-create-quotes-permission.sql
Due: none

migrate new integration tests to dao unit tests [wip, part 1
  batch/batch/billing_dao.py
  batch/test/billing_dao_schema.sql
  batch/test/test_billing_dao.py
  batch/test/test_billing_quotes.py
  build.yaml
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

complete migration to DB unit tests
  batch/batch/billing_auth.py
  batch/batch/billing_dao.py
  batch/batch/front_end/front_end.py
  batch/batch/utils.py
  batch/test/billing_dao_schema.sql
  batch/test/test_billing_dao.py
  batch/test/test_billing_quotes.py
Due: ruff, ruff-format, pyright

fix schema gap
  batch/test/billing_dao_schema.sql
Due: none

add migration to build.yaml. oops
  build.yaml
Due: none

[make] exit the updater early if envoy is up to date (#15570)
  update-envoy.py
Due: ruff, ruff-format, pyright

Migrate swagger UI to react component
  Makefile
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  devbin/dev_proxy.py
  monitoring/monitoring/monitoring.py
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/shared/swagger.tsx
  web_common/web_common/__init__.py
  web_common/web_common/static/js/swagger/index.js
  web_common/web_common/static/lib/swagger/favicon-16x16.png
  web_common/web_common/static/lib/swagger/favicon-32x32.png
  web_common/web_common/static/lib/swagger/index.css
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle-core.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/static/lib/swagger/swagger-ui.js
  web_common/web_common/templates/swagger/index.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

add compiled js to monitoring and auth dockerfiles
  auth/auth/auth.py
  monitoring/monitoring/monitoring.py
Due: ruff, ruff-format, pyright

make sure compiled js files are hosted properly
  batch/batch/driver/main.py
  build.yaml
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

fix build.yaml ordering
  build.yaml
Due: none

let graphite ignore package-lock line diffs when considering pr complexity
  .gitattributes
Due: none

[scripts] script and docs for manifold platform setup (#15557)
  user-scripts/manifold/README.md
  user-scripts/manifold/install_hail_kernel.sh
Due: none

update to node 24, restore swagger headers for validator
  .github/workflows/pip-npm-bump.yml
  .github/workflows/static-and-unit-tests.yml
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  build.yaml
  ci/ci/ci.py
  devbin/dev_proxy.py
  monitoring/monitoring/monitoring.py
  services/ui/package-lock.json
  services/ui/src/shared/swagger.tsx
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[query] Fix `transform_gvcf` docs.
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

shift supported python versions from 3.10-13 to 3.12-14
  .github/workflows/pip-npm-bump.yml
  .github/workflows/static-and-unit-tests.yml
  .github/workflows/validate-build-yaml.yml
  Makefile
  build.yaml
  ci/test/resources/build.yaml
  docker/hail-ubuntu/Dockerfile
  docker/hailgenetics/mirror_images.sh
  docker/hailgenetics/python-dill/push.sh
  hail/Makefile
  hail/python/hail/__init__.py
  hail/python/hail/docs/install/linux.rst
  hail/python/hail/docs/install/macosx.rst
  hail/python/hail/docs/install/other-cluster.rst
  hail/python/hailtop/batch/hail_genetics_images.py
  hail/python/pinned-requirements-py310.txt
  hail/python/setup-hailtop.py
  hail/python/setup.py
  hail/scripts/release.sh
Due: ruff, ruff-format, pyright

remove explicit 3.12 labeled images - theyre the default now
  build.yaml
Due: none

fix ar cleanup
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

[query] Factor relational `Simplify` rules
  hail/hail/src/is/hail/expr/ir/IsConstant.scala
  hail/hail/src/is/hail/expr/ir/IsPure.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/SimplifySuite.scala
Due: none

[services] Migrate swagger UI to react component (#15601)
  .gitattributes
  .github/workflows/pip-npm-bump.yml
  .github/workflows/static-and-unit-tests.yml
  Makefile
  auth/auth/auth.py
  batch/batch/driver/main.py
  build.yaml
  devbin/dev_proxy.py
  monitoring/monitoring/monitoring.py
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/shared/swagger.tsx
  web_common/web_common/static/js/swagger/index.js
  web_common/web_common/static/lib/swagger/favicon-16x16.png
  web_common/web_common/static/lib/swagger/favicon-32x32.png
  web_common/web_common/static/lib/swagger/index.css
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle-core.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/static/lib/swagger/swagger-ui.js
  web_common/web_common/templates/swagger/index.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

add default branching factor constant
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

use new writer agg for matrix globals/columns
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
Due: none

use proper binding envs and memoization
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

more helpers and more writer agg usage
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

fix
  hail/hail/src/is/hail/io/OutputBuffers.scala
Due: none

fmt
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

add TODO
  hail/hail/src/is/hail/expr/ir/AggOp.scala
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
