Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

index writing
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/io/BufferSpecs.scala
  hail/hail/src/is/hail/io/OutputBuffers.scala
Due: none

we call store so it needs to be a no-op
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
Due: none

add messages to unimplmented aggregator methods
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
Due: none

bikeshed painted
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
Due: none

StreamBlockOutputBuffer can be more general
  hail/hail/src/is/hail/io/OutputBuffers.scala
Due: none

[query] Implement table partition writer as an aggregator
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
Due: none

oops
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

helper functions
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

fix confusing names in agg initop
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
Due: none

writer agg for fanout writer
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

Remove unneded comments
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

Don't need a rowwriter on the fanout targets anymore
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
Due: none

lint
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/io/BufferSpecs.scala
Due: none

[query] Remove PartitionNativeWriter
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/functions/UtilFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
Due: none

fmt
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
Due: none

shuffle always needs a key to track
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
Due: none

dbg
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
Due: none

test unreliable, only check simple types to make sure fn is registered
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
Due: none

fixes
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
Due: none

🚲🏠
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
Due: none

Have split aggregator take rows and entries separately
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamSplitWriterAggregator.scala
Due: none

factor common aggregations for meta info into a helper method
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
Due: none

[query] Implement matrix writing as an aggregator
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamSplitWriterAggregator.scala
Due: none

rebase and fix
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
Due: none

[query] Factor Simplify rule methods to stay under the JIT's huge-method limit (#15553)
  hail/hail/src/is/hail/expr/ir/IsConstant.scala
  hail/hail/src/is/hail/expr/ir/IsPure.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/SimplifySuite.scala
Due: none

update the generate lockfiles script to update with 3.12 too
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  generate-pip-lockfile.sh
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

a few 3.11 leftovers
  batch/test/test_worker_image_security.py
  build.yaml
  check_pip_requirements.sh
  dev-docs/compiler-team/development_tools.md
  dev-docs/hail-for-new-engineers.md
  hail/python/test/hailtop/hailctl/batch/test_submit.py
  user-scripts/manifold/install_hail_kernel.sh
Due: ruff, ruff-format, pyright

dill-icious!
  hail/python/hailtop/batch/batch.py
  hail/python/hailtop/batch/job.py
  hail/python/test/hailtop/batch/utils.py
Due: ruff, ruff-format

regenerate lockfiles again
  ci/pinned-requirements.txt
Due: none

missed a 3_11 ref
  build.yaml
Due: none

[auth] Add /api/ implementations of remaining html-only queries (#15572)
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
Due: ruff, ruff-format, pyright

replace try-except-pass with upfront type checking
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

fix and test for nonexistent quote / dest
  batch/batch/billing_dao.py
  batch/test/test_billing_dao.py
Due: ruff, ruff-format, pyright

bp open/close as quote-level events
  batch/batch/billing_dao.py
  batch/test/test_billing_dao.py
Due: ruff, ruff-format, pyright

[query] Avoid closure-captured $outer bloat in SparkBackend task partitions
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
Due: none

[emr] register emr command group in hailctl
  hail/python/hailtop/hailctl/__main__.py
  hail/python/test/hailtop/hailctl/emr/test_registration.py
Due: ruff, ruff-format

[emr] add boto3 client factory and region resolution
  hail/python/hailtop/hailctl/emr/__init__.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/test/hailtop/hailctl/emr/__init__.py
  hail/python/test/hailtop/hailctl/emr/test_emr.py
Due: ruff, ruff-format

[docs] CHANGELOG: add hailctl emr (AWS EMR support)
  hail/python/hail/docs/change_log.md
Due: none

[emr] add emr Typer app with start/stop/list/submit
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/test/hailtop/hailctl/emr/cli/__init__.py
  hail/python/test/hailtop/hailctl/emr/cli/conftest.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
Due: ruff, ruff-format

[docs] document hailctl emr for AWS EMR
  hail/python/hail/docs/cloud/amazon_web_services.rst
Due: none
