Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

rename batches to builds, 10% less cartoony
  ci/ci/templates/flaky_tests.html
  services/ui/src/ci/flaky_tests.tsx
Due: none

[deps] Upgrade to pytest 9
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[query/vds/combiner] Add gvcf_save_filters parameter to new_combiner
  hail/hail/test/resources/gvcfs/has_filter.g.vcf.gz
  hail/hail/test/resources/gvcfs/has_filter.g.vcf.gz.tbi
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/test/hail/vds/test_combiner.py
Due: ruff, ruff-format

[query] Benchmark configurations (#14762)
  hail/python/benchmark/hail/batch-config.yaml
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

fix
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

Add filters check to validate, begin breaking components out
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

auto-refresh devserver on tsx changes
  .gitignore
  Makefile
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

Convert charts to flex to allow narrower viewports
  services/ui/src/ci/flaky_tests.tsx
Due: none

[query] stop passing requester-pays conf via feature flags
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/io/fs/AzureStorageFS.scala
  hail/hail/src/is/hail/io/fs/GoogleStorageFS.scala
  hail/hail/src/is/hail/io/fs/RouterFS.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/context.py
  hail/python/test/hail/helpers.py
  hail/python/test/hail/methods/test_qc.py
Due: ruff, ruff-format

inject local ubuntu package mirror
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

name needs less mangling
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

Update ci to download individual files by path rather than sync entire repo
  ci/ci/build.py
  ci/ci/ci.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

simplify prebuild step
  ci/ci/github.py
Due: ruff, ruff-format, pyright

lint
  ci/ci/github.py
Due: ruff, ruff-format, pyright

NAT cost reporter helper script
  devbin/nat_cost_report.py
Due: ruff, ruff-format, pyright

remove original but make restore easy
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[query] fix vep misbound parameter
  hail/hail/src/is/hail/methods/VEP.scala
Due: none

[query] fix max_read_parallelism None-handling
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

Refresh cert on deploy (#15320)
  build.yaml
Due: none

Restore public IPs with firewall validator
  batch/batch/cloud/gcp/driver/create_instance.py
  devbin/check_public_ip_no_ingress.py
Due: ruff, ruff-format, pyright

respect namespace argument in hailctl curl
  hail/python/hailtop/config/deploy_config.py
  hail/python/test/hailtop/config/test_deploy_config.py
Due: ruff, ruff-format

simplify
  hail/python/hailtop/config/deploy_config.py
  hail/python/test/hailtop/config/test_deploy_config.py
Due: ruff, ruff-format

[query] stop passing requester-pays conf via feature flags
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/io/fs/AzureStorageFS.scala
  hail/hail/src/is/hail/io/fs/GoogleStorageFS.scala
  hail/hail/src/is/hail/io/fs/RouterFS.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/context.py
  hail/python/hail/methods/qc.py
  hail/python/hail/utils/misc.py
  hail/python/test/hail/backend/test_service_backend.py
  hail/python/test/hail/helpers.py
  hail/python/test/hail/methods/test_qc.py
Due: ruff, ruff-format

nicer ifelse
  hail/python/hailtop/config/deploy_config.py
Due: ruff, ruff-format

Fix toFastSeq to not copy a WrappedArray or ArraySeq
  hail/hail/utils/src/is/hail/collection/implicits/RichIterable.scala
Due: none

[batch] update async-profiler to v4.3
  batch/Dockerfile.worker
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[batch] update async-profiler from v2.9 to v4.3 (#15340)
  batch/Dockerfile.worker
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

visible apt rewrites with a spec flag to disable
  batch/batch/front_end/front_end.py
  batch/batch/front_end/validate.py
  batch/batch/worker/worker.py
  dev-docs/services/apt-mirror.md
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/docs/service.rst
  hail/python/hailtop/batch/job.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

avoid zombie build batches
  ci/ci/github.py
Due: ruff, ruff-format, pyright

refactor with highest-id-first semantics
  ci/ci/github.py
Due: ruff, ruff-format, pyright

rename min_batch
  ci/ci/github.py
Due: ruff, ruff-format, pyright

rename min_batch variable and improve comment
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[query] dont needlessly re-read liftover and fasta sequence index
  hail/hail/src/is/hail/io/reference/FastaSequenceIndex.scala
  hail/hail/src/is/hail/io/reference/LiftOver.scala
Due: none

error on filter mismatch
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[compiler|lir] revert hot-loop while -> foreach change
  hail/hail/src/is/hail/lir/CFG.scala
  hail/hail/src/is/hail/lir/SimplifyControl.scala
  hail/hail/src/is/hail/lir/SplitMethod.scala
  hail/hail/src/is/hail/lir/X.scala
Due: none

[query] dont needlessly re-read liftover and fasta sequence index (#15347)
  hail/hail/src/is/hail/io/reference/FastaSequenceIndex.scala
  hail/hail/src/is/hail/io/reference/LiftOver.scala
Due: none

[deps] upgrade uv to 0.10.x series (#15328)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

minor fixes and tailwind pinning
  auth/Dockerfile
  batch/Dockerfile
  ci/Dockerfile
  services/ui/src/ci/flaky_tests.tsx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
