Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

even more logging
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

fix expectation, remove logs
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

re-add some logging
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

remove flaky wildcard test; move validation to existing test
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

more comprehensive status checking
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

emit logs during long running jobs
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

moar splits
  build.yaml
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

[batch] Template js files to avoid user-provided URLs
  auth/auth/auth.py
  auth/auth/static/js/account-creating.js
  auth/auth/static/js/roles.js
  auth/auth/static/js/users.js
  auth/auth/templates/account-creating.html
  auth/auth/templates/roles.html
  auth/auth/templates/user.html
  auth/auth/templates/users.html
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/table_search.js
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/table_search.html
  ci/ci/templates/batch.html
  ci/ci/templates/dev-deploy-table.html
  ci/ci/templates/index.html
  ci/ci/templates/job-table.html
  ci/ci/templates/pr-table.html
  ci/ci/templates/pr.html
  monitoring/monitoring/templates/billing.html
  web_common/web_common/static/focus_on_keyup.js
  web_common/web_common/static/js/swagger/index.js
  web_common/web_common/static/search_bar.js
  web_common/web_common/templates/swagger/index.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[batch] Refactor js to remove unsafe-inline CSP
  auth/MANIFEST.in
  auth/auth/static/js/account-creating.js
  auth/auth/templates/account-creating.html
  auth/auth/templates/roles.html
  auth/auth/templates/user.html
  auth/auth/templates/users.html
  batch/batch/driver/main.py
  batch/batch/driver/static/js/quotas.js
  batch/batch/driver/templates/quotas.html
  batch/batch/front_end/static/js/quotas.js
  batch/batch/front_end/static/js/table_search.js
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/table_search.html
  web_common/web_common/static/js/job.js
  web_common/web_common/static/js/roles.js
  web_common/web_common/static/js/swagger/index.js
  web_common/web_common/static/js/table_search.js
  web_common/web_common/templates/swagger/index.html
Due: ruff, ruff-format, pyright

WIP unsafe-inline
  auth/auth/auth.py
  auth/auth/static/js/user.js
  auth/auth/static/js/users.js
  auth/auth/templates/roles.html
  auth/auth/templates/user.html
  auth/auth/templates/users.html
  batch/batch/driver/templates/quotas.html
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/job.js
  batch/batch/front_end/static/js/quotas.js
  batch/batch/front_end/static/js/roles.js
  batch/batch/front_end/static/js/table_search.js
  batch/batch/front_end/templates/job.html
  devbin/dev_proxy.py
  web_common/web_common/static/js/job.js
  web_common/web_common/static/js/quotas.js
  web_common/web_common/static/js/roles.js
  web_common/web_common/static/js/table_search.js
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

lint
  hail/hail/src/is/hail/expr/ir/ValueReader.scala
Due: none

[query] Remove ENumpyBinaryNDArray
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/ValueReader.scala
  hail/hail/src/is/hail/expr/ir/ValueWriter.scala
  hail/hail/src/is/hail/types/encoded/ENumpyBinaryNDArray.scala
Due: none

lint
  hail/hail/src/is/hail/expr/ir/ValueReader.scala
  hail/hail/src/is/hail/expr/ir/ValueWriter.scala
Due: none

overrides that don't override anything, ok fine
  hail/hail/src/is/hail/expr/ir/ValueReader.scala
  hail/hail/src/is/hail/expr/ir/ValueWriter.scala
Due: none

suggestion
  hail/hail/src/is/hail/expr/ir/ValueReader.scala
Due: none

comments
  hail/hail/src/is/hail/expr/ir/ValueReader.scala
Due: none

longer timeouts
  build.yaml
Due: none

[hailctl] Direct to the batch ui for dev deploy builds (#15214)
  hail/python/hailtop/hailctl/dev/cli.py
Due: ruff, ruff-format

more updates
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[query] Replace Deprecated `AnyRefMap` with `HashMap` (#15221)
  hail/.scalafix.conf
  hail/hail/src-2.12/is/hail/utils/compat/mutable/package.scala
  hail/hail/src-2.13/is/hail/utils/compat/mutable/package.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
Due: none

more logging around image pulling
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

job id and batch id in logs
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

more specific
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

Make nat maxes higher, powers of 2
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Address Codacy findings
  auth/auth/static/js/roles.js
  auth/auth/static/js/user.js
  batch/batch/driver/static/js/quotas.js
  batch/batch/front_end/static/js/job.js
  batch/batch/front_end/static/js/table_search.js
  web_common/web_common/static/js/swagger/index.js
Due: none

[compiler] misc 2.13 deprecation fixes
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/functions/StringFunctions.scala
  hail/hail/src/is/hail/sparkextras/BlockedRDD.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/virtual/TDict.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/utils/FlipbookIterator.scala
  hail/hail/src/is/hail/utils/PartitionCounts.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

fix linting
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[terraform] Make nat maxes higher, powers of 2 (#15228)
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[compiler] misc 2.13 deprecation fixes (#15226)
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/functions/StringFunctions.scala
  hail/hail/src/is/hail/sparkextras/BlockedRDD.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/virtual/TDict.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/utils/FlipbookIterator.scala
  hail/hail/src/is/hail/utils/PartitionCounts.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

[query] replace `readRepeatedly` with java 11 `readNBytes`
  hail/hail/src/is/hail/io/plink/LoadPlink.scala
  hail/hail/src/is/hail/utils/richUtils/RichInputStream.scala
  hail/hail/test/src/is/hail/io/compress/BGzipCodecSuite.scala
Due: none

Address more Codacy findings
  auth/auth/auth.py
  auth/auth/static/js/account-creating.js
  auth/auth/static/js/roles.js
  auth/auth/static/js/user.js
  auth/auth/static/js/users.js
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/table_search.js
  web_common/web_common/static/focus_on_keyup.js
  web_common/web_common/static/search_bar.js
Due: ruff, ruff-format, pyright

[query] replace `readRepeatedly` with built-in `readNBytes` (#15231)
  hail/hail/src/is/hail/io/plink/LoadPlink.scala
  hail/hail/src/is/hail/utils/richUtils/RichInputStream.scala
  hail/hail/test/src/is/hail/io/compress/BGzipCodecSuite.scala
Due: none

[query] Fix BlockMatrix persist
  hail/python/hail/linalg/blockmatrix.py
  hail/python/test/hail/linalg/test_linalg.py
Due: ruff, ruff-format

Document refreshing the trivy scanner gsa key
  dev-docs/refreshing-trivy-scanner-github-secret.md
Due: none

[query] remove tunion
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/types/TypeWithRequiredness.scala
  hail/hail/src/is/hail/types/virtual/TUnion.scala
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/expressions/expression_typecheck.py
  hail/python/hail/expr/type_parsing.py
  hail/python/hail/expr/types.py
  hail/python/test/hail/expr/test_types.py
Due: ruff, ruff-format

[docs] Document refreshing the trivy scanner gsa key (#15235)
  dev-docs/refreshing-trivy-scanner-github-secret.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
