Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

wip
  tls/create_certs.py
Due: ruff, ruff-format, pyright

[batch] Add internal ssl certs to worker server
  batch/batch/cloud/azure/worker/worker_api.py
  batch/batch/cloud/gcp/worker/worker_api.py
  batch/batch/cloud/terra/azure/worker/worker_api.py
  batch/batch/driver/instance.py
  batch/batch/driver/job.py
  batch/batch/front_end/front_end.py
  batch/batch/globals.py
  batch/batch/utils.py
  batch/batch/worker/worker.py
  batch/batch/worker/worker_api.py
  build.yaml
  dev-docs/services/tls-cookbook.md
  hail/python/hailtop/aiocloud/aiogoogle/__init__.py
  hail/python/hailtop/aiocloud/aiogoogle/client/__init__.py
  hail/python/hailtop/aiocloud/aiogoogle/client/secret_manager_client.py
  hail/python/hailtop/config/deploy_config.py
  hail/python/hailtop/httpx.py
  hail/python/hailtop/tls.py
  infra/gcp-broad/main.tf
  tls/Dockerfile
  tls/config.yaml
  tls/create_certs.py
Due: ruff, ruff-format, pyright

[ci] Add operator knob to adjust rate limits (#14609)
  build.yaml
  ci/ci/ci.py
  ci/ci/envoy.py
  ci/ci/templates/namespaces.html
  ci/sql/add-service-rate-limits.sql
  ci/sql/estimated-current.sql
  ci/test/envoy/test_gateway_rds_response.yaml
  ci/test/envoy/test_internal_gateway_rds_response.yaml
  ci/test/test_envoy.py
  dev-docs/services/gateways.md
Due: ruff, ruff-format, pyright

Release 0.2.127.post1
  hail/version.mk
Due: none

[test-dataproc] use regional buckets instead of soon-to-be-deleted multi-regional buckets (#14270)
  hail/scripts/test-dataproc.sh
Due: none

[gateway] Fix top level domain for website
  ci/ci/envoy.py
Due: ruff, ruff-format, pyright

add www to envoy tests
  ci/test/envoy/test_gateway_cds_response.yaml
  ci/test/envoy/test_gateway_rds_response.yaml
  ci/test/envoy/test_internal_gateway_cds_response.yaml
  ci/test/envoy/test_internal_gateway_rds_response.yaml
  ci/test/test_envoy.py
Due: ruff, ruff-format, pyright

[ui] removes script tags for fontawesome
  web_common/web_common/templates/layout.html
  website/website/templates/base-head.html
Due: none

[gateway] Fix top level domain for website (#14617)
  ci/ci/envoy.py
  ci/test/envoy/test_gateway_cds_response.yaml
  ci/test/envoy/test_gateway_rds_response.yaml
  ci/test/envoy/test_internal_gateway_cds_response.yaml
  ci/test/envoy/test_internal_gateway_rds_response.yaml
  ci/test/test_envoy.py
Due: ruff, ruff-format, pyright

don't implement unneded methods
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[ci] Use the public networks where possible (#14294)
  Makefile
  build.yaml
  ci/ci/build.py
  ci/test/resources/build.yaml
Due: ruff, ruff-format, pyright

[dataproc] adds project to args for submit
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/submit.py
Due: ruff, ruff-format

review
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[infra] Fix bitrot in bootstrapping scripts
  bootstrap-gateway/Makefile
  infra/bootstrap_utils.sh
  infra/gcp/README.md
  infra/gcp/outputs.tf
Due: none

remove gcp usages
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

[batch] Have Batch Worker perform auth checks on requests from Batch
  batch/batch/cloud/azure/worker/worker_api.py
  batch/batch/cloud/gcp/worker/worker_api.py
  batch/batch/cloud/terra/azure/worker/worker_api.py
  batch/batch/driver/instance.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/worker/worker.py
  batch/batch/worker/worker_api.py
  batch/deployment.yaml
  hail/python/hailtop/aiocloud/aioazure/credentials.py
  hail/python/hailtop/aiocloud/aiogoogle/credentials.py
  hail/python/hailtop/auth/auth.py
  hail/python/hailtop/auth/flow.py
Due: ruff, ruff-format, pyright

[batch] warns the user if client or server is using deprecated functionality
  batch/batch/front_end/front_end.py
  gear/gear/http_server_utils.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

fix the bootstrap image creation
  ci/bootstrap.py
Due: ruff, ruff-format, pyright

fix copying the global config
  infra/gcp/README.md
Due: none

more fix
  ci/bootstrap.py
Due: ruff, ruff-format, pyright

moar fix
  ci/bootstrap.py
Due: ruff, ruff-format, pyright

[dev-docs] Start development tutorial for Batch
  dev-docs/services/batch/development-tutorial.md
Due: none

add more instructions
  dev-docs/services/batch/development-tutorial.md
Due: none

add hailctl client ID to instructions and terraform
  infra/gcp/README.md
  infra/gcp/main.tf
Due: none

add namespace default in gateway deploy
  infra/gcp/README.md
Due: none

[admin-pod] Fix admin-pod Makefile to push pod image
  admin-pod/Makefile
Due: none

[batch] Fix Batch in Terra on Azure deployment
  batch/batch/batch_format_version.py
  batch/batch/cloud/terra/azure/driver/driver.py
  batch/batch/driver/main.py
  batch/batch/worker/worker.py
  batch/terra-chart/values.yaml.tmpl
  gear/gear/auth.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aioterra/azure/client/terra_client.py
  hail/python/hailtop/aiocloud/aioterra/azure/fs.py
  hail/python/hailtop/config/deploy_config.py
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/Requester.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
Due: ruff, ruff-format, pyright

just create the user yourself instead of using the build pipelien
  build.yaml
  infra/bootstrap_utils.sh
  infra/gcp/README.md
Due: none

[batch] make batches query go brrrrrrr
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v2.py
  build.yaml
Due: ruff, ruff-format, pyright

oops
  batch/batch/front_end/query/query_v2.py
  batch/sql/add-batches-id-user-index.sql
Due: ruff, ruff-format, pyright

removes version checking
  batch/batch/front_end/front_end.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

[ui] removes script tags for fontawesome (#14618)
  web_common/web_common/templates/layout.html
  website/website/templates/base-head.html
Due: none

more oops
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

[misc] Remove wheel dependence on `setuptools` Fixes #14630
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: none

add @cjllanwarne to authorized users
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

preserve sort order
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[ci] add @cjllanwarne to authorized ci users (#14632)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[ci] clean authorised users + drop team + sort
  ci/ci/constants.py
Due: ruff, ruff-format, pyright
