Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Errors and failures are all bad
  batch/batch/front_end/templates/components/metadata_tables.html
  web_common/web_common/templates/utils.html
Due: none

[docs] First pass at some flaky test identification queries (#15156)
  dev-docs/services/flaky_tests.md
Due: none

Change status display string too
  batch/batch/front_end/templates/components/metadata_tables.html
Due: none

fix out of dateness
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[query] Change BlockMatrixType to always be 2 dimensional (#15151)
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/types/virtual/BlockMatrixType.scala
  hail/python/hail/expr/blockmatrix_type.py
  hail/python/hail/ir/blockmatrix_ir.py
Due: ruff, ruff-format

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[test] xfail test_nested_union_200 instead of skip (#15164)
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

add context-getting "endpoints" for ci ui pages in swagger
  ci/ci/templates/openapi.yaml
Due: none

[query] Various Benchmark Suite Improvements (#14761)
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

buffered iterator
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/utils/FlipbookIterator.scala
Due: none

Growable/Shrinkable
  hail/build.mill
  hail/hail/src-2.12/is/hail/utils/compat/ShrinkableCompat.scala
  hail/hail/src-2.12/is/hail/utils/compat/mutable/GrowableCompat.scala
  hail/hail/src-2.12/is/hail/utils/compat/mutable/ShrinkableCompat.scala
  hail/hail/src-2.13/is/hail/utils/compat/immutable/package.scala
  hail/hail/src-2.13/is/hail/utils/compat/mutable/package.scala
  hail/hail/src-2.13/is/hail/utils/compat/package.scala
  hail/hail/src/is/hail/annotations/OrderedRVIterator.scala
  hail/hail/src/is/hail/annotations/WritableRegionValue.scala
  hail/hail/src/is/hail/rvd/KeyedRVD.scala
  hail/hail/src/is/hail/utils/Cache.scala
  hail/hail/src/is/hail/utils/FlipbookIterator.scala
  hail/hail/src/is/hail/utils/ImmutableMap.scala
  hail/hail/test/src/is/hail/expr/ir/agg/StagedBlockLinkedListSuite.scala
  hail/hail/test/src/is/hail/utils/FlipbookIteratorSuite.scala
Due: none

Stream->LazyList
  hail/build.mill
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/io/fs/FS.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/stats/LeveneHaldane.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/utils/FlipbookIterator.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
Due: none

Traversable->Iterable
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/io/fs/FS.scala
  hail/hail/src/is/hail/sparkextras/ContextRDD.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/physical/PStruct.scala
  hail/hail/src/is/hail/types/physical/PSubsetStruct.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/utils/FlipbookIterator.scala
  hail/hail/src/is/hail/utils/Graph.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/test/src/is/hail/scalacheck/package.scala
Due: none

MultiMap
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/utils/Graph.scala
  hail/hail/test/src/is/hail/utils/GraphSuite.scala
Due: none

JavaConverters
  hail/build.mill
  hail/hail/src/is/hail/annotations/OrderedRVIterator.scala
  hail/hail/src/is/hail/io/ElasticsearchConnector.scala
  hail/hail/src/is/hail/io/avro/AvroPartitionReader.scala
  hail/hail/src/is/hail/io/fs/AzureStorageFS.scala
  hail/hail/src/is/hail/io/reference/LiftOver.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/methods/Nirvana.scala
  hail/hail/src/is/hail/methods/VEP.scala
  hail/hail/src/is/hail/rvd/KeyedRVD.scala
  hail/hail/src/is/hail/services/oauth2.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/utils/Py4jUtils.scala
  hail/hail/src/is/hail/utils/richUtils/RichIterator.scala
  hail/hail/src/is/hail/variant/Call.scala
  hail/hail/src/is/hail/variant/Locus.scala
  hail/hail/src/is/hail/variant/ReferenceGenome.scala
  hail/hail/test/src/is/hail/io/compress/BGzipCodecSuite.scala
  hail/hail/test/src/is/hail/testUtils/Variant.scala
  hail/hail/test/src/is/hail/utils/prettyPrint/PrettyPrintWriterSuite.scala
Due: none

[UI] Errors and failures should be filtered for together (#15169)
  batch/batch/front_end/templates/components/metadata_tables.html
  web_common/web_common/templates/utils.html
Due: none

[query] simplify `DeployContext`
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/services/DeployConfig.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
Due: none

[query] read hail-generated cloud credentails
  hail/hail/src/is/hail/backend/driver/BackendRpc.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/io/fs/AzureStorageFS.scala
  hail/hail/src/is/hail/io/fs/GoogleStorageFS.scala
  hail/hail/src/is/hail/io/fs/RouterFS.scala
  hail/hail/src/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/oauth2.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/test/src/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/hail/test/src/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
Due: none

[query] engoodening of the py4j clients
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/utils/Py4jUtils.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/src/org/apache/spark/ProgressBarBuilder.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/backend/test_spark_backend.py
  hail/python/test/hail/test_context.py
Due: ruff, ruff-format

[benchmark] notebook for interactively computing benchmark config
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/tools/__init__.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
  hail/python/notebooks/mds/.gitignore
  hail/python/notebooks/mds/__init__.py
  hail/python/notebooks/mds/minimal-detectable-slowdown.ipynb
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query] benchmark in batch configurations
  hail/python/benchmark/hail/batch-config.yaml
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[batch] fix idempotent create update
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[query] run `ServiceBackend` in `Py4jQueryDriver`
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/package.scala
  hail/hail/src/is/hail/utils/StringSocketAppender.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/python/hail/context.py
  hail/python/hail/experimental/__init__.py
  hail/python/hail/experimental/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/conftest.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

Refactor BlockMatrixSparsity
  hail/hail/src-2.12/is/hail/utils/compat/immutable/ArraySeq.scala
  hail/hail/src-2.12/is/hail/utils/compat/package.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/linalg/MatrixSparsity.scala
  hail/hail/src/is/hail/types/physical/PCanonicalArray.scala
  hail/hail/src/is/hail/types/virtual/BlockMatrixType.scala
  hail/hail/src/is/hail/utils/richUtils/RichOrderedSeq.scala
  hail/hail/test/src/is/hail/linalg/MatrixSparsitySuite.scala
Due: none

[batch] fix idempotent create update (#15171)
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[services] Update pip dependencies (#15162)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  gear/requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/hailtop/uvloopx.py
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: ruff, ruff-format

bump uv
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

after rebase
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[query] use new enableBsp feature in mill
  build.yaml
  hail/Makefile
  hail/build.mill
Due: none

[auth] fix bootstrap_create_accounts for inactive users (#15154)
  ci/bootstrap_create_accounts.py
Due: ruff, ruff-format, pyright

[query] Clean up reading regions from user config (#15153)
  hail/python/hail/backend/service_backend.py
Due: ruff, ruff-format

[query] Simplify BlockMatrix transpose IR generation (#15147)
  hail/python/hail/linalg/blockmatrix.py
Due: ruff, ruff-format

[services] Bump pip dependencies, including uv (#15174)
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[query] engoodening of the py4j clients (#15158)
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/utils/Py4jUtils.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/src/org/apache/spark/ProgressBarBuilder.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/backend/test_spark_backend.py
  hail/python/test/hail/test_context.py
Due: ruff, ruff-format

[query] Deprecate hl.hadoop_* functions.
  hail/python/hail/utils/hadoop_utils.py
Due: ruff, ruff-format

[query] update asm version + use bom
  hail/build.mill
Due: none

Restore grafana access to GCP metrics
  grafana/deployment.yaml
  infra/gcp-broad/main.tf
Due: none
