Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

Merge in latest pinned-requirements updates
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
Due: none

[batch] Use gcloud storage for downloading input files from GCP
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/requirements.txt
Due: ruff, ruff-format

Add CSP-compliant AlpineJS static file
  web_common/web_common/static/lib/alpinejs/cdn.min.js
Due: none

Update plotly.js from 1.58.5 to 3.4.0
  batch/batch/driver/static/js/quotas.js
  batch/batch/driver/templates/quotas.html
  batch/batch/front_end/static/js/job.js
  batch/batch/front_end/templates/job.html
Due: none

Remove unsafe-eval CSP overrides
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[compiler] trap no more
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TrapNodeSuite.scala
Due: none

[batch] Remove duplicate job rows (#15287)
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

[batch] Fix test_submit during deploy - part 2 (#15295)
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[query] simplify ControlX access patterns
  hail/hail/src/is/hail/lir/CFG.scala
  hail/hail/src/is/hail/lir/SimplifyControl.scala
  hail/hail/src/is/hail/lir/SplitMethod.scala
  hail/hail/src/is/hail/lir/X.scala
Due: none

[ci] Remove redundant ci/batches/batch page (#15285)
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/templates/batch.html
  ci/ci/templates/batches.html
  ci/ci/templates/dev-deploy-table.html
  ci/ci/templates/index.html
  ci/ci/templates/openapi.yaml
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

[batch] Allow filter by exit code (#15266)
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v2.py
  batch/batch/front_end/static/js/table_search.js
  batch/batch/front_end/templates/table_search.html
Due: ruff, ruff-format, pyright

[compiler] add `HailClassLoader` to `ContextRDD` elem type
  hail/hail/src/is/hail/asm4s/package.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/backend/spark/package.scala
  hail/hail/src/is/hail/expr/ir/MatrixValue.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/io/CodecSpec.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
  hail/hail/src/is/hail/methods/IBD.scala
  hail/hail/src/is/hail/methods/LinearRegression.scala
  hail/hail/src/is/hail/methods/LogisticRegression.scala
  hail/hail/src/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/hail/src/is/hail/methods/Nirvana.scala
  hail/hail/src/is/hail/methods/PCA.scala
  hail/hail/src/is/hail/methods/PoissonRegression.scala
  hail/hail/src/is/hail/methods/Skat.scala
  hail/hail/src/is/hail/methods/VEP.scala
  hail/hail/src/is/hail/rvd/AbstractRVDSpec.scala
  hail/hail/src/is/hail/rvd/KeyedRVD.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/hail/src/is/hail/sparkextras/ContextRDD.scala
  hail/hail/src/is/hail/sparkextras/RepartitionedOrderedRDD2.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDD.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDDRegionValue.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDDRow.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichRDD.scala
Due: none

support old PRs with ci batches links
  ci/ci/ci.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Make PR pages closed-PR aware
  ci/ci/ci.py
  ci/ci/github.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

more readable get_pr function
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[benchmark] notebook for interactively computing benchmark config
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/tools/__init__.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
  hail/python/notebooks/mds/.gitignore
  hail/python/notebooks/mds/__init__.py
  hail/python/notebooks/mds/minimal-detectable-slowdown.ipynb
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

Downgrade plotly.js to 2.35.3
  batch/batch/driver/templates/quotas.html
  batch/batch/front_end/templates/job.html
Due: none

resilience to github connection hiccups
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

remove try/except/raise hack
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

easier to see PR state
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

Rephrase confusing no build running message
  ci/ci/templates/pr.html
Due: none

make check_services happier. hopefully
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

pr icon styling
  ci/ci/templates/pr.html
Due: none

include link in status line
  ci/ci/templates/pr.html
Due: none

minor layout fix
  ci/ci/templates/pr.html
Due: none

[ci] PR link fixup (#15306)
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

[batch] Use gcloud storage to download input files from GCP (#15273)
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: ruff, ruff-format

update github check state regardless of target sha
  ci/ci/github.py
Due: ruff, ruff-format, pyright

PR state reporting elements
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

show merge queue for all approved non-failing PRs
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

message why not in merge queue
  ci/ci/templates/pr.html
Due: none

simplify target sha message
  ci/ci/templates/pr.html
Due: none

[hailctl] fix erroneous `--files` switch in batch submit doc
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

fuse statistic bootstrapping
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_analysis.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/notebooks/mds/minimal-detectable-slowdown.ipynb
Due: ruff, ruff-format, pyright

[query] benchmark in batch configurations
  hail/python/benchmark/hail/batch-config.yaml
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

maybe fix localizer regression
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
Due: ruff, ruff-format

Revert "[batch] Use gcloud storage to download input files from GCP (#15273)"
  batch/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: ruff, ruff-format

note awaiting build results in merge queue message too
  ci/ci/templates/pr.html
Due: none

distinguish pending vs change requested reviews
  ci/ci/templates/pr.html
Due: none
