Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

revert 63 second wait
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

simpler message
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

remove unnecessary noise from changeset
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

move string generation together
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

restore gpu build step
  build.yaml
Due: none

short string too
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

even shorter
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[compiler] method splitter splits split methods
  hail/hail/src/is/hail/lir/X.scala
Due: none

[query] dont add timing block for each emitstream.produce call
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/streams/EmitStream.scala
Due: none

[hailctl] respect namespace in hailctl curl (#15343)
  hail/python/hailtop/config/deploy_config.py
  hail/python/test/hailtop/config/test_deploy_config.py
Due: ruff, ruff-format

guard against the final too-many-prior-attempts error attempt
  batch/test/utils.py
Due: ruff, ruff-format, pyright

[ci] Test flakiness dashboard (#15327)
  .gitignore
  Makefile
  auth/Dockerfile
  batch/Dockerfile
  build.yaml
  ci/Dockerfile
  ci/MANIFEST.in
  ci/ci/ci.py
  ci/ci/templates/flaky_tests.html
  ci/ci/templates/openapi.yaml
  ci/pinned-requirements.txt
  ci/pyproject.toml
  ci/requirements.txt
  ci/setup.py
  dev-docs/services/ui/README.md
  devbin/dev_proxy.py
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/ci/flaky_tests.tsx
  services/ui/tsconfig.json
  web_common/tailwind.config.js
  web_common/web_common/templates/header.html
  web_common/web_common/templates/layout.html
  web_common/web_common/templates/new_header.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

reduce retries to make overall test timeouts less likely
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

move job private vm tests into their own suite
  batch/test/test_batch.py
  batch/test/test_batch_rare_instances.py
  build.yaml
Due: ruff, ruff-format, pyright

refactor and standardize job private tests
  batch/test/conftest.py
  batch/test/test_batch.py
  batch/test/test_batch_rare_instances.py
Due: ruff, ruff-format, pyright

inline xfail
  batch/test/test_batch_rare_instances.py
  batch/test/utils.py
Due: ruff, ruff-format, pyright

[query] dont add timing block for each emitstream.produce call (#15363)
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/streams/EmitStream.scala
Due: none

[query] respect lowering flags
  hail/python/hail/backend/spark_backend.py
Due: ruff, ruff-format

more time for highmem pool test
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[query] ensure sparkconf is consistent between python and jvm
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/context.py
  hail/python/hail/methods/qc.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

per attempt logs
  batch/batch/front_end/front_end.py
  batch/batch/front_end/static/js/job.js
  batch/batch/front_end/templates/job.html
Due: ruff, ruff-format, pyright

[batch] make GPU test less flaky (#15360)
  batch/test/conftest.py
  batch/test/test_batch.py
  batch/test/test_batch_rare_instances.py
  build.yaml
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

[ci] Fix CI build batch state not updating on retry (#15359)
  ci/ci/ci.py
  ci/ci/templates/pr.html
Due: ruff, ruff-format, pyright

WIP show all job attempts
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/job.html
Due: ruff, ruff-format, pyright

[github] update trivy action version (#15353)
  .github/workflows/trivy-scan.yml
Due: none

better client error on inactive
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

better ux when inactive
  hail/python/hail/context.py
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

less pylint ignoring
  hail/python/hail/context.py
Due: ruff, ruff-format

Also mention the web UI if problems persist
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

tidy up
  hail/python/hail/context.py
Due: ruff, ruff-format

even tidier
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format

refactor page
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/job.html
Due: ruff, ruff-format, pyright

fix the "Errored with: " bug
  batch/batch/front_end/templates/job.html
Due: none

cosmetics
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/job.html
Due: ruff, ruff-format, pyright

[batch] Use gcloud storage to download input files from GCP (#15273)
  gear/pinned-requirements.txt
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: ruff, ruff-format

Update copy tests to use WeightedSemaphore
  hail/python/test/hailtop/inter_cloud/generate_copy_test_specs.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
Due: ruff, ruff-format

Handle normal/large GCP -> local transfers separately
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
Due: ruff, ruff-format

Bound copy processes with WeightedSemaphore
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/__init__.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/weighted_semaphore.py
  hail/python/hailtop/fs/router_fs.py
Due: ruff, ruff-format

Rebase main, update dependencies
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

reactify
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/job_react.html
  build.yaml
  devbin/dev_proxy.py
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/CodeBlock.tsx
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobSpecPanel.tsx
  services/ui/src/batch/components/LogViewer.tsx
  services/ui/src/batch/components/RelativeTime.tsx
  services/ui/src/batch/components/ResourceCharts.tsx
  services/ui/src/batch/job.tsx
  services/ui/src/shared/GanttChart.tsx
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
