Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[batch] Join `job_groups_self_and_ancestors` to determine if job has been cancelled
  batch/batch/worker/worker.py
  batch/sql/11708-is-job-cancelled.sql
  build.yaml
Due: ruff, ruff-format, pyright

[compiler] fix RIterable (#14913)
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/types/TypeWithRequiredness.scala
  hail/hail/test/src/is/hail/expr/ir/DictFunctionsSuite.scala
Due: none

[compiler] refactor extract aggregators
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

User table filtering
  auth/auth/templates/users.html
Due: none

fixup developer selector
  auth/auth/templates/users.html
Due: none

make more resilient
  auth/auth/templates/users.html
Due: none

[query] add methods for (multivariate) hypergeometric distribution
  hail/hail/src/is/hail/expr/ir/functions/MathFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/RandomSeededFunctions.scala
  hail/hail/src/is/hail/stats/package.scala
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

[github] tweak release action (#14887)
  .github/workflows/create-release-pr.yml
Due: none

[hailctl] Add support for multiple configuration profiles (#14895)
  hail/python/hailtop/config/__init__.py
  hail/python/hailtop/config/user_config.py
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/batch/initialize.py
  hail/python/hailtop/hailctl/config/cli.py
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
Due: ruff, ruff-format

[query] Serialize plink variants per partition (#14905)
  hail/hail/src/is/hail/io/plink/LoadPlink.scala
Due: none

[batch] Join `job_groups_self_and_ancestors` to determine if job has been cancelled
  batch/batch/worker/worker.py
  batch/sql/119-is-job-cancelled.sql
  build.yaml
Due: ruff, ruff-format, pyright

[query] add methods for (multivariate) hypergeometric distribution (#14923)
  hail/hail/src/is/hail/expr/ir/functions/MathFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/RandomSeededFunctions.scala
  hail/hail/src/is/hail/stats/package.scala
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/test/hail/expr/test_expr.py
Due: ruff, ruff-format

[hailctl] Change hailctl batch init defaults (#14912)
  hail/python/hailtop/hailctl/batch/initialize.py
Due: ruff, ruff-format

[batch] Fix job_group cancellation logic in SQL procedures (#14919)
  batch/batch/worker/worker.py
  batch/sql/119-is-job-cancelled.sql
  build.yaml
Due: ruff, ruff-format, pyright

Upgrade all default images to ubuntu:24.04
  batch/Dockerfile.worker
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
  batch/terra-chart/templates/config.yaml
  batch/test/utils.py
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/docs/cookbook/clumping.rst
  hail/python/hailtop/batch/docs/cookbook/files/batch_clumping.py
  hail/python/hailtop/batch/docs/docker_resources.rst
  hail/python/hailtop/batch/job.py
  hail/python/test/hailtop/batch/test_batch_local_backend.py
  hail/python/test/hailtop/batch/utils.py
  infra/azure/modules/batch/main.tf
  infra/gcp-broad/main.tf
  infra/gcp/README.md
  infra/gcp/main.tf
  infra/k8s/global_config/main.tf
Due: ruff, ruff-format, pyright

Return to using ubuntu mysql-client
  admin-pod/Dockerfile
  batch/terra-chart/Dockerfile.batch
  ci/Dockerfile.ci-utils
Due: none

remove emacs from base image
  docker/Dockerfile.base
Due: none

nvidia-container-toolkit installation fix
  batch/Dockerfile.worker
Due: none

Install the correct netcat package
  build.yaml
Due: none

[batch] Upgrade crun
  batch/Dockerfile.worker
Due: none

[query] Pin VEP base image os version
  docker/hailgenetics/vep/grch37/85/Dockerfile
  docker/hailgenetics/vep/grch38/95/Dockerfile
Due: none

remove hail-ubuntu dep from vep images
  build.yaml
Due: none

vep 85/95 parity
  docker/hailgenetics/vep/grch37/85/Dockerfile
  docker/hailgenetics/vep/grch38/95/Dockerfile
Due: none

[query] Pin VEP base image os version (#14929)
  build.yaml
  docker/hailgenetics/vep/grch37/85/Dockerfile
  docker/hailgenetics/vep/grch38/95/Dockerfile
Due: none

[hailctl|batch] Truncate job name when used as a directory name under /io (#14880)
  hail/python/hailtop/batch/job.py
Due: ruff, ruff-format

[batch] Log the error if JVM initialization fails due to an exception (#14916)
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[release] Script to generate change log
  .github/workflows/create-release-pr.yml
  hail/scripts/update-changelog
Due: none

[auth ui] User table filtering (#14925)
  auth/auth/templates/users.html
Due: none

[auth|batch|ci|monitoring] Upgrade all default images to ubuntu:24.04 (#14927)
  admin-pod/Dockerfile
  batch/Dockerfile.worker
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
  batch/terra-chart/Dockerfile.batch
  batch/terra-chart/templates/config.yaml
  batch/test/utils.py
  build.yaml
  ci/Dockerfile.ci-utils
  docker/Dockerfile.base
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/docs/cookbook/clumping.rst
  hail/python/hailtop/batch/docs/cookbook/files/batch_clumping.py
  hail/python/hailtop/batch/docs/docker_resources.rst
  hail/python/hailtop/batch/job.py
  hail/python/test/hailtop/batch/test_batch_local_backend.py
  hail/python/test/hailtop/batch/utils.py
  infra/azure/modules/batch/main.tf
  infra/gcp-broad/main.tf
  infra/gcp/README.md
  infra/gcp/main.tf
  infra/k8s/global_config/main.tf
Due: ruff, ruff-format, pyright

[release] 0.2.135
  hail/Makefile
  hail/build.mill
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

format and reword changelog entries
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

[batch] Increment worker image version
  batch/gcp-create-worker-image.sh
Due: none

summary edits and suggestions by @patrick-schultz
  hail/python/hail/docs/change_log.md
Due: none

[docs] Direct users to build with optimisation for cluster install
  hail/python/hail/docs/install/other-cluster.rst
Due: none

Refactor startup script
  batch/build-batch-worker-image-startup-gcp.sh
Due: none

[batch] Upgrade crun (#14928)
  batch/Dockerfile.worker
Due: none

logging agent is deprecated in favor of ops agent
  batch/build-batch-worker-image-startup-gcp.sh
Due: none
