Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Fix static field overflow rotation bug
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
Due: none

Remove dead loadElements from AsmTuple
  hail/hail/src/is/hail/asm4s/ClassBuilder.scala
Due: none

allow attaching debugger to Spark driver JVM
  dev-docs/development-process.md
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
Due: ruff, ruff-format

fix stated network default
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

remove spec_defaulted_fields thing
  batch/batch/front_end/front_end.py
  hail/python/hailtop/batch_client/types.py
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobSpecPanel.tsx
Due: ruff, ruff-format, pyright

reshuffle fields
  batch/batch/front_end/front_end.py
  hail/python/hailtop/batch_client/types.py
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobSpecPanel.tsx
Due: ruff, ruff-format, pyright

refactor to keep JobPage structure-first and move contents into component files
  services/ui/src/batch/components/JobPage.tsx
Due: none

refactor to keep JobPage structure-first and move contents into component files
  services/ui/src/batch/components/CollapsibleItem.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
  services/ui/src/batch/components/JobTimelineGantt.tsx
  services/ui/src/batch/components/StateIcon.tsx
  services/ui/src/batch/components/jobModels.ts
Due: none

[batch] Use _batch_client() to query supported_regions() and default_region() (#15289)
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

remove raw attempt status tab that is always empty
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
Due: none

surface errors
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/jobModels.ts
Due: none

fix react cookie setters
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

pre-expand short errors
  gear/gear/http_server_utils.py
  services/ui/src/batch/components/JobPage.tsx
Due: ruff, ruff-format, pyright

error box styling
  services/ui/src/batch/components/JobPage.tsx
Due: none

simplify cookie setting
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/job_react.html
  gear/gear/__init__.py
  gear/gear/http_server_utils.py
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/job.tsx
Due: ruff, ruff-format, pyright

better enable button
  batch/batch/front_end/static/js/job.js
  batch/batch/front_end/templates/job.html
Due: none

simplify autorefresh checkbox
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
Due: none

auto refresh count up not down
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
Due: none

document new field in openapi.yaml
  batch/batch/front_end/templates/openapi.yaml
Due: none

more openapi fixups
  batch/batch/front_end/templates/openapi.yaml
Due: none

dont unmount logs when tabs change
  services/ui/src/batch/components/JobPage.tsx
Due: none

Defer to GCS copier from within copier flow
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/__init__.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/aiotools/weighted_semaphore.py
Due: ruff, ruff-format

refactor job data into standalone data hook
  build.yaml
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
  services/ui/src/batch/components/LogViewer.tsx
  services/ui/src/batch/hooks/useJobDetails.test.tsx
  services/ui/src/batch/hooks/useJobDetails.ts
  services/ui/vitest.config.ts
Due: none

[services] Update pod priorities and give grafana a realistic memory request (#15357)
  ci/bootstrap.yaml
  ci/deployment.yaml
  grafana/deployment.yaml
  monitoring/deployment.yaml
  prometheus/prometheus.yaml
Due: none

check_ui before building batch
  build.yaml
Due: none

[services] pip dependency bumps (#15375)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

names and batch_types for CI jobs
  ci/ci/github.py
Due: ruff, ruff-format, pyright

resolve most codacy issues
  batch/batch/front_end/front_end.py
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/CodeBlock.tsx
  services/ui/src/batch/components/CollapsibleItem.tsx
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobSpecPanel.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
  services/ui/src/batch/components/JobTimelineGantt.tsx
  services/ui/src/batch/components/LogViewer.tsx
  services/ui/src/batch/components/RelativeTime.tsx
  services/ui/src/batch/components/ResourceCharts.tsx
  services/ui/src/batch/components/jobModels.ts
  services/ui/src/batch/hooks/useJobDetails.test.tsx
  services/ui/src/batch/hooks/useJobDetails.ts
  services/ui/src/shared/GanttChart.tsx
Due: ruff, ruff-format, pyright

more codacy
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobSpecPanel.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
  services/ui/src/batch/components/JobTimelineGantt.tsx
  services/ui/src/batch/components/ResourceCharts.tsx
  services/ui/src/batch/components/jobModels.ts
  services/ui/src/batch/hooks/useJobDetails.test.tsx
  services/ui/src/batch/hooks/useJobDetails.ts
  services/ui/src/shared/GanttChart.tsx
  services/ui/vitest.config.ts
Due: none

remove square bracket accesses
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/hooks/useJobDetails.test.tsx
  services/ui/src/batch/hooks/useJobDetails.ts
Due: none

stop incorrectly ignoring unused rules
  services/ui/src/batch/hooks/useJobDetails.ts
Due: none

more object sink removal
  services/ui/src/batch/components/JobTimelineGantt.tsx
  services/ui/src/batch/components/ResourceCharts.tsx
  services/ui/src/shared/GanttChart.tsx
Due: none

add log links to instance collections with filters
  batch/batch/driver/templates/index.html
  batch/batch/driver/templates/job_private.html
  batch/batch/driver/templates/pool.html
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

pip update 4-10-26
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[query] normalize names before lowering
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/IRTraversal.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/NestingDepth.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/RefEquality.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
  hail/hail/test/src/is/hail/expr/ir/implicits/forTesting.scala
  hail/python/hail/backend/backend.py
  hail/python/test/hail/helpers.py
Due: ruff, ruff-format

[query] upgrade mill, use new enableBsp feature
  hail/Makefile
  hail/build.mill
  hail/hail/package.mill
  hail/hail/utils/package.mill
  hail/mill
  hail/mill-build/build.mill
  hail/mill-build/mill-build/src/package.scala
Due: none

update more for dependabot
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
  services/ui/package-lock.json
  services/ui/package.json
Due: none

bump ubuntu to noble-20260324
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

bump ts version to allow .at()
  services/ui/tsconfig.json
Due: none

remove unused lint ignores
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobSpecPanel.tsx
  services/ui/src/batch/components/JobStatusPanel.tsx
  services/ui/src/batch/hooks/useJobDetails.test.tsx
  services/ui/src/batch/hooks/useJobDetails.ts
  services/ui/src/shared/GanttChart.tsx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
