Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Whoops, missed an HTTPUnauthorized to refactor
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

Adding inactive-account header to all inactivity-related 403s, handling accordingly
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

inactivity headers in 403 when applicable
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

review and tidy up
  hail/python/hailtop/batch/docs/billing_management.rst
Due: none

[emr] leave change_log.md to the release PR
  hail/python/hail/docs/change_log.md
Due: none

[emr] don't abandon the step waiter after 30 minutes
  hail/python/hailtop/hailctl/emr/submit.py
  hail/python/test/hailtop/hailctl/emr/test_submit.py
Due: ruff, ruff-format

[emr] reject unknown flags on start and stop
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
Due: ruff, ruff-format

[emr] list only active clusters, and read every page
  hail/python/hail/docs/cloud/amazon_web_services.rst
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
Due: ruff, ruff-format

[emr] accept every AWS region shape in emr/region
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
Due: ruff, ruff-format

[emr] satisfy ruff check and ruff format
  hail/python/hailtop/hailctl/__main__.py
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_emr.py
Due: ruff, ruff-format

[emr] stop the cli tests from calling IAM for real
  hail/python/test/hailtop/hailctl/emr/cli/conftest.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
Due: ruff, ruff-format

[emr] reject custom roles unless default roles are off
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
Due: ruff, ruff-format

[emr] report why a step failed, and cover the wait paths
  hail/python/hailtop/hailctl/emr/submit.py
  hail/python/test/hailtop/hailctl/emr/test_submit.py
Due: ruff, ruff-format

[emr] fail the bootstrap clearly if pip's location is unknown
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
Due: none

[release] 0.2.139
  hail/Makefile
  hail/build.mill
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

Update hail/python/hailtop/batch/docs/change_log.rst
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

fix syntax error
  hail/python/hailtop/batch/docs/billing_management.rst
Due: none

[services] bump base docker ubuntu version to noble 20260730.1
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

apply suggestions
  hail/python/hailtop/batch/docs/change_log.rst
Due: none

[claude] claude skill for creating release changelogs
  .claude/skills/release-changelog/SKILL.md
Due: none

update permissions table: add-user/add-manager global_bm only for now, add coming-soon note
  hail/python/hailtop/batch/docs/billing_management.rst
Due: none

[batch] add DB test framework: real-migration db fixture and smoke test
  batch/test/conftest.py
  batch/test/test_db_framework.py
  build.yaml
Due: ruff, ruff-format, pyright

[batch] refactor: extract billing query functions into billing_reporting module
  batch/batch/billing_reporting.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/utils.py
Due: ruff, ruff-format, pyright

[batch] add DB-layer tests for billing project management and reporting
  batch/test/test_billing_project_management.py
  batch/test/test_billing_reporting.py
  batch/test/test_db_framework.py
  build.yaml
Due: ruff, ruff-format, pyright

split into billing project and quote management db tests
  batch/test/test_billing_project_management.py
  batch/test/test_quote_management.py
  build.yaml
Due: ruff, ruff-format, pyright

[batch] add billing quotes DB schema, migrations, and DB-layer functions
  auth/sql/012-add-create-quotes-permission.sql
  batch/batch/billing_auth.py
  batch/batch/billing_project_management.py
  batch/batch/billing_reporting.py
  batch/sql/121-billing-quotes.sql
  build.yaml
  gear/gear/system_permissions.py
Due: ruff, ruff-format, pyright

add ADD_BP_MEMBER and ADD_MANAGER permissions to BillingPermission enum
  batch/batch/billing_auth.py
Due: ruff, ruff-format, pyright

add permission tests: add-user and add-manager are global_bm only
  batch/test/test_billing_project_management.py
Due: ruff, ruff-format, pyright

restrict add-user and add-manager to global billing managers only
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[batch] add billing quotes API routes and openapi spec
  batch/batch/billing_reporting.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/test/test_accounts.py
Due: ruff, ruff-format, pyright

[batch] add React UI for billing quotes and projects, removes legacy billing templates
  Makefile
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/billing_limits.html
  batch/batch/front_end/templates/billing_project_react.html
  batch/batch/front_end/templates/billing_projects.html
  batch/batch/front_end/templates/billing_projects_react.html
  batch/batch/front_end/templates/billing_react.html
  batch/batch/front_end/templates/openapi.yaml
  batch/batch/front_end/templates/quote_react.html
  batch/batch/front_end/templates/quotes_react.html
  devbin/dev_proxy.py
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/batch/billing.tsx
  services/ui/src/batch/billing/BillingPage.tsx
  services/ui/src/batch/billing/BillingProjectPage.tsx
  services/ui/src/batch/billing/BillingProjectsPage.tsx
  services/ui/src/batch/billing/QuotePage.tsx
  services/ui/src/batch/billing/QuotesPage.tsx
  services/ui/src/batch/billing/api.ts
  services/ui/src/batch/billing/fmt.ts
  services/ui/src/batch/billing/permissions.ts
  services/ui/src/batch/billing/shared.tsx
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
Due: ruff, ruff-format, pyright

[batch] add hailctl CLI and async client support for billing quotes
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/cli.py
  hail/python/hailtop/hailctl/batch/billing/projects/__init__.py
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
  hail/python/hailtop/hailctl/batch/billing/quotes/__init__.py
  hail/python/hailtop/hailctl/batch/billing/quotes/cli.py
Due: ruff, ruff-format

restrict add-member and add-manager UI to global billing managers only
  services/ui/src/batch/billing/BillingProjectPage.tsx
  services/ui/src/batch/billing/QuotePage.tsx
  services/ui/src/batch/billing/permissions.ts
Due: none

fix incovation typo
  .claude/skills/release-changelog/SKILL.md
Due: none

good feedback
  hail/python/hailtop/batch/docs/billing_management.rst
Due: none

[compiler] generalise `Bindings.get` over an `Algebra` of type-like values
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/ComputeUsesAndDefs.scala
  hail/hail/src/is/hail/expr/ir/Env.scala
  hail/hail/src/is/hail/expr/ir/FreeVariables.scala
  hail/hail/src/is/hail/expr/ir/MapIR.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Subst.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/src/is/hail/types/virtual/MatrixType.scala
  hail/hail/src/is/hail/types/virtual/TableType.scala
Due: none

run quick checks only on the head of stacks
  .github/workflows/static-and-unit-tests.yml
Due: none

gate passes for skipped check PRs
  .github/workflows/static-and-unit-tests.yml
Due: none

Update .claude/skills/release-changelog/SKILL.md
  .claude/skills/release-changelog/SKILL.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
