Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[hailtop] Fix tmpdir bug (#14937)
  batch/test/test_dag.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch_pool_executor.py
Due: ruff, ruff-format, pyright

@patrick-schultz review comments
  hail/generate_splits.py
  hail/hail/src/is/hail/annotations/OrderedRVIterator.scala
  hail/hail/src/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/test/src/is/hail/io/fs/FSSuite.scala
Due: ruff, ruff-format, pyright

testng listener for running tests in idea
  hail/hail/test/src/is/hail/TestNGAllowReturnValues.scala
Due: none

[compiler] refactor row/col count estimates
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/analyses/RowCounts.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

[compiler] refactor extract aggregators
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

db enumerated permissions
  auth/auth/auth.py
  auth/auth/templates/roles.html
  auth/sql/009-refactor-roles.sql
  gear/gear/__init__.py
  gear/gear/auth.py
  gear/gear/role_permissions.py
  gear/gear/system_permissions.py
Due: ruff, ruff-format, pyright

db enumerated permissions +
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

db enumerated permissions +
  auth/sql/009-refactor-roles.sql
Due: none

db enumerated permissions +
  auth/auth/auth.py
  auth/sql/009-refactor-roles.sql
Due: ruff, ruff-format, pyright

Update hail_genetics_images.py
  hail/python/hailtop/batch/hail_genetics_images.py
Due: ruff, ruff-format

Adding UI elements for reactivation; cleaning up SQL commands in auth driver
  auth/auth/driver/driver.py
  auth/auth/templates/users.html
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

db enumerated permissions +
  auth/auth/auth.py
  auth/auth/templates/roles.html
Due: ruff, ruff-format, pyright

Remove debug logging for now-resolved JVM connection issues
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

Update auth/auth/driver/driver.py
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

Added docstring for update_inactive_users(); changed HTTP error raised for inactive users
  auth/auth/driver/driver.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

test fixes
  hail/Makefile
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringSliceSuite.scala
  hail/hail/test/src/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/hail/test/src/is/hail/io/fs/FSSuite.scala
  hail/hail/test/src/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/hail/test/src/is/hail/linalg/BlockMatrixSuite.scala
  hail/hail/test/src/is/hail/linalg/RowPartitionerSuite.scala
Due: none

add user agent to API logs
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

[batch] fix to autoscaler logic
  batch/batch/driver/instance_collection/pool.py
Due: ruff, ruff-format, pyright

[batch] fix to autoscaler logic (#14946)
  batch/batch/driver/instance_collection/pool.py
Due: ruff, ruff-format, pyright

Generate dhconfig.pem if missing
  letsencrypt/letsencrypt.sh
Due: none

[batch] fix to slow scheduler query
  batch/batch/driver/instance_collection/pool.py
Due: ruff, ruff-format, pyright

[batch] fix to slow scheduler query (#14948)
  batch/batch/driver/instance_collection/pool.py
Due: ruff, ruff-format, pyright

Remove extra CPG-local copy of get_job_resource_usage() endpoint
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[ci] Remove deleted python_3_11 image references
  build.yaml
Due: none

[ci] Remove deleted python_3_11 image references (#14949)
  build.yaml
Due: none

Remove unused API; Addition of more precise error to throw when trying to reactivate an already active user; SQL and HTML/JS fixes.
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/auth/exceptions.py
  auth/auth/templates/users.html
Due: ruff, ruff-format, pyright

Return index metadata in partition results
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

we have an intervals parameter in TableNativeZippedReader
  hail/hail/src/is/hail/expr/ir/TableIR.scala
Due: none

Split index finalization and metadata writing
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

fmt
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

log fs availability for copies
  hail/python/hailtop/aiotools/copy.py
Due: ruff, ruff-format

unused f strings
  hail/python/hailtop/aiotools/copy.py
Due: ruff, ruff-format

Rename add-users-last-active.sql to 009-add-users-last-active.sql
  auth/sql/009-add-users-last-active.sql
Due: none

Update build.yaml
  build.yaml
Due: none
