Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Lower BlockMatrixAgg(axis=(0,1)) with BlockMatrixStage2
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

[query] move block matrix read out of `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
Due: none

[query] move `configureLogging` out of `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/utils/Logging.scala
  hail/hail/src/is/hail/utils/Py4jUtils.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

[query] Benchmark configurations
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
Due: ruff, ruff-format, pyright

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query] remove references to `HailContext.version`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/python/hail/backend/py4j_backend.py
Due: ruff, ruff-format

set workload identity on
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Encrypt k8s secrets DB at rest
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[query] remove `Backend` from `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendUtils.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/spark_backend.py
Due: ruff, ruff-format

[query] `HailContext` is not required in batch
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/Main.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/linalg/package.scala
Due: none

use correct service account
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Initial commit: added flag for choosing slim vs. standard python:dill docker image version
  hail/python/hailtop/batch/docker.py
Due: ruff, ruff-format

[query] Use pure python for test class finding in generate_splits.py
  hail/generate_splits.py
Due: ruff, ruff-format, pyright

resize test db requirements since gke nodes now have more cruft
  docker/mysql/db.yaml
Due: none

with comment
  docker/mysql/db.yaml
Due: none

[CI] Resize test dbs (#15106)
  docker/mysql/db.yaml
Due: none

[terraform] Encrypt k8s secrets DB at rest (#15078)
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Add gamma disribution functions
  hail/hail/src/is/hail/expr/ir/functions/MathFunctions.scala
  hail/hail/src/is/hail/stats/package.scala
  hail/hail/test/src/is/hail/stats/StatsSuite.scala
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/hail/ir/register_functions.py
Due: ruff, ruff-format

[query] invoke mill using `SCALA_VERSION` env var in Makefile
  hail/Makefile
Due: none

override $(MILL) instead
  hail/Makefile
Due: none

[query] fix src-2.12 and src-2.13 package name mismatch
  hail/hail/src-2.13/is/hail/utils/compat/immutable/package.scala
  hail/hail/src-2.13/is/hail/utils/compat/package.scala
  hail/hail/src/is/hail/services/NettyProxy.scala
  hail/hail/src/is/hail/services/package.scala
  hail/hail/src/is/hail/utils/package.scala
Due: none

revert bad refactoring
  hail/hail/src/is/hail/services/NettyProxy.scala
  hail/hail/src/is/hail/services/package.scala
Due: none

formatting
  hail/hail/src-2.13/is/hail/utils/compat/immutable/package.scala
Due: none

appsec only need to approve top level changes
  CODEOWNERS
Due: none

bad whitespace
  hail/Makefile
Due: none

revert bad refactoring
  hail/hail/src/is/hail/utils/package.scala
Due: none

warn dead code
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/types/encoded/EStructOfArrays.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/types/physical/PhysicalTestUtils.scala
Due: none

implicit types
  hail/build.mill
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/expr/ir/functions/RelationalFunctions.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ArrayDeforestationSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ArrayFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/CallFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/DictFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/FunctionSuite.scala
  hail/hail/test/src/is/hail/expr/ir/GenotypeFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IntervalSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LiftLiteralsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LocusFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MathFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SetFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringLengthSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringSliceSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TrapNodeSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
Due: none

legacy bindings
  hail/build.mill
  hail/hail/src/is/hail/annotations/ExtendedOrdering.scala
  hail/hail/src/is/hail/annotations/OrderedRVIterator.scala
  hail/hail/src/is/hail/asm4s/Code.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/rvd/RVD.scala
Due: none

export
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/io/ElasticsearchConnector.scala
  hail/hail/src/is/hail/linalg/RowMatrix.scala
  hail/hail/src/is/hail/types/virtual/Type.scala
  hail/hail/test/src/is/hail/linalg/RowMatrixSuite.scala
Due: none

match analysis
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
Due: none

[query] Use list for pip_dependencies in deploy.yaml
  hail/Makefile
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

Ensure that 'top level' files in CODEOWNERS are actually top level
  CODEOWNERS
Due: none

bad imports
  hail/hail/src-2.13/is/hail/utils/compat/immutable/package.scala
Due: none

remove multiple registered functions
  hail/hail/src/is/hail/expr/ir/functions/MathFunctions.scala
  hail/hail/src/is/hail/stats/package.scala
  hail/python/hail/ir/register_functions.py
Due: ruff, ruff-format

copy packages out of deploy_metadata before updating it
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
