Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

all developers are fair game for ci randomizer
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[ci] clean authorised users and make hail developers review all (#14633)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

dont need the index
  batch/sql/add-batches-id-user-index.sql
  build.yaml
Due: none

Always prompt to choose an account on login
  hail/python/hailtop/auth/flow.py
Due: ruff, ruff-format

ruff
  hail/python/hailtop/auth/flow.py
Due: ruff, ruff-format

[Auth] Always select user during login prompt (#14636)
  hail/python/hailtop/auth/flow.py
Due: ruff, ruff-format

Fix for /api/v1alpha/batches/completed, picking only ROOT_JOB_GROUP when collecting batches and jobs. (#345)
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

fix jackson max string length in backend http handler
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

[batch] Remove blob storage read inside Worker job creation endpoint (#14611)
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

fix tests
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[fs] allows reading from public access buckets (#14292)
  hail/python/hail/docs/configuration_reference.rst
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/validators.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[compliance] require linked issues for PRs
  .github/workflows/require-linked-issue.yaml
Due: none

[compliance] require linked issues for PRs (#14641)
  .github/workflows/require-linked-issue.yaml
Due: none

[misc] Remove wheel dependence on `setuptools` (#14631)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/requirements.txt
  hail/python/pinned-requirements.txt
Due: none

Update batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query.py
Due: ruff, ruff-format, pyright

Max 255 slots per worker VM
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

dont ref batches table
  batch/batch/front_end/query/query.py
Due: ruff, ruff-format, pyright

Add necessary secrets for release
  build.yaml
Due: none

Abbriviate release script
  hail/scripts/release.sh
Due: none

[vds/combiner] Fix truncation of PL in GVCF import with haploid calls (#14577)
  hail/python/hail/vds/combiner/combine.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[docker] Fix pip pin (#14535)
  docker/hail-ubuntu/Dockerfile
Due: none

[vds/combiner] Stop dropping GT in reference data during gvcf import (#14560)
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/hail/vds/methods.py
  hail/python/test/hail/vds/test_combiner.py
Due: ruff, ruff-format

Account for JVM slots too
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

moves deprecation header into decorator
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

Add test for high CPU VMs
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

ruff
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[batch] Compact And Drop Records from `job_group_inst_coll_cancellable_resources` Resolves: #14623
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

dont need to `ORDER BY` anymore
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

delete unused records
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

hack less
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[batch] warns the user if client or server is using deprecated functionality (#14621)
  batch/batch/front_end/front_end.py
  gear/gear/http_server_utils.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

fix nargin error
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

dont pass generator to db methods
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

join lateral wins again
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

formatting
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

sql syntax error
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[dataproc] adds project to args for submit (#14619)
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/submit.py
Due: ruff, ruff-format
