Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

add quotes to billing read outs
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

list implicit quote members of bps
  batch/batch/utils.py
  batch/test/test_accounts.py
Due: ruff, ruff-format, pyright

add tests for membership listing
  batch/test/test_billing_dao.py
Due: ruff, ruff-format, pyright

fix jinja2 template
  batch/batch/front_end/templates/billing_projects.html
Due: none

[ui] Handle free text in new search ux (#15590)
  batch/batch/front_end/static/js/table_search.js
  batch/batch/front_end/templates/table_search.html
Due: none

include bp role in bp response
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
Due: ruff, ruff-format, pyright

add limited to unlimited quote and bp additions tests
  batch/test/test_billing_dao.py
Due: ruff, ruff-format, pyright

docs on billing management
  hail/python/hailtop/batch/docs/billing_management.rst
  hail/python/hailtop/batch/docs/index.rst
Due: none

split bill reporting into its own module, add tests to validate it, update billing management doc
  batch/batch/billing_auth.py
  batch/batch/billing_project_management.py
  batch/batch/billing_reporting.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/utils.py
  batch/test/billing_dao_schema.sql
  batch/test/test_billing_project_management.py
  batch/test/test_billing_reporting.py
  hail/python/hailtop/batch/docs/billing_management.rst
Due: ruff, ruff-format, pyright

fix to search textbox, uses hidden tag
  batch/batch/front_end/templates/table_search.html
Due: none

use real db migrations for sql module tests
  batch/test/billing_dao_schema.sql
  batch/test/conftest.py
  batch/test/test_billing_project_management.py
  batch/test/test_billing_reporting.py
Due: ruff, ruff-format, pyright

combine db level billing tests together
  build.yaml
Due: none

[ui] bug fix for free text search box (#15617)
  batch/batch/front_end/templates/table_search.html
Due: none

port back the can_view_quote param
  batch/batch/billing_reporting.py
  batch/test/test_billing_reporting.py
Due: ruff, ruff-format, pyright

update jinja2 renderers to be quote aware temporarily - until the new uis replace them
  batch/batch/billing_reporting.py
  batch/batch/front_end/front_end.py
  batch/test/test_billing_reporting.py
Due: ruff, ruff-format, pyright

[fs] route HAIL_CLOUD=aws to HadoopFS-only RouterFS for EMR
  hail/hail/src/is/hail/io/fs/RouterFS.scala
Due: none

[emr] add boto3 client factory and region resolution
  hail/python/hailtop/hailctl/emr/__init__.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/test/hailtop/hailctl/emr/__init__.py
  hail/python/test/hailtop/hailctl/emr/test_emr.py
Due: ruff, ruff-format

[emr] register emr command group in hailctl
  hail/python/hailtop/hailctl/__main__.py
  hail/python/test/hailtop/hailctl/emr/test_registration.py
Due: ruff, ruff-format

[emr] deliver HAIL_CLOUD to client-mode drivers via spark-env classification
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
  hail/scripts/test-emr.sh
Due: ruff, ruff-format

[emr] add EMR bootstrap script and package it in the wheel
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/setup.py
Due: ruff, ruff-format, pyright

[emr] keep hailctl lazy-import convention; lint with pinned ruff
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/hailtop/hailctl/emr/submit.py
Due: ruff, ruff-format

[emr] preflight-check default IAM roles with a clear message
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/test/hailtop/hailctl/emr/test_emr.py
Due: ruff, ruff-format

[emr] fix driver HAIL_CLOUD env, guard step-failure reporting, validate JSON overlay
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/hailtop/hailctl/emr/submit.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
  hail/python/test/hailtop/hailctl/emr/test_submit.py
Due: ruff, ruff-format

[docs] document hailctl emr for AWS EMR
  hail/python/hail/docs/cloud/amazon_web_services.rst
Due: none

[emr] install Hail into Python 3.11 and point PySpark at it (EMR system python3 is 3.9)
  hail/python/hail/docs/cloud/amazon_web_services.rst
  hail/python/hailtop/hailctl/emr/resources/install-hail-emr.sh
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
Due: ruff, ruff-format

[config] add emr/region and emr/remote_tmpdir config variables
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
Due: ruff, ruff-format

[emr] add submit: upload script to S3, add step, wait for completion
  hail/python/hailtop/hailctl/emr/submit.py
  hail/python/test/hailtop/hailctl/emr/test_submit.py
Due: ruff, ruff-format

[emr] add run_job_flow request builder and Spark compatibility table
  hail/python/hailtop/hailctl/emr/start.py
  hail/python/test/hailtop/hailctl/emr/test_start_builder.py
Due: ruff, ruff-format

[emr] add manual EMR integration smoke test script
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/hailtop/hailctl/emr/emr.py
  hail/python/hailtop/hailctl/emr/submit.py
  hail/scripts/test-emr.sh
Due: ruff, ruff-format

[emr] add emr Typer app with start/stop/list/submit
  hail/python/hailtop/hailctl/emr/cli.py
  hail/python/test/hailtop/hailctl/emr/cli/__init__.py
  hail/python/test/hailtop/hailctl/emr/cli/conftest.py
  hail/python/test/hailtop/hailctl/emr/cli/test_cli.py
Due: ruff, ruff-format

[emr] document why the bootstrap targets Python 3.11
  hail/python/hail/docs/cloud/amazon_web_services.rst
  hail/python/hailtop/hailctl/emr/start.py
Due: ruff, ruff-format

[docs] CHANGELOG: add hailctl emr (AWS EMR support)
  hail/python/hail/docs/change_log.md
Due: none

simplify bp permissions, remove half-baked bp limit concept
  batch/batch/billing_auth.py
  batch/batch/billing_project_management.py
  batch/batch/billing_reporting.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/sql/121-billing-quotes.sql
  batch/test/test_billing_project_management.py
  batch/test/test_billing_reporting.py
  hail/python/hailtop/batch/docs/billing_management.rst
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/billing/projects/cli.py
  hail/python/hailtop/hailctl/batch/billing/quotes/cli.py
Due: ruff, ruff-format, pyright

fix add user to role button
  auth/auth/static/js/roles.js
Due: none

[ci] Add /api/ implementations of remaining html-only queries (#15573)
  ci/ci/ci.py
  ci/ci/templates/openapi.yaml
  monitoring/monitoring/templates/openapi.yaml
Due: ruff, ruff-format, pyright

[query] Make writer aggregator generic over number of outputs
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamSplitWriterAggregator.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

lint
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/agg/StreamWriterAggregator.scala
Due: none

initial commit
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

fixes to inactivity check helpers; propagate error message to inactive users
  auth/auth/auth.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

add httpexception check in _fetch_userdata_from_auth_service
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
