Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Switch metadata mode to GKE_METADATA
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

set workload identity on
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[terraform] Switch metadata mode to GKE_METADATA (#15079)
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[CI] Attempt to make gpu testing more reliable (#15094)
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[query] fix src-2.12 and src-2.13 package name mismatch (#15110)
  hail/hail/src-2.13/is/hail/utils/compat/immutable/package.scala
  hail/hail/src-2.13/is/hail/utils/compat/package.scala
Due: none

[query] move block matrix read out of `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
Due: none

[query] move block matrix read out of `HailContext` (#15096)
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
Due: none

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

[query] move `configureLogging` out of `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/utils/Logging.scala
  hail/hail/src/is/hail/utils/Py4jUtils.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[query] remove references to `HailContext.version`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/python/hail/backend/py4j_backend.py
Due: ruff, ruff-format

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query] Benchmark configurations
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
Due: ruff, ruff-format, pyright

[query] run `ServiceBackend` in `Py4jQueryDriver`
  batch/batch/front_end/front_end.py
  build.yaml
  hail/hail/src/is/hail/backend/driver/BackendRpc.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/io/fs/AzureStorageFS.scala
  hail/hail/src/is/hail/io/fs/GoogleStorageFS.scala
  hail/hail/src/is/hail/io/fs/RouterFS.scala
  hail/hail/src/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/DeployConfig.scala
  hail/hail/src/is/hail/services/oauth2.scala
  hail/hail/src/is/hail/services/package.scala
  hail/hail/src/is/hail/utils/StringSocketAppender.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/test/src/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/hail/test/src/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/__init__.py
  hail/python/hail/experimental/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/conftest.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format, pyright

lazyzip
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/asm4s/CodeBuilder.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitCodeBuilder.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixValue.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIRHelpers.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/io/bgen/BgenRDDPartitions.scala
  hail/hail/src/is/hail/rvd/RVDType.scala
  hail/hail/src/is/hail/stats/RegressionUtils.scala
  hail/hail/src/is/hail/types/TypeWithRequiredness.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/physical/PCanonicalTuple.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SInsertFieldsStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SNDArrayPointer.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SNDArraySlice.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SRNGState.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SNDArray.scala
  hail/hail/src/is/hail/types/virtual/TBaseStruct.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/types/virtual/TTuple.scala
  hail/hail/src/is/hail/types/virtual/TUnion.scala
  hail/hail/src/is/hail/utils/richUtils/RichOrderedSeq.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/ArbitraryGenomicInstances.scala
  hail/hail/test/src/is/hail/scalacheck/GenVal.scala
Due: none

Disable overly flaky GPU test
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

Update batch/test/test_batch.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

Block project SSH keys at instance level
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

[CI] Disable overly flaky GPU test (#15115)
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[query] move `configureLogging` and `version` out of `HailContext` (#15098)
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/utils/Logging.scala
  hail/hail/src/is/hail/utils/Py4jUtils.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/py4j_backend.py
Due: ruff, ruff-format

[github] Ensure that 'top level' files in CODEOWNERS are actually top level (#15111)
  CODEOWNERS
Due: none

[benchmark] notebook for interactively computing benchmark config
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/mds/.gitignore
  hail/python/benchmark/tools/mds/__init__.py
  hail/python/benchmark/tools/mds/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

[query] remove `Backend` from `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendUtils.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/spark_backend.py
Due: ruff, ruff-format

[query] `HailContext` is not required in batch
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/Main.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/linalg/package.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[query] `HailContext` is vanquished
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/utils/Logging.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/methods/impex.py
Due: ruff, ruff-format

[query] remove global `Backend` field
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendUtils.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StagedBTreeSuite.scala
Due: none

[query] invoke mill using `SCALA_VERSION` env var in Makefile (#15109)
  hail/Makefile
Due: none

[query] fix job group state polling
  hail/hail/src/is/hail/services/BatchClient.scala
Due: none

[query] don't use deprecated `zipped` method (#15034)
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/asm4s/CodeBuilder.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/EmitCodeBuilder.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/MatrixValue.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIRHelpers.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/src/is/hail/io/bgen/BgenRDDPartitions.scala
  hail/hail/src/is/hail/rvd/RVDType.scala
  hail/hail/src/is/hail/stats/RegressionUtils.scala
  hail/hail/src/is/hail/types/TypeWithRequiredness.scala
  hail/hail/src/is/hail/types/physical/PCanonicalStruct.scala
  hail/hail/src/is/hail/types/physical/PCanonicalTuple.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SInsertFieldsStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SNDArrayPointer.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SNDArraySlice.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SRNGState.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/hail/src/is/hail/types/physical/stypes/interfaces/SNDArray.scala
  hail/hail/src/is/hail/types/virtual/TBaseStruct.scala
  hail/hail/src/is/hail/types/virtual/TStruct.scala
  hail/hail/src/is/hail/types/virtual/TTuple.scala
  hail/hail/src/is/hail/types/virtual/TUnion.scala
  hail/hail/src/is/hail/utils/richUtils/RichOrderedSeq.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/ArbitraryGenomicInstances.scala
  hail/hail/test/src/is/hail/scalacheck/GenVal.scala
Due: none

add test
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
Due: none

rename variables for clarity
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

[query] Port ValueToBlockMatrix to new lowering
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

add test
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

type fixes
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
