Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

address review comments
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

fix
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

[batch] Block project SSH keys at instance level (#15117)
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

[query] remove `Backend` from `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendUtils.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/spark_backend.py
Due: ruff, ruff-format

[query] fix job group state polling (#15119)
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
Due: none

lint
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

[query] Port ValueToBlockMatrix to BlockMatrixStage2 lowering (#15086)
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

[query] Use list for pip_dependencies in deploy.yaml (#15113)
  hail/Makefile
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

[batch] parameterizing `build_python_image` to build from non-slim images (#15102)
  hail/python/hailtop/batch/docker.py
Due: ruff, ruff-format

[query] remove `Backend` from `HailContext` (#15100)
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/BackendUtils.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/spark_backend.py
Due: ruff, ruff-format

[query] Use pure python for test class finding in generate_splits.py (#15103)
  hail/generate_splits.py
Due: ruff, ruff-format, pyright

[query] `HailContext` is not required in batch
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/Main.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/linalg/package.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[testing] Simplify check-sql
  check-sql.sh
Due: none

Fix formatting and qgamma tests with lowerTail = false
  hail/hail/test/src/is/hail/stats/StatsSuite.scala
Due: none

Small rounding change in dgamma docs
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

Add lower_tail and log_p to qgamma
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

[testing] Simplify check-sql (#15123)
  check-sql.sh
Due: none

[query] fix flaky batch client scala test
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
Due: none

[query] Remove RelationalLetBlockMatrix
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/LiftRelationalValues.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/LowerOrInterpretNonCompilable.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

warn dead code
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/types/encoded/EStructOfArrays.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

match analysis
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/AggOp.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
Due: none

implicit types
  hail/build.mill
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/expr/ir/functions/RelationalFunctions.scala
  hail/hail/test/src/is/hail/expr/ir/AggregatorsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ArrayDeforestationSuite.scala
  hail/hail/test/src/is/hail/expr/ir/ArrayFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/CallFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/DictFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/FunctionSuite.scala
  hail/hail/test/src/is/hail/expr/ir/GenotypeFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IntervalSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LiftLiteralsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LocusFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MathFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/OrderingSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SetFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringLengthSuite.scala
  hail/hail/test/src/is/hail/expr/ir/StringSliceSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TrapNodeSuite.scala
  hail/hail/test/src/is/hail/expr/ir/UtilFunctionsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
  hail/hail/test/src/is/hail/expr/ir/table/TableGenSuite.scala
Due: none

legacy bindings
  hail/build.mill
  hail/hail/src/is/hail/annotations/ExtendedOrdering.scala
  hail/hail/src/is/hail/annotations/OrderedRVIterator.scala
  hail/hail/src/is/hail/asm4s/Code.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/rvd/RVD.scala
Due: none

export
  hail/build.mill
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/io/ElasticsearchConnector.scala
  hail/hail/src/is/hail/linalg/RowMatrix.scala
  hail/hail/src/is/hail/types/virtual/Type.scala
  hail/hail/test/src/is/hail/linalg/RowMatrixSuite.scala
Due: none

[query] fix flaky batch client scala test (#15124)
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
Due: none

Added option to use old text-based search box; added toggle between dropdown and textbox views
  batch/batch/front_end/templates/table_search.html
Due: none

remove debugging string in dropdown
  batch/batch/front_end/templates/table_search.html
Due: none

Updated search UI template, dropdowns replacing large text box
  batch/batch/front_end/templates/table_search.html
Due: none

initial commit
  batch/batch/front_end/templates/table_search.html
Due: none

[query] `HailContext` is not required in batch (#15101)
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/Main.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/linalg/package.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[benchmark] notebook for interactively computing benchmark config
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
  hail/python/notebooks/mds/.gitignore
  hail/python/notebooks/mds/__init__.py
  hail/python/notebooks/mds/minimal-detectable-slowdown.ipynb
Due: ruff, ruff-format, pyright

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

Lower BlockMatrixAgg(axis=(0,1)) with BlockMatrixStage2
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

lower BlockMatrixAgg(..., axesToSumOut=0)
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

wip
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none
