Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

fix tests
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

[query] pretty boxes
  hail/python/hail/matrixtable.py
  hail/python/hail/table.py
  hail/python/hailtop/utils/box_drawing.py
Due: ruff, ruff-format

more fixes
  batch/batch/driver/canceller.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/test/test_accounts.py
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

ruff check
  batch/batch/front_end/front_end.py
  batch/batch/front_end/validate.py
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/globals.py
Due: ruff, ruff-format, pyright

ruff format
  batch/batch/front_end/front_end.py
  batch/batch/front_end/validate.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

delint client
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format

final delint
  batch/batch/batch.py
  batch/batch/exceptions.py
  batch/batch/front_end/front_end.py
  batch/test/test_accounts.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

simplifications
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

[fs] support hfs.ls on a bucket (#14176)
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/__init__.py
  hail/python/hailtop/aiotools/fs/__init__.py
  hail/python/hailtop/aiotools/fs/exceptions.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/local_fs.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/hailtop/fs/router_fs.py
  hail/python/test/hailtop/inter_cloud/test_fs.py
Due: ruff, ruff-format

fix: hail/python/dev/requirements.txt to reduce vulnerabilities
  hail/python/dev/requirements.txt
Due: none

Ensure mill is always invoked from make
  hail/Makefile
Due: none

fix index and various bugs
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

restore native-lib-prebuilt dependencies
  hail/Makefile
Due: none

fixes
  hail/python/hailtop/aiocloud/aioterra/azure/fs.py
Due: ruff, ruff-format

[query] Fix NullPointerException in Avro import
  hail/src/main/scala/is/hail/io/avro/AvroTableReader.scala
Due: none

wip
  hail/python/hail/matrixtable.py
  hail/python/hail/table.py
  hail/python/hailtop/utils/box_drawing.py
Due: ruff, ruff-format

fix database error in commit_batch_update
  batch/batch/front_end/front_end.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

[batch] Do not log user errors as exceptions (#14253)
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

attempt to fix mjc
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

Generalise `SSubsetStruct` to views on `SBaseStruct`s
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/types/physical/PBaseStruct.scala
  hail/src/main/scala/is/hail/types/physical/PSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/SCode.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStructView.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/src/main/scala/is/hail/types/virtual/TBaseStruct.scala
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SStructViewSuite.scala
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SSubsetStructSuite.scala
Due: none

revert whitespace change
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/src/main/scala/is/hail/types/virtual/TBaseStruct.scala
Due: none

revert me being dumb
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
Due: none

fix ambig field
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

[gear] Change deadlock logs from warning to info (#14251)
  gear/gear/database.py
Due: ruff, ruff-format, pyright

[release] set gcp artifact cleanup policies on deploy (#14198)
  build.yaml
  hail/Makefile
  hail/scripts/release.sh
Due: none

[query] move build system from Gradle to Mill (#14147)
  .github/workflows/codeql-analysis.yml
  .gitignore
  Makefile
  build.yaml
  hail/.gitignore
  hail/.mill-jvm-opts
  hail/.mill-version
  hail/Makefile
  hail/build.gradle
  hail/build.sc
  hail/gradle/wrapper/gradle-wrapper.jar
  hail/gradle/wrapper/gradle-wrapper.properties
  hail/gradlew
  hail/gradlew.bat
  hail/millw
  hail/pgradle
  hail/settings.gradle
  hail/shadedazure/build.gradle
  hail/src/debug/java/is/hail/annotations/Memory.java
  hail/src/main/java/is/hail/io/compress/BGzipCodec.java
  hail/src/main/java/is/hail/io/compress/BGzipConstants.java
  hail/src/main/java/is/hail/io/compress/BGzipOutputStream.java
  hail/src/main/java/is/hail/io/compress/ComposableBGzipOutputStream.java
  hail/src/main/java/is/hail/io/fs/Positioned.java
  hail/src/main/java/is/hail/io/fs/Seekable.java
  hail/src/main/scala/is/hail/io/compress/BGzipOutputStream.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/package.scala
  hail/src/release/java/is/hail/annotations/Memory.java
  hail/src/test/scala/is/hail/LogTestListener.scala
  hail/style-guide.md
Due: none

Update Table method examples (#14242)
  hail/python/hail/table.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

wip
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

cleanup db code
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix mjc missing var
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

turn off updating attempts to try and debug
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

process of elimination
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

actually have new triggers in database
  batch/sql/finalize-job-groups.sql
Due: none

fix submit tests and a lint
  build.yaml
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

fix
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

get src & dest directory likeness right finally
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

ensure envvar is passed to CliRunner
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

remove it
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

gsa key is elsewhere
  build.yaml
Due: none
