Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

fix cancel check
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix sql
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix resource aggregation test to be recursive
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

gs://b -> b
  hail/scripts/test-dataproc.sh
Due: none

[algolia] update to current "application"
  website/website/pages/search.html
Due: none

[fs] Refresh blob client on every range read (#14278)
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
Due: ruff, ruff-format

[algolia] update to current "application" (#14283)
  website/website/pages/search.html
Due: none

fix test
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[algolia] also update the search bar on the docs page
  website/website/templates/nav-bottom.html
Due: none

[tutorials] fix broken link to joins tutorial
  hail/python/hail/docs/tutorials/07-matrixtable.ipynb
Due: none

delint
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[algolia] also update the search bar on the docs page (#14284)
  website/website/templates/nav-bottom.html
Due: none

more debugging
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

bail out on isIsomorphicTo for STypes
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/main/scala/is/hail/types/physical/stypes/SType.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SBaseStructPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SBinaryPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalCall.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SCanonicalLocusPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SIndexablePointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SInsertFieldsStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SIntervalPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SJavaArray.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SJavaBytes.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SJavaString.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SNDArrayPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SNDArraySlice.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SRNGState.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackInterval.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStringPointer.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStructView.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SUnreachable.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SStream.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SVoid.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SBoolean.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SFloat32.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SFloat64.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SInt32.scala
  hail/src/main/scala/is/hail/types/physical/stypes/primitives/SInt64.scala
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SStructViewSuite.scala
Due: none

fix didnt fix...?
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SStructViewSuite.scala
Due: none

fix sql query in aggregation test
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[tutorials] fix broken link to joins tutorial (#14285)
  hail/python/hail/docs/tutorials/07-matrixtable.ipynb
Due: none

cleanup
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
Due: ruff, ruff-format, pyright

add more for updates
  batch/batch/driver/main.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

get rid of locks and fix trigger
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

set namespace properly
  build.yaml
Due: none

[annotationdb][datasets] regional buckets
  hail/python/cluster-tests/cluster-vep-check-GRCh37.py
  hail/python/cluster-tests/cluster-vep-check-GRCh38.py
  hail/python/hail/docs/_static/annotationdb/annotationdb.html
  hail/python/hail/docs/_static/annotationdb/annotationdb.js
  hail/python/hail/docs/annotation_database_ui.rst
  hail/python/hail/docs/cloud/azure.rst
  hail/python/hail/docs/datasets.rst
  hail/python/hail/experimental/datasets.json
  hail/python/hail/experimental/datasets.py
  hail/python/hail/experimental/db.py
  hail/python/hail/methods/qc.py
  hail/python/hailtop/hailctl/dataproc/resources/vep-GRCh37.sh
  hail/python/hailtop/hailctl/dataproc/resources/vep-GRCh38.sh
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/scripts/test-dataproc.sh
Due: ruff, ruff-format, pyright

include job log in output of wait
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

address comments
  batch/batch/batch.py
  batch/batch/constants.py
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/instance_collection/pool.py
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

delint
  batch/batch/batch.py
  batch/batch/constants.py
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

lock everything
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix syntax with for update
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

fix test and start to fix callback test
  batch/batch/driver/main.py
  batch/test/test_dag.py
Due: ruff, ruff-format, pyright

fix
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

traceback was not helpful
  batch/batch/driver/canceller.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

Revert "traceback was not helpful"
  batch/batch/driver/canceller.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[annotationdb][datasets] regional buckets (#14286)
  hail/python/cluster-tests/cluster-vep-check-GRCh37.py
  hail/python/cluster-tests/cluster-vep-check-GRCh38.py
  hail/python/hail/docs/_static/annotationdb/annotationdb.html
  hail/python/hail/docs/_static/annotationdb/annotationdb.js
  hail/python/hail/docs/annotation_database_ui.rst
  hail/python/hail/docs/cloud/azure.rst
  hail/python/hail/docs/datasets.rst
  hail/python/hail/experimental/datasets.json
  hail/python/hail/experimental/datasets.py
  hail/python/hail/experimental/db.py
  hail/python/hail/methods/qc.py
  hail/python/hailtop/hailctl/dataproc/resources/vep-GRCh37.sh
  hail/python/hailtop/hailctl/dataproc/resources/vep-GRCh38.sh
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/test/hail/experimental/test_annotation_db.py
  hail/scripts/test-dataproc.sh
Due: ruff, ruff-format, pyright

traceback
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

wip
  hail/src/main/scala/is/hail/expr/ir/AggOp.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
Due: none

actually fix the test
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

replace ugly check for cancelled with function
  batch/batch/driver/canceller.py
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/instance_collection/pool.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

format traceback
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

fix db error
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

also requester pays allow hail-1kg
  hail/scripts/test-dataproc.sh
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
