Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

Adding installation of node alongside pyright in /dev/requirements.txt
  hail/python/dev/requirements.txt
Due: none

make qob stages fail eagerly
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

Changes to pinned-requirements.txt files after running make command, corresponding to change in requirements.txt; removed now-irrelevant portion of development-process.md.
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  dev-docs/development-process.md
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

[Dev processes] Fixup gsa-key copying instructions, add debug line to rotate_keys.py (#14735)
  dev-docs/development-process.md
  devbin/rotate_keys.py
Due: ruff, ruff-format, pyright

GCP roles in new developer template (#14733)
  .github/ISSUE_TEMPLATE/new-developer.yml
Due: none

extract references from `Backend` implementations
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/reference/LiftOver.scala
  hail/src/main/scala/is/hail/io/reference/package.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/annotations/UnsafeSuite.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/RequirednessSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

prefix methods called in python with `py`
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/ir/ir.py
  hail/python/hail/ir/table_ir.py
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
Due: ruff, ruff-format

refrsh azure tokens if they expire in 5 mins?
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

[query] Expose references via `ExecuteContext`
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
Due: none

format
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
Due: none

[query] Use `SourcePos` for implicit timing context
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/IRState.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/utils/ExecutionTimer.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

fix warnigns - now builds in "Release Mode"
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/utils/package.scala
Due: none

i miss hm type system
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
Due: none

[query] Remove BlockMatrix persist from Backend interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/caching/BlockMatrixCache.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBlockMatrixCache.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/utils/ErrorHandling.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

checkpoint
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
Due: none

fix old squiggly lines
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
Due: none

fix ReferenceGenome serialisation
  hail/src/main/scala/is/hail/variant/ReferenceGenome.scala
Due: none

[query] Remove `lookupOrCompileCachedFunction` from `Backend` interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/utils/Cache.scala
Due: none

add `ImmutableMap` to prevent BM persist where unsupported
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/src/main/scala/is/hail/utils/ImmutableMap.scala
  hail/src/main/scala/is/hail/utils/richUtils/RichMap.scala
Due: none

format
  hail/src/main/scala/is/hail/backend/api/ServiceBackendApi.scala
Due: none

[query] Lowering + Optimisation with implict timing context
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/IRState.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[query] Remove `persistedIr` from `Backend` interface
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/functions/Functions.scala
  hail/src/main/scala/is/hail/io/bgen/LoadBgen.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

reduce code duplication
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/expr/ir/Aggregators2Suite.scala
  hail/src/test/scala/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

[query] unify backend rpc
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/GenericLines.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TableValue.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/src/main/scala/is/hail/io/vcf/LoadVCF.scala
  hail/src/main/scala/is/hail/linalg/BlockMatrix.scala
  hail/src/main/scala/is/hail/linalg/RowMatrix.scala
  hail/src/main/scala/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/src/main/scala/is/hail/rvd/RVD.scala
  hail/src/main/scala/is/hail/sparkextras/ContextRDD.scala
  hail/src/main/scala/is/hail/sparkextras/IndexReadRDD.scala
  hail/src/main/scala/is/hail/types/virtual/package.scala
  hail/src/main/scala/is/hail/utils/SpillingCollectIterator.scala
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/TestUtils.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

[query] Move LoweredTableReaderCoercer into ExecuteContext
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/ExecuteContext.scala
  hail/src/main/scala/is/hail/backend/caching/package.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/expr/ir/GenericTableValue.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
Due: none

format
  hail/src/main/scala/is/hail/backend/api/ServiceBackendApi.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

wire up spark, local and py4j backends
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/src/main/scala/is/hail/backend/api/Py4JBackendApi.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/scala/is/hail/HailSuite.scala
Due: ruff, ruff-format

fix typecast error from missing type arguments
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
Due: none

update python rpc methods
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/test/hail/test_ir.py
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendRpc.scala
  hail/src/main/scala/is/hail/backend/py4j/Py4JBackendExtensions.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/io/plink/LoadPlink.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: ruff, ruff-format

[query] Clarify import_vcf docs
  hail/python/hail/methods/impex.py
Due: ruff, ruff-format

[query] Clarify import_vcf docs (#14746)
  hail/python/hail/methods/impex.py
Due: ruff, ruff-format

address review comments
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

[query] Teach hail to export a VDS to an SVCR-VCF
  hail/python/hail/vds/__init__.py
  hail/python/hail/vds/impex.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

lint
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

parse ref_block_max_length meta line from header
  hail/python/hail/vds/impex.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

more review comments
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

Apply suggestions from code review
  hail/python/hail/vds/impex.py
Due: ruff, ruff-format

fix note
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[Dev processes] Replacing pyright with pyright[nodejs] in /dev/requirements.txt (#14741)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
