Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

fix types
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format

[ci] Allow GCP g2 test to timeout (#14435)
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[batch] Do not lock when querying billing projects
  batch/batch/utils.py
Due: ruff, ruff-format, pyright

[ci] Run the test-dataproc jobs on non-preemptible instances
  build.yaml
Due: none

[batch] Do not lock when querying billing projects (#14443)
  batch/batch/utils.py
Due: ruff, ruff-format, pyright

dont rely on release being executable
  build.yaml
  hail/Makefile
  hail/scripts/release.sh
Due: none

[release] dont rely on release.sh being executable (#14445)
  build.yaml
  hail/Makefile
  hail/scripts/release.sh
Due: none

update GAR cleanup policy
  infra/gcp-broad/gcp-ar-cleanup-policy.txt
Due: none

[batch] Use spend instead of cost on the billing page (#14437)
  batch/batch/front_end/templates/billing.html
Due: none

[batch/ui] adds "always run" to job and batch UIs (#14425)
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/job.html
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

[query] reorganize Binds.scala (#14404)
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/ComputeUsesAndDefs.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Subst.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/types/MatrixType.scala
  hail/src/main/scala/is/hail/types/TableType.scala
Due: none

format
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

[qob] Use job groups for driver job and worker stages
  batch/batch/globals.py
  batch/batch/worker/worker.py
  hail/python/hail/backend/service_backend.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
Due: ruff, ruff-format, pyright

[query] Copy spark driver log to remote tmpdir on error (#14447)
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

review
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

start refactoring extract aggregators
  hail/src/main/scala/is/hail/expr/ir/AggOp.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
Due: none

formatting
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
Due: none

address comments
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

add nestedAgg test
  hail/src/test/scala/is/hail/expr/ir/AggregatorsSuite.scala
Due: none

remove AggLet
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Children.scala
  hail/src/main/scala/is/hail/expr/ir/Copy.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/Exists.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/InferType.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/Interpretable.scala
  hail/src/main/scala/is/hail/expr/ir/LowerMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/Scope.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/test/scala/is/hail/expr/ir/AggregatorsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
Due: none

rename Let -> Block, keep Let.apply
  hail/python/hail/ir/ir.py
  hail/python/hail/ir/renderer.py
  hail/python/test/hail/test_ir.py
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Children.scala
  hail/src/main/scala/is/hail/expr/ir/Copy.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Exists.scala
  hail/src/main/scala/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/InTailPosition.scala
  hail/src/main/scala/is/hail/expr/ir/InferType.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/Interpretable.scala
  hail/src/main/scala/is/hail/expr/ir/LowerMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NestingDepth.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Parser.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/Requiredness.scala
  hail/src/main/scala/is/hail/expr/ir/Scope.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/test/scala/is/hail/expr/ir/AggregatorsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
Due: ruff, ruff-format

make eval scope subset of agg/scan
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
Due: none

[python] Use `importlib.resources` instead of `pkg_resources` Addresses: 14428
  hail/python/hail/__init__.py
  hail/python/hail/backend/backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/datasets.py
  hail/python/hail/experimental/datasets_metadata.py
  hail/python/hail/experimental/db.py
  hail/python/hailtop/__init__.py
  hail/python/hailtop/hailctl/dataproc/deploy_metadata.py
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

[terra] Fix terra on azure helm chart and make targets
  .dockerignore
  Makefile
  batch/terra-chart/Chart.yaml.tmpl
  batch/terra-chart/Dockerfile.batch
  batch/terra-chart/Dockerfile.worker
  batch/terra-chart/Makefile
  batch/terra-chart/templates/app.yaml
  batch/terra-chart/templates/config.yaml
  batch/terra-chart/templates/identity.yaml
  batch/terra-chart/values.yaml.tmpl
Due: none

fix my dumb
  hail/python/hail/backend/backend.py
  hail/python/hail/experimental/datasets_metadata.py
Due: ruff, ruff-format

format and fix
  hail/python/hail/__init__.py
  hail/python/hailtop/__init__.py
  hail/python/hailtop/hailctl/dataproc/deploy_metadata.py
Due: ruff, ruff-format

while im here...
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

lol
  hail/python/hailtop/__init__.py
Due: ruff, ruff-format

review
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

we definitely want to use release mode
  Makefile
Due: none

wip fixing freevars
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/expr/ir/MapIR.scala
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

delete old implementation
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/expr/ir/MapIR.scala
Due: none

[release] build release wheel with correct `deploy.yaml`
  build.yaml
Due: none

add simple test
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
Due: none

[release] 0.2.130
  hail/build.sc
  hail/python/hail/docs/change_log.md
  hail/python/hailtop/batch/docs/change_log.rst
  hail/version.mk
Due: none
