Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

feedback 2
  batch/test/conftest.py
  batch/test/db_query_checks.py
  batch/test/db_seed.py
  batch/test/test_db_framework.py
Due: ruff, ruff-format, pyright

feedback 3
  batch/test/db_query_checks.py
  batch/test/test_db_framework.py
Due: ruff, ruff-format, pyright

feedback4
  batch/test/db_seed.py
  batch/test/test_db_framework.py
Due: ruff, ruff-format, pyright

restore job grouped jobs to pr page job list
  services/ui/src/ci/pr.tsx
Due: none

feedback5
  batch/test/conftest.py
  batch/test/db_query_checks.py
  batch/test/db_seed.py
  batch/test/test_db_framework.py
Due: ruff, ruff-format, pyright

Fix calculation of theta in info_score in aggregators.py
  hail/python/hail/expr/aggregators/aggregators.py
Due: ruff, ruff-format

[ci] restore job grouped jobs to pr page job list (#15801)
  services/ui/src/ci/pr.tsx
Due: none

[services] bump base docker image to noble-20260917 (#15798)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

feedback
  batch/test/db_seed.py
  batch/test/test_db_framework.py
Due: ruff, ruff-format, pyright

feedback and fixes
  batch/test/conftest.py
  batch/test/db_query_checks.py
  batch/test/db_seed.py
  batch/test/test_db_framework.py
  ci/create_local_database.py
Due: ruff, ruff-format, pyright

feedback
  batch/test/db_seed.py
  batch/test/test_db_framework.py
  gear/gear/database.py
Due: ruff, ruff-format, pyright

internal review
  batch/test/conftest.py
  batch/test/db_query_checks.py
  batch/test/db_seed.py
  batch/test/test_db_framework.py
Due: ruff, ruff-format, pyright

remove a small amount of cruft
  batch/test/conftest.py
  batch/test/db_query_checks.py
  batch/test/db_seed.py
  batch/test/test_db_framework.py
  build.yaml
  ci/create_local_database.py
Due: ruff, ruff-format, pyright

reduce comments
  batch/test/conftest.py
  batch/test/db_query_checks.py
  batch/test/db_seed.py
  batch/test/test_db_framework.py
  build.yaml
Due: ruff, ruff-format, pyright

job list filter parsing and objectification
  .github/workflows/static-and-unit-tests.yml
  batch/batch/front_end/query/job_list.py
  batch/test/test_job_list_unit.py
  build.yaml
Due: ruff, ruff-format, pyright

SQL interpretation of job list queries and filters
  batch/batch/front_end/query/job_list_sql.py
  batch/test/db_query_checks.py
  batch/test/test_db_framework.py
  batch/test/test_job_list_db.py
  batch/test/test_job_list_unit.py
  build.yaml
Due: ruff, ruff-format, pyright

full testing of job list api
  batch/test/test_job_list_db.py
Due: ruff, ruff-format, pyright

clean up old APIs and add openapi.yaml content
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  batch/test/test_batch.py
  batch/test/test_job_list_db.py
  batch/test/test_job_list_unit.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

[query] Add write_mts_split_by_cols (#15792)
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/python/hail/experimental/__init__.py
  hail/python/hail/experimental/write_multiple.py
  hail/python/hail/ir/__init__.py
  hail/python/hail/ir/matrix_writer.py
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

job list api handler
  batch/batch/front_end/job_list_api.py
Due: ruff, ruff-format, pyright

Fix external secrets race condition
  infra/aws/bootstrap-vm.yaml
  infra/aws/bootstrap.sh
  infra/aws/main.yaml
Due: none

Fix error message signal escaping
  infra/aws/bootstrap-vm.yaml
Due: none

Fixing parameterization and adding stack role
  infra/aws-broad/README.md
  infra/aws/README.md
  infra/aws/hail-is/parameters.json
  infra/aws/main.yaml
Due: none

Initial commit of AWS infrastructure
  infra/aws-broad/README.md
  infra/aws-broad/main.yml
  infra/aws-broad/parameters.json
Due: none

Installation virtual env Python version bump
  infra/aws/install_bootstrap_dependencies.sh
Due: none

Initial commit of AWS infrastructure
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/aws-broad/README.md
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Fix Makefile typo
  Makefile
Due: none

Remove bad rebase
  Makefile
  auth/auth/auth.py
  auth/auth/driver/driver.py
  batch/Dockerfile.worker
  batch/batch/cloud/utils.py
  batch/batch/front_end/front_end.py
  batch/batch/inst_coll_config.py
  batch/batch/worker/worker.py
  batch/deployment.yaml
  batch/sql/003-increase-spec-size.sql
  ci/bootstrap_create_accounts.py
  ci/create_database.py
  config.mk
  devbin/generate_gcp_ar_cleanup_policy.py
  gear/gear/database.py
  infra/install_bootstrap_dependencies.sh
  letsencrypt/letsencrypt.sh
  tls/create_test_db_config.sh
Due: ruff, ruff-format, pyright

Recognize AWS as a valid cloud
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/deployment.yaml
  batch/Dockerfile.worker
  batch/batch/cloud/driver.py
  build.yaml
  ci/bootstrap_create_accounts.py
  ci/ci/environment.py
  ci/deployment.yaml
  gear/gear/cloud_config.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format, pyright

Add access entry for admin role
  infra/aws/README.md
Due: none

Populate dockerhub proxy with images expected by initial build
  Makefile
  docker/third-party/Makefile
  docker/third-party/copy_images.sh
  infra/aws/README.md
  infra/aws/bootstrap-vm.yaml
  infra/aws/main.yaml
  infra/bootstrap_utils.sh
Due: none

Get AWS creds for Docker from env during initial deployment
  build.yaml
  ci/bootstrap.py
  ci/buildkit/convert-cloud-credentials-to-docker-auth-config
Due: ruff, ruff-format, pyright

Remove extra export from rebase
  infra/aws/bootstrap-vm.yaml
Due: none

Replace GCP region secret values with AWS ones
  infra/aws/main.yaml
Due: none

Fix error signal
  infra/aws/bootstrap-vm.yaml
  infra/aws/bootstrap.sh
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
