Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[ci] Fix query for deployed services when filtering to live namespaces (#14549)
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[query] Expand EStructOfArrays to all primitive types (#14538)
  hail/python/test/hail/matrixtable/test_matrix_table.py
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: ruff, ruff-format

disable test_tree_matmul_splits
  hail/python/test/hail/linalg/test_linalg.py
Due: ruff, ruff-format

rename worker valid cores dictionary
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
Due: ruff, ruff-format, pyright

add clarifying comments to mocked scala tests
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: none

reenable test_tree_matmul_splits
  hail/python/test/hail/linalg/test_linalg.py
Due: ruff, ruff-format

i haz the dumb
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: none

[query] disable test_tree_matmul_splits (#14550)
  hail/python/test/hail/linalg/test_linalg.py
Due: ruff, ruff-format

[query] Cleanup following 'PArray implements PArrayBackedContainer'
  hail/src/main/scala/is/hail/types/encoded/EArray.scala
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/main/scala/is/hail/types/physical/PArrayBackedContainer.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalArray.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalDict.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalSet.scala
Due: none

[batch] Prevent double close of the async worker pool by the canceller (#14548)
  batch/batch/driver/canceller.py
Due: ruff, ruff-format, pyright

Fixing merged conflicts.
  batch/batch/front_end/validate.py
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Fixing merged conflicts.
  hail/python/hailtop/httpx.py
Due: ruff, ruff-format

Fixing merged conflicts.
  batch/batch/batch.py
Due: ruff, ruff-format, pyright

[compiler] refactor types in bindings (#14517)
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/Env.scala
  hail/src/main/scala/is/hail/expr/ir/FreeVariables.scala
  hail/src/main/scala/is/hail/types/MatrixType.scala
  hail/src/main/scala/is/hail/types/TableType.scala
Due: none

[query] Cleanup following 'PArray implements PArrayBackedContainer' (#14546)
  hail/src/main/scala/is/hail/types/encoded/EArray.scala
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/main/scala/is/hail/types/physical/PArrayBackedContainer.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalArray.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalDict.scala
  hail/src/main/scala/is/hail/types/physical/PCanonicalSet.scala
Due: none

fix lowered blockmatrix densify
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/src/test/scala/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

[query] Batch Backend Job Creation Contract Tests (#14512)
  build.yaml
  hail/build.sc
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hail/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/backend/test_service_backend.py
  hail/python/test/hail/conftest.py
  hail/python/test/hail/helpers.py
  hail/python/test/hail/methods/test_qc.py
  hail/python/test/pytest.ini
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: ruff, ruff-format

remove unused InstanceConfig.cores_mcpu_to_memory_bytes
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/instance_config.py
Due: ruff, ruff-format, pyright

[query] fix lowered blockmatrix densify (#14553)
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/src/test/scala/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

Allow os.PathLike paths for Batch.read_input()/read_input_group()
  hail/python/hailtop/batch/batch.py
Due: ruff, ruff-format

Allow os.PathLike paths for Batch.read_input()/read_input_group() (#14544)
  hail/python/hailtop/batch/batch.py
Due: ruff, ruff-format

[batch] Use more precise terminology around instance cost, price and revenue (#14543)
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/driver/instance.py
  batch/batch/inst_coll_config.py
  batch/batch/instance_config.py
Due: ruff, ruff-format, pyright

add a2 machine into batch (#14542)
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

simplify NormalizeNames
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[compiler] simplify NormalizeNames (#14514)
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/Compile.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/MatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
  hail/src/main/scala/is/hail/expr/ir/Optimize.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/TableIR.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

delete old NormalizeNames
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
Due: none

[batch] Add resource_usage endpoint for jobs (#14328)
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

simplify PruneDeadFields
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/test/scala/is/hail/expr/ir/FakeTableReader.scala
  hail/src/test/scala/is/hail/expr/ir/MatrixIRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/TableIRSuite.scala
Due: none

[compiler] delete old NormalizeNames (#14554)
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/NormalizeNames.scala
Due: none

[compiler] simplify PruneDeadFields (#14509)
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/Binds.scala
  hail/src/main/scala/is/hail/expr/ir/DeprecatedIRBuilder.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/Pretty.scala
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/test/scala/is/hail/expr/ir/FakeTableReader.scala
  hail/src/test/scala/is/hail/expr/ir/MatrixIRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/PruneSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/TableIRSuite.scala
Due: none

Removing the module ukbb clause
  infra/gcp/main.tf
Due: none

Updating sql for func get_completed_batches_ordered_by_completed_time.
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[pip] Resolve security vulns in pymysql and requests
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[pip] Resolve security vulns in pymysql and requests (#14558)
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[vds] Stop dropping GT/PGT in reference data during import
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/hail/vds/methods.py
Due: ruff, ruff-format

fix
  hail/python/hail/vds/methods.py
Due: ruff, ruff-format

cleanup
  hail/python/hail/vds/methods.py
Due: ruff, ruff-format

[internal-gateway] Fix bootstrap invocation
  internal-gateway/Makefile
Due: none
