Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[query] Teach hail to export a VDS to an SVCR-VCF (#14743)
  hail/python/hail/vds/__init__.py
  hail/python/hail/vds/impex.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[query] Update ExportVCF error messages (#14742)
  hail/src/main/scala/is/hail/expr/ir/MatrixWriter.scala
Due: none

rewrite, simplify and test BatchClient
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

refrsh azure tokens if they expire in 5 mins?
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

use rstrip
  hail/python/hail/context.py
  hail/python/hailtop/config/user_config.py
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

jar location is a url, not a json spec
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
Due: none

reformat
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

preserve old, broken behaviour
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

job ids are 1-based
  hail/src/main/scala/is/hail/backend/service/Main.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

feedback from @chrisvittal
  hail/python/hail/context.py
  hail/src/main/scala/is/hail/backend/Backend.scala
Due: ruff, ruff-format

log request after the fact
  hail/src/main/scala/is/hail/services/requests.scala
Due: none

scala fucking format at 1am
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

dont throw in parallelizeAndComputeWithIndex
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

`stop` in python, closable only in scala
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

credentials are scoped
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

make backend closable + fix mocked test
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/context.py
  hail/python/hailtop/config/user_config.py
  hail/src/main/scala/is/hail/HailContext.scala
  hail/src/main/scala/is/hail/backend/Backend.scala
  hail/src/main/scala/is/hail/backend/BackendServer.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: ruff, ruff-format

depend on uploaded qob jar
  build.yaml
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

[query] Unify CloudCredentials and Modernise BatchService API
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/main/scala/is/hail/io/fs/GoogleStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/RouterFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/services/BatchConfig.scala
  hail/src/main/scala/is/hail/services/Requester.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
  hail/src/main/scala/is/hail/services/oauth2.scala
  hail/src/main/scala/is/hail/services/package.scala
  hail/src/main/scala/is/hail/services/requests.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: none

fix scalatests
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

fix gcs oauth2 scopes
  hail/src/main/scala/is/hail/services/oauth2.scala
Due: none

Revert PR #346, as upstream handles public ip addresses unconditionally.
  hail/python/hailtop/hailctl/dataproc/cli.py
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

[qob] cancel stage if any partitions fail.
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

Query batch for failed jobGroupJobs in query stage
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

Added ability to check job status of individual job, made associated tests
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

Change duration of job in test
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

[QoB] Set StreamReadConstraints maxStringLength as early as possible
  hail/src/main/scala/is/hail/backend/service/Main.scala
Due: none

Add test
  hail/python/test/hail/test_ir.py
Due: ruff, ruff-format

fmt
  hail/src/main/scala/is/hail/backend/service/Main.scala
Due: none

Stream failed jobGroupJobs from batch
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/services/BatchClient.scala
  hail/src/main/scala/is/hail/utils/ErrorHandling.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/services/BatchClientSuite.scala
Due: none

[batch] Handle duplicate resource names when refreshing prices
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

fmt
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

[batch] Check that batch jobs is nonempty in Previous Page button
  batch/batch/front_end/templates/batch.html
Due: none

Add SKU to product name
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

logging
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

right sku
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

Unreserved
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

Remove logging
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

[batch] Check that batch jobs is nonempty in Previous Page button (from upstream PR 14754; #352)
  batch/batch/front_end/templates/batch.html
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
