Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

duh
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

fix error message
  hail/python/hail/expr/functions.py
  hail/python/test/hail/expr/test_ndarrays.py
Due: ruff, ruff-format

python scoping is strange
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

[query] add `StringExpression.find` Resolves #14515
  hail/python/hail/expr/expressions/typed_expressions.py
  hail/src/main/scala/is/hail/expr/ir/functions/StringFunctions.scala
Due: ruff, ruff-format

Update hail/scripts/benchmark_in_batch.py
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

@chrisvittal feedback
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query] Let-Bind Input Collection Parameter In `hl.nd.array`. (#14571)
  hail/python/hail/expr/functions.py
  hail/python/test/hail/expr/test_ndarrays.py
Due: ruff, ruff-format

[query] add `StringExpression.find` (#14572)
  hail/python/hail/expr/expressions/typed_expressions.py
  hail/src/main/scala/is/hail/expr/ir/functions/StringFunctions.scala
Due: ruff, ruff-format

[query] Fix backend arg typecheck in init
  hail/python/hail/context.py
Due: ruff, ruff-format

update tests to use explicit backend
  hail/python/test/hail/helpers.py
Due: ruff, ruff-format

format
  hail/python/test/hail/helpers.py
Due: ruff, ruff-format

[query] Fix backend arg typecheck in init (#14574)
  hail/python/hail/context.py
  hail/python/test/hail/helpers.py
Due: ruff, ruff-format

[ci] fix mount paths for `start_hail_benchmark` task
  build.yaml
Due: none

[ci] fix mount paths for `start_hail_benchmark` task (#14575)
  build.yaml
Due: none

Add pool label to "resource requests ... are unsatisfiable" message (#342)
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[vds/combiner] Fix truncation of PL in GVCF import with haploid calls
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

[hailtop] Prevent blowing the stack on highly concurrent file uploads
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hailtop/aiotools/validators.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch.py
Due: ruff, ruff-format

[query] Fix deserialization of IR function parameter names in QoB
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

[batch] Add internal ssl certs to worker server
  Makefile
  batch/batch/cloud/azure/worker/worker_api.py
  batch/batch/cloud/gcp/worker/worker_api.py
  batch/batch/cloud/terra/azure/worker/worker_api.py
  batch/batch/driver/instance.py
  batch/batch/driver/job.py
  batch/batch/front_end/front_end.py
  batch/batch/globals.py
  batch/batch/utils.py
  batch/batch/worker/worker.py
  batch/batch/worker/worker_api.py
  build.yaml
  dev-docs/services/tls-cookbook.md
  hail/python/hailtop/aiocloud/aiogoogle/__init__.py
  hail/python/hailtop/aiocloud/aiogoogle/client/__init__.py
  hail/python/hailtop/aiocloud/aiogoogle/client/secret_manager_client.py
  hail/python/hailtop/config/deploy_config.py
  hail/python/hailtop/httpx.py
  hail/python/hailtop/tls.py
  infra/gcp-broad/main.tf
  tls/Dockerfile
  tls/config.yaml
  tls/create_certs.py
Due: ruff, ruff-format, pyright

fix BlockMatrixAgg lowering
  hail/src/main/scala/is/hail/expr/ir/BlockMatrixIR.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/src/test/scala/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

address feedback
  Makefile
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/job.html
  web_common/tailwind.config.js
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

hide job attributes if there are not any
  batch/batch/front_end/templates/job.html
Due: none

feedback
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/validators.py
Due: ruff, ruff-format

add test
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[vds/combiner] Fix truncation of PL in GVCF import with haploid calls (#14577)
  hail/python/hail/vds/combiner/combine.py
  hail/python/test/hail/vds/test_vds.py
Due: ruff, ruff-format

[vds/combiner] Deduplicate functions in combiner internals
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

lint
  hail/python/hailtop/aiotools/validators.py
Due: ruff, ruff-format

[batch/qob] propagates errors from failed QoB worker jobs without result files
  batch/batch/worker/worker.py
  batch/jvm-entryway/src/main/java/is/hail/JVMEntryway.java
  hail/Makefile
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/services/batch_client/BatchClient.scala
Due: ruff, ruff-format, pyright

[batch] Redesign batch front end pages (#14562)
  .dockerignore
  Makefile
  batch/Dockerfile
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/billing_limits.html
  batch/batch/front_end/templates/billing_projects.html
  batch/batch/front_end/templates/components/metadata_tables.html
  batch/batch/front_end/templates/components/utils.html
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/table_search.html
  devbin/dev_proxy.py
  web_common/input.css
  web_common/tailwind.config.js
  web_common/web_common/templates/layout.html
  web_common/web_common/templates/new_header.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

add lambda inst col into database
  batch/sql/add_lambda_inst_col.sql
  build.yaml
Due: none

[batch] Sort jobs by job id in the UI
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

add sparse bm agg tests
  hail/python/test/hail/linalg/test_linalg.py
Due: ruff, ruff-format

[vds/combiner] Deduplicate functions in combiner internals (#14583)
  hail/python/hail/vds/combiner/combine.py
Due: ruff, ruff-format

[query] Remove string length restriction in jackson
  hail/build.sc
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

[auth] Make UI consistent with new Batch design
  auth/auth/templates/index.html
  auth/auth/templates/roles.html
  auth/auth/templates/user.html
  auth/auth/templates/users.html
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/billing.html
  batch/batch/front_end/templates/billing_projects.html
  batch/batch/front_end/templates/job.html
  batch/batch/front_end/templates/table_search.html
  web_common/input.css
  web_common/tailwind.config.js
  web_common/web_common/templates/utils.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[hailtop] Prevent event loop RecursionError during highly concurrent file uploads (#14576)
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hailtop/aiotools/validators.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch.py
Due: ruff, ruff-format

lint
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
Due: none

[batch] Sort jobs by job id in the UI (#14585)
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

[batch] Adjust Batch UI to have less dead space
  batch/batch/front_end/templates/batch.html
  batch/batch/front_end/templates/batches.html
  batch/batch/front_end/templates/billing_limits.html
  batch/batch/front_end/templates/job.html
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
