Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

tests work in IJ, no cross module
  hail/build.sc
  hail/src/main/scala/is/hail/package.scala
Due: none

cleanup
  docker/hailgenetics/saige/Dockerfile
  hail/python/hailtop/saige/__init__.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

clean up deps
  hail/build.sc
Due: none

fix makefile
  hail/Makefile
Due: none

lint
  batch/batch/cloud/terra/azure/driver/driver.py
  batch/batch/cloud/terra/azure/instance_config.py
  batch/batch/cloud/terra/azure/worker/worker_api.py
Due: ruff, ruff-format, pyright

fixes
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/utils/FlipbookIterator.scala
Due: none

fix
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

fix
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/src/main/scala/is/hail/services/DeployConfig.scala
Due: none

fix
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

stuff
  docker/hailgenetics/saige/Dockerfile
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

fix
  hail/src/main/scala/is/hail/linalg/BlockMatrix.scala
Due: none

set default version in millw
  hail/millw
Due: none

delete shadedazure directory
  hail/shadedazure/build.gradle
Due: none

working dockerfile
  Makefile
  docker/hailgenetics/saige/Dockerfile
  hail/python/hailtop/saige/config.py
Due: ruff, ruff-format

[benchmark] build hail in release mode
  benchmark/Makefile
Due: none

[infra] set gcp artifact cleanup policies on deploy
  build.yaml
  hail/Makefile
  hail/scripts/release.sh
Due: none

remove unused vars from hail/Makefile
  hail/Makefile
  hail/scripts/release.sh
Due: none

maybe thatll work?
  build.yaml
Due: none

[spark_backend] avoid infinite recursion when initialization fails
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/utils/java.py
Due: ruff, ruff-format

fix?
  hail/src/main/scala/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/IsPure.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

[spark_backend] avoid infinite recursion when initialization fails (#14199)
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/utils/java.py
Due: ruff, ruff-format

fix: ci/pinned-requirements.txt to reduce vulnerabilities
  ci/pinned-requirements.txt
Due: none

fix: hail/python/pinned-requirements.txt to reduce vulnerabilities
  hail/python/pinned-requirements.txt
Due: none

fix
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
Due: none

[query] support importing empty JSON objects
  hail/src/main/scala/is/hail/expr/AnnotationImpex.scala
Due: none

fix: hail/python/hailtop/pinned-requirements.txt to reduce vulnerabilities
  hail/python/hailtop/pinned-requirements.txt
Due: none

[batch] temporarily treat regions=None as us-central1 only
  batch/batch/driver/instance_collection/pool.py
Due: ruff, ruff-format, pyright

fix: hail/python/dev/pinned-requirements.txt to reduce vulnerabilities
  hail/python/dev/pinned-requirements.txt
Due: none

update build.yaml to new debug/release structure
  build.yaml
Due: none

[hailtop] allow configuration of default HTTP timeout
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/python/hailtop/httpx.py
Due: ruff, ruff-format

fix variable names
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
Due: ruff, ruff-format

fixes
  Makefile
  build.yaml
Due: none

stuff
  docker/hailgenetics/saige/Dockerfile
  hail/Makefile
  hail/python/hailtop/saige/__init__.py
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/io.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

[rotate_keys.py] make deletion non-interactive as well
  devbin/rotate_keys.py
Due: ruff, ruff-format, pyright

fix lints
  hail/python/hailtop/httpx.py
Due: ruff, ruff-format

Update AnnotationImpex.scala
  hail/src/main/scala/is/hail/expr/AnnotationImpex.scala
Due: none

fix formatting
  hail/src/main/scala/is/hail/package.scala
Due: none
