Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

pip and npm bumps
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  web_common/pinned-requirements.txt
Due: none

fix bad js string interpolation
  auth/auth/static/js/roles.js
Due: none

restore last active UI column
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

update worker image to noble 20260516
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/globals.py
  batch/gcp-create-worker-image.sh
Due: ruff, ruff-format, pyright

More memory for check_hail test job
  build.yaml
Due: none

[batch] update worker image to noble 20260516 (#15485)
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/globals.py
  batch/gcp-create-worker-image.sh
Due: ruff, ruff-format, pyright

react framework for remaining services
  Makefile
  auth/MANIFEST.in
  auth/auth/auth.py
  auth/auth/templates/hello_react.html
  auth/pyproject.toml
  auth/setup.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/hello_react.html
  devbin/dev_proxy.py
  monitoring/MANIFEST.in
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/hello_react.html
  monitoring/pyproject.toml
  monitoring/setup.py
  services/ui/package.json
  services/ui/src/auth/index.tsx
  services/ui/src/batch_driver/index.tsx
  services/ui/src/monitoring/index.tsx
Due: ruff, ruff-format, pyright

allow datetime serialization for jinja2 context fetch
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

pin test-most version used during vep build
  docker/hailgenetics/vep/grch38/95/Dockerfile
Due: none

[query] fix emitBlock when bound expr uses stream ref
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

[vep] pin test-most version used during vep build (#15490)
  docker/hailgenetics/vep/grch38/95/Dockerfile
Due: none

fix project setup files
  auth/Dockerfile
  batch/Dockerfile
  batch/MANIFEST.in
  batch/pyproject.toml
  monitoring/Dockerfile
Due: none

[ci] More memory for check_hail test (#15486)
  build.yaml
Due: none

fix other batch dockerfile too
  batch/Dockerfile.worker
Due: none

host static content too
  batch/pyproject.toml
Due: none

[services] pip and npm bumps 2026-05-18 (#15482)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  web_common/pinned-requirements.txt
Due: none

update skill guidance to prefer hailctl curl
  .claude/skills/hail-batch-dev/SKILL.md
  .claude/skills/hail-batch/SKILL.md
Due: none

reinforce message that we can make changes
  .claude/skills/hail-batch-dev/SKILL.md
Due: none

fix log fetching and add attempt listing in hailctl
  .claude/skills/hail-batch-dev/SKILL.md
  .claude/skills/hail-batch/SKILL.md
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

[query] use `trace` to identify critical paths
  hail/hail/bench/src/is/hail/expr/ir/ControlFlowPreventsSplitsAlternatives.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/IRTraversal.scala
  hail/hail/src/is/hail/expr/ir/analyses/ControlFlowPreventsSplit.scala
  hail/hail/src/is/hail/expr/ir/analyses/ParentPointers.scala
  hail/hail/utils/src/is/hail/utils/TreeTraversal.scala
Due: none

update skills md wrt logs changes
  .claude/skills/hail-batch-dev/SKILL.md
  .claude/skills/hail-batch/SKILL.md
Due: none

[auth] fix role buttons in UI (#15483)
  auth/auth/static/js/roles.js
Due: none

[auth] restore last active UI column (#15484)
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[query] fix emitBlock when bound expr uses stream ref (#15491)
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

[query] use `trace` to identify critical paths (#15492)
  hail/hail/bench/src/is/hail/expr/ir/ControlFlowPreventsSplitsAlternatives.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/IRTraversal.scala
  hail/hail/src/is/hail/expr/ir/analyses/ControlFlowPreventsSplit.scala
  hail/hail/src/is/hail/expr/ir/analyses/ParentPointers.scala
  hail/hail/utils/src/is/hail/utils/TreeTraversal.scala
Due: none

pip and npm updates 2026-05-22
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  services/ui/package.json
  web_common/pinned-requirements.txt
Due: none

make target for ubuntu base image update
  Makefile
  update-hail-ubuntu.sh
Due: none

use python directly
  Makefile
  update-hail-ubuntu.py
  update-hail-ubuntu.sh
Due: ruff, ruff-format, pyright

[github] package update helper action (#15480)
  .github/workflows/pip-npm-bump.yml
Due: none

simplify make target
  Makefile
  update-hail-ubuntu.py
Due: ruff, ruff-format, pyright

[query] no-sharing in functions + lowerdistributedsort
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/CanLowerEfficiently.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/LowerDistributedSortSuite.scala
  hail/hail/utils/src/is/hail/collection/FastSeq.scala
Due: none

Update update-hail-ubuntu.py
  update-hail-ubuntu.py
Due: ruff, ruff-format, pyright

handle undecodeable characters, require container when specifying attempt
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

[make] make target for ubuntu base image update (#15496)
  Makefile
  update-hail-ubuntu.py
Due: ruff, ruff-format, pyright

feedback
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

standardize job get
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

batch jobs query CLI
  .claude/skills/hail-batch/SKILL.md
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

[services] react framework for remaining services (#15489)
  Makefile
  auth/Dockerfile
  auth/MANIFEST.in
  auth/auth/auth.py
  auth/auth/templates/hello_react.html
  auth/pyproject.toml
  auth/setup.py
  batch/Dockerfile
  batch/Dockerfile.worker
  batch/MANIFEST.in
  batch/batch/driver/main.py
  batch/batch/driver/templates/hello_react.html
  devbin/dev_proxy.py
  monitoring/Dockerfile
  monitoring/MANIFEST.in
  monitoring/monitoring/monitoring.py
  monitoring/monitoring/templates/hello_react.html
  monitoring/pyproject.toml
  monitoring/setup.py
  services/ui/package.json
  services/ui/src/auth/index.tsx
  services/ui/src/batch_driver/index.tsx
  services/ui/src/monitoring/index.tsx
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[query] Simplify SType primitives infrastructure (#15479)
  hail/hail/src/is/hail/types/physical/stypes/concrete/SJavaArray.scala
  hail/hail/src/is/hail/types/physical/stypes/concrete/SNDArraySlice.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SBoolean.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SFloat32.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SFloat64.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SInt32.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SInt64.scala
  hail/hail/src/is/hail/types/physical/stypes/primitives/SPrimitive.scala
Due: none

pip and npm updates 2026-05-22 (#15495)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  services/ui/package.json
  web_common/pinned-requirements.txt
Due: none
