Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[infra] use PDB versions supported by our k8s cluster
  infra/gcp-broad/main.tf
Due: none

[infra] make all buckets created by TF uniform access
  infra/gcp-broad/ci/main.tf
  infra/gcp-broad/gcs_bucket/main.tf
Due: none

[terraform] restore CI access to ci bucket after UBLA is applied
  infra/gcp-broad/ci/main.tf
Due: none

ugh explicitly use CIs service account
  build.yaml
Due: none

[infra] Make CI an admin of the artifact registry (#14266)
  build.yaml
  infra/gcp-broad/ci/main.tf
  infra/gcp-broad/gcs_bucket/main.tf
  infra/gcp-broad/main.tf
Due: none

[compiler] replace Begin with Let (#14068)
  hail/src/main/scala/is/hail/expr/ir/Children.scala
  hail/src/main/scala/is/hail/expr/ir/Copy.scala
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/FoldConstants.scala
  hail/src/main/scala/is/hail/expr/ir/ForwardLets.scala
  hail/src/main/scala/is/hail/expr/ir/IR.scala
  hail/src/main/scala/is/hail/expr/ir/InferType.scala
  hail/src/main/scala/is/hail/expr/ir/Interpret.scala
  hail/src/main/scala/is/hail/expr/ir/IsPure.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/TableWriter.scala
  hail/src/main/scala/is/hail/expr/ir/TypeCheck.scala
  hail/src/main/scala/is/hail/expr/ir/agg/ApproxCDFAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/ArrayElementLengthCheckAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CallStatsAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CollectAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CollectAsSetAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/CountAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DensifyAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/DownsampleAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/Extract.scala
  hail/src/main/scala/is/hail/expr/ir/agg/FoldAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/GroupedAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/ImputeTypeAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/LinearRegressionAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/MonoidAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/NDArrayMultiplyAddAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/NDArraySumAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/PrevNonNullAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/ReservoirSampleAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/StagedAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/TakeAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/agg/TakeByAggregator.scala
  hail/src/main/scala/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/src/main/scala/is/hail/expr/ir/streams/EmitStream.scala
  hail/src/main/scala/is/hail/types/virtual/TVoid.scala
Due: none

[query] Update testng and scalatest versions for IDEA support
  hail/.mill-version
  hail/build.sc
  hail/src/test/scala/is/hail/HailSuite.scala
  hail/src/test/scala/is/hail/annotations/ApproxCDFAggregatorSuite.scala
  hail/src/test/scala/is/hail/annotations/RegionSuite.scala
  hail/src/test/scala/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/src/test/scala/is/hail/expr/ir/MissingArrayBuilderSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/StagedMinHeapSuite.scala
  hail/src/test/scala/is/hail/expr/ir/table/TableGenSuite.scala
  hail/src/test/scala/is/hail/io/ByteArrayReaderSuite.scala
  hail/src/test/scala/is/hail/io/fs/FSSuite.scala
  hail/src/test/scala/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/src/test/scala/is/hail/linalg/GridPartitionerSuite.scala
  hail/src/test/scala/is/hail/linalg/RowPartitionerSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
  hail/src/test/scala/is/hail/stats/LeveneHaldaneSuite.scala
  hail/src/test/scala/is/hail/utils/ArrayBuilderSuite.scala
  hail/src/test/scala/is/hail/utils/ArrayStackSuite.scala
  hail/src/test/scala/is/hail/utils/BinaryHeapSuite.scala
  hail/src/test/scala/is/hail/utils/BitVectorSuite.scala
  hail/src/test/scala/is/hail/utils/BufferedAggregatorIteratorSuite.scala
  hail/src/test/scala/is/hail/utils/GraphSuite.scala
  hail/src/test/scala/is/hail/utils/PartitionCountsSuite.scala
  hail/src/test/scala/is/hail/utils/SemanticVersionSuite.scala
  hail/src/test/scala/is/hail/utils/UnionFindSuite.scala
  hail/src/test/scala/is/hail/utils/prettyPrint/PrettyPrintWriterSuite.scala
  hail/src/test/scala/is/hail/variant/GenotypeSuite.scala
Due: none

use java 11
  docker/Dockerfile.base
  docker/hailgenetics/hail/Dockerfile
Due: none

[release] remove unused old stuff (#14273)
  hail/scripts/release.sh
Due: none

[fs] Refresh blob client on every range read
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
Due: ruff, ruff-format

change a bit
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
Due: none

not necessary anymore
  hail/python/hailtop/config/deploy_config.py
Due: ruff, ruff-format

turn off unschedule job in canceller
  batch/batch/driver/canceller.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

get rid of committed check
  batch/batch/driver/canceller.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

dont unschedule jobs in canceller
  batch/batch/driver/canceller.py
Due: ruff, ruff-format, pyright

update test-gcp.sh to be closer to modern use (#14272)
  hail/scripts/test-gcp.sh
Due: none

recursive populate jg_inst_coll_cancellable_resources
  batch/batch/driver/canceller.py
  batch/batch/front_end/front_end.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

fix test
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

in sync sql
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

delint
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

[auth] Push exit stack callbacks on initialization
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

get state right in commit
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

[monitoring] Push exit callbacks on initialization
  monitoring/monitoring/monitoring.py
Due: ruff, ruff-format, pyright

get rid of unsed columns in staging table
  batch/batch/front_end/front_end.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

more fixes
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

add nested job groups
  batch/batch/constants.py
  batch/batch/front_end/front_end.py
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

add back job group id col in staging
  batch/batch/front_end/front_end.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

bad merge
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

[benchmark] build hail in release mode (#14197)
  benchmark/Makefile
Due: none

[batch] Make hb.Batch and hb.ServiceBackend context managers and remove bad __del__ behavior
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/fs/router_fs.py
  hail/python/hailtop/utils/__init__.py
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

prelim changes suggested by @patrick-schultz
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStructView.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SStructViewSuite.scala
Due: none

debug my idiocy
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStructView.scala
Due: none

[query] Fix NullPointerException in Avro import (#14258)
  hail/src/main/scala/is/hail/io/avro/AvroTableReader.scala
Due: none

[compiler] Add `If` and `MakeStruct` Simplifications (#14231)
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/types/physical/PBaseStruct.scala
  hail/src/main/scala/is/hail/types/physical/PSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/SCode.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStackStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SStructView.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/src/main/scala/is/hail/types/virtual/TStruct.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SStructViewSuite.scala
Due: none

rework cancellation
  batch/batch/driver/canceller.py
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/instance_collection/pool.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

get rid of debug message
  batch/batch/driver/job.py
Due: ruff, ruff-format, pyright

fixes
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/validate.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

lock selects before inserts
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

actually lock table
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none
