Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[query] fix hl.init with batch backend and explicit regions
  hail/python/hail/backend/service_backend.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

Remove redundant security headers decorator
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

[hailctl] Upgrade dataproc to image version 2.2.64
  hail/python/dataproc-pre-installed-requirements.txt
  hail/python/hailtop/hailctl/dataproc/start.py
Due: ruff, ruff-format

regenerate pip lockfiles
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

[release] Upgrade twine (#15059)
  ci/Dockerfile.ci-utils
Due: none

[hailctl] Upgrade dataproc to image version 2.2.64 (#15077)
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dataproc-pre-installed-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/hailctl/dataproc/start.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: ruff, ruff-format

[query] run `ServiceBackend` in `Py4jQueryDriver`
  batch/batch/front_end/front_end.py
  build.yaml
  hail/hail/src/is/hail/backend/driver/BackendRpc.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/service/Worker.scala
  hail/hail/src/is/hail/io/fs/AzureStorageFS.scala
  hail/hail/src/is/hail/io/fs/GoogleStorageFS.scala
  hail/hail/src/is/hail/io/fs/RouterFS.scala
  hail/hail/src/is/hail/io/fs/TerraAzureStorageFS.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/DeployConfig.scala
  hail/hail/src/is/hail/services/oauth2.scala
  hail/hail/src/is/hail/services/package.scala
  hail/hail/src/is/hail/utils/StringSocketAppender.scala
  hail/hail/src/is/hail/utils/package.scala
  hail/hail/test/src/is/hail/io/fs/AzureStorageFSSuite.scala
  hail/hail/test/src/is/hail/io/fs/GoogleStorageFSSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/__init__.py
  hail/python/hail/experimental/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/conftest.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format, pyright

[query] make local and remote tmp settable on backend
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Configure Optimiser via Flags, not HailContext
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/LowerOrInterpretNonCompilable.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LoweringPipelineSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MemoryLeakSuite.scala
  hail/hail/test/src/is/hail/expr/ir/RequirednessSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/linalg/BlockMatrixSuite.scala
  hail/hail/test/src/is/hail/methods/LocalLDPruneSuite.scala
  hail/hail/test/src/is/hail/variant/vsm/PartitioningSuite.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] make local and remote tmp settable on backend (#14748)
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] fix hl.init with batch backend and explicit regions (#15064)
  hail/python/hail/backend/service_backend.py
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

[query] Configure Optimiser via Flags, not HailContext (#14952)
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/LowerOrInterpretNonCompilable.scala
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/LoweringPipelineSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MemoryLeakSuite.scala
  hail/hail/test/src/is/hail/expr/ir/RequirednessSuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/linalg/BlockMatrixSuite.scala
  hail/hail/test/src/is/hail/methods/LocalLDPruneSuite.scala
  hail/hail/test/src/is/hail/variant/vsm/PartitioningSuite.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

remove debugging string in dropdown
  batch/batch/front_end/templates/table_search.html
Due: none

tidy authorized users list
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

Add codeowners file to avoid accidental merging
  CODEOWNERS
Due: none

[query] remove branchingFactor` from `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/expr/ir/agg/package.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Port ValueToBlockMatrix to new lowering
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

Fix role references for new custom roles
  infra/gcp-broad/gsa/main.tf
  infra/gcp-broad/main.tf
  infra/gcp/gsa_k8s_secret/main.tf
  infra/gcp/main.tf
Due: none

[batch/auth] Fix SQL format specifier
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

type fixes
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

[query] remove `branchingFactor` from `HailContext` (#14963)
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/expr/ir/agg/package.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

fix
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

rename variables for clarity
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

add test
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

[query] move `checkRVDKeys` from HailContext to RVD$
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[query] Remove RelationalLetBlockMatrix
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/LiftRelationalValues.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/LowerOrInterpretNonCompilable.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

Catch type errors from status updater so that the main loop doesnt crash
  ci/ci/github.py
Due: ruff, ruff-format, pyright

[github] Add codeowners file to avoid accidental merging (#15084)
  CODEOWNERS
Due: none

[CI] Tidy authorized users list (#15081)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

address review comments
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
Due: none

[CI] Catch type errors from status updater so that the main loop doesn't crash (#15093)
  ci/ci/github.py
Due: ruff, ruff-format, pyright

Attempt to make gpu testing more reliable
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

[terraform] Fix role references for new custom roles (#15087)
  infra/gcp-broad/gsa/main.tf
  infra/gcp-broad/main.tf
  infra/gcp/gsa_k8s_secret/main.tf
  infra/gcp/main.tf
Due: none

[batch] Update swagger ui to 5.29.0 (#15065)
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/static/lib/swagger/favicon-16x16.png
  web_common/web_common/static/lib/swagger/favicon-32x32.png
  web_common/web_common/static/lib/swagger/index.css
  web_common/web_common/static/lib/swagger/swagger-ui-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle-core.js
  web_common/web_common/static/lib/swagger/swagger-ui-es-bundle.js
  web_common/web_common/static/lib/swagger/swagger-ui-standalone-preset.js
  web_common/web_common/static/lib/swagger/swagger-ui.css
  web_common/web_common/static/lib/swagger/swagger-ui.js
  web_common/web_common/templates/swagger.html
  web_common/web_common/templates/swagger/index.html
Due: ruff, ruff-format, pyright

[terraform] Sync terraform template with state
  infra/gcp-broad/hail-is/ci_config.enc.json
  infra/gcp-broad/main.tf
Due: none

[query] implement `HailContext.checkRVDKeys` via flags (#15080)
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/hail/test/src/is/hail/HailSuite.scala
Due: none

[terraform] enable secure boot in k8s node pools (#15068)
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

[query] remove unnecessary references to `HailContext`
  hail/hail/src/is/hail/HailContext.scala
  hail/hail/src/is/hail/backend/BackendUtils.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/driver/Py4JQueryDriver.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/BlockMatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/LowerMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixIR.scala
  hail/hail/src/is/hail/expr/ir/MatrixValue.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/functions/MatrixWriteBlockMatrix.scala
  hail/hail/src/is/hail/io/fs/FS.scala
  hail/hail/src/is/hail/io/plink/LoadPlink.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
  hail/hail/src/is/hail/linalg/RowMatrix.scala
  hail/hail/src/is/hail/methods/LinearRegression.scala
  hail/hail/src/is/hail/methods/LogisticRegression.scala
  hail/hail/src/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/hail/src/is/hail/methods/PCA.scala
  hail/hail/src/is/hail/methods/PCRelate.scala
  hail/hail/src/is/hail/methods/PoissonRegression.scala
  hail/hail/src/is/hail/methods/Skat.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/hail/src/is/hail/sparkextras/ContextRDD.scala
  hail/hail/src/is/hail/utils/richUtils/RichDenseMatrixDouble.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/BlockMatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/linalg/BlockMatrixSuite.scala
  hail/hail/test/src/is/hail/linalg/RowMatrixSuite.scala
  hail/hail/test/src/is/hail/variant/vsm/PartitioningSuite.scala
Due: none

Switch metadata mode to GKE_METADATA
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none
