Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

pin to nbconvert<7.14
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
Due: none

[batch] silence instance logs (#14243)
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

use exit stacks and context managers for RouterFS
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hailtop/fs/router_fs.py
  hail/python/test/hailtop/inter_cloud/test_fs.py
Due: ruff, ruff-format

more front end changes
  batch/batch/exceptions.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  batch/batch/utils.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: ruff, ruff-format, pyright

maybe fix jar services
  hail/build.sc
Due: none

more changes
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
Due: ruff, ruff-format, pyright

[dependencies] mass update (#14233)
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/batch/batch_pool_executor.py
  hail/python/hailtop/pinned-requirements.txt
  hail/python/hailtop/utils/__init__.py
  hail/python/hailtop/utils/utils.py
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: ruff, ruff-format

fix: hail/python/dev/requirements.txt to reduce vulnerabilities
  hail/python/dev/requirements.txt
Due: none

use error_if_bucket=True
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/aiotools/local_fs.py
  hail/python/hailtop/aiotools/router_fs.py
Due: ruff, ruff-format

[query] Use valid globals reference in MWZJ and TABK
  hail/python/test/hail/table/test_table.py
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
Due: ruff, ruff-format

remove codeql
  .github/workflows/codeql-analysis.yml
Due: none

bucket not path
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

fix override: error_if_bucket is keyword only
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

fix ssubsetstruct rename
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/types/physical/PSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SSubsetStructSuite.scala
Due: none

scalafix
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/src/main/scala/is/hail/types/physical/stypes/concrete/SSubsetStruct.scala
  hail/src/main/scala/is/hail/types/physical/stypes/interfaces/SBaseStruct.scala
  hail/src/main/scala/is/hail/types/virtual/TStruct.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/types/physical/stypes/concrete/SSubsetStructSuite.scala
Due: none

gcs parse-url
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[query] Use valid globals reference in MWZJ and TABK (#14246)
  hail/python/test/hail/table/test_table.py
  hail/src/main/scala/is/hail/expr/ir/lowering/LowerTableIR.scala
Due: ruff, ruff-format

[query] support importing empty JSON objects (#14202)
  hail/src/main/scala/is/hail/expr/AnnotationImpex.scala
  hail/src/test/scala/is/hail/methods/ExprSuite.scala
Due: none

Fix an error in the MatrixTable tutorial (#14239)
  hail/python/hail/docs/tutorials/07-matrixtable.ipynb
Due: none

addressing more comments
  batch/batch/batch.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

don’t generate sub-methods for small lets
  hail/src/main/scala/is/hail/expr/ir/Emit.scala
Due: none

also error if we try to create a bucket
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[fs] basic sync tool
  hail/Makefile
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/plan.py
  hail/python/hailtop/aiotools/sync.py
  hail/python/hailtop/hailctl/__main__.py
  hail/python/hailtop/hailctl/fs/__init__.py
  hail/python/hailtop/hailctl/fs/cli.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
  hail/python/test/hailtop/inter_cloud/test_fs.py
  hail/python/test/hailtop/inter_cloud/test_hailctl_fs_sync.py
Due: ruff, ruff-format

initial config change
  Makefile
  pyproject.toml
Due: none

Add type annotations to MatrixTable.show signature
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Refactor matrix table show
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Add matrix table show unit tests
  hail/python/test/hail/matrixtable/test_matrix_table.py
Due: ruff, ruff-format

Refactor table show
  hail/python/hail/table.py
Due: ruff, ruff-format

Update MatrixTable.show docstring
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

Matrix table show new implementation
  hail/python/hail/matrixtable.py
Due: ruff, ruff-format

[gear] Change deadlock logs from warning to info
  gear/gear/database.py
Due: ruff, ruff-format, pyright

lots of comments addressed
  batch/batch/batch.py
  batch/batch/driver/canceller.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/validate.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_accounts.py
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
Due: ruff, ruff-format, pyright

base hail folder
  hail/python/hail/__init__.py
  hail/python/hail/context.py
  hail/python/hail/matrixtable.py
  hail/python/hail/table.py
Due: ruff, ruff-format

backend
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  pyproject.toml
Due: ruff, ruff-format

docs
  hail/python/hail/docs/conf.py
  pyproject.toml
Due: ruff, ruff-format

[batch] Drop redunant port mapping on worker container run
  batch/batch/cloud/azure/driver/create_instance.py
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

experimental
  hail/python/hail/experimental/__init__.py
  hail/python/hail/experimental/datasets.py
  hail/python/hail/experimental/db.py
  hail/python/hail/experimental/expressions.py
  hail/python/hail/experimental/filtering_allele_frequency.py
  hail/python/hail/experimental/function.py
  hail/python/hail/experimental/haplotype_freq_em.py
  hail/python/hail/experimental/import_gtf.py
  hail/python/hail/experimental/interact.py
  hail/python/hail/experimental/ld_score_regression.py
  hail/python/hail/experimental/ldscore.py
  hail/python/hail/experimental/ldscsim.py
  hail/python/hail/experimental/lens.py
  hail/python/hail/experimental/loop.py
  hail/python/hail/experimental/pca.py
  hail/python/hail/experimental/phase_by_transmission.py
  hail/python/hail/experimental/plots.py
  hail/python/hail/experimental/sparse_mt/__init__.py
  hail/python/hail/experimental/sparse_mt/densify.py
  hail/python/hail/experimental/table_ndarray_utils.py
  hail/python/hail/experimental/tidyr.py
  hail/python/hail/experimental/time.py
  hail/python/hail/experimental/write_multiple.py
  pyproject.toml
Due: ruff, ruff-format

[batch] Do not log user errors as exceptions
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

add ability to create jobs
  batch/batch/front_end/front_end.py
  batch/batch/front_end/validate.py
  batch/test/test_batch.py
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/globals.py
Due: ruff, ruff-format, pyright

need to ensure something exists in that bucket
  hail/python/test/hailtop/inter_cloud/test_fs.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
