Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[query|batch] collect partition results as they complete
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/requests.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hailtop/batch_client/types.py
  hail/python/hailtop/utils/time.py
  hail/python/test/hailtop/utils/test_time.py
Due: ruff, ruff-format, pyright

whitespace noop
  ci/ci/templates/pr.html
Due: none

revert noop
  ci/ci/templates/pr.html
Due: none

fmt
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
Due: none

fix sql syntax errors
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

Apply suggestions from code review
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

[query|batch] collect partition results as they complete (#15316)
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/services/BatchClient.scala
  hail/hail/src/is/hail/services/requests.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/hail/test/src/is/hail/services/BatchClientSuite.scala
  hail/python/hailtop/batch_client/types.py
  hail/python/hailtop/utils/time.py
  hail/python/test/hailtop/utils/test_time.py
Due: ruff, ruff-format, pyright

avoid jackson-databind version conflict
  hail/hail/utils/package.mill
Due: none

[compiler] avoid jackson-databind version conflict (#15321)
  hail/hail/utils/package.mill
Due: none

[qob] configurable max read parallelism
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/tools/__init__.py
  hail/python/benchmark/tools/impex.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/context.py
  hail/python/hail/utils/__init__.py
  hail/python/hail/utils/misc.py
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

Miscellaneous updates responding to review
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

[qob] Expose driver maximum read parallelism (#15322)
  hail/hail/src/is/hail/HailFeatureFlags.scala
  hail/hail/src/is/hail/backend/driver/BatchQueryDriver.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/test/src/is/hail/backend/ServiceBackendSuite.scala
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/tools/__init__.py
  hail/python/benchmark/tools/impex.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/context.py
  hail/python/hail/utils/__init__.py
  hail/python/hail/utils/misc.py
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[compiler] add `HailClassLoader` to `ContextRDD` Element Type (#15305)
  hail/hail/src/is/hail/asm4s/package.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/backend/spark/package.scala
  hail/hail/src/is/hail/expr/ir/MatrixValue.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/io/CodecSpec.scala
  hail/hail/src/is/hail/io/vcf/LoadVCF.scala
  hail/hail/src/is/hail/linalg/BlockMatrix.scala
  hail/hail/src/is/hail/methods/IBD.scala
  hail/hail/src/is/hail/methods/LinearRegression.scala
  hail/hail/src/is/hail/methods/LogisticRegression.scala
  hail/hail/src/is/hail/methods/MatrixExportEntriesByCol.scala
  hail/hail/src/is/hail/methods/Nirvana.scala
  hail/hail/src/is/hail/methods/PCA.scala
  hail/hail/src/is/hail/methods/PoissonRegression.scala
  hail/hail/src/is/hail/methods/Skat.scala
  hail/hail/src/is/hail/methods/VEP.scala
  hail/hail/src/is/hail/rvd/AbstractRVDSpec.scala
  hail/hail/src/is/hail/rvd/KeyedRVD.scala
  hail/hail/src/is/hail/rvd/RVD.scala
  hail/hail/src/is/hail/sparkextras/ContextRDD.scala
  hail/hail/src/is/hail/sparkextras/RepartitionedOrderedRDD2.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDD.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDDRegionValue.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichContextRDDRow.scala
  hail/hail/src/is/hail/sparkextras/implicits/RichRDD.scala
Due: none

[ci] start tracking retried tests (#15326)
  build.yaml
  ci/ci/ci.py
  ci/sql/007-retried-tests.sql
  ci/sql/estimated-current.sql
Due: ruff, ruff-format, pyright

minor fixes and tailwind pinning
  auth/Dockerfile
  batch/Dockerfile
  ci/Dockerfile
  services/ui/src/ci/flaky_tests.tsx
Due: none

Expandable rows to list failures
  batch/batch/front_end/react/src/flaky_tests.tsx
  ci/ci/templates/flaky_tests.html
Due: none

refactor api to return raw rows
  batch/batch/front_end/react/src/flaky_tests.tsx
  ci/ci/ci.py
  ci/ci/templates/openapi.yaml
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

switch CI to uv build
  ci/Dockerfile
  ci/MANIFEST.in
  ci/setup.py
Due: ruff, ruff-format, pyright

time range selector
  ci/ci/templates/flaky_tests.html
  devbin/dev_proxy.py
  services/ui/src/ci/flaky_tests.tsx
Due: ruff, ruff-format, pyright

add simple charts
  batch/batch/front_end/react/package-lock.json
  batch/batch/front_end/react/package.json
  batch/batch/front_end/react/src/flaky_tests.tsx
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

move react packages to shared directory
  .gitignore
  Makefile
  build.yaml
  dev-docs/services/ui/README.md
  services/ui/package-lock.json
  services/ui/package.json
  services/ui/src/ci/flaky_tests.tsx
  services/ui/tsconfig.json
Due: none

make ci installable again
  ci/pyproject.toml
Due: none

reactive ci dashboard
  .gitignore
  Makefile
  batch/batch/front_end/react/package.json
  batch/batch/front_end/react/src/flaky_tests.tsx
  batch/batch/front_end/react/tsconfig.json
  build.yaml
  ci/Dockerfile
  ci/MANIFEST.in
  ci/ci/ci.py
  ci/ci/templates/flaky_tests.html
  devbin/dev_proxy.py
  web_common/tailwind.config.js
  web_common/web_common/templates/layout.html
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

missing files
  batch/batch/front_end/react/package-lock.json
  devbin/dev_proxy.py
  web_common/tailwind.config.js
Due: ruff, ruff-format, pyright

layout tweaks, test data adjustments
  batch/batch/front_end/react/src/flaky_tests.tsx
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

devserver exception for jinja2-ing /flaky_tests
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

table styles
  Makefile
  services/ui/src/ci/flaky_tests.tsx
Due: none

retries by day chart
  devbin/dev_proxy.py
  services/ui/src/ci/flaky_tests.tsx
Due: ruff, ruff-format, pyright

more test data, navigation entry
  devbin/dev_proxy.py
  services/ui/src/ci/flaky_tests.tsx
  web_common/web_common/templates/header.html
  web_common/web_common/templates/new_header.html
Due: ruff, ruff-format, pyright

Apply suggested changes
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query/vds] Actually use _assert_type in `read_vds`
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

Initial feedback
  build.yaml
  ci/ci/ci.py
  ci/ci/templates/openapi.yaml
  devbin/dev_proxy.py
  services/ui/package-lock.json
  services/ui/src/ci/flaky_tests.tsx
Due: ruff, ruff-format, pyright

[deps] upgrade uv to 0.10.x series
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

replace hardcoded test data with generator
  devbin/dev_proxy.py
Due: ruff, ruff-format, pyright

total retries counter
  services/ui/src/ci/flaky_tests.tsx
Due: none

fix check_services
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

restore styles to ci package
  ci/pyproject.toml
Due: none

fix missing CI styles
  ci/ci/ci.py
  devbin/dev_proxy.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright
