Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

ruff 2
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

zappiness
  batch/batch/front_end/templates/openapi.yaml
Due: none

[auth] Validate next page urls (#14776)
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

facepalm
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

test annotations
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

Annotate all batch apis and pages
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

allow googleapis.com for icons
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

more origins
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

unsafe inline scripts
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

some juggling
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

unsafe-eval
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

move to web_common
  batch/batch/front_end/front_end.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

apply to auth, ci
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

Changed 'deleted' to new 'inactive' state; made placeholder for 'inactive' table in case we want to avoid changing the users table schema.
  auth/sql/estimated-current.sql
Due: none

rename placeholder table
  auth/sql/estimated-current.sql
Due: none

templated version
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
Due: ruff, ruff-format, pyright

ruff
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

ruffled
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

unsafe only on billing_projects
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

update authorized users
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

[batch] Openapi doc for batch service (#14777)
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  web_common/web_common/templates/swagger.html
Due: ruff, ruff-format, pyright

[ci] check-hail without mill server
  Makefile
Due: none

Added update for active users; added HTTP errror for inactive users.
  auth/auth/auth.py
  auth/sql/estimated-current.sql
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

Fixed SQL even to actually check for active users in WHERE
  auth/sql/estimated-current.sql
Due: none

Changed inactivity timeout period to be 60 days
  auth/sql/estimated-current.sql
Due: none

Removed redundant if statement check
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

[ci] don't check scala code with serverised mill (#14787)
  Makefile
Due: none

don't hardcode paths to test resources, cont'd
  hail/src/test/scala/is/hail/expr/ir/IRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/MatrixIRSuite.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
  hail/src/test/scala/is/hail/expr/ir/TableIRSuite.scala
  hail/src/test/scala/is/hail/io/compress/BGzipCodecSuite.scala
  hail/src/test/scala/is/hail/methods/LocalLDPruneSuite.scala
  hail/src/test/scala/is/hail/variant/ReferenceGenomeSuite.scala
Due: none

Add registry connection steps to certificate cycling instructions
  dev-docs/services/letsencrypt.md
Due: none

[batch / auth / ci] Add standard security headers (#14782)
  auth/auth/auth.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

[vds/docs] Clarify that VDS write can take MatrixTable write parameters
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

Added SQL, build.yaml modification for database migration
  batch/sql/add-users-last-active.sql
  build.yaml
Due: none

poc adding userdata
  batch/batch/driver/main.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

fixup
  batch/batch/driver/main.py
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format, pyright

[ci] Update authorized users (#14785)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

Slightly more selective
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

[query] fix "slf4j: failed to load class \"org.slf4j.impl.StaticLoggerBinder\""
  hail/.mill-version
  hail/build.mill
  hail/src/main/scala/is/hail/services/tls/package.scala
Due: none

Change last_active data type to DATETIME
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: none

ruff
  hail/python/hailtop/hail_logging.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
