Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

ugh
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

updates
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/python/hail/expr/functions.py
Due: ruff, ruff-format

codegen all value ir node classes
  hail/build.mill
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Children.scala
  hail/hail/src/is/hail/expr/ir/Copy.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/functions/ArrayFunctions.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/test/src/is/hail/expr/ir/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/defs/EncodedLiteralSuite.scala
Due: none

images too
  batch/batch/front_end/front_end.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

Ignore DWS
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

allow startup without price updates
  batch/batch/cloud/gcp/driver/billing_manager.py
Due: ruff, ruff-format, pyright

Roll back DWS defined duration change
  batch/batch/cloud/gcp/driver/pricing.py
Due: ruff, ruff-format, pyright

Preliminary commit for GPU configuration
  hail/python/hailtop/batch/job.py
Due: ruff, ruff-format

Allow new SKUs with an existing product name to not break resource refresh
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

Catching None case for Kubernets secret
  gear/gear/auth_utils.py
Due: ruff, ruff-format, pyright

Switching to environ.get() to avoid raising KeyError; defaults to 1 day
  gear/gear/auth_utils.py
Due: ruff, ruff-format, pyright

Proper try-catch and error message for bad environment variable; update to deployment.yaml accordingly.
  auth/deployment.yaml
  gear/gear/auth_utils.py
Due: ruff, ruff-format, pyright

Revert formatting change that is the only CPG-local change in this file
  batch/batch/globals.py
Due: ruff, ruff-format, pyright

[batch] Allow startup if price-refreshing fails (#14815)
  batch/batch/cloud/gcp/driver/billing_manager.py
Due: ruff, ruff-format, pyright

defend against duplicates in the same update cycle
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

Clearer message
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

[hailtop] Add job groups to hailtop.batch
  hail/python/hailtop/batch/__init__.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch.py
  hail/python/hailtop/batch/job.py
  hail/python/hailtop/batch/job_group.py
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

fixing error output formatting
  gear/gear/auth_utils.py
Due: ruff, ruff-format, pyright

ruff
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

Treat prohibited like unauthorized when trying to impersonating user
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

catch exceptions during maybe_authenticated
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

add temporary make target to get unblocked
  hail/Makefile
Due: none

More specific error catch; add a comment
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

undo previous fix attempt
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

[auth] Allow re-login after session timeout (#14818)
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

[hailctl] batch submit fixes CHANGELOG: Fix many issues, including (hail#14274), with hailctl batch submit introduced in 0.2.127. Fixes #14274, Replaces #14351 (authored by @jigold)
  build.yaml
  hail/python/hailtop/aiotools/fs/fs.py
  hail/python/hailtop/batch/batch.py
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/__init__.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Fixing DATETIME default values
  auth/auth/auth.py
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: ruff, ruff-format, pyright

DATETIME millisecond precision
  auth/sql/estimated-current.sql
  batch/sql/add-users-last-active.sql
Due: none

[batch] Allow startup if price-refreshing fails (#14816)
  batch/batch/driver/billing_manager.py
Due: ruff, ruff-format, pyright

correct placement of migration in build.yaml
  build.yaml
Due: none

correct placement of add-users-last-active.sql
  auth/sql/add-users-last-active.sql
Due: none

initial commit for new machine types
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

[hailtop.aiotools] Make copying resilient to minimal permissions
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[batch] Fix swagger page (#14819)
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/openapi.yaml
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

Added single-GPU machines to list of available machines; added t4 as option in accelerator_from_sku()
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

remove placeholder code
  hail/python/hailtop/batch/job.py
Due: ruff, ruff-format

[query] Remove `lookupOrCompileCachedFunction` from `Backend` interface (#14691)
  hail/hail/src/is/hail/backend/Backend.scala
  hail/hail/src/is/hail/backend/ExecuteContext.scala
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/CompileAndEvaluate.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/Interpret.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/agg/Extract.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/utils/Cache.scala
  hail/hail/test/src/is/hail/TestUtils.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/EmitStreamSuite.scala
Due: none

Making timeout windown configurable, defaulting to 60 days
  auth/deployment.yaml
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
