Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

ignore doc files and always run merge_code
  build.yaml
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

[batch] Improve inactive client UX (#15298)
  batch/test/test_batch.py
  hail/python/hail/context.py
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch_client/aioclient.py
Due: ruff, ruff-format, pyright

parameterize repo prefix, not hard coded
  build.yaml
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

add .git to various git-using steps
  build.yaml
Due: none

refactor scope and cloud filtering
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

less opaque nomenclature
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

Add readme as a step dependency, remove special case "ignore README changes" rule
  build.yaml
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

use n/a instead of blank when no namespace was created
  ci/ci/github.py
Due: ruff, ruff-format, pyright

remove ott dataclass
  ci/ci/build_selection.py
  ci/ci/github.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

remove weird sort
  ci/ci/build_selection.py
  ci/ci/github.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

simplify set juggling
  ci/ci/github.py
Due: ruff, ruff-format, pyright

simplify valid_step function
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

alwaysRun should _always_ run
  ci/ci/build_selection.py
  ci/ci/github.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

satisy linter with reduced exception noise
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[query] Reduce redundant data writing as part of relational indexes
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/io/index/IndexReader.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
  hail/hail/src/is/hail/io/index/StagedIndexReader.scala
  hail/hail/src/is/hail/rvd/AbstractRVDSpec.scala
Due: none

pip and npm updates
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  services/ui/package-lock.json
  web_common/pinned-requirements.txt
Due: none

lint
  hail/hail/src/is/hail/expr/ir/MatrixWriter.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableWriter.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

bump ubuntu base to noble-20260410
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

[docs] Repo-specific claude skills to help with batch and batch-dev activities (#15351)
  .claude/skills/hail-batch-dev.md
  .claude/skills/hail-batch.md
Due: none

oopsie in batch tests
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

satisfy pyright in hailtop python files
  hail/python/hailtop/aiocloud/aiogoogle/client/__init__.py
  hail/python/hailtop/aiocloud/aiogoogle/client/bigquery_client.py
  hail/python/hailtop/fs/__init__.py
Due: ruff, ruff-format

run tests via mill in ci
  build.yaml
  hail/hail/package.mill
  hail/hail/test/src/is/hail/asm4s/ASM4SSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/io/fs/FSSuite.scala
  hail/hail/test/src/is/hail/methods/LocalLDPruneSuite.scala
  hail/hail/test/src/is/hail/variant/ReferenceGenomeSuite.scala
  hail/hail/utils/src/is/hail/utils/package.scala
Due: none

exclude runIfRequested jobs during test runs
  ci/ci/build_selection.py
  ci/unit-test/test_build_selection.py
Due: ruff, ruff-format, pyright

[query] reduce ir size by 8N
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
Due: none

[query] Add metadata to end of index files
  hail/hail/src/is/hail/expr/ir/AbstractMatrixTableSpec.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

Add self contained index switches
  hail/hail/src/is/hail/expr/ir/AbstractMatrixTableSpec.scala
  hail/hail/src/is/hail/io/bgen/StagedBGENReader.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

switch on selfcontained
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

more self contained
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

more self contained
  hail/hail/src/is/hail/io/bgen/BgenSettings.scala
  hail/hail/src/is/hail/io/index/IndexReader.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
  hail/hail/src/is/hail/rvd/AbstractRVDSpec.scala
  hail/hail/test/src/is/hail/io/IndexSuite.scala
Due: none

read inline metadata
  hail/hail/src/is/hail/io/index/IndexReader.scala
Due: none

self contained readers?
  hail/hail/src/is/hail/io/index/IndexReader.scala
  hail/hail/src/is/hail/io/index/StagedIndexReader.scala
Due: none

Synchronously download file chunks to avoid timeouts
  hail/python/hailtop/aiotools/fs/copier.py
Due: ruff, ruff-format

lint
  hail/hail/src/is/hail/io/index/IndexReader.scala
  hail/hail/src/is/hail/io/index/StagedIndexReader.scala
Due: none

self contained fix for tests
  hail/hail/src/is/hail/io/index/IndexWriter.scala
Due: none

lint
  hail/hail/src/is/hail/expr/ir/AbstractMatrixTableSpec.scala
  hail/hail/src/is/hail/io/index/IndexReader.scala
  hail/hail/src/is/hail/io/index/IndexWriter.scala
  hail/hail/src/is/hail/io/index/StagedIndexReader.scala
  hail/hail/test/src/is/hail/io/IndexSuite.scala
Due: none

Fixes
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/io/index/StagedIndexReader.scala
Due: none

unused functions
  hail/hail/src/is/hail/expr/ir/AbstractMatrixTableSpec.scala
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
