Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

[fs] Drop support for the hail-az scheme
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/config/user_config.py
  hail/python/test/hail/fs/test_worker_driver_fs.py
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  infra/azure/modules/batch/outputs.tf
  infra/azure/modules/ci/main.tf
Due: ruff, ruff-format

[rotate_keys.py] make deletion non-interactive as well (#14208)
  devbin/rotate_keys.py
Due: ruff, ruff-format, pyright

fix: hail/python/dev/pinned-requirements.txt to reduce vulnerabilities
  hail/python/dev/pinned-requirements.txt
Due: none

[hailtop] allow configuration of default HTTP timeout (#14206)
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/python/hailtop/httpx.py
Due: ruff, ruff-format

[vds/combiner] Better calculation of ref_block_max_length (#14178)
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
  hail/python/hail/vds/variant_dataset.py
Due: ruff, ruff-format

working
  docker/hailgenetics/saige/Dockerfile
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/io.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

fix: gear/requirements.txt to reduce vulnerabilities
  gear/requirements.txt
Due: none

[batch] make ubuntu:20.04, 22.04, 24.04 public images
  batch/batch/publicly_available_images.py
  batch/batch/worker/worker.py
  build.yaml
  docker/Makefile
  docker/hailgenetics/Makefile
  docker/hailgenetics/mirror_images.sh
  docker/mirror_images.sh
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/publicly_available_images.py
Due: ruff, ruff-format, pyright

[hailtop.batch] add default_regions to hb.Batch, improve docs
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/batch.py
  hail/python/hailtop/batch/docs/service.rst
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

fix: web_common/requirements.txt to reduce vulnerabilities
  web_common/requirements.txt
Due: none

fix: batch/requirements.txt to reduce vulnerabilities
  batch/requirements.txt
Due: none

fix: hail/python/dev/requirements.txt to reduce vulnerabilities
  hail/python/dev/requirements.txt
Due: none

fix: gear/pinned-requirements.txt to reduce vulnerabilities
  gear/pinned-requirements.txt
Due: none

fix: hail/python/hailtop/pinned-requirements.txt to reduce vulnerabilities
  hail/python/hailtop/pinned-requirements.txt
Due: none

[batch] Update IP Fee pricing for February 2024 price increase
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resources.py
  batch/sql/update-ip-fee-resource.py
  build.yaml
  hail/python/hailtop/batch/docs/service.rst
Due: ruff, ruff-format, pyright

wip
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/phenotype.py
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
  hail/python/test/hailtop/saige/test_saige.py
Due: ruff, ruff-format

[batch] Finalize job groups in database
  batch/batch/batch.py
  batch/batch/front_end/front_end.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  build.yaml
Due: ruff, ruff-format, pyright

fix
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

dont lock primary key updates
  batch/sql/finalize-job-groups.sql
Due: none

fix foreign key constraint
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix foreign key constraint for update id
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

add missing update_id column to job groups table
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

last fix?
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

add back batch updates fields
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix cancel child job groups
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fix cancel job group
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

remove unique key on start_job_id
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

get rid of extra complexity
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

fixup estimated-current.sql
  batch/sql/estimated-current.sql
Due: none

add new index
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
Due: none

[compiler] Add `If` and `MakeStruct` Simplifications
  hail/src/main/scala/is/hail/expr/ir/Simplify.scala
  hail/src/test/scala/is/hail/expr/ir/SimplifySuite.scala
Due: none

[query] avoid code explosion for trivial upcasts
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
Due: none

[vds/combiner] Add sanity check on uniqueness of gvcf paths and sample names
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

Don't need testing argument
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

fix
  hail/src/main/scala/is/hail/expr/ir/PruneDeadFields.scala
Due: none

[dependencies] mass update
  batch/pinned-requirements.txt
  benchmark/python/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

fix tests and docs
  hail/python/hailtop/batch/backend.py
  hail/python/hailtop/batch/docs/service.rst
  hail/python/test/hailtop/batch/test_batch_service_backend.py
Due: ruff, ruff-format

[vds/combiner] Add sanity check on uniqueness of gvcf paths/sample names (#14207)
  hail/python/hail/vds/combiner/variant_dataset_combiner.py
Due: ruff, ruff-format

[batch] Add metadata server to batch jobs in GCP (#14019)
  batch/batch/cloud/azure/worker/worker_api.py
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/worker/metadata_server.py
  batch/batch/cloud/gcp/worker/worker_api.py
  batch/batch/globals.py
  batch/batch/worker/worker.py
  batch/batch/worker/worker_api.py
  batch/test/test_batch.py
  build.yaml
  ci/Dockerfile.ci-utils
  hail/python/hailtop/aiocloud/aiogoogle/__init__.py
  hail/python/hailtop/aiocloud/aiogoogle/client/__init__.py
  hail/python/hailtop/aiocloud/aiogoogle/client/metadata_server_client.py
  hail/python/hailtop/aiocloud/aiogoogle/credentials.py
Due: ruff, ruff-format, pyright

fix: hail/python/pinned-requirements.txt to reduce vulnerabilities
  hail/python/pinned-requirements.txt
Due: none
