Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

move build ui definition up
  build.yaml
Due: none

Add check for local file dest
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/router_fs.py
  hail/python/test/hailtop/inter_cloud/conftest.py
Due: ruff, ruff-format

register static js
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

refactor: invalid `session_max_age_secs` is silently ignored, causing wrong session lifetime
  gear/gear/auth_utils.py
Due: ruff, ruff-format, pyright

fix make for devserver, batch deploy
  Makefile
Due: none

Fix type assertions for old path
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/fs/copier.py
Due: ruff, ruff-format

cosmetic updates
  batch/batch/front_end/front_end.py
  devbin/dev_proxy.py
  hail/python/hailtop/batch_client/types.py
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/JobSpecPanel.tsx
Due: ruff, ruff-format, pyright

fix all-attempt-tabs-the-same bug
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
Due: none

ignore impossible input output containers
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
Due: none

gantt improvements
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/shared/GanttChart.tsx
Due: none

fix graph layout
  services/ui/src/shared/GanttChart.tsx
Due: none

filter prior attempts toggle
  services/ui/src/batch/components/JobPage.tsx
Due: none

axis labels
  services/ui/src/shared/GanttChart.tsx
Due: none

[query] generate lowerable code in spark backend when `lower=1` (#15365)
  hail/python/hail/backend/spark_backend.py
Due: ruff, ruff-format

timeline height, remove y axis line
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/shared/GanttChart.tsx
Due: none

better tab icons
  services/ui/src/batch/components/JobPage.tsx
Due: none

make timeline scheduling aware
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/shared/GanttChart.tsx
Due: none

properly track updates to logs
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
  services/ui/src/batch/components/LogViewer.tsx
Due: none

treat completed current attempts as errors
  services/ui/src/batch/components/JobPage.tsx
Due: none

job details breadcrumbs
  services/ui/src/batch/components/JobPage.tsx
Due: none

lower TableKeyByAndAggregate before LowerAndExecuteShuffles
  hail/hail/src/is/hail/expr/ir/DistinctlyKeyed.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/CanLowerEfficiently.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/python/hail/ir/table_ir.py
Due: ruff, ruff-format

[compiler] lower TableKeyByAndAggregate before LowerAndExecuteShuffles (#15311)
  hail/hail/src/is/hail/expr/ir/DistinctlyKeyed.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/CanLowerEfficiently.scala
  hail/hail/src/is/hail/expr/ir/lowering/ExecuteRelational.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/python/hail/ir/table_ir.py
Due: ruff, ruff-format

[query] Fix zero-length NDArraySlice handling.
  hail/hail/src/is/hail/expr/ir/ndarrays/EmitNDArray.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

[query] fix ignored spark conf on dataproc (#15361)
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/test/src/is/hail/HailSuite.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/local_backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/backend/spark_backend.py
  hail/python/hail/context.py
  hail/python/hail/experimental/context.py
  hail/python/hail/methods/qc.py
  hail/python/test/hail/backend/test_spark_backend.py
Due: ruff, ruff-format

[compiler] remove LiftMeOut
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/Compilable.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/LiftRelationalValues.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/python/hail/ir/__init__.py
  hail/python/hail/ir/ir.py
  hail/python/hail/matrixtable.py
  hail/python/hail/table.py
  hail/python/test/hail/test_ir.py
Due: ruff, ruff-format

give job private instances more time
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

remove appsec review from test-only files
  CODEOWNERS
Due: none

[query] normalize names before lowering
  hail/hail/package.mill
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/invariant/package.scala
  hail/hail/test/src/is/hail/expr/ir/PruneSuite.scala
  hail/hail/test/src/is/hail/expr/ir/SimplifySuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
  hail/hail/test/src/is/hail/expr/ir/implicits/RichBaseIR.scala
  hail/hail/test/src/is/hail/expr/ir/implicits/forTesting.scala
Due: none

[query] Fix zero-length NDArraySlice handling. (#15369)
  hail/hail/src/is/hail/expr/ir/ndarrays/EmitNDArray.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
Due: none

improve handling of not-yet-started jobs
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
Due: none

fix page update behavior
  services/ui/src/batch/components/AttemptPanel.tsx
  services/ui/src/batch/components/JobPage.tsx
Due: none

hide creating bar if < 1000ms
  services/ui/src/batch/components/JobPage.tsx
Due: none

fix tooltip render area
  services/ui/src/shared/GanttChart.tsx
Due: none

[compiler] eliminate hasStreamParam branching by reusing produceIterator
  hail/hail/package.mill
  hail/hail/src/is/hail/asm4s/AsmFunction.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/expr/ir/streams/EmitStream.scala
  hail/hail/src/is/hail/types/physical/stypes/SingleCodeSCode.scala
  hail/hail/test/resources/log4j2-test.properties
Due: none

separate network upload / download
  services/ui/src/batch/components/ResourceCharts.tsx
Due: none

make resource charts match plotly
  services/ui/src/batch/components/ResourceCharts.tsx
Due: none

fix cost display
  services/ui/src/batch/components/JobPage.tsx
Due: none

Fix directory expansion bug
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

[compiler] remove LiftMeOut (#15299)
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Binds.scala
  hail/hail/src/is/hail/expr/ir/Compilable.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/LiftRelationalValues.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/Invariant.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/python/hail/ir/__init__.py
  hail/python/hail/ir/ir.py
  hail/python/hail/matrixtable.py
  hail/python/hail/table.py
  hail/python/test/hail/test_ir.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
