Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff --fix --show-fixes
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true
        exclude: hail/python/(hail|test)
        stages:
          - pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [file] # By default only runs on .jinja files, this disables that
        files: \.html$

sleep for debugging
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

sleep debugging in prestart hook
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

Fixed machine_type bug
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

Remove debugging
  batch/Dockerfile.worker
Due: none

Remove prestart hook sleep
  batch/batch/worker/worker.py
Due: ruff, ruff-format, pyright

[query] make local and remote tmp settable on backend
  hail/hail/src/is/hail/backend/api/Py4JBackendApi.scala
  hail/python/hail/backend/backend.py
  hail/python/hail/backend/py4j_backend.py
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
Due: ruff, ruff-format

[query] Various Benchmark Suite Improvements
  hail/python/benchmark/conftest.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
  hail/python/benchmark/hail/conftest.py
  hail/python/benchmark/hail/fixtures.py
  hail/python/benchmark/hail/utils.py
  hail/python/benchmark/tools/__init__.py
  hail/python/pytest.ini
  hail/scripts/benchmark_in_batch.py
Due: ruff, ruff-format, pyright

[query] Lowering + Optimisation with implict timing context
  hail/hail/src/is/hail/backend/local/LocalBackend.scala
  hail/hail/src/is/hail/backend/service/ServiceBackend.scala
  hail/hail/src/is/hail/backend/spark/SparkBackend.scala
  hail/hail/src/is/hail/expr/ir/BaseIR.scala
  hail/hail/src/is/hail/expr/ir/Compilable.scala
  hail/hail/src/is/hail/expr/ir/Compile.scala
  hail/hail/src/is/hail/expr/ir/ExtractIntervalFilters.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/ForwardRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/NestingDepth.scala
  hail/hail/src/is/hail/expr/ir/NormalizeNames.scala
  hail/hail/src/is/hail/expr/ir/Optimize.scala
  hail/hail/src/is/hail/expr/ir/PruneDeadFields.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/lowering/EvalRelationalLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/IRState.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerAndExecuteShuffles.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rule.scala
  hail/hail/src/is/hail/expr/ir/lowering/Rules.scala
  hail/hail/src/is/hail/utils/richUtils/Implicits.scala
  hail/hail/src/is/hail/utils/richUtils/RichPredicate.scala
  hail/hail/test/src/is/hail/expr/ir/ForwardLetsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/analyses/SemanticHashSuite.scala
Due: none

[benchmark] notebook for interactively computing benchmark config
  hail/notebooks/benchmark/.gitignore
  hail/notebooks/benchmark/minimal-detectable-slowdown.ipynb
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/tools/compare.py
  hail/python/benchmark/tools/impex.py
  hail/python/benchmark/tools/plotting.py
  hail/python/benchmark/tools/statistics.py
  hail/python/benchmark/tools/summarize.py
  hail/python/benchmark/tools/visualize.py
  hail/python/hail/expr/__init__.py
Due: ruff, ruff-format, pyright

[query] Benchmark configurations
  hail/python/benchmark/hail/benchmark_benchmark_analysis.py
  hail/python/benchmark/hail/benchmark_combiner.py
  hail/python/benchmark/hail/benchmark_linalg.py
  hail/python/benchmark/hail/benchmark_matrix_table.py
  hail/python/benchmark/hail/benchmark_methods.py
  hail/python/benchmark/hail/benchmark_sentinel.py
  hail/python/benchmark/hail/benchmark_shuffle.py
  hail/python/benchmark/hail/benchmark_table.py
Due: ruff, ruff-format, pyright

Remove misc debugging code; revert to non-test worker image version.
  batch/batch/worker/worker.py
  batch/build-batch-worker-image-startup-gcp.sh
  batch/gcp-create-worker-image.sh
Due: ruff, ruff-format, pyright

additional cleanup; re-adding erroneously deleted outputting config.json to logs.
  batch/batch/worker/worker.py
  batch/gcp-create-worker-image.sh
Due: ruff, ruff-format, pyright

Use official action
  .github/workflows/trivy-scan.yml
Due: none

some small tidying up
  .github/workflows/trivy-scan.yml
Due: none

Add image name property
  .github/workflows/trivy-scan.yml
Due: none

Remove sarif upload for now
  .github/workflows/trivy-scan.yml
Due: none

Update trivy scan action. First just check auth can be configured
  .github/workflows/trivy-scan.yml
Due: none

upload artifacts
  .github/workflows/trivy-scan.yml
Due: none

sarif upload
  .github/workflows/trivy-scan.yml
Due: none

files not dirs
  .github/workflows/trivy-scan.yml
Due: none

combine sarif before upload
  .github/workflows/trivy-scan.yml
Due: none

sanity check
  .github/workflows/trivy-scan.yml
Due: none

embed image name attempt 2
  .github/workflows/trivy-scan.yml
Due: none

action permissions
  .github/workflows/trivy-scan.yml
Due: none

Fixup input processing
  .github/workflows/trivy-scan.yml
Due: none

trigger once
  .github/workflows/trivy-scan.yml
Due: none

add trivy install and scan
  .github/workflows/trivy-scan.yml
Due: none

fixup artifact naming
  .github/workflows/trivy-scan.yml
Due: none

use sa key for fork testing
  .github/workflows/trivy-scan.yml
Due: none

action fixup
  .github/workflows/README.md
  .github/workflows/trivy-scan.yml
Due: none

Fix docs, remove unused permission
  .github/workflows/README.md
  .github/workflows/trivy-scan.yml
Due: none

Trivy scanning and upload action
  .github/workflows/README.md
  .github/workflows/trivy-scan.yml
Due: none

sarif uploader fixup
  .github/workflows/trivy-scan.yml
Due: none
