Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[ukbb-rg] Remove ukbb-rg from the main hail project. (#15261)
  ci/ci/envoy.py
  dev-docs/hail-overview.md
  dev-docs/services/tls.md
  infra/k8s/ukbb/main.tf
  letsencrypt/subdomains.txt
  ukbb-rg/.gitignore
  ukbb-rg/Dockerfile.browser
  ukbb-rg/Dockerfile.static
  ukbb-rg/Makefile
  ukbb-rg/README
  ukbb-rg/deployment.yaml
  ukbb-rg/shiny-server.conf
  ukbb-rg/static.nginx.conf
Due: ruff, ruff-format, pyright

remove leftover changes from previous ideas
  auth/auth/driver/driver.py
  batch/batch/cloud/gcp/driver/create_instance.py
Due: ruff, ruff-format, pyright

remove leftover changes from previous ideas
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

Ignore user-applied changes to remote repo auth
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Update deploy instructions with docker login steps
  infra/gcp/README.md
Due: none

[query] replace ApplySeeded with RNGSplitStatic + Apply (#15254)
  hail/hail/ir-gen/src/Main.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/FoldConstants.scala
  hail/hail/src/is/hail/expr/ir/InferType.scala
  hail/hail/src/is/hail/expr/ir/Interpretable.scala
  hail/hail/src/is/hail/expr/ir/Parser.scala
  hail/hail/src/is/hail/expr/ir/Pretty.scala
  hail/hail/src/is/hail/expr/ir/Requiredness.scala
  hail/hail/src/is/hail/expr/ir/Simplify.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TypeCheck.scala
  hail/hail/src/is/hail/expr/ir/analyses/SemanticHash.scala
  hail/hail/src/is/hail/expr/ir/functions/Functions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerBlockMatrixIR.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/FoldConstantsSuite.scala
  hail/hail/test/src/is/hail/expr/ir/FunctionSuite.scala
  hail/hail/test/src/is/hail/expr/ir/IRSuite.scala
  hail/hail/test/src/is/hail/expr/ir/MatrixIRSuite.scala
  hail/python/hail/expr/functions.py
  hail/python/hail/ir/__init__.py
  hail/python/hail/ir/ir.py
  hail/python/test/hail/test_ir.py
Due: ruff, ruff-format

filter by exit code
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v2.py
  batch/batch/front_end/static/js/table_search.js
  batch/batch/front_end/templates/table_search.html
Due: ruff, ruff-format, pyright

handle null
  batch/batch/front_end/query/query.py
Due: ruff, ruff-format, pyright

Include nulls on != checks
  batch/batch/front_end/query/query.py
Due: ruff, ruff-format, pyright

Make dockerhub prefix in global-config optional
  batch/deployment.yaml
Due: none

ci token refresh docs
  dev-docs/services/rotating-github-oauth-token.md
Due: none

Adding STRAIGHT_JOIN to SELECT in search query sql (#15234)
  batch/batch/front_end/query/query_v2.py
Due: ruff, ruff-format, pyright

make it a bit more generic
  dev-docs/services/rotating-github-oauth-token.md
Due: none

Bump dependencies
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

[ci|release] absolve ci of testing and releasing on azure (#15258)
  build.yaml
  hail/scripts/release.sh
Due: none

[ci] fix copy_third_party_images
  build.yaml
Due: none

[ci] fix copy_third_party_images (#15269)
  build.yaml
Due: none

[query] Fix all-ref case in haplotypeFreqEM
  hail/hail/src/is/hail/experimental/package.scala
Due: none

WIP
  batch/worker-vm-image.md
Due: none

parameterize tests
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[query] use one finalizer in PartitionNativeIntervalReader
  hail/hail/src/is/hail/expr/ir/TableIR.scala
Due: none

[query] Fix all-ref case in haplotypeFreqEM (#15270)
  hail/hail/src/is/hail/experimental/package.scala
Due: none

Migrate simplest checks to GHA
  .github/workflows/tier1-checks.yml
Due: none

prebuild version.py
  .github/workflows/tier1-checks.yml
Due: none

Remove redundant leaf-node checks from build.yaml
  .github/workflows/tier1-checks.yml
  build.yaml
Due: none

[query] use one finalizer in PartitionNativeIntervalReader (#15274)
  hail/hail/src/is/hail/expr/ir/TableIR.scala
Due: none

[batch] Use dockerhub proxy to reduce total requests to dockerhub (#15260)
  batch/batch/batch_configuration.py
  batch/batch/driver/main.py
  batch/batch/driver/templates/index.html
  batch/batch/front_end/front_end.py
  batch/batch/utils.py
  batch/deployment.yaml
  batch/sql/120-add-dockerhub-proxy-flag.sql
  batch/test/test_utils.py
  build.yaml
  ci/Dockerfile.ci-utils
  config.mk
  dev-docs/services/docker-hub-cache.md
  docker/copy_image.sh
  docker/hailgenetics/Makefile
  docker/hailgenetics/mirror_images.sh
  docker/third-party/Makefile
  docker/third-party/copy_images.sh
  infra/gcp-broad/main.tf
  infra/gcp/README.md
  infra/gcp/main.tf
Due: ruff, ruff-format, pyright

Fix mirror_hailgenetics_images task
  build.yaml
Due: none

Use _batch_client() to query supported_regions() and default_region()
  hail/python/hailtop/batch/backend.py
Due: ruff, ruff-format

Update base ubuntu image to noble 20260113 (#15240)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

[build] Fix mirror_hailgenetics_images task (#15278)
  build.yaml
Due: none

Reconcile terraform with current state
  infra/gcp-broad/main.tf
  infra/gcp/main.tf
Due: none

Fix test_submit during deploy
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

update ci token terraform record
  dev-docs/services/rotating-github-oauth-token.md
  infra/gcp-broad/hail-is/ci_config.enc.json
Due: none

[query] delete legacy IRandomness
  hail/hail/src/is/hail/expr/ir/EmitClassBuilder.scala
  hail/hail/src/is/hail/expr/ir/functions/RandomSeededFunctions.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerDistributedSort.scala
  hail/hail/test/src/is/hail/expr/ir/TakeByAggregatorSuite.scala
  hail/hail/test/src/is/hail/expr/ir/agg/DownsampleSuite.scala
  hail/hail/test/src/is/hail/types/physical/PNDArraySuite.scala
Due: none

Sym is unused
  hail/hail/src/is/hail/expr/ir/Sym.scala
  hail/hail/src/is/hail/expr/ir/package.scala
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
