Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

[batch] highlight low / empty billing projects (#15555)
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/templates/batch.html
Due: ruff, ruff-format, pyright

no more PATH shenanigans needed
  user-scripts/manifold/README.md
  user-scripts/manifold/install_hail_kernel.sh
Due: none

compile pip lockfiles for Python 3.11 to match actual CI environment, fixing backports-asyncio-runner incompatibility
  batch/pinned-requirements.txt
  check_pip_requirements.sh
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  generate-pip-lockfile.sh
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

contourpy again
  hail/python/dev/pinned-requirements.txt
  hail/python/pinned-requirements.txt
Due: none

use correct async client for a handful of tests
  batch/test/conftest.py
  batch/test/test_batch.py
Due: ruff, ruff-format, pyright

update pytest to 9.0.3
  auth/test/pytest.ini
  batch/test/conftest.py
  batch/test/pytest.ini
  ci/test/pytest.ini
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/pytest.ini
  hail/python/test/hail/conftest.py
  hail/python/test/hailtop/conftest.py
  monitoring/test/pytest.ini
Due: ruff, ruff-format, pyright

resolve async scope issues, pin contourpy for python 10
  auth/test/pytest.ini
  batch/test/pytest.ini
  build.yaml
  ci/test/pytest.ini
  hail/python/pinned-requirements.txt
  hail/python/pytest.ini
  monitoring/test/pytest.ini
Due: none

contourpy again again
  hail/python/dev/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  hail/python/requirements.txt
Due: none

split 3.10 deps because of inconsistencies vs requirements for 3.11 pytest
  Makefile
  build.yaml
  hail/python/dev/pinned-requirements.txt
  hail/python/pinned-requirements-py310.txt
  hail/python/requirements.txt
Due: none

un-auto-expand requirements regex
  .gitattributes
Due: none

regenerate lockfiles
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements-py310.txt
  hail/python/pinned-requirements.txt
Due: none

add resource reconciliation on system role change
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/sql/estimated-current.sql
Due: ruff, ruff-format, pyright

update test_system_permissions to be reconciliation aware
  auth/test/test_system_permissions.py
Due: ruff, ruff-format, pyright

[repo] claude skill finding hotspots in flamegraphs thru batch
  .claude/skills/flamegraph/SKILL.md
  .claude/skills/flamegraph/scripts/parse_flamegraph.py
Due: ruff, ruff-format, pyright

[compiler] cache partition range bounds in IndexedRVDSpec2
  hail/hail/src/is/hail/rvd/AbstractRVDSpec.scala
Due: none

[query] no-sharing in table irs
  hail/hail/src/is/hail/expr/ir/GenericTableValue.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIRHelpers.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

[repo] claude skill finding hotspots in flamegraphs (#15562)
  .claude/skills/flamegraph/SKILL.md
  .claude/skills/flamegraph/scripts/parse_flamegraph.py
Due: ruff, ruff-format, pyright

[compiler] cache partition range bounds in IndexedRVDSpec2 (#15563)
  hail/hail/src/is/hail/rvd/AbstractRVDSpec.scala
Due: none

[query] no-sharing in `TableIR` lowering (#15525)
  hail/hail/src/is/hail/expr/ir/GenericTableValue.scala
  hail/hail/src/is/hail/expr/ir/IR.scala
  hail/hail/src/is/hail/expr/ir/TableIR.scala
  hail/hail/src/is/hail/expr/ir/TableValue.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIRHelpers.scala
  hail/hail/src/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/hail/src/is/hail/expr/ir/lowering/RVDToTableStage.scala
  hail/hail/src/is/hail/expr/ir/package.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
Due: none

[batch] An empty dict shouldn't trigger this assert
  hail/python/hailtop/aiocloud/aiogoogle/client/logging_client.py
Due: ruff, ruff-format

[query] log every transient error retry as info
  hail/hail/src/is/hail/services/package.scala
Due: none

[query] Factor valueIR `Simplify` rules and `ForwardLets` of type `TStream`
  hail/hail/src/is/hail/asm4s/Code.scala
  hail/hail/src/is/hail/expr/ir/Emit.scala
  hail/hail/src/is/hail/expr/ir/lowering/ForwardLets.scala
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
  hail/hail/test/src/is/hail/expr/ir/lowering/SimplifySuite.scala
Due: none

[query] Factor relational `Simplify` rules
  hail/hail/src/is/hail/expr/ir/lowering/Simplify.scala
Due: none

[compiler] fix missed calls to Row
  hail/hail/src/is/hail/annotations/Annotation.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/kryo/HailKryoRegistrator.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/scalacheck/GenVal.scala
Due: none

[query] log every transient error retry as info (#15560)
  hail/hail/src/is/hail/services/package.scala
Due: none

Initial commit of AWS infrastructure
  infra/aws-broad/README.md
  infra/aws-broad/main.yml
  infra/aws-broad/parameters.json
Due: none

simplify to avoid side effects of a new user state
  auth/auth/auth.py
  auth/auth/driver/driver.py
  auth/sql/estimated-current.sql
  auth/test/test_system_permissions.py
Due: ruff, ruff-format, pyright

simplify
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

remove leftover change
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

info logs on namespace create / delete
  auth/auth/driver/driver.py
Due: ruff, ruff-format, pyright

[batch] Prevent an error that's logged every minute (#15564)
  hail/python/hailtop/aiocloud/aiogoogle/client/logging_client.py
Due: ruff, ruff-format

[compiler] fix missed calls to Row
  hail/hail/src/is/hail/annotations/Annotation.scala
  hail/hail/src/is/hail/expr/ir/lowering/LowerTableIR.scala
  hail/hail/src/is/hail/kryo/HailKryoRegistrator.scala
  hail/hail/test/src/is/hail/expr/ir/Aggregators2Suite.scala
  hail/hail/test/src/is/hail/expr/ir/TableIRSuite.scala
  hail/hail/test/src/is/hail/kryo/KryoSuite.scala
  hail/hail/test/src/is/hail/scalacheck/GenVal.scala
Due: none

bump ubuntu base to noble-20260610
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

exit the make early if envoy is up to date
  update-envoy.py
Due: ruff, ruff-format, pyright

[services] bump ubuntu base to noble-20260610 (#15569)
  docker/hail-ubuntu/Dockerfile
  docker/third-party/images.txt
Due: none

also watched branches
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

be more selective about unsafe-inline styles
  auth/auth/auth.py
  batch/batch/driver/main.py
  batch/batch/front_end/front_end.py
  ci/ci/ci.py
  monitoring/monitoring/monitoring.py
  web_common/web_common/__init__.py
  web_common/web_common/web_common.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
