Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

fix tests
  build.yaml
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

delint
  hail/python/hailtop/hailctl/batch/cli.py
Due: ruff, ruff-format

fix
  hail/python/hailtop/hailctl/batch/submit.py
Due: ruff, ruff-format

fix
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

[query] Upgrade google-cloud-storage to 2.55.0
  hail/build.mill
Due: none

[query] update versions of apache commons libraries
  hail/build.mill
Due: none

[compiler] update versions of asm libraries
  hail/build.mill
Due: none

[query] Upgrade google-cloud-storage to 2.55.0 (#15024)
  hail/build.mill
Due: none

ruff format
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

lots of fixes
  build.yaml
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

fix build.yaml
  build.yaml
Due: none

more fixes and logs
  build.yaml
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Refactor system roles in db
  auth/sql/009-refactor-roles.sql
Due: none

auth check API
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  auth/sql/009-refactor-roles.sql
  build.yaml
  web_common/web_common/__init__.py
  web_common/web_common/role_permissions.py
Due: ruff, ruff-format, pyright

fixup
  auth/auth/auth.py
  gear/gear/auth.py
  gear/gear/role_permissions.py
Due: ruff, ruff-format, pyright

refactor to enums
  auth/auth/auth.py
  gear/gear/__init__.py
  gear/gear/auth.py
  gear/gear/role_permissions.py
  web_common/web_common/__init__.py
Due: ruff, ruff-format, pyright

test_new_role_check_on_old_roles_api
  auth/auth/auth.py
  gear/gear/auth.py
  web_common/web_common/role_permissions.py
Due: ruff, ruff-format, pyright

improved ux
  auth/auth/auth.py
  auth/auth/templates/roles.html
Due: ruff, ruff-format, pyright

db enumerated permissions +
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

resolve csrf issue 2
  gear/gear/csrf.py
Due: ruff, ruff-format, pyright

add list permissions
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
Due: ruff, ruff-format, pyright

resolve csrf issue
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
  gear/gear/csrf.py
  web_common/web_common/templates/swagger.html
Due: ruff, ruff-format, pyright

non-existant role
  auth/auth/auth.py
  gear/gear/role_permissions.py
Due: ruff, ruff-format, pyright

add role permissions to developer role
  auth/auth/auth.py
  gear/gear/role_permissions.py
Due: ruff, ruff-format, pyright

allow usernames as user keys in apis
  auth/auth/auth.py
  auth/auth/templates/openapi.yaml
Due: ruff, ruff-format, pyright

db enumerated permissions
  auth/auth/auth.py
  auth/auth/templates/roles.html
  auth/sql/009-refactor-roles.sql
  gear/gear/__init__.py
  gear/gear/auth.py
  gear/gear/role_permissions.py
  gear/gear/system_permissions.py
Due: ruff, ruff-format, pyright

POC auth check on API call
  auth/auth/auth.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

type error
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

fix bug?
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

delete role button
  auth/auth/templates/roles.html
Due: none

db enumerated permissions +
  auth/auth/auth.py
  auth/sql/009-refactor-roles.sql
Due: ruff, ruff-format, pyright

fix existing role query
  auth/auth/auth.py
Due: ruff, ruff-format, pyright

db enumerated permissions +
  auth/auth/auth.py
  auth/auth/templates/roles.html
Due: ruff, ruff-format, pyright

db enumerated permissions +
  auth/sql/009-refactor-roles.sql
Due: none

implement missing localauthenticator method in auth
  auth/auth/auth.py
  gear/gear/auth.py
Due: ruff, ruff-format, pyright

fixes
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/hailtop/hailctl/batch/submit.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

fixes
  hail/python/hailtop/hailctl/batch/cli.py
  hail/python/test/hailtop/hailctl/batch/test_submit.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
