Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

add machine table
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
Due: ruff, ruff-format, pyright

[pip] Update jinja to avoid 3.1.3 vulnerability (#14532)
  batch/pinned-requirements.txt
  ci/pinned-requirements.txt
  gear/pinned-requirements.txt
  hail/python/dev/pinned-requirements.txt
  hail/python/hailtop/pinned-requirements.txt
  hail/python/pinned-requirements.txt
  web_common/pinned-requirements.txt
Due: none

lift relational lets first
  hail/src/main/scala/is/hail/expr/ir/BaseIR.scala
  hail/src/main/scala/is/hail/expr/ir/LiftRelationalValues.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/IRState.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPass.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/LoweringPipeline.scala
  hail/src/main/scala/is/hail/expr/ir/lowering/Rule.scala
  hail/src/test/resources/example.8bits.bgen.idx2/index
  hail/src/test/resources/example.8bits.bgen.idx2/metadata.json.gz
Due: none

refactor memory functions
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/batch/worker/worker.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

highcpu memory fix
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

[ci] Remove past members (#14531)
  ci/ci/constants.py
Due: ruff, ruff-format, pyright

fix is_gpu function
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

change azure to have a machine to parts table
  batch/batch/cloud/azure/driver/create_instance.py
  batch/batch/cloud/azure/driver/resource_manager.py
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/azure/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/batch/cloud/terra/azure/driver/driver.py
Due: ruff, ruff-format, pyright

[query] Ensure Table group_by + aggregate can't clobber global fields (#14534)
  hail/python/hail/table.py
  hail/python/test/hail/table/test_table.py
Due: ruff, ruff-format

refactor dictionary to object
  batch/batch/cloud/azure/driver/create_instance.py
  batch/batch/cloud/azure/driver/resource_manager.py
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/azure/resource_utils.py
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/terra/azure/driver/driver.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

review
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/azure/resource_utils.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

[query] Expand EStructOfArrays to all primitive types
  hail/python/test/hail/matrixtable/test_matrix_table.py
  hail/src/main/scala/is/hail/types/encoded/EStructOfArrays.scala
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: ruff, ruff-format

review fixes
  batch/batch/cloud/azure/driver/resource_manager.py
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/azure/resource_utils.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/instance_config.py
Due: ruff, ruff-format, pyright

reformat
  hail/src/test/scala/is/hail/types/encoded/ETypeSuite.scala
Due: none

simplify cost per hour functions
  batch/batch/instance_config.py
Due: ruff, ruff-format, pyright

Memory refactor (#14536)
  batch/batch/cloud/azure/driver/resource_manager.py
  batch/batch/cloud/azure/instance_config.py
  batch/batch/cloud/azure/resource_utils.py
  batch/batch/cloud/gcp/driver/create_instance.py
  batch/batch/cloud/gcp/driver/resource_manager.py
  batch/batch/cloud/gcp/instance_config.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/batch/cloud/resource_utils.py
  batch/batch/instance_config.py
  batch/batch/worker/worker.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

add a2 sample machine
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

[qob] Always send the git revision from the python service backend instead of jar_url
  batch/batch/front_end/front_end.py
  hail/Makefile
  hail/python/hail/backend/service_backend.py
  hail/python/hail/context.py
  hail/python/hailtop/config/variables.py
  hail/python/hailtop/hailctl/config/config_variables.py
  hail/python/test/hailtop/hailctl/config/test_cli.py
  hail/scripts/upload_qob_jar.sh
Due: ruff, ruff-format, pyright

dont set that
  hail/Makefile
Due: none

fix typo
  batch/batch/cloud/gcp/resource_utils.py
Due: ruff, ruff-format, pyright

[batch] Use more precise terminology around instance cost, price and revenue
  batch/batch/driver/instance.py
  batch/batch/inst_coll_config.py
  batch/batch/instance_config.py
Due: ruff, ruff-format, pyright

[hailtop] Dont assume exact error message match for ClientPayloadError retrying
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

checkpoint
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: none

service backend py contract tests
  hail/python/test/hail/backend/test_service_backend.py
Due: ruff, ruff-format

test more worker config params + update/create
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
  hail/src/test/scala/is/hail/services/batch_client/BatchClientSuite.scala
Due: none

make sure to only run gcp tests in gcp
  hail/python/test/hail/conftest.py
  hail/python/test/hail/helpers.py
  hail/python/test/hail/methods/test_qc.py
  hail/python/test/pytest.ini
Due: ruff, ruff-format

select only those tests that are backend specific
  build.yaml
Due: none

dont acquire fixtures if the test doesnt apply
  hail/python/hail/context.py
  hail/python/hail/utils/java.py
  hail/python/test/hail/backend/test_service_backend.py
  hail/python/test/hail/conftest.py
  hail/python/test/hail/helpers.py
  hail/python/test/pytest.ini
Due: ruff, ruff-format

checkpoint python mocks
  hail/python/dev/pinned-requirements.txt
  hail/python/dev/requirements.txt
  hail/python/test/hail/backend/test_service_backend.py
  hail/python/test/pytest.ini
Due: ruff, ruff-format

inject sys.env
  hail/src/main/scala/is/hail/HailFeatureFlags.scala
  hail/src/main/scala/is/hail/backend/local/LocalBackend.scala
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/backend/service/Worker.scala
  hail/src/main/scala/is/hail/backend/spark/SparkBackend.scala
  hail/src/main/scala/is/hail/io/fs/FS.scala
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: none

add contract test for service backend job creation
  hail/build.sc
  hail/src/main/scala/is/hail/backend/service/ServiceBackend.scala
  hail/src/main/scala/is/hail/utils/package.scala
  hail/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: none

i haz the dumb
  hail/python/test/hail/helpers.py
Due: ruff, ruff-format

qobtest pytest mark is no more
  build.yaml
Due: none

ugh scalafix
  hail/src/test/scala/is/hail/backend/ServiceBackendSuite.scala
Due: none

[hailtop] Dont assume exact error message match for ClientPayloadError retrying (#14545)
  hail/python/hailtop/utils/utils.py
Due: ruff, ruff-format

[ci] Add tests for generating envoy xds configs (#14524)
  build.yaml
  ci/ci/ci.py
  ci/ci/envoy.py
  ci/deployment.yaml
  ci/test/envoy/test_gateway_cds_response.yaml
  ci/test/envoy/test_gateway_rds_response.yaml
  ci/test/envoy/test_internal_gateway_cds_response.yaml
  ci/test/envoy/test_internal_gateway_rds_response.yaml
  ci/test/test_ci.py
  ci/test/test_envoy.py
  gateway/Makefile
Due: ruff, ruff-format, pyright

[batch] Prevent double close of the async worker pool by the canceller
  batch/batch/driver/canceller.py
Due: ruff, ruff-format, pyright

[ci] Fix query for deployed services when filtering to live namespaces
  ci/ci/ci.py
Due: ruff, ruff-format, pyright

add rest of a2 machines
  batch/batch/cloud/gcp/driver/pricing.py
  batch/batch/cloud/gcp/resource_utils.py
  batch/test/test_utils.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
