Repository hail-is/hail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff
  entry: ruff --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true
  stages:
  - pre-push

refactor tempdir checkpoint dir
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

Revert "refactor tempdir checkpoint dir"
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

Revert "Revert "refactor tempdir checkpoint dir""
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

[ci] Retry more for auth copy paste logins (#14353)
  build.yaml
Due: none

default images
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

Revert "default images"
  hail/python/hailtop/saige/config.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

Revert "Revert "Revert "refactor tempdir checkpoint dir"""
  hail/python/hailtop/saige/saige.py
  hail/python/hailtop/saige/steps.py
Due: ruff, ruff-format

delint
  hail/python/hailtop/batch/job.py
  hail/python/test/hailtop/batch/test_batch_local_backend.py
Due: ruff, ruff-format

[aiogoogle] clean up storage client Task management (#14347)
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

refresh the azure client with a new terra sas token when it is close to expiring
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aioterra/azure/fs.py
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
  hail/src/main/scala/is/hail/io/fs/TerraAzureStorageFS.scala
Due: ruff, ruff-format

remove unused import
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
Due: none

fix
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/src/main/scala/is/hail/io/fs/AzureStorageFS.scala
Due: ruff, ruff-format

[aiotools.fs] tighter type on AsyncFS.__aenter__ (#14346)
  hail/python/hailtop/aiotools/fs/fs.py
Due: ruff, ruff-format

fix: gear/requirements.txt to reduce vulnerabilities
  gear/requirements.txt
Due: none

[batch] Add Job Groups to Batch (#14282)
  batch/batch/batch.py
  batch/batch/constants.py
  batch/batch/driver/canceller.py
  batch/batch/driver/instance_collection/job_private.py
  batch/batch/driver/instance_collection/pool.py
  batch/batch/driver/job.py
  batch/batch/driver/main.py
  batch/batch/exceptions.py
  batch/batch/front_end/front_end.py
  batch/batch/front_end/query/__init__.py
  batch/batch/front_end/query/query.py
  batch/batch/front_end/query/query_v1.py
  batch/batch/front_end/query/query_v2.py
  batch/batch/front_end/validate.py
  batch/batch/globals.py
  batch/batch/utils.py
  batch/batch/worker/worker.py
  batch/sql/estimated-current.sql
  batch/sql/finalize-job-groups.sql
  batch/test/test_accounts.py
  batch/test/test_batch.py
  batch/test/test_dag.py
  build.yaml
  hail/python/hailtop/batch_client/aioclient.py
  hail/python/hailtop/batch_client/client.py
  hail/python/hailtop/batch_client/globals.py
  hail/python/hailtop/batch_client/types.py
Due: ruff, ruff-format, pyright

fix: hail/python/hailtop/requirements.txt to reduce vulnerabilities
  hail/python/hailtop/requirements.txt
Due: none

[lint] Fix tabs in release.sh script
  hail/scripts/release.sh
Due: none

[query] Refactor vds.sample_qc to use independent aggregators (#14297)
  hail/python/hail/vds/__init__.py
  hail/python/hail/vds/methods.py
  hail/python/hail/vds/sample_qc.py
Due: ruff, ruff-format

fix: hail/python/dev/pinned-requirements.txt to reduce vulnerabilities
  hail/python/dev/pinned-requirements.txt
Due: none

[batch] extract python job specific tests to separate file (#14314)
  hail/python/test/hailtop/batch/test_batch_service_backend.py
  hail/python/test/hailtop/batch/test_python_job_in_service.py
Due: ruff, ruff-format

[query] Add AlleleType Enum
  hail/.gitignore
  hail/python/hail/docs/functions/genetics.rst
  hail/python/hail/docs/genetics/index.rst
  hail/python/hail/expr/__init__.py
  hail/python/hail/expr/functions.py
  hail/python/hail/genetics/__init__.py
  hail/python/hail/genetics/allele_type.py
  hail/python/hail/ir/ir.py
  hail/python/hail/methods/qc.py
  hail/python/hail/vds/combiner/combine.py
  hail/python/hail/vds/sample_qc.py
Due: ruff, ruff-format

wip
  dev-docs/releasing.md
Due: none

[lint] Fix tabs in release.sh script (#14363)
  hail/scripts/release.sh
Due: none

[batch] reduce CPU use of delete_prev_..._resource_records
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

[batch] ensure exactly one request creates each update
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[batch] make _create_jobs retryable again
  batch/batch/front_end/front_end.py
  gear/gear/database.py
Due: ruff, ruff-format, pyright

[batch] Make insert_jobs_into_db retryable
  batch/batch/front_end/front_end.py
Due: ruff, ruff-format, pyright

[gear] simplify database retry logic
  gear/gear/database.py
Due: ruff, ruff-format, pyright

respond to comments
  dev-docs/releasing.md
Due: none

preserve silencing of deadlocks
  gear/gear/database.py
Due: ruff, ruff-format, pyright

[fs] basic sync tool
  hail/Makefile
  hail/python/hailtop/aiocloud/aioaws/fs.py
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/fs/copier.py
  hail/python/hailtop/aiotools/plan.py
  hail/python/hailtop/aiotools/sync.py
  hail/python/hailtop/hailctl/__main__.py
  hail/python/hailtop/hailctl/fs/__init__.py
  hail/python/hailtop/hailctl/fs/cli.py
  hail/python/test/hailtop/inter_cloud/test_copy.py
  hail/python/test/hailtop/inter_cloud/test_fs.py
  hail/python/test/hailtop/inter_cloud/test_hailctl_fs_sync.py
Due: ruff, ruff-format

allow isdir without trailing slash
  hail/python/hailtop/aiocloud/aioazure/fs.py
  hail/python/hailtop/aiocloud/aiogoogle/client/storage_client.py
Due: ruff, ruff-format

fix
  hail/python/hailtop/aiotools/plan.py
Due: ruff, ruff-format

use recursive=True for rapid listing
  hail/python/hailtop/aiotools/plan.py
Due: ruff, ruff-format

more docs
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

fix bad help string
  hail/python/hailtop/hailctl/fs/cli.py
Due: ruff, ruff-format

no prints
  hail/python/hailtop/aiotools/plan.py
Due: ruff, ruff-format

[batch] reduce CPU use of delete_prev_..._resource_records (#14366)
  batch/batch/driver/main.py
Due: ruff, ruff-format, pyright

simplify sync.py dramatically
  hail/python/hailtop/aiotools/copy.py
  hail/python/hailtop/aiotools/sync.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: hail/python/(hail|test)
